-
  const pathStatics = PRODUCTION ? 'assets' : '/assets'

  function staticImg (image) {
    return `${pathStatics}/img/${image}`
  }

  const pages = [
    { view: 'blog', name: 'блог' },
    { view: 'article', name: 'статья' },
    { view: 'preregistration', name: 'Предзапись' },
    { view: 'preregistration-thanks', name: 'Предзапись спасибо' },
    { view: 'preregistration-thanks-already', name: 'Предзапись спасибо уже зарегистрировались раньше' },
    { view: 'quiz', name: 'Квиз' },
    { view: 'quiz-thanks', name: 'Квиз спасибо' },
  ]
