-
  const pathStatics = PRODUCTION ? 'assets' : '/assets'

  function staticImg (image) {
    return `${pathStatics}/img/${image}`
  }

  const pages = [
    { view: 'blog', name: 'блог' },
    { view: 'article', name: 'статья' },
    { view: 'preregistration', name: 'Предзапись' },
    { view: 'preregistration-thanks', name: 'Предзапись спасибо' },
    { view: 'preregistration-end', name: 'Предзапись конец' },
    { view: 'preregistration-thanks-already', name: 'Предзапись спасибо уже зарегистрировались раньше' },
    { view: 'quiz', name: 'Квиз' },
    { view: 'quiz-thanks', name: 'Квиз спасибо' },
    { view: 'trial', name: 'Пробная неделя' },
    { view: 'trial-new', name: 'Пробная неделя новая' },
    { view: 'index', name: 'Главная' },
    { view: 'first-school', name: 'Начальная школа' },
    { view: 'second-school', name: 'Средняя школа' },
    { view: 'third-school', name: 'Старшая школа' },
    { view: 'course', name: 'Курс' },
    { view: 'trial-family', name: 'Пробное семейное обучение' },
    { view: 'family', name: 'Семейное обучение' },
    { view: 'test-video-frame', name: 'Видео фрейм' },
    { view: 'predzaps', name: 'Предзапись короткая' },
    { view: 'summer', name: 'Летние курсы' },
    { view: 'course-summer', name: 'Летний курс' },
    { view: 'family-summer', name: 'Летнее семейное обучение' },
  ]
