-
  const pathStatics = PRODUCTION ? 'assets' : '/assets'

  function staticImg (image) {
    return `${pathStatics}/img/${image}`
  }

  const pages = [
    { view: 'blog', name: 'блог' },
    { view: 'article', name: 'статья' },
    { view: 'preregistration', name: 'Предзапись' },
    { view: 'preregistration-thanks', name: 'Предзапись спасибо' },
    { view: 'preregistration-end', name: 'Предзапись конец' },
    { view: 'preregistration-thanks-already', name: 'Предзапись спасибо уже зарегистрировались раньше' },
    { view: 'quiz', name: 'Квиз' },
    { view: 'quiz-thanks', name: 'Квиз спасибо' },
    { view: 'trial', name: 'Пробная неделя' },
    { view: 'trial-new', name: 'Пробная неделя новая' },
    { view: 'index', name: 'Главная' },
    { view: 'first-school', name: 'Начальная школа' },
    { view: 'second-school', name: 'Средняя школа' },
    { view: 'third-school', name: 'Старшая школа' },
    { view: 'course', name: 'Курс' },
    { view: 'course-no-teacher', name: 'Курс без учителя' },
    { view: 'trial-family', name: 'Пробное семейное обучение' },
    { view: 'family', name: 'Семейное обучение' },
    { view: 'test-video-frame', name: 'Видео фрейм' },
    { view: 'predzaps', name: 'Предзапись короткая' },
    { view: 'summer', name: 'Летние курсы' },
    { view: 'course-summer', name: 'Летний курс' },
    { view: 'family-summer', name: 'Летнее семейное обучение' },
    { view: 'course-offer', name: 'Курс спецпредложение' },
    { view: 'not-found', name: '404' },
    { view: 'thanks', name: 'Спасибо' },
    { view: 'teacher', name: 'Курс для учителей' },
    { view: 'library', name: 'Библиотека' },
    { view: 'all-courses', name: 'Все курсы' },
    { view: 'platform', name: 'О платформе' },
    { view: 'course-stages', name: 'Курс ступени' },
    { view: 'predzaps-end', name: 'Предзапись завершена' },
    { view: 'stock', name: 'Акции' },
    { view: 'information', name: 'Сведения об организации' },
    { view: 'marathon', name: 'марафон' },
    { view: 'family-direction', name: 'Напрвление СО' },
    { view: 'thanks-family', name: 'Спасибо семейное обучение' },
    { view: 'reviews', name: 'Отзывы' },
    { view: 'thanks-email', name: 'Спасибо рассылка' },
    { view: 'it', name: 'IT-курсы' },
    { view: 'error-500', name: 'ошибка 500' },
    { view: 'instruction', name: 'Видеоинструкция' },
    { view: 'reasons', name: '26 причин' },
    { view: 'error-common', name: 'ошибка общая' },
    { view: 'thanks-manual', name: 'Спасибо руководство' },
    { view: 'ege', name: 'ЕГЭ' },
    { view: 'oge', name: 'ОГЭ' },
    { view: 'form-tg', name: 'Переход-форма ТГ-канал' },
    { view: '26-reasons', name: '26 причин' },
    { view: 'langs', name: 'Ин. Яз' },
    { view: 'offer', name: 'Пробная неделя' },
    { view: 'quiz-so', name: 'Квиз СО' },
    { view: 'quiz-so-thanks', name: 'Квиз СО спасибо' },
    { view: 'pre-k', name: 'Дошкольники' },
    { view: 'quiz-trial', name: 'Квиз Пробная неделя' },
    { view: 'quiz-trial-thanks', name: 'Квиз Пробная неделя спасибо' },
    { view: 'enrich', name: 'Развивающие курсы' },
    { view: 'mattg_one', name: 'Переходник' },
    { view: 'mattg_two', name: 'Переходник 2' },
    { view: 'mattg_two-empty', name: 'Переходник 2 пустой' },
    { view: 'black-friday', name: 'Черная пятница' },
  ]
