.blog-summer
  .blog-summer__cont.cont
    .blog-summer__area
      .blog-summer__title Для тех, кто любит каникулы с умом
      .blog-summer__text.
        Шахматы, IT, языки — выбирайте, что интересно ребёнку.
        Повторите сложные школьные темы или начните изучать новый предмет.
      a.blog-summer__button.btn-orange.btn-orange_arrow(href="#") Выбрать занятие
