form.blog-info-6(data-request-validate data-element="blog-phone")
  .blog-info-6__title(data-element="form-enter-sms-title") Узнайте как перейти на семейное обучение и сдавать аттестацию онлайн
  picture.blog-info-6__picture
    source(srcset=staticImg('blog-info-6/decor-1_xxs.svg') media="(max-width: 359px)")
    source(srcset=staticImg('blog-info-6/decor-1_mob.svg') media="(max-width: 743px)")
    source(srcset=staticImg('blog-info-6/decor-1_tablet.svg') media="(max-width: 1359px)")
    img.blog-info-6__image(src=staticImg('blog-info-6/decor-1.svg') alt='')
  .blog-info-6__note Бесплатная консультация
  .blog-info-6__area
    .blog-info-6__top
      input.blog-info-6__input.input-white(name='phone' placeholder='Номер телефона' type='tel' required data-element='input-phone-intl')
      input(name='tel' type='hidden' required data-element='input-phone-hidden')
      button.blog-info-6__button.btn-orange Оставить заявку
    .blog-info-6__bottom
      label.blog-info-6__label.checkbox-white-label
        input.blog-info-6__checkbox.checkbox-white-input(name='policy' type='checkbox')
        .blog-info-6__checkbox-view.checkbox-white-input-view
        .blog-info-6__checkbox-text.checkbox-white-text
          | Даю
          |
          a(href="https://cms-dev.tochka-school.ru/storage/app/media/Dokumenti/Soglasie_na_obrabotku_personalnih_dannih_OOO.pdf" target='_blank') Согласие
          |
          | на обработку персональных
          | данных в соответствии с
          |
          a(href='https://cms-dev.tochka-school.ru/storage/app/media/Dokumenti/Politika_obrabotki_personalnih_dannih_OOO.pdf' target='_blank') Политикой
      label.blog-info-6__label.checkbox-white-label
        input.blog-info-6__checkbox.checkbox-white-input(name='news' type='checkbox')
        .blog-info-6__checkbox-view.checkbox-white-input-view
        .blog-info-6__checkbox-text.checkbox-white-text
          | Согласен
          br
          | на
          |
          a(href='https://cms-dev.tochka-school.ru/storage/app/media/Dokumenti/Soglasie_na_reklamnuyu_rassilku_OOO.pdf' target='_blank') получение рекламы
