form.blog-info-3(data-request-validate data-element="blog-phone")
  .blog-info-3__title(data-element="form-enter-sms-title") Программирование, создание игр или дизайн?
  .blog-info-3__note Подберём IT-курс исходя из возраста и увлечений ребёнка
  .blog-info-3__area
    .blog-info-3__top
      input.blog-info-3__input.input-white(name='phone' placeholder='Номер телефона' type='tel' required data-element='input-phone-intl')
      input(name='tel' type='hidden' required data-element='input-phone-hidden')
      button.blog-info-3__button.btn-orange Оставить заявку
    .blog-info-3__bottom
      label.blog-info-3__label.checkbox-white-label
        input.blog-info-3__checkbox.checkbox-white-input(name='policy' type='checkbox')
        .blog-info-3__checkbox-view.checkbox-white-input-view
        .blog-info-3__checkbox-text.checkbox-white-text
          | Даю
          |
          a(href="https://cms-dev.tochka-school.ru/storage/app/media/Dokumenti/Soglasie_na_obrabotku_personalnih_dannih_OOO.pdf" target='_blank') Согласие
          |
          | на обработку персональных
          | данных в соответствии с
          |
          a(href='https://cms-dev.tochka-school.ru/storage/app/media/Dokumenti/Politika_obrabotki_personalnih_dannih_OOO.pdf' target='_blank') Политикой
      label.blog-info-3__label.checkbox-white-label
        input.blog-info-3__checkbox.checkbox-white-input(name='news' type='checkbox')
        .blog-info-3__checkbox-view.checkbox-white-input-view
        .blog-info-3__checkbox-text.checkbox-white-text
          | Согласен
          | на
          |
          a(href='https://cms-dev.tochka-school.ru/storage/app/media/Dokumenti/Soglasie_na_reklamnuyu_rassilku_OOO.pdf' target='_blank') получение рекламы
