.sticky-header {
  margin-bottom: 60px;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.05);
  transition-property: transform;
  transition-duration: $transition-duration;
  @include media(lg) {
    margin-bottom: 0;
  }
  &.predzaps-top-hide {
    transform: translateY(-80px);
  }
  &.predzaps-top-hide-no-transition {
    transition-property: unset;
    transition-duration: unset;
  }
  &.no-transform {
    transition: none;
  }
  &.open {
    transform: none;
    transition: none;
  }
  &.hide {
    display: none;
  }
}

.cont {
  max-width: calc(1344px);
  width: 100%;
  margin: 0 auto;
  padding: 0;
  @include media(lg) {
    max-width: calc(1100px);
  }
  @include media(md) {
    max-width: calc(684px + 30px + 30px);
    padding: 0 30px;
  }
  @include media(xs) {
    max-width: calc(500px + 20px + 20px);
    padding: 0 20px;
  }
  @include media(xxs) {
    padding: 0 10px;
  }
}

.caption {
  font-weight: 600;
  font-size: 58px;
  line-height: 112%;
  color: #003c56;
  @include media(md) {
    font-size: 25px;
    line-height: 100%;
  }
}

.pre-caption {
  margin-bottom: 45px;
  font-weight: 500;
  font-size: 45px;
  line-height: 121%;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 25px;
    font-size: 25px;
  }
}

.trial-title {
  margin: 0;
  font-weight: 500;
  font-size: 45px;
  line-height: 121%;
  color: #003c56;
  @include media(lg) {
    font-size: 25px;
    line-height: 100%;
  }
}

.title {
  font-weight: 500;
  font-size: 45px;
  line-height: 121%;
  color: #003c56;
  @include media(lg) {
    font-size: 25px;
    line-height: 100%;
  }
}

.iti {
  --iti-path-flags-1x: url('../img/intl-tell-input/flags.webp');
  --iti-path-flags-2x: url('../img/intl-tell-input/flags@2x.webp');
  --iti-path-globe-1x: url('../img/intl-tell-input/globe.webp');
  --iti-path-globe-2x: url('../img/intl-tell-input/globe@2x.webp');
}

.fancybox-can-pan .fancybox-content, .fancybox-can-swipe .fancybox-content {
  cursor: default;
}

.error {
  border: 1px solid red !important;
  background-color: red;
}

.error-text {
  .modal-order-new__checkbox-text  {
    color: red !important;
  }
  .modal-order__checkbox-view, .checkbox-white-input-view, .modal-order-new__checkbox-view {
    border: 1px solid red;
  }
}

.no-scroll {
  overflow: hidden;
}

.no-scroll-desktop {
  overflow: hidden;
  @include media(lg) {
    overflow: auto;
  }
}

.layer {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.71);
  position: fixed;
  z-index: 50;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.page-thanks {
  .footer, .sticky-header {
    position: relative;
    pointer-events: none;
    &::before {
      content: '';
      backdrop-filter: blur(6px);
      pointer-events: none;
      background: rgba(248, 248, 248, 0.46);
      position: absolute;
      z-index: 9999;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }
  }
}

.tile-loader-box {
  height: 110px;
  width: 100%;
  position: relative;
  .tile-loader {
    top: 45px;
    @include media(xs) {
      top: 72px;
    }
  }
}

.tile-loader {
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 50%;
  transform: translateX(-50%) scale(3);
  font-size: 4px;
  color: #6683c2;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  animation: mulShdSpin 1.3s infinite linear;
  @keyframes mulShdSpin {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em,
      2em -2em 0 0em, 3em 0 0 -1em,
      2em 2em 0 -1em, 0 3em 0 -1em,
      -2em 2em 0 -1em, -3em 0 0 -1em,
      -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em,
      3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em,
      -2em 2em 0 -1em, -3em 0 0 -1em,
      -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em,
      2em -2em 0 0, 3em 0 0 0.2em,
      2em 2em 0 0, 0 3em 0 -1em,
      -2em 2em 0 -1em, -3em 0 0 -1em,
      -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
      3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em,
      -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
      3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em,
      -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
      3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0,
      -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em,
      3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
      -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em,
      3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
      -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
}

.fancybox-container {
  backdrop-filter: blur(10px);
}

.fancybox-is-open .fancybox-bg {
  opacity: 1;
}

.fancybox-bg {
  background: rgba(0, 0, 0, 0.25);
}

.summer-page {
  background: #fffee3;
}

.course-summer {
  background: #fffee3;
}

.family-summer {
  background: #fffee3;
}

.stage-block-hide {
  display: none;
}

.fancybox-slide {
  @include media(xs) {
    padding: 0 !important;
  }
}

.family-blue {
  background: radial-gradient(228.28% 137.53% at 85.56% 75.29%, #dae5fe 0%, #bedaff 100%);
}
