section.platform-docs
  .platform-docs__cont.cont
    h2.platform-docs__caption Документы, описывающие условия использования «Образовательной онлайн-платформы Точка Знаний»
    .platform-docs__area
      .platform-docs__text ПО распространяется в виде интернет-сервиса, специальные действия по установке ПО на стороне пользователя не требуются
      a.platform-docs__link(href='https://tochka-school.ru/storage/app/media/Dokumenti/Funkcionalnie_harakteristiki_PO.pdf' target='_blank')
        .platform-docs__name Функциональные характеристики ПО
        .platform-docs__note Открыть
      a.platform-docs__link(href='https://tochka-school.ru/storage/app/media/Dokumenti/Instrukciya_polzovatelya.pdf' target='_blank')
        .platform-docs__name Инструкция по эксплуатации
        .platform-docs__note Открыть
