section.platform-services
  .platform-services__cont.cont
    .platform-services__caption DevOps
    .platform-services__area
      .platform-services__headline.
        Мы используем практики DevOps, чтобы оптимизировать
        и автоматизировать процессы разработки и развертывания:
      ul.platform-services__list
        li.platform-services__item.
          Выстраиваем CI/CD процессы: Автоматизируем разработку и тестирование, сокращая время выхода продукта на рынок.
        li.platform-services__item.
          Настраиваем миграцию и создаем виртуальные контейнеры: Обеспечиваем быстрый и безопасный запуск программного обеспечения.
        li.platform-services__item.
          Обеспечиваем сохранность кода: Гарантируем защиту кода и всех функций приложения, минимизируя риски и повышая надежность.
    h2.platform-services__title Предоставляемые услуги:
    .platform-services__box
      .platform-services__inner
        p.platform-services__text
          | Стоимость лицензии (права использования) программы для ЭВМ «Образовательная онлайн-платформа Точка Знаний»
          | рассчитывается индивидуально. Обратитесь к правообладателю для получения коммерческого предложения по адресу
          | электронной почты:
          |
          a(href="mailto:support@tochka-school.ru") support@tochka-school.ru
          | .
        p.platform-services__text
          | Услуги доступа к образовательным программам, реализуемым посредством «Образовательной онлайн-платформы Точка
          | Знаний» определены каталогом, доступным на сайте
          |
          a(href="https://tochka-school.ru") https://tochka-school.ru
          |
          | и начинаются от 21 500 руб. за 1 год.
