.about {
  margin-bottom: 90px;
  @include media(lg) {
    margin-bottom: 40px;
  }
  @include media(xs) {
    overflow: hidden;
  }
}

.about__cont {

}

.about__title {
  margin-bottom: 54px;
  font-weight: 500;
  font-size: 45px;
  line-height: 121%;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 25px;
    max-width: 275px;
    width: 100%;
    font-size: 25px;
    line-height: 100%;
  }
}

.about__picture {
  margin-left: 87px;
  width: 1200px;
  height: 579px;
  @include media(lg) {
    width: 597px;
    height: 366px;
    margin-left: 50px;
  }
  @include media(xs) {
    width: 306px;
    height: 545px;
    margin-left: 0;
  }
}

.about__image {
  height: 100%;
  object-fit: contain;
}
