.about {
  margin-bottom: 90px;
  @include media(lg) {
    margin-bottom: 40px;
  }
  @include media(xs) {
    margin-bottom: 40px;
    overflow: hidden;
  }
}

.about__cont {

}

.about__title {
  margin-bottom: 54px;
  font-weight: 500;
  font-size: 45px;
  line-height: 121%;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 25px;
    max-width: 275px;
    width: 100%;
    font-size: 25px;
    line-height: 100%;
  }
  @include media(xs) {
    margin-bottom: 34px;
  }
}

.about__picture {
  margin-left: 87px;
  width: 1200px;
  height: 579px;
  @include media(lg) {
    width: 597px;
    height: 366px;
    margin-left: 50px;
  }
  @include media(xs) {
    width: 306px;
    height: 545px;
    margin-left: 0;
  }
}

.about__image {
  height: 100%;
  object-fit: contain;
}

.about__wrap {
  position: relative;
  width: 1200px;
  height: 579px;
  margin-left: 87px;
  @include media(lg) {
    margin-left: 50px;
    width: 597px;
    height: 366px;
  }
  @include media(xs) {
    left: 50vw;
    transform: translateX(calc(-50% - 5px));
    margin-left: 0;
    width: 353px;
    height: 511px;
  }
}

.about__circle {
  position: absolute;
  border-radius: 50%;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition-duration: 1s;
  @include media(lg) {
    font-size: 15px;
    line-height: 19px;
  }
  &.active {
    transform: scale(1);
  }
  &_1 {
    background: #FFFFFF;
    width: 256px;
    height: 256px;
    top: 317px;
    left: 154px;
    @include media(lg) {
      width: 140px;
      height: 140px;
      top: 37px;
      left: 18px;
    }
    @include media(xs) {
      top: 0;
      left: 15px;
    }
  }
  &_2 {
    background: #FFFFFF;
    width: 316px;
    height: 316px;
    top: 19px;
    left: 290px;
    animation-delay: 0.5s;
    @include media(lg) {
      top: 0;
      left: 405px;
      width: 192px;
      height: 192px;
      padding: 27px;
    }
    @include media(xs) {
      padding: 8px;
      top: 184px;
      left: 27px;
      width: 154px;
      height: 154px;
    }
  }
  &_3 {
    background: #FFFFFF;
    width: 316px;
    height: 316px;
    top: 262px;
    left: 586px;
    animation-delay: 1s;
    @include media(lg) {
      width: 202px;
      height: 202px;
      top: 67px;
      left: 182px;
    }
    @include media(xs) {
      top: 308px;
      left: 129px;
    }
  }
  &_4 {
    background: #FFFFFF;
    width: 252px;
    height: 252px;
    top: 0;
    left: 681px;
    @include media(lg) {
      width: 161px;
      height: 161px;
      top: 205px;
      left: 28px;
    }
    @include media(xs) {
      top: 84px;
      left: 164px;
    }
  }
  &_5 {
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 0.63);
    top: 80px;
    left: 56px;
    animation-delay: 0.5s;
    @include media(lg) {
      width: 56px;
      height: 56px;
      top: 173px;
      left: 0;
    }
    @include media(xs) {
      width: 78px;
      height: 78px;
      top: 336px;
      left: 4px;
    }
  }
  &_6 {
    width: 165px;
    height: 165px;
    background: #FFFFFF;
    top: 245px;
    left: 0;
    animation-delay: 1s;
    @include media(lg) {
      display: none;
    }
  }
  &_7 {
    width: 102px;
    height: 102px;
    background: #68ccea;
    top: 211px;
    left: 188px;
    @include media(lg) {
      top: 64px;
      left: 361px;
      width: 34px;
      height: 34px;
    }
    @include media(xs) {
      width: 42px;
      height: 42px;
      top: 54px;
      left: 161px;
    }
  }
  &_8 {
    width: 131px;
    height: 131px;
    background: rgba(255, 255, 255, 0.63);
    top: 448px;
    left: 410px;
    animation-delay: 0.5s;
    @include media(lg) {
      display: none;
    }
  }
  &_9 {
    width: 115px;
    height: 115px;
    background: #f2c45b;
    top: 331px;
    left: 464px;
    animation-delay: 1s;
    @include media(lg) {
      width: 40px;
      height: 40px;
      top: 163px;
      left: 132px;
    }
    @include media(xs) {
      width: 49px;
      height: 49px;
      top: 133px;
      left: 108px;
    }
  }
  &_10 {
    width: 86px;
    height: 86px;
    background: #FFFFFF;
    top: 185px;
    left: 613px;
    @include media(lg) {
      top: 60px;
      left: 166px;
      width: 38px;
      height: 38px;
      background: rgba(255, 255, 255, 0.63);
    }
    @include media(xs) {
      width: 79px;
      height: 79px;
      top: 118px;
      left: -30px;
    }
  }
  &_11 {
    width: 69px;
    height: 69px;
    background: #7fcbb4;
    top: 246px;
    left: 864px;
    animation-delay: 0.5s;
    @include media(lg) {
      top: 265px;
      left: 198px;
      width: 49px;
      height: 49px;
    }
    @include media(xs) {
      width: 42px;
      height: 42px;
      top: 247px;
      left: 195px;
    }
  }
  &_12 {
    width: 116px;
    height: 116px;
    background: rgba(255, 255, 255, 0.63);
    top: 52px;
    left: 949px;
    animation-delay: 1s;
    @include media(lg) {
      width: 54px;
      height: 54px;
      top: 175px;
      left: 392px;
    }
    @include media(xs) {
      width: 56px;
      height: 56px;
      top: 40px;
      left: 297px;
    }
  }
  &_13 {
    width: 162px;
    height: 162px;
    background: #ffffff;
    top: 144px;
    left: 1038px;
    @include media(lg) {
      width: 93px;
      height: 93px;
      background: #6683c2;
      top: 203px;
      left: 463px;
    }
    @include media(xs) {
      width: 35px;
      height: 35px;
      top: 344px;
      left: 98px;
    }
  }
  &_14 {
    width: 228px;
    height: 228px;
    background: rgba(255, 255, 255, 0.63);
    top: 305px;
    left: 924px;
    animation-delay: 0.5s;
    @include media(lg) {
      width: 122px;
      height: 122px;
      top: 236px;
      left: 337px;
    }
    @include media(xs) {
      width: 78px;
      height: 78px;
      top: 241px;
      left: 270px;
    }
  }
}
