.all-courses {
  margin-bottom: 120px;
  @include media(lg) {
    margin-top: 40px;
    margin-bottom: 60px;
  }
  @include media(xs) {
    margin-top: 30px;
  }
}

.all-courses__cont {

}

.all-courses__caption {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 45px;
  font-weight: 600;
  font-size: 45px;
  line-height: 121%;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 30px;
    font-size: 24px;
  }
  @include media(xs) {
    gap: 20px;
  }
  svg {
    transform: translateY(5px);
    width: 42px;
    height: 42px;
    flex-shrink: 0;
    @include media(lg) {
      transform: translateY(2px);
    }
  }
}

.all-courses__wrap {
  margin-bottom: 32px;
  border-radius: 32px;
  background: #6683c2;
  padding: 30px;
  display: flex;
  align-items: center;
  gap: 30px;
  @include bg-icon('all-courses/all-courses-bg.png');
  background-size: cover;
  @include media(lg) {
    @include bg-icon('all-courses/all-courses-bg_tablet.png');
    background-size: cover;
    gap: 25px 30px;
    padding: 30px;
    margin-bottom: 40px;
    border-radius: 10px;
    flex-wrap: wrap;
  }
  @include media(xs) {
    background: #6683c2;
    gap: 20px;
    padding: 25px 20px;
    margin-bottom: 30px;
    flex-direction: column;
  }
}

.all-courses__filter {
  position: relative;
  max-width: 295px;
  width: 100%;
  @include media(lg) {
    max-width: 100%;
    width: calc(50% - 15px);
  }
  @include media(xs) {
    width: 100%;
  }
  &_class {
    z-index: 2;
    max-width: 208px;
    @include media(xs) {
      z-index: 0;
    }
    .all-courses__filter-top {
      &::before {
        right: 20px;
      }
    }
    .all-courses__filter-list {
      @include media(xs) {
        justify-content: center;
      }
    }
    .all-courses__filter-item {
      width: calc(25% - 8px);
      @include media(lg) {
        width: 114px;
      }
      @include media(xs) {
        width: calc(50% - 5px);
      }
    }
    .all-courses__filter-wrap {
      width: 630px;
      @include media(lg) {
        width: 684px;
        left: -30px;
      }
      @include media(xs) {
        position: fixed;
        z-index: 1000;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #FFFFFF;
        width: 100%;
        height: 100%;
      }
    }
  }
  &_subject {
    z-index: 1;
    @include media(xs) {
      z-index: 0;
    }
    .all-courses__filter-list {
      @include media(xs) {
        padding: 0;
        gap: 0;
        background: none;
        border-radius: 0;
      }
    }
    .all-courses__filter-item {
      min-width: 102px;
      @include media(xs) {
        min-width: auto;
        width: 100%;
      }
    }
    .all-courses__filter-view {
      padding: 10px 18px;
      @include media(xs) {
        justify-content: flex-end;
        padding: 10px 5px;
        text-align: left;
      }
    }
    .all-courses__filter-wrap {
      width: 1075px;
      @include media(lg) {
        width: 684px;
        left: -357px;
      }
      @include media(xs) {
        position: fixed;
        z-index: 1000;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #FFFFFF;
        width: 100%;
        height: 100%;
      }
      &.show-top-gradient {
        &::before {
          @include media(xs) {
            content: '';
            background: linear-gradient(0, rgba(245, 247, 251, 0) 0%, #f5f7fb 100%);
            height: 75px;
            position: absolute;
            z-index: 2;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
          }
        }
      }
    }
  }
  &_purpose {
    .all-courses__filter-wrap {
      width: 630px;
      @include media(lg) {
        width: 684px;
        left: -30px;
      }
      @include media(xs) {
        position: fixed;
        z-index: 1000;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #FFFFFF;
        width: 100%;
        height: 100%;
      }
    }
    .all-courses__filter-item {
      width: calc(50% - 5px);
      @include media(lg) {
        width: auto;
      }
      @include media(xs) {
        width: 100%;
      }
    }
    .all-courses__filter-view {
      @include media(lg) {
        padding: 6px 20px;
      }
    }
  }
  &_error {
    .all-courses__filter-top {
      border: 2px solid $orange;
    }
    .all-courses__filter-hint {
      opacity: 1;
      pointer-events: all;
    }
  }
  &.open {
    @include media(xs) {
      z-index: 20;
    }
  }
}

.all-courses__filter-hint {
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 0;
  transform: translateY(-50%);
  background: $orange;
  color: #fff;
  border-radius: 33px;
  padding: 2px 12px;
  opacity: 0;
  pointer-events: none;
}

.all-courses__filter-top {
  overflow: hidden;
  cursor: pointer;
  border-radius: 34px;
  background-color: $white;
  padding: 12px 46px 12px 30px;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.04);
  min-height: 55px;
  display: flex;
  align-items: center;
  position: relative;
  border: 2px solid transparent;
  font-weight: 600;
  font-size: 16px;
  color: #003c56;
  transition-property: border;
  transition-duration: $transition-duration;
  @include media(lg) {
    font-size: 14px;
    min-height: 45px;
    padding: 8px 20px 8px 20px;
  }
  &.active {
    border: 2px solid $orange;
    @include media(xs) {
      border: 2px solid transparent;
      display: none;
    }
    & ~ .all-courses__filter-wrap {
      opacity: 1;
      pointer-events: all;
    }
    &::before {
      transform: rotate(180deg) translateY(calc(-50% + 1px));
    }
  }
  span {
    &:first-of-type {
      margin-left: 10px;
    }
    margin-right: 20px;
    position: relative;
    padding-right: 11px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #003c56;
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    @include media(lg) {
      font-size: 14px;
    }
    &::before {
      content: '';
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      width: 30px;
    }
  }
  &::before {
    content: '';
    @include bg-icon('icons/ic_arrow_down_dark.svg');
    width: 16px;
    height: 9px;
    position: absolute;
    right: 34px;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: top;
    transition-duration: $transition-duration;
    transition-property: transform;
    @include media(lg) {
      right: 20px;
    }
  }
  .all-courses__filter-ticket {
    display: none;
  }
}

.all-courses__filter-top-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #003c56;
  @include media(lg) {
    font-size: 14px;
  }
}

.all-courses__filter-wrap {
  position: absolute;
  z-index: 10;
  width: 655px;
  top: calc(100% + 5px);
  left: 0;
  border-radius: 22px;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.04);
  background: #fff;
  padding: 25px 30px 30px;
  opacity: 0;
  pointer-events: none;
  transition-property: opacity;
  transition-duration: $transition-duration;
  @include media(lg) {
    border-radius: 10px;
    padding: 20px;
    width: 560px;
  }
  @include media(xs) {
    top: calc(100% - 30px);
    width: 100%;
    background: #eef1f9;
    padding: 15px 10px;
    overflow-y: auto;
    transition: none;
  }
  &_subject {
    @include media(xs) {
      scroll-behavior: smooth;
    }
  }
}

.all-courses__filter-container {
  position: sticky;
  z-index: 1;
  top: 0;
  background: white;
  @include media(xs) {
    padding-top: 15px;
    transform: translateY(-15px);
    margin-bottom: -15px;
  }
  .all-courses__filter-close {
    @include media(xs) {
      top: 3px;
      right: -10px;
    }
  }
}

.all-courses__filter-icon {
  display: none;
  @include media(xs) {
    display: block;
    animation: 2s linear infinite libraryCapFilterIconRotate;
    position: absolute;
    z-index: 5;
    top: 169px;
    right: 12px;
    transform: translateY(-10px);
    @keyframes libraryCapFilterIconRotate {
      0% {
        transform: translateY(-10px);
      }
      50% {
        transform: translateY(10px);
      }
      100% {
        transform: translateY(-10px);
      }
    }
  }
}

.all-courses__filter-close {
  display: none;
  @include media(xs) {
    display: block;
    width: 53px;
    height: 43px;
    @include bg-icon('all-courses/close.svg', 23px, 23px);
    position: absolute;
    top: 3px;
    right: 0;
    cursor: pointer;
    z-index: 1;
  }
}

.all-courses__filter-headline {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  @include media(lg) {
    margin-bottom: 20px;
    font-size: 16px;
  }
  @include media(xs) {
    margin-bottom: 16px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #003C56;
  }
}

.all-courses__filter-tabs {
  position: relative;
  display: flex;
  gap: 27px;
  margin-bottom: 25px;
  border-bottom: 1px solid rgba(102, 131, 194, 0.2);
  overflow: hidden;
  @include media(lg) {
    gap: 20px 40px;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  @include media(xs) {
    gap: 0;
    margin: 0 -10px 0;
    width: calc(100% + 20px);
    &::before, &::after {
      content: '';
      width: 10px;
      flex-shrink: 0;
    }
  }
}

.all-courses__filter-tab {
  font-weight: 500;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  padding: 0 0 16px;
  @include media(lg) {
    padding: 0 0 16px;
    font-size: 15px;
    min-width: unset;
  }
  @include media(xs) {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }
  &.active {
    position: relative;
    color: #000;
    &::before {
      content: '';
      height: 2px;
      background: #6683C2;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

.all-courses__filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 10px;
  background: #f5f7fb;
  padding: 20px;
  @include media(lg) {
    padding: 15px;
  }
  @include media(xs) {
    padding: 20px 15px;
  }
}

.all-courses__filter-box-title {
  display: none;
  @include media(xs) {
    display: block;
    margin-top: 23px;
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
  }
}

.all-courses__filter-box {
  display: flex;
  gap: 10px;
  @include media(xs) {
    width: 100%;
    border-radius: 10px;
    background: #eef1f9;
    padding: 20px 15px;
    flex-direction: column;
    gap: 10px;
  }
  &.hide {
    display: none;
    @include media(xs) {
      display: flex;
    }
  }
}

.all-courses__confirm-box {
  margin-top: 15px;
  text-align: right;
  @include media(xs) {
    margin-top: 0;
    padding: 15px 20px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.06);
    background: #fff;
    position: sticky;
    bottom: 0;
    transform: translateY(15px);
  }
  @include media(xxs) {
    padding: 15px;
  }
}

.all-courses__confirm {
  margin-left: auto;
  font-size: 15px;
  line-height: 100%;
  padding: 17px 30px 18px;
  @include media(xs) {
    display: block;
    width: 100%;
  }
}

.all-courses__filter-item {
  cursor: pointer;
  &:hover {
    .all-courses__filter-view {
      background: #EAA593;
      color: #FFFFFF;
    }
  }
}

.all-courses__filter-input {
  display: none;
  &:checked ~ .all-courses__filter-view {
    background: #F37E60;
    color: #fff;
  }
}

.all-courses__filter-ticket {
  display: inline-block;
  width: 25px;
  height: 25px;
  @include media(xs) {
    transform: scale(0.8);
  }
}

.all-courses__filter-view {
  border-radius: 34px;
  text-align: center;
  padding: 2px;
  min-height: 50px;
  box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
  font-size: 15px;
  line-height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: $transition-duration;
  transition-property: background-color, color;
  @include media(lg) {
    min-height: 45px;
    font-size: 14px;
  }
  @include media(xs) {
    gap: 6px;
  }
}

.all-courses__reset-filter {
  font-size: 15px;
  line-height: 100%;
  color: #fff;
  border-radius: 34px;
  background: #4d69a7;
  min-width: 144px;
  min-height: 41px;
  display: none;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-left: auto;
  @include media(lg) {
    min-width: 126px;
    min-height: 35px;
    font-size: 14px;
    margin-top: 20px;
  }
  @include media(xs) {
    margin-top: 25px;
    margin-left: 0;
    min-height: 45px;
    width: 100%;
  }
  &.active {
    display: flex;
  }
  svg {
    margin-left: 7px;
  }
}

.all-courses__find-box {
  margin-left: auto;
  display: flex;
  align-items: center;
  @include media(lg) {
    width: calc(50% - 15px);
    margin-left: 0;
  }
  @include media(xs) {
    width: 100%;
    flex-direction: column;
  }
}

.all-courses__find {
  font-size: 16px;
  padding: 20px 47px;
  @include media(lg) {
    font-size: 14px;
    margin-left: 0;
    flex-grow: 1;
    padding: 14px 20px 16px;
  }
  @include media(xs) {
    width: 100%;
    margin-top: 5px;
  }
}

.all-courses__reset {
  display: none;
  margin-left: 15px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 34px;
  background: #4d69a7;
  padding: 5px 10px;
  min-width: 144px;
  min-height: 55px;
  @include media(lg) {
    margin-left: 20px;
    min-width: 110px;
    min-height: 45px;
  }
  @include media(xs) {
    width: auto;
    margin-left: 0;
    margin-top: 15px;
    min-width: unset;
    min-height: unset;
    background: unset;
    border-radius: 0;
    padding: 0;
  }
  &.active {
    display: flex;
  }
}

.all-courses__reset-icon {
  display: none;
  @include media(xs) {
    flex-shrink: 0;
    display: block;
    width: 17px;
    height: 17px;
  }
}

.all-courses__reset-icon-desc {
  @include media(xs) {
    display: none;
  }
}

.all-courses__reset-note {
  display: none;
  @include media(xs) {
    display: block;
    font-size: 15px;
    color: #ffffff;
    margin-right: 7px;
    flex-shrink: 0;
  }
}

.all-courses__reset-note-desc {
  margin-right: 7px;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  @include media(lg) {
    font-size: 14px;
  }
  @include media(xs) {
    display: none;
  }
}

.all-courses__tile {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
  min-height: 200px;
  @include media(lg) {
    gap: 30px;
  }
}

.all-courses__item {
  position: relative;
  width: 100%;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  border-radius: 20px;
  display: flex;
  @include media(lg) {
    border-radius: 10px;
  }
  &.family {
    background: #dae5fe;
    .all-courses__tag {
      background: rgba(255, 255, 255, 0.68);
      color: #6683c2;
      &_class {
        background: #6683C2;
        color: #fff;
      }
    }
    .all-courses__box {
      background: rgba(255, 255, 255, 0.67);
      @include media(lg) {
        background: transparent;
      }
    }
    .all-courses__inner {
      @include media(lg) {
        background: rgba(255, 255, 255, 0.68);
      }
    }
    .all-courses__no-price  {
      .all-courses__box {
        @include media(lg) {
          background: #f3f5fb;
        }
        @include media(xs) {
          background: unset;
        }
      }
      .all-courses__inner {
        @include media(lg) {
          background: unset;
          min-height: unset;
        }
        @include media(xs) {
          background: #f3f5fb;
          min-height: 64px;
          padding: 10px 15px;
          margin-bottom: 25px;
        }
      }
    }
    .all-courses__side-image {
      background: unset;
    }
    .all-courses__mob-image {
      border-radius: 0;
    }
    .all-courses__line {
      @include media(lg) {
        max-height: unset;
        gap: 4px;
        margin-top: -33px;
        position: relative;
        top: -65px;
      }
      @include media(xs) {
        position: static;
        margin-top: 0;
      }
    }
    .all-courses__area {
      &::before {
        background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #dae5fe 80%, #dae5fe 100%);
      }
      &::after {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #dae5fe 80%, #dae5fe 100%);
      }
    }
    .all-courses__side-text {
      width: 255px;
    }
  }
}

.all-courses__tickets {
  display: flex;
  gap: 15px;
  position: absolute;
  right: 40px;
  top: 0;
  transform: translateY(-50%);
  @include media(lg) {
    gap: 10px;
    right: 20px;
  }
  @include media(xs) {
    right: 10px;
  }
  @include media(xxs) {
    gap: 9px;
  }
}

.all-courses__ticket {
  border-radius: 33px;
  padding: 8px 15px;
  color: #fff;
  font-size: 14px;
  line-height: 100%;
  font-weight: 500;
  @include media(lg) {
    font-size: 13px;
    padding: 6px 15px;
  }
  @include media(xxs) {
    font-size: 12px;
    padding: 4px 15px 5px;
  }
  &.blue {
    background: #68ccea;
  }
  &.green {
    background: #7fcbb4;
  }
}

.all-courses__side {
  padding: 40px;
  width: 320px;
  flex-shrink: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  @include media(lg) {
    display: none;
  }
}

.all-courses__side-image {
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #E0ECFB;
  height: 255px;
  object-fit: contain;
  &.no-background-color {
    background: unset;
  }
}

.all-courses__side-name {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 137%;
  color: #000;
}

.all-courses__side-text {
  font-size: 16px;
  line-height: 137%;
}

.all-courses__area {
  padding: 40px;
  width: 100%;
  @include media(lg) {
    padding: 25px;
  }
  @include media(xs) {
    position: relative;
    padding: 25px 15px;
    &::before, &::after {
      content: '';
      width: 15px;
      height: 26px;
      position: absolute;
      top: 25px;
    }
    &::before {
      left: 0;
      background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #fff 80%, #fff 100%);
    }
    &::after {
      right: 0;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 80%, #fff 100%);
    }
  }
}

.all-courses__tags {
  margin-bottom: 20px;
  display: flex;
  gap: 25px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  @include media(lg) {
    margin-bottom: 20px;
  }
  @include media(xs) {
    gap: 12px;
    margin: 0 -15px 10px;
    padding-bottom: 10px;
    overflow-x: auto;
    &::before, &::after {
      content: '';
      width: 3px;
      flex-shrink: 0;
    }
  }
}

.all-courses__tag {
  border-radius: 33px;
  background: rgba(102, 131, 194, 0.08);
  min-height: 34px;
  padding: 2px 27px 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 100%;
  font-weight: 500;
  color: #6683c2;
  @include media(lg) {
    padding: 2px 20px 3px;
    font-size: 13px;
    min-height: 26px;
    min-width: 64px;
  }
  @include media(xs) {
    flex-shrink: 0;
    padding: 2px 13px 3px;
  }
  &_class {
    background: #6683C2;
    color: #fff;
  }
}

.all-courses__title {
  display: block;
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 38px;
  line-height: 125%;
  color: #003c56;
  @include media(lg) {
    font-size: 24px;
    margin-bottom: 20px;
  }
  @include media(xs) {
    font-size: 20px;
  }
  &:hover {
    color: #003c56;
  }
}

.all-courses__text {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 137%;
  color: #000;
  @include media(lg) {
    display: none;
  }
}

.all-courses__cage {
  display: flex;
  margin-bottom: 35px;
  gap: 60px;
  @include media(lg) {
    margin-bottom: 25px;
    gap: 50px;
  }
  @include media(xs) {
    flex-direction: column-reverse;
    gap: 20px;
  }
}

.all-courses__radio {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-shrink: 0;
  @include media(lg) {
    gap: 4px;
  }
}

.all-courses__label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.all-courses__radio-input {
  display: none;
  &:checked ~ .all-courses__radio-view {
    @include bg-icon('all-courses/ic_radio_input_view_active.svg');
  }
}

.all-courses__radio-view {
  width: 19px;
  height: 19px;
  flex-shrink: 0;
  @include bg-icon('all-courses/ic_radio_input_view.svg');
}

.all-courses__radio-text {
  font-size: 16px;
  font-weight: 500;
  @include media(lg) {
    font-size: 15px;
  }
}

.all-courses__line {
  display: flex;
  flex-direction: column;
  gap: 8px 60px;
  flex-wrap: wrap;
  max-height: 61px;
  @include media(lg) {
    gap: 4px;
    max-height: unset;
  }
  &_row {
    margin-bottom: 35px;
    flex-direction: row;
    max-height: unset;
    gap: 13px 50px;
    @include media(lg) {
      gap: 12px 20px;
      margin-bottom: 25px;
    }
  }
}

.all-courses__info {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  max-width: 295px;
  @include media(lg) {
    gap: 8px;
  }
  @include media(xs) {
    width: 100%;
  }
  svg {
    position: relative;
    top: 4px;
    flex-shrink: 0;
  }
}

.all-courses__info-span {
  font-size: 16px;
  font-weight: 500;
  @include media(lg) {
    font-size: 15px;
  }
  &.hide {
    display: none;
  }
}

.all-courses__mob {
  display: none;
  @include media(lg) {
    display: flex;
    margin-bottom: 25px;
    align-items: center;
  }
  @include media(xs) {
    margin-bottom: 20px;
  }
}

.all-courses__mob-image {
  @include media(lg) {
    margin-right: 13px;
    width: 64px;
    height: 64px;
    border-radius: 83px;
  }
  &_no-border-radius {
    @include media(lg) {
      border-radius: 0;
    }
  }
}

.all-courses__mob-box {

}

.all-courses__mob-name {
  @include media(lg) {
    font-size: 15px;
    line-height: 120%;
    margin-bottom: 6px;
  }
}

.all-courses__mob-text {
  @include media(lg) {
    font-size: 13px;
    line-height: 138%;
    color: rgba(0, 0, 0, 0.5);
  }
  @include media(xs) {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.all-courses__no-price {
  display: flex;
  justify-content: flex-end;
  @include media(xs) {
    display: block;
  }
  .all-courses__box {
    min-height: 113px;
    width: auto;
    display: inline-flex;
    gap: 44px;
    padding: 28px 40px;
    margin-right: -40px;
    @include media(lg) {
      border-radius: 10px 0 0 10px;
      background: #f3f5fb;
      min-height: 106px;
      margin-right: -25px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: calc(100% + 25px);
      padding: 28px 25px;
    }
    @include media(xs) {
      background: unset;
      border-radius: 0;
      min-height: unset;
      margin-right: 0;
      display: block;
      width: auto;
      padding: 0;
    }
  }
  .all-courses__inner {
    border-radius: 0;
    background: unset;
    padding: 0;
    min-height: unset;
    flex-grow: unset;
    @include media(xs) {
      min-height: 64px;
      padding: 10px 15px;
      margin-bottom: 25px;
      background: #f3f5fb;
    }
  }
}

.all-courses__box {
  border-radius: 20px 0 0 20px;
  background: #f3f5fb;
  width: calc(100% + 40px);
  padding: 28px 40px 18px 34px;
  display: flex;
  gap: 20px;
  align-items: center;
  @include media(lg) {
    border-radius: 0;
    background: transparent;
    padding: 0;
    width: calc(100% + 25px);
    flex-direction: row-reverse;
    gap: 30px;
  }
  @include media(xs) {
    gap: 25px;
    flex-direction: column;
    width: 100%;
  }
  &.hide {
    display: none !important;
  }
}

.all-courses__inner {
  @include media(lg) {
    border-radius: 10px 0 0 10px;
    background: #f3f5fb;
    padding: 12px 16px 12px 24px;
    min-height: 106px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
  }
  @include media(xs) {
    padding: 14px 5px 14px 15px;
    min-height: auto;
    width: calc(100% + 30px);
    margin: 0 -15px;
    border-radius: 0;
  }
}

.all-courses__date {
  font-size: 24px;
  line-height: 100%;
  @include media(lg) {
    font-size: 20px;
  }
  @include media(xs) {
    text-align: center;
    font-size: 18px;
  }
  span {
    font-weight: 600;
    color: #003c56;
  }
}

.all-courses__bar {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @include media(lg) {
    margin-bottom: 5px;
  }
  &:last-of-type {
    margin-top: 5px;
    @include media(lg) {
      margin-top: 2px;
    }
  }
}

.all-courses__next {
  font-size: 16px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.5);
  @include media(lg) {
    font-size: 14px;
  }
  span {
    font-weight: 600;
  }
}

.all-courses__headline {
  margin-right: 6px;
  font-size: 18px;
  line-height: 122%;
  font-weight: 500;
}

.all-courses__hint {
  position: relative;
  margin-left: 8px;
  cursor: pointer;
  &:hover {
    .all-courses__hint-text {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.all-courses__hint-text {
  position: absolute;
  top: calc(-100% - 10px);
  width: 265px;
  right: -47px;
  font-weight: 500;
  font-size: 10px;
  line-height: 100%;
  padding: 10px 16px;
  border-radius: 43px;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.06);
  background: #fff;
  opacity: 0;
  pointer-events: none;
  &::before {
    content: '';
    @include bg-icon('all-courses/ic_hint_triangle.svg');
    width: 11px;
    height: 9px;
    position: absolute;
    bottom: -5px;
    right: 49px;
  }
}

.all-courses__price-current {
  flex-shrink: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 92%;
  color: #003c56;
  @include media(lg) {
    font-size: 18px;
  }
  @include media(xs) {
    font-size: 15px;
  }
}

.all-courses__price-old {
  margin-left: 6px;
  flex-shrink: 0;
  font-size: 16px;
  line-height: 137%;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.5);
  @include media(lg) {
    font-size: 14px;
  }
}

.all-courses__price-month {
  margin-left: 6px;
  flex-shrink: 0;
  font-size: 16px;
  line-height: 137%;
  color: rgba(0, 0, 0, 0.5);
  @include media(lg) {
    font-size: 14px;
  }
  span {
    font-weight: 600;
  }
}

.all-courses__discount {
  margin-left: 15px;
  flex-shrink: 0;
  border-radius: 33px;
  background: $orange;
  padding: 2px 8px;
  font-size: 11px;
  color: #ffffff;
  font-weight: 500;
  @include media(xs) {
    margin-left: 8px;
  }
}

.all-courses__note {
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 500;
  @include media(lg) {
    font-size: 14px;
  }
  @include media(xs) {
    width: 100%;
  }
}

.all-courses__price-full-current {
  margin-left: 6px;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 500;
  color: #003C56;
  @include media(lg) {
    font-size: 14px;
  }
  @include media(xs) {
    margin-left: 0;
  }
}

.all-courses__price-full-old {
  margin-left: 6px;
  flex-shrink: 0;
  font-size: 16px;
  line-height: 137%;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.5);
  @include media(lg) {
    font-size: 14px;
  }
}

.all-courses__btns {
  margin-left: auto;
  display: flex;
  gap: 30px;
  @include media(lg) {
    flex-direction: column-reverse;
    gap: 15px;
    width: 215px;
    margin-left: 0;
  }
  @include media(xs) {
    width: 100%;
  }
}

.all-courses__button {
  min-width: 215px;
  min-height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 100%;
  padding: 4px 10px 5px;
  @include media(lg) {
    min-height: 45px;
    font-size: 14px;
  }
  &.btn-orange {
    &::after {
      content: '';
      width: 15px;
      height: 11px;
      margin-left: 10px;
      flex-shrink: 0;
      @include bg-icon('icons/ic_arrow_right_white.svg');
    }
  }
  &_border {
    border: 1px solid rgba(102, 131, 194, 0.3);
    border-radius: 34px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.75);
    transition-property: border-color, color;
    transition-duration: $transition-duration;
    &:hover {
      border: 1px solid $orange;
      color: rgba(0, 0, 0, 1);
    }
    @include media(lg) {
      font-size: 14px;
    }
  }
}

.all-courses__empty {
  min-height: 258px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  border-radius: 20px;
  @include media(lg) {
    min-height: 249px;
    border-radius: 10px;
  }
  @include media(xs) {
    min-height: 148px;
  }
}

.all-courses__empty-title {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 32px;
  line-height: 121%;
  color: #003c56;
  @include media(lg) {
    font-size: 24px;
    margin-bottom: 16px;
  }
}

.all-courses__empty-text {
  font-size: 24px;
  line-height: 121%;
  color: #003c56;
  @include media(lg) {
    font-size: 15px;
  }
  @include media(xs) {
    max-width: 160px;
    width: 100%;
    text-align: center;
  }
}

.all-courses__more {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.all-courses__more-button {
  min-width: 211px;
  min-height: 55px;
  font-size: 16px;
  @include media(lg) {
    font-size: 14px;
    min-width: 300px;
    min-height: 45px;
  }
  @include media(xs) {
    width: 100%;
  }
  &::after {
    width: 14px;
    height: 11px;
    transform: rotate(90deg);
  }
}
