.all-courses {
  margin-top: 70px;
  margin-bottom: 70px;
}

.all-courses__cont {

}

.all-courses__caption {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 45px;
  line-height: 121%;
  color: #003c56;
}

.all-courses__subtitle {
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 24px;
  line-height: 121%;
  color: #003c56;
}

.all-courses__wrap {
  margin-bottom: 57px;
  border-radius: 32px;
  background: #6683c2;
  padding: 30px 40px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.all-courses__filter {
  position: relative;
  max-width: 295px;
  width: 100%;
  @include media(lg) {
    max-width: 270px;
  }
  @include media(xs) {
    max-width: 100%;
  }
  &_class {
    z-index: 2;
    .all-courses__filter-item {
      width: calc(33.33% - 7px);
      @include media(xs) {
        width: calc(50% - 5px);
      }
    }
  }
  &_subject {
    z-index: 1;
    .all-courses__filter-item {
      width: calc(33.33% - 7px);
      @include media(lg) {
        width: calc(50% - 5px);
      }
      @include media(xs) {
        width: 100%;
      }
      &:first-child {
        @include media(xs) {
          margin-top: 15px;
        }
      }
    }
    .all-courses__filter-wrap {
      width: 929px;
      right: -315px;
      padding: 25px 5px 0 25px;
      @include media(lg) {
        width: 655px;
        right: -63px;
        padding: 20px 5px 0 20px;
      }
      @include media(xs) {
        padding: 32px 15px 0;
        width: 100%;
        right: 0;
      }
      &.show-top-gradient {
        &::before {
          @include media(xs) {
            content: '';
            background: linear-gradient(0, rgba(245, 247, 251, 0) 0%, #f5f7fb 100%);
            height: 75px;
            position: absolute;
            z-index: 2;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
          }
        }
      }
    }
    .all-courses__filter-scroll {
      padding-right: 20px;
      max-height: 490px;
      @include media(lg) {
        max-height: 310px;
      }
      @include media(xs) {
        max-height: 321px;
        padding-right: 0;
        padding-bottom: 50px;
      }
    }
    .simplebar-scrollbar {
      &::before {
        background-color: #6683c2;
        width: 5px;
        opacity: 1;
      }
      @include media(xs) {
        display: none !important;
      }
    }
  }
  &_error {
    .all-courses__filter-top {
      border: 2px solid #F37E60;
    }
    .all-courses__filter-hint {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.all-courses__filter-hint {
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 0;
  transform: translateY(-50%);
  background: #f37e60;
  color: #fff;
  border-radius: 33px;
  padding: 2px 12px;
  opacity: 0;
  pointer-events: none;
}

.all-courses__filter-top {
  overflow: hidden;
  cursor: pointer;
  border-radius: 34px;
  background-color: $white;
  padding: 12px 50px 12px 34px;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.04);
  min-height: 55px;
  display: flex;
  align-items: center;
  position: relative;
  border: 2px solid transparent;
  font-weight: 600;
  font-size: 16px;
  color: #003c56;
  transition-property: border;
  transition-duration: $transition-duration;
  @include media(lg) {
    font-size: 14px;
    padding: 12px 20px 12px 20px;
  }
  @include media(xs) {
    z-index: 20;
  }
  &.active {
    border: 2px solid #f37e60;
    @include media(xs) {
      border: 2px solid transparent;
    }
    & ~ .all-courses__filter-wrap {
      opacity: 1;
      pointer-events: all;
    }
    &::before {
      transform: rotate(180deg) translateY(calc(-50% + 1px));
    }
  }
  span {
    &:first-of-type {
      margin-left: 10px;
    }
    margin-right: 12px;
    position: relative;
    padding-right: 11px;
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
    display: inline-block;
    white-space: nowrap;
    width: 154px;
    overflow: hidden;
    @include media(lg) {
      font-size: 14px;
      width: 130px;
    }
    @include media(xs) {
      width: calc(100% - 95px);
    }
    &::before {
      content: '';
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      width: 30px;
    }
  }
  &::before {
    content: '';
    @include bg-icon('icons/ic_arrow_down_dark.svg');
    width: 16px;
    height: 9px;
    position: absolute;
    right: 34px;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: top;
    transition-duration: $transition-duration;
    transition-property: transform;
    @include media(lg) {
      right: 20px;
    }
  }
}

.all-courses__filter-top-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #003c56;
  @include media(lg) {
    font-size: 14px;
  }
}

.all-courses__filter-wrap {
  position: absolute;
  z-index: 10;
  width: 655px;
  top: calc(100% + 5px);
  border-radius: 22px;
  background: #f5f7fb;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.04);
  padding: 25px 25px 0;
  opacity: 0;
  pointer-events: none;
  transition-property: opacity;
  transition-duration: $transition-duration;
  @include media(lg) {
    border-radius: 10px;
    padding: 20px 20px 0;
    width: 560px;
  }
  @include media(xs) {
    top: calc(100% - 30px);
    width: 100%;
    background: #f5f7fb;
    padding: 48px 15px 0;
  }
}

.all-courses__filter-icon {
  display: none;
  @include media(xs) {
    display: block;
    animation: 2s linear infinite libraryCapFilterIconRotate;
    position: absolute;
    z-index: 5;
    top: 169px;
    right: 12px;
    transform: translateY(-10px);
    @keyframes libraryCapFilterIconRotate {
      0% {
        transform: translateY(-10px);
      }
      50% {
        transform: translateY(10px);
      }
      100% {
        transform: translateY(-10px);
      }
    }
  }
}

.all-courses__filter-headline {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  @include media(lg) {
    margin-bottom: 20px;
  }
  @include media(xs) {
    display: none;
  }
}

.all-courses__filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 20px;
}

.all-courses__filter-item {
  cursor: pointer;
  &:hover {
    .all-courses__filter-view {
      background: rgba(81, 106, 161, 0.37);
      @include media(xs) {
        background: rgba(255, 255, 255, 0.47);
      }
    }
  }
}

.all-courses__filter-input {
  display: none;
  &:checked ~ .all-courses__filter-view {
    background: #516aa1;
    color: #fff;
  }
}

.all-courses__filter-view {
  border-radius: 34px;
  text-align: center;
  padding: 2px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
  font-size: 15px;
  line-height: 16px;
  transition-duration: $transition-duration;
  transition-property: background-color;
  @include media(xs) {
    min-height: 45px;
  }
}

.all-courses__find {
  margin-left: auto;
  font-size: 16px;
  padding: 20px 50px;
}

.all-courses__tile {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.all-courses__item {
  width: 100%;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  border-radius: 20px;
  display: flex;
}

.all-courses__side {
  padding: 40px;
  width: 320px;
  flex-shrink: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.all-courses__side-image {
  border-radius: 10px;
  margin-bottom: 20px;
}

.all-courses__side-name {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 137%;
  color: #000;
}

.all-courses__side-text {
  font-size: 16px;
  line-height: 137%;
}

.all-courses__area {
  padding: 40px;
}

.all-courses__tags {
  margin-bottom: 25px;
  display: flex;
  gap: 25px;
}

.all-courses__tag {
  border-radius: 33px;
  background: rgba(102, 131, 194, 0.08);
  min-width: 114px;
  min-height: 34px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #6683c2;
}

.all-courses__title {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 38px;
  line-height: 97%;
  color: #003c56;
}

.all-courses__text {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 137%;
  color: #000;
}

.all-courses__line {
  display: flex;
  margin-bottom: 38px;
  gap: 20px 40px;
  flex-wrap: wrap;
}

.all-courses__toggle {
  margin-right: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.all-courses__toggle-checkbox {
  opacity: 0;
  display: none;
  &:checked {
    & ~ .all-courses__toggle-view {
      background-color: #F37E60;
      &::before {
        left: 22px;
      }
    }
    & ~ .all-courses__toggle-text {
      opacity: 1;
    }
  }
}

.all-courses__toggle-view {
  position: relative;
  width: 40px;
  height: 21px;
  border-radius: 100px;
  background-color: #98A1B5;
  transition-duration: $transition-duration;
  transition-property: background-color;
  &::before {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: #FFFFFF;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    transition-duration: $transition-duration;
    transition-property: left;
  }
}

.all-courses__toggle-text {
  opacity: 0.5;
  margin-left: 13px;
  font-size: 16px;
}

.all-courses__info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.all-courses__info-span {
  font-size: 16px;
}

.all-courses__mob {
  display: none;
}

.all-courses__mob-image {

}

.all-courses__mob-box {

}

.all-courses__mob-name {

}

.all-courses__mob-text {

}

.all-courses__box {
  border-radius: 20px 0 0 20px;
  background: #f3f5fb;
  width: calc(100% + 40px);
  padding: 28px 40px 28px 34px;
  display: flex;
  align-items: center;
}

.all-courses__inner {

}

.all-courses__bar {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  &:last-of-type {
    margin-top: 5px;
  }
}

.all-courses__headline {
  font-size: 18px;
  line-height: 122%;
}

.all-courses__hint {

}

.all-courses__price-current {
  font-weight: 600;
  font-size: 24px;
  line-height: 92%;
  color: #003c56;
}

.all-courses__price-old {
  margin-left: 6px;
  font-size: 16px;
  line-height: 137%;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.5);
}

.all-courses__price-month {
  margin-left: 6px;
  font-size: 16px;
  line-height: 137%;
  color: rgba(0, 0, 0, 0.5);
}

.all-courses__discount {
  margin-left: 15px;
  border-radius: 33px;
  background: #fff;
  padding: 2px 8px;
  font-size: 11px;
  color: #6683c2;
}

.all-courses__note {
  font-size: 16px;
}

.all-courses__price-full-current {
  margin-left: 6px;
  font-size: 16px;
  font-weight: 600;
  color: #003c56;
}

.all-courses__price-full-old {
  margin-left: 6px;
  font-size: 16px;
  line-height: 137%;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.5);
}

.all-courses__btns {
  margin-left: auto;
  display: flex;
  gap: 30px;
}

.all-courses__button {
  min-width: 215px;
  min-height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  &_border {
    border: 1px solid rgba(102, 131, 194, 0.3);
    border-radius: 34px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.75);
    &::after {
      content: '';

    }
  }
}

