.article-summer {
  @include bg-icon('article-summer/article-summer-bg.png');
  background-size: cover;
  border-radius: 20px;
  padding: 38px 44px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 427px;
  @include media(lg) {
    min-height: 307px;
    padding: 26px 35px;
    @include bg-icon('article-summer/article-summer-bg_tablet.png');
    background-size: cover;
  }
  @include media(xs) {
    max-width: 330px;
    width: 100%;
    margin: 0 auto;
    min-height: 485px;
    padding: 22px 24px;
    @include bg-icon('article-summer/article-summer-bg_mob.png');
    background-size: cover;
  }
  * {
    font-family: $font-main;
  }
}

.article-summer__title {
  max-width: 500px;
  width: 100%;
  margin-bottom: 26px;
  font-weight: 500;
  font-size: 45px;
  line-height: 104%;
  color: #fff;
  @include media(lg) {
    margin-bottom: 20px;
    font-size: 24px;
  }
  @include media(xs) {
    max-width: 258px;
  }
}

.article-summer__list {
  margin-bottom: 40px;
  max-width: 600px;
  width: 100%;
  @include media(lg) {
    margin-bottom: 36px;
    max-width: 372px;
  }
  @include media(xs) {
    margin-bottom: 26px;
  }
}

.article-summer__item {
  position: relative;
  padding-left: 34px;
  font-size: 22px;
  line-height: 28px;
  color: #fff;
  @include media(lg) {
    padding-left: 24px;
    font-size: 15px;
    line-height: 19px;
  }
  @include media(xs) {
    padding-left: 22px;
  }
  &::before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    top: 14px;
    left: 15px;
    @include media(lg) {
      width: 4px;
      height: 4px;
      top: 7px;
      left: 10px;
    }
  }
}

.article-summer__button {
  margin-top: auto;
  font-size: 18px;
  padding: 21px 46px;
  @include media(lg) {
    margin-top: 0;
    font-size: 16px;
    padding: 20px 32px;
  }
  @include media(xs) {
    padding: 20px 34px;
  }
  &::after {
    width: 16px;
    height: 13px;
  }
}
