.blog-info-2 {
  margin: 50px 0;
  position: relative;
  border-radius: 20px;
  padding: 40px 50px;
  @include bg-icon('blog-info-2/bg.png');
  @include media(lg) {
    margin: 30px 0;
    border-radius: 10px;
    padding: 20px 25px 20px;
    @include bg-icon('blog-info-2/bg_tablet.png');
  }
  @include media(xs) {
    margin: 30px auto;
    padding: 20px;
    @include bg-icon('blog-info-2/bg_mob.png');
    background-size: cover;
  }
  @include media(xxs) {
    padding: 20px 15px;
    @include bg-icon('blog-info-2/bg_xxs.png');
    background-size: cover;
  }
  * {
    font-family: $font_main;
  }
  &.form-enter-sms-code {
    min-height: 407px;
    @include media(lg) {
      min-height: auto;
    }
    .blog-info-2__top {
      flex-direction: column;
      gap: 20px;
      align-items: flex-start;
      margin-bottom: 10px;
    }
    .form-enter-sms-resend {
      width: auto;
      margin-top: 12px;
      text-align: left;
      @include media(xs) {
        margin-top: 0;
      }
    }
    .form-enter-sms-text, .form-enter-sms-resend, .form-enter-sms-phone, .form-enter-sms-call, .form-enter-sms-note {
      color: #fff;
    }
    .form-enter-sms-btn-transparent {
      color: #fff !important;
    }
    .input-white, .iti.iti--allow-dropdown.iti--show-flags {
      display: none;
    }
    .checkbox-white-label {
      opacity: 0;
      @include media(xs) {
        display: none;
      }
    }
    .modal-order-new__input_sms, .modal-order-new__button {
      display: block;
      margin-top: 0;
      margin-bottom: 0;
      width: 255px;
      height: 50px;
      @include media(lg) {
        height: 45px;
      }
      @include media(xs) {
        width: 100%;
        height: 50px;
      }
    }
    .modal-order-new__button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .blog-info-2__button {
      width: 255px;
      @include media(xs) {
        width: 100%;
      }
    }
    .blog-info-2__bottom {
      display: none;
    }
    .blog-info-2__title {
      margin-bottom: 32px;
      @include media(lg) {
        margin-bottom: 20px;
      }
    }
    .form-enter-sms-text {
      font-size: 18px;
      @include media(lg) {
        margin-bottom: 0;
        font-size: 16px;
      }
      @include media(xs) {
        line-height: 125%;
      }
      span {
        @include media(xs) {
          display: block;
        }
      }
    }
    .form-enter-sms-call {
      margin-bottom: 5px;
      @include media(lg) {
        margin-bottom: 0;
        font-size: 16px;
        line-height: 125%;
      }
    }
    .form-enter-sms-btn-transparent {
      @include media(xs) {
        height: 50px;
      }
    }
    .form-enter-sms-note {
      margin-top: 0;
      text-align: left;
    }
  }
}

.blog-info-2__title {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 45px;
  line-height: 100%;
  color: #FFFFFF;
  max-width: 583px;
  width: 100%;
  @include media(lg) {
    margin-bottom: 20px;
    font-size: 25px;
    max-width: 410px;
  }
  @include media(xs) {
    margin-bottom: 10px;
  }
  span {
    position: relative;
    top: -5px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    padding: 6px 10px;
    background: rgba(#fff, .26);
    @include media(lg) {
      display: inline-block;
      font-size: 15px;
      border-radius: 4px;
      position: static;
      margin-top: 12px;
      margin-left: 0;
      padding: 1px 7px;
    }
  }
}

.blog-info-2__picture {
  position: absolute;
  top: 69px;
  right: 29px;
  width: 304px;
  height: 258px;
  @include media(lg) {
    top: 16px;
    right: 20px;
    width: 167px;
    height: 140px;
  }
  @include media(xs) {
    position: static;
    width: 268px;
    height: 198px;
    margin: 0 auto;
  }
  @include media(xxs) {
    width: 217px;
    height: 163px;
    margin: 0 0 0 15px;
  }
}

.blog-info-2__image {
  height: 100%;
}

.blog-info-2__note {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: #fff;
  @include media(lg) {
    font-size: 15px;
    position: absolute;
    top: 134px;
    right: 45px;
  }
  @include media(xs) {
    position: static;
    text-align: center;
    margin: -30px 0 35px;
    font-size: 20px;
  }
  @include media(xxs) {
    font-size: 16px;
    margin: -20px 0 20px;
  }
  span {
    font-weight: 700;
    border-radius: 4px;
    background: #f37e60;
    padding: 2px 6px;
    margin-left: 8px;
    @include media(lg) {
      display: none;
    }
  }
}

.blog-info-2__area {

}

.blog-info-2__top {
  margin-bottom: 22px;
  display: flex;
  gap: 25px;
  @include media(xs) {
    flex-direction: column;
    margin-bottom: 20px;
  }
}

.blog-info-2__input {
  width: 255px;
  height: 50px;
  @include media(lg) {
    font-size: 15px;
    height: 45px;
  }
  @include media(xs) {
    width: 100%;
    height: 50px;
  }
  @include media(xxs) {
    height: 45px;
  }
}

.blog-info-2__button {
  width: 224px;
  height: 50px;
  font-size: 16px;
  @include media(lg) {
    height: 45px;
    width: 185px;
    padding: 10px;
    font-size: 15px;
  }
  @include media(xs) {
    width: 100%;
    height: 50px;
  }
  @include media(xxs) {
    height: 45px;
  }
}

.blog-info-2__bottom {
  display: flex;
  gap: 25px;
  @include media(lg) {
    gap: 10px;
  }
  @include media(xs) {
    flex-direction: column;
    gap: 16px;
  }
}

.blog-info-2__label {
  color: rgba(#fff, 0.75);
  &:first-child {
    width: 383px;
    @include media(lg) {
      width: 328px;
    }
    @include media(xs) {
      width: 100%;
    }
  }
  &:last-child {
    width: 193px;
    @include media(lg) {
      width: 260px;
    }
    @include media(xs) {
      width: 100%;
    }
  }
}

.blog-info-2__checkbox {

}

.blog-info-2__checkbox-view {

}

.blog-info-2__checkbox-text {
  font-size: 14px;
  @include media(lg) {
    font-size: 14px;
  }
  br {
    @include media(lg) {
      display: none;
    }
  }
}
