.blog-info-5 {
  margin: 50px 0;
  position: relative;
  border-radius: 20px;
  padding: 40px 50px;
  @include bg-icon('blog-info-5/bg.png');
  @include media(lg) {
    margin: 30px 0;
    border-radius: 10px;
    padding: 20px 25px 20px;
    @include bg-icon('blog-info-5/bg_tablet.png');
  }
  @include media(xs) {
    margin: 30px auto;
    padding: 20px;
    background-size: cover;
  }
  @include media(xxs) {
    padding: 20px 15px;
    background-size: cover;
  }
  * {
    font-family: $font_main;
  }
  &.form-enter-sms-code {
    min-height: 462px;
    @include media(lg) {
      min-height: auto;
    }
    .blog-info-5__top {
      flex-direction: column;
      gap: 20px;
      align-items: flex-start;
    }
    .form-enter-sms-resend {
      width: auto;
    }
    .form-enter-sms-text, .form-enter-sms-resend, .form-enter-sms-phone, .form-enter-sms-call, .form-enter-sms-note {
      color: #fff;
    }
    .form-enter-sms-btn-transparent {
      color: #fff !important;
    }
    .blog-info-5__title {
      min-height: 135px;
      @include media(lg) {
        min-height: unset;
      }
    }
    .input-white, .iti.iti--allow-dropdown.iti--show-flags {
      display: none;
    }
    .checkbox-white-label {
      opacity: 0;
      @include media(xs) {
        display: none;
      }
    }
    .modal-order-new__input_sms, .modal-order-new__button {
      display: block;
      margin-top: 0;
      margin-bottom: 0;
      width: 255px;
      height: 50px;
      @include media(lg) {
        height: 45px;
      }
      @include media(xs) {
        width: 100%;
        height: 50px;
      }
    }
  }
}

.blog-info-5__title {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 45px;
  line-height: 100%;
  color: #fff;
  max-width: 468px;
  width: 100%;
  @include media(lg) {
    margin-bottom: 22px;
    font-size: 25px;
    max-width: 410px;
  }
  @include media(xs) {
    margin-bottom: 10px;
  }
}

.blog-info-5__picture {
  position: absolute;
  top: 38px;
  right: 18px;
  width: 433px;
  height: 427px;
  @include media(lg) {
    top: 33px;
    right: 20px;
    width: 181px;
    height: 179px;
  }
  @include media(xs) {
    position: static;
    width: 257px;
    height: 254px;
    margin: 0 auto -18px;
  }
  @include media(xxs) {
    width: 207px;
    height: 201px;
    margin: 0 auto 10px;
  }
}

.blog-info-5__image {
  height: 100%;
}

.blog-info-5__note {
  margin-bottom: 25px;
  max-width: 420px;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
  @include media(lg) {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 23px;
    max-width: 450px;
  }
  @include media(xs) {
    font-size: 15px;
  }
  span {
    background: #f37e60;
    border-radius: 4px;
    font-weight: 700;
    padding: 0 6px 2px;
    margin-left: 2px;
    @include media(lg) {
      padding: 1px 3px;
      position: relative;
      top: 2px;
      margin-left: 3px;
    }
  }
}

.blog-info-5__area {

}

.blog-info-5__top {
  margin-bottom: 25px;
  display: flex;
  gap: 25px;
  @include media(lg) {
    margin-bottom: 20px;
  }
  @include media(xs) {
    flex-direction: column;
    margin-bottom: 20px;
  }
}

.blog-info-5__input {
  width: 255px;
  height: 50px;
  @include media(lg) {
    font-size: 15px;
    height: 45px;
  }
  @include media(xs) {
    width: 100%;
    height: 50px;
  }
  @include media(xxs) {
    height: 45px;
  }
}

.blog-info-5__button {
  width: 232px;
  height: 50px;
  font-size: 16px;
  @include media(lg) {
    height: 45px;
    width: 185px;
    padding: 10px;
    font-size: 15px;
  }
  @include media(xs) {
    width: 100%;
    height: 50px;
  }
  @include media(xxs) {
    height: 45px;
  }
}

.blog-info-5__bottom {
  position: relative;
  z-index: 1;
  display: flex;
  gap: 25px;
  max-width: 596px;
  @include media(lg) {
    gap: 10px;
  }
  @include media(xs) {
    flex-direction: column;
    gap: 16px;
  }
  &::before {
    content: '';
    background: linear-gradient(90deg, rgba(108, 137, 200, 0) 0%, #6c89c8 100%);
    width: 357px;
    height: 48px;
    border-radius: 0 5px 5px 0;
    opacity: 0.47;
    position: absolute;
    z-index: -1;
    top: -6px;
    right: -14px;
    @include media(lg) {
      content: none;
    }
  }
}

.blog-info-5__label {
  color: rgba(#fff, 0.75);
  &:first-child {
    width: 383px;
    @include media(lg) {
      width: 328px;
    }
    @include media(xs) {
      width: 100%;
    }
  }
}

.blog-info-5__checkbox {

}

.blog-info-5__checkbox-view {

}

.blog-info-5__checkbox-text {
  font-size: 14px;
  @include media(lg) {
    font-size: 14px;
  }
  br {
    @include media(lg) {
      display: none;
    }
  }
}
