.blog-info-19 {
  margin: 50px 0;
  position: relative;
  border-radius: 20px;
  padding: 40px 50px;
  @include bg-icon('blog-info-19/bg.png');
  background-size: cover;
  @include media(lg) {
    margin: 30px 0;
    border-radius: 10px;
    padding: 20px 25px 20px;
    @include bg-icon('blog-info-19/bg_tablet.png');
    background-size: cover;
  }
  @include media(xs) {
    margin: 30px auto;
    padding: 20px;
    @include bg-icon('blog-info-19/bg_mob.png');
    background-size: cover;
  }
  @include media(xxs) {
    padding: 20px 15px;
    @include bg-icon('blog-info-19/bg_xxs.png');
    background-size: cover;
  }
  * {
    font-family: $font_main;
  }
  &.form-enter-sms-code {
    .blog-info-19__top {
      flex-direction: column;
      gap: 20px;
      align-items: flex-start;
      margin-bottom: 10px;
    }
    .form-enter-sms-resend {
      width: auto;
      margin-top: 12px;
      text-align: left;
      @include media(xs) {
        margin-top: 0;
      }
    }
    .form-enter-sms-text, .form-enter-sms-resend, .form-enter-sms-phone, .form-enter-sms-call, .form-enter-sms-note {
      color: #fff;
    }
    .form-enter-sms-btn-transparent {
      color: #fff !important;
    }
    .input-white, .iti.iti--allow-dropdown.iti--show-flags {
      display: none;
    }
    .checkbox-white-label {
      display: none;
    }
    .modal-order-new__input_sms, .modal-order-new__button {
      display: block;
      margin-top: 0;
      margin-bottom: 0;
      width: 100%;
      height: 50px;
      @include media(lg) {
        height: 45px;
      }
      @include media(xs) {
        width: 100%;
        height: 50px;
      }
    }
    .modal-order-new__button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .blog-info-19__bottom {
      display: none;
    }
    .blog-info-19__title {
      margin-bottom: 32px;
      @include media(lg) {
        margin-bottom: 20px;
      }
    }
    .form-enter-sms-text {
      font-size: 18px;
      line-height: 125%;
      @include media(lg) {
        margin-bottom: 0;
        font-size: 16px;
      }
      span {
        display: block;
      }
    }
    .form-enter-sms-call {
      margin-bottom: 5px;
      @include media(lg) {
        margin-bottom: 0;
        font-size: 16px;
        line-height: 125%;
      }
    }
    .form-enter-sms-btn-transparent {
      @include media(xs) {
        height: 50px;
      }
    }
    .form-enter-sms-note {
      margin-top: 0;
      text-align: left;
    }
  }
}

.blog-info-19__title {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 38px;
  line-height: 113%;
  color: #FFFFFF;
  width: 100%;
  max-width: 470px;
  @include media(lg) {
    max-width: 100%;
    margin-bottom: 23px;
    font-size: 25px;
  }
  @include media(xs) {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 302px;
  }
  @include media(xxs) {
    font-size: 22px;
    max-width: 272px;
  }
  span {
    position: relative;
    top: -5px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    padding: 6px 10px;
    background: rgba(#fff, .26);
    @include media(lg) {
      display: inline-block;
      font-size: 15px;
      border-radius: 4px;
      position: static;
      margin-top: 12px;
      margin-left: 0;
      padding: 1px 7px;
    }
  }
}

.blog-info-19__picture {
  position: absolute;
  bottom: 18px;
  right: 45px;
  width: 391px;
  height: 459px;
  @include media(lg) {
    width: 297px;
    height: 296px;
    right: 58px;
    bottom: 0;
  }
  @include media(xs) {
    position: static;
    width: 242px;
    height: 284px;
    margin-left: 26px;
    margin-bottom: -95px;
  }
  @include media(xxs) {
    width: 242px;
    height: 284px;
    margin-left: 14px;
    margin-bottom: -78px;
  }
}

.blog-info-19__image {
  height: 100%;
}

.blog-info-19__wrap {
  @include media(xs) {
    position: relative;
    z-index: 1;
    padding: 30px 20px;
    margin: 0 -20px -20px;
    @include bg-icon('blog-info-19/ellipse.svg');
    border-radius: 0 0 10px 10px;
  }
  @include media(xxs) {
    margin: 0 -15px -20px;
    padding: 30px 15px;
  }
}

.blog-info-19__note {
  margin-bottom: 25px;
  max-width: 372px;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  @include media(lg) {
    margin-bottom: 18px;
    max-width: 360px;
    font-size: 15px;
    line-height: 19px;
  }
  @include media(xs) {
    max-width: 100%;
  }
}

.blog-info-19__area {

}

.blog-info-19__top {
  margin-bottom: 22px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  max-width: 281px;
  width: 100%;
  @include media(lg) {
    max-width: 255px;
  }
  @include media(xs) {
    margin-bottom: 20px;
    max-width: 100%;
  }
}

.blog-info-19__input {
  width: 100%;
  height: 50px;
  @include media(lg) {
    font-size: 15px;
    height: 45px;
  }
  @include media(xs) {
    height: 50px;
  }
  @include media(xxs) {
    height: 45px;
  }
}

.blog-info-19__button {
  margin-top: 5px;
  width: 100%;
  height: 50px;
  font-size: 16px;
  @include media(lg) {
    height: 45px;
    padding: 10px;
    font-size: 15px;
  }
  @include media(xs) {
    height: 50px;
  }
  @include media(xxs) {
    height: 45px;
  }
}

.blog-info-19__bottom {
  display: flex;
  gap: 15px;
  flex-direction: column;
  @include media(lg) {
    gap: 10px;
  }
  @include media(xs) {
    gap: 16px;
  }
}

.blog-info-19__label {
  color: rgba(#fff, 0.75);
  &:first-child {
    width: 290px;
    @include media(lg) {
      width: 260px;
    }
    @include media(xs) {
      width: 100%;
    }
  }
}

.blog-info-19__checkbox {

}

.blog-info-19__checkbox-view {

}

.blog-info-19__checkbox-text {
  font-size: 14px;
  @include media(lg) {
    font-size: 14px;
  }
  br {
    @include media(lg) {
      display: none;
    }
  }
}
