.blog-info-4 {
  margin: 50px 0;
  position: relative;
  border-radius: 20px;
  padding: 40px 50px;
  @include bg-icon('blog-info-4/bg.png');
  @include media(lg) {
    margin: 30px 0;
    border-radius: 10px;
    padding: 20px 25px 20px;
    @include bg-icon('blog-info-4/bg_tablet.png');
  }
  @include media(xs) {
    margin: 30px auto;
    padding: 20px;
    @include bg-icon('blog-info-4/bg_mob.png');
  }
  @include media(xxs) {
    padding: 20px 15px;
    @include bg-icon('blog-info-4/bg_xxs.png');
  }
  * {
    font-family: $font_main;
  }
  &.form-enter-sms-code {
    .input-white, .iti.iti--allow-dropdown.iti--show-flags {
      display: none;
    }
    .checkbox-white-label {
      opacity: 0;
      @include media(xs) {
        display: none;
      }
    }
    .modal-order-new__input_sms, .modal-order-new__button {
      display: block;
      margin-top: 0;
      margin-bottom: 0;
      width: 255px;
      height: 50px;
      @include media(lg) {
        height: 45px;
      }
      @include media(xs) {
        width: 100%;
        height: 50px;
      }
    }
  }
}

.blog-info-4__title {
  margin-bottom: 39px;
  font-weight: 500;
  font-size: 45px;
  line-height: 100%;
  color: #fff;
  max-width: 583px;
  width: 100%;
  @include media(lg) {
    margin-bottom: 26px;
    font-size: 25px;
    max-width: 410px;
  }
  @include media(xs) {
    margin-bottom: 10px;
  }
}

.blog-info-4__picture {
  position: absolute;
  top: 52px;
  right: 36px;
  width: 261px;
  height: 254px;
  @include media(lg) {
    top: 22px;
    right: 22px;
    width: 166px;
    height: 162px;
  }
  @include media(xs) {
    position: static;
    width: 207px;
    height: 201px;
    margin: 0 auto 10px;
  }
  @include media(xxs) {
    width: 207px;
    height: 201px;
    margin: 0 auto 10px;
  }
}

.blog-info-4__image {
  height: 100%;
}

.blog-info-4__note {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
  @include media(lg) {
    margin-bottom: 20px;
    font-size: 18px;
    max-width: 335px;
  }
  @include media(xs) {
    font-size: 15px;
    max-width: 240px;
  }
}

.blog-info-4__area {

}

.blog-info-4__top {
  margin-bottom: 25px;
  display: flex;
  gap: 25px;
  @include media(lg) {
    margin-bottom: 20px;
  }
  @include media(xs) {
    flex-direction: column;
    margin-bottom: 20px;
  }
}

.blog-info-4__input {
  width: 255px;
  height: 50px;
  @include media(lg) {
    font-size: 15px;
    height: 45px;
  }
  @include media(xs) {
    width: 100%;
    height: 50px;
  }
  @include media(xxs) {
    height: 45px;
  }
}

.blog-info-4__button {
  width: 232px;
  height: 50px;
  font-size: 16px;
  @include media(lg) {
    height: 45px;
    width: 185px;
    padding: 10px;
    font-size: 15px;
  }
  @include media(xs) {
    width: 100%;
    height: 50px;
  }
  @include media(xxs) {
    height: 45px;
  }
}

.blog-info-4__bottom {
  display: flex;
  gap: 25px;
  @include media(lg) {
    gap: 10px;
  }
  @include media(xs) {
    flex-direction: column;
    gap: 16px;
  }
}

.blog-info-4__label {
  color: rgba(#fff, 0.75);
  &:first-child {
    width: 383px;
    @include media(lg) {
      width: 328px;
    }
    @include media(xs) {
      width: 100%;
    }
  }
}

.blog-info-4__checkbox {

}

.blog-info-4__checkbox-view {

}

.blog-info-4__checkbox-text {
  font-size: 14px;
  @include media(lg) {
    font-size: 14px;
  }
  br {
    @include media(lg) {
      display: none;
    }
  }
}
