.blog-info-11 {
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.04);
  margin: 50px 0;
  position: relative;
  border-radius: 20px;
  padding: 40px 50px;
  @include bg-icon('blog-info-11/bg.png');
  @include media(lg) {
    margin: 30px 0;
    border-radius: 10px;
    padding: 20px 25px 20px;
    @include bg-icon('blog-info-11/bg_tablet.png');
  }
  @include media(xs) {
    margin: 30px auto;
    padding: 20px;
    @include bg-icon('blog-info-11/bg_mob.png');
    background-size: cover;
  }
  @include media(xxs) {
    padding: 20px 15px;
    @include bg-icon('blog-info-11/bg_xxs.png');
    background-size: cover;
  }
  * {
    font-family: $font_main;
  }
  &.form-enter-sms-code {
    .input-white, .iti.iti--allow-dropdown.iti--show-flags {
      display: none;
    }
    .checkbox-white-label {
      opacity: 0;
      @include media(xs) {
        display: none;
      }
    }
    .modal-order-new__input_sms, .modal-order-new__button {
      display: block;
      margin-top: 0;
      margin-bottom: 0;
      width: 255px;
      height: 50px;
      @include media(lg) {
        height: 45px;
      }
      @include media(xs) {
        width: 100%;
        height: 50px;
      }
    }
  }
}

.blog-info-11__title {
  margin-bottom: 31px;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #fff;
  max-width: 612px;
  width: 100%;
  @include media(lg) {
    margin-bottom: 26px;
    font-size: 25px;
    line-height: 100%;
    max-width: 492px;
  }
  @include media(xs) {
    margin-bottom: 10px;
  }
}

.blog-info-11__picture {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 359px;
  height: 374px;
  @include media(lg) {
    width: 165px;
    height: 170px;
    bottom: 74px;
    right: 0;
  }
  @include media(xs) {
    position: static;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  @include media(xxs) {
    width: 243px;
    margin: 0 auto 15px;
  }
}

.blog-info-11__image {
  height: 100%;
  border-radius: 0 0 20px 0;
  @include media(lg) {
    border-radius: 0;
  }
}

.blog-info-11__note {
  margin-bottom: 24px;
  max-width: 480px;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  @include media(lg) {
    margin-bottom: 20px;
    line-height: 139%;
  }
  @include media(xs) {
    margin-bottom: 20px;
    line-height: 23px;
  }
  @include media(xxs) {
    margin-bottom: 15px;
  }
  span {
    font-weight: 700;
    color: #FFFFFF;
    background: #f37e60;
    border-radius: 4px;
    padding: 0 6px 2px;
    margin-left: 2px;
  }
}

.blog-info-11__area {

}

.blog-info-11__top {
  margin-bottom: 25px;
  display: flex;
  gap: 25px;
  @include media(lg) {
    margin-bottom: 20px;
  }
  @include media(xs) {
    flex-direction: column;
    margin-bottom: 20px;
  }
}

.blog-info-11__input {
  width: 255px;
  height: 50px;
  @include media(lg) {
    font-size: 15px;
    height: 45px;
  }
  @include media(xs) {
    width: 100%;
    height: 50px;
  }
  @include media(xxs) {
    height: 45px;
  }
}

.blog-info-11__button {
  padding: 5px;
  width: 195px;
  height: 50px;
  font-size: 16px;
  @include media(lg) {
    height: 45px;
    width: 185px;
    font-size: 15px;
  }
  @include media(xs) {
    width: 100%;
    height: 50px;
  }
  @include media(xxs) {
    height: 45px;
  }
}

.blog-info-11__bottom {
  display: flex;
  gap: 25px;
  position: relative;
  z-index: 1;
  max-width: 576px;
  width: 100%;
  @include media(lg) {
    gap: 15px;
    max-width: 100%;
  }
  @include media(xs) {
    flex-direction: column;
    gap: 16px;
  }
  &::before {
    content: '';
    background: linear-gradient(90deg, rgba(108, 137, 200, 0) 0%, #6c89c8 100%);
    width: 357px;
    height: 48px;
    border-radius: 0 5px 5px 0;
    opacity: 0.47;
    position: absolute;
    z-index: -1;
    top: -6px;
    right: -14px;
    @include media(lg) {
      content: none;
    }
  }
}

.blog-info-11__label {
  color: rgba(#fff, 0.75);
  &:first-child {
    width: 383px;
    @include media(lg) {
      width: 328px;
    }
    @include media(xs) {
      width: 100%;
    }
  }
}

.blog-info-11__checkbox {

}

.blog-info-11__checkbox-view {

}

.blog-info-11__checkbox-text {
  font-size: 14px;
  @include media(lg) {
    font-size: 14px;
  }
  br {
    @include media(xs) {
      display: none;
    }
  }
}
