.blog-info-20 {
  margin: 50px 0;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  padding: 40px 50px;
  min-height: 555px;
  @include bg-icon('blog-info-20/bg.png');
  background-size: cover;
  @include media(lg) {
    margin: 30px 0;
    border-radius: 10px;
    padding: 20px 25px 20px;
    @include bg-icon('blog-info-20/bg_tablet.png');
    background-size: cover;
    min-height: 443px;
  }
  @include media(xs) {
    margin: 30px auto;
    padding: 20px;
    @include bg-icon('blog-info-20/bg_mob.png');
    background-size: cover;
    min-height: auto;
  }
  @include media(xxs) {
    padding: 20px 15px;
    @include bg-icon('blog-info-20/bg_xxs.png');
    background-size: cover;
  }
  * {
    font-family: $font_main;
  }
}

.blog-info-20__tag {
  display: inline-block;
  margin-bottom: 8px;
  border-radius: 8px;
  padding: 5px 11px 6px;
  background: rgba(255, 255, 255, 0.26);
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
  @include media(lg) {
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 15px;
  }
}

.blog-info-20__title {
  margin-bottom: 26px;
  font-weight: 500;
  font-size: 32px;
  line-height: 112%;
  color: #FFFFFF;
  width: 100%;
  max-width: 362px;
  @include media(lg) {
    max-width: 484px;
    margin-bottom: 23px;
    font-size: 25px;
  }
  @include media(xs) {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
  }
  @include media(xxs) {
    font-size: 22px;
    max-width: 250px;
  }
  span {
    position: relative;
    top: -5px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    padding: 6px 10px;
    background: rgba(#fff, .26);
    @include media(lg) {
      display: inline-block;
      font-size: 15px;
      border-radius: 4px;
      position: static;
      margin-top: 12px;
      margin-left: 0;
      padding: 1px 7px;
    }
  }
}

.blog-info-20__picture {
  position: absolute;
  bottom: 0;
  right: 53px;
  width: 407px;
  height: 497px;
  @include media(lg) {
    width: 317px;
    height: 336px;
    right: 34px;
  }
  @include media(xs) {
    position: static;
    width: 229px;
    height: 316px;
    margin-left: 37px;
    margin-bottom: -158px;
  }
  @include media(xxs) {
    width: 229px;
    height: 316px;
    margin-left: 15px;
    margin-bottom: -165px;
  }
}

.blog-info-20__image {
  height: 100%;
}

.blog-info-20__wrap {
  @include media(xs) {
    position: relative;
    z-index: 1;
    padding: 30px 20px;
    margin: 0 -20px -20px;
    @include bg-icon('blog-info-20/ellipse.svg');
  }
  @include media(xxs) {
    margin: 0 -15px -20px;
    padding: 30px 15px;
  }
}

.blog-info-20__area {

}

.blog-info-20__top {
  margin-bottom: 22px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  max-width: 281px;
  width: 100%;
  @include media(lg) {
    max-width: 255px;
  }
  @include media(xs) {
    margin-bottom: 20px;
    max-width: 100%;
  }
}

.blog-info-20__input {
  width: 100%;
  height: 50px;
  @include media(lg) {
    font-size: 15px;
    height: 45px;
  }
  @include media(xs) {
    height: 50px;
  }
  @include media(xxs) {
    height: 45px;
  }
}

.blog-info-20__button {
  margin-top: 5px;
  width: 100%;
  height: 50px;
  font-size: 16px;
  @include media(lg) {
    height: 45px;
    padding: 10px;
    font-size: 15px;
  }
  @include media(xs) {
    height: 50px;
  }
  @include media(xxs) {
    height: 45px;
  }
}

.blog-info-20__bottom {
  display: flex;
  gap: 15px;
  flex-direction: column;
  @include media(lg) {
    gap: 10px;
  }
  @include media(xs) {
    gap: 16px;
  }
}

.blog-info-20__label {
  color: rgba(#fff, 0.75);
  &:first-child {
    width: 290px;
    @include media(lg) {
      width: 260px;
    }
    @include media(xs) {
      width: 100%;
    }
  }
}

.blog-info-20__checkbox {

}

.blog-info-20__checkbox-view {

}

.blog-info-20__checkbox-text {
  font-size: 14px;
  @include media(lg) {
    font-size: 14px;
  }
  br {
    @include media(lg) {
      display: none;
    }
  }
}
