.cap-list {
  gap: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include media(lg) {
    gap: 12px;
  }
  @include media(xs) {
    gap: 15px;
  }
}

.cap-list__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.04);
  background: #fff;
  width: calc(25% - 19px);
  padding: 20px 25px;
  overflow: hidden;
  min-height: 196px;
  @include media(lg) {
    border-radius: 10px;
    width: calc(50% - 6px);
    padding: 16px 20px;
    min-height: 88px;
  }
  @include media(xs) {
    width: 100%;
    min-height: 74px;
    padding: 10px 12px;
  }
  &_wide {
    width: calc(50% - 13px);
    flex-direction: row;
    min-height: 172px;
    @include media(lg) {
      width: calc(50% - 6px);
      min-height: 88px;
      flex-direction: column;
    }
    @include media(xs) {
      min-height: 74px;
      width: 100%;
    }
    .cap-list__button {
      position: absolute;
      bottom: 25px;
      left: 25px;
      @include media(lg) {
        padding: 0;
        width: 22px;
        height: 22px;
        bottom: unset;
        left: unset;
        right: 13px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .cap-list__tags {
      max-width: 276px;
      width: 100%;
      @include media(lg) {
        max-width: unset;
      }
    }
    .cap-list__tag {
      background: rgba(255, 255, 255, 0.39);
      color: #003c56;
      @include media(lg) {
        display: none;
        color: #6683c2;
      }
    }
  }
  &_summer {
    background: radial-gradient(291.29% 148.49% at 81.8% 79.89%, #eef4c9 0%, #a1e39a 100%);
  }
  &_family {
    background: radial-gradient(228.28% 137.53% at 85.56% 75.29%, #dae5fe 0%, #bedaff 100%);
  }
}

.cap-list__title {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 104%;
  max-width: 151px;
  width: 100%;
  margin-right: 5px;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 12px;
    font-size: 16px;
    margin-right: 0;
    max-width: unset;
  }
  br {
    @include media(lg) {
      display: none;
    }
  }
}

.cap-list__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.cap-list__tag {
  font-size: 14px;
  line-height: 100%;
  color: #6683c2;
  min-height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 12px;
  background: rgba(102, 131, 194, 0.08);
  border-radius: 33px;
  @include media(lg) {
    min-height: 25px;
    font-size: 12px;
  }
  &.mob {
    display: none;
    @include media(lg) {
      display: flex;
    }
  }
  &.desc {
    @include media(lg) {
      display: none;
    }
  }
}

.cap-list__decor {
  position: absolute;
  &_1 {
    width: 115px;
    height: 95px;
    bottom: 0;
    right: 0;
    @include bg-icon('cap/cap-decor-1.svg');
    @include media(lg) {
      @include bg-icon('cap/cap-decor-1_tablet.svg');
      width: 123px;
      height: 88px;
      right: 35px;
    }
    @include media(xs) {
      width: 101px;
      height: 74px;
      @include bg-icon('cap/cap-decor-1_mob.svg');
    }
  }
  &_2 {
    width: 126px;
    height: 139px;
    bottom: 0;
    right: 0;
    @include bg-icon('cap/cap-decor-2.svg');
    @include media(lg) {
      width: 98px;
      height: 88px;
      right: 50px;
      @include bg-icon('cap/cap-decor-2_tablet.svg');
    }
    @include media(xs) {
      width: 86px;
      height: 74px;
      right: 39px;
      @include bg-icon('cap/cap-decor-2_mob.svg');
    }
  }
  &_3 {
    width: 117px;
    height: 105px;
    bottom: 0;
    right: 0;
    @include bg-icon('cap/cap-decor-3.svg');
    @include media(lg) {
      width: 110px;
      height: 88px;
      right: 47px;
      @include bg-icon('cap/cap-decor-3_tablet.svg');
    }
    @include media(xs) {
      width: 93px;
      height: 74px;
      right: 41px;
      @include bg-icon('cap/cap-decor-3_mob.svg');
    }
  }
  &_4 {
    width: 115px;
    height: 95px;
    bottom: 0;
    right: 0;
    @include bg-icon('cap/cap-decor-4.svg');
    @include media(lg) {
      width: 123px;
      height: 88px;
      right: 41px;
      @include bg-icon('cap/cap-decor-4_tablet.svg');
    }
    @include media(xs) {
      width: 101px;
      height: 74px;
      right: 37px;
      @include bg-icon('cap/cap-decor-4_mob.svg');
    }
  }
  &_5 {
    width: 159px;
    height: 144px;
    bottom: 0;
    right: 0;
    @include bg-icon('cap/cap-decor-5.svg');
    @include media(lg) {
      width: 138px;
      height: 88px;
      right: 41px;
      @include bg-icon('cap/cap-decor-5_tablet.svg');
    }
    @include media(xs) {
      width: 101px;
      height: 74px;
      right: 37px;
      @include bg-icon('cap/cap-decor-5_mob.svg');
    }
  }
  &_6 {
    width: 235px;
    height: 172px;
    bottom: 0;
    right: 0;
    @include bg-icon('cap/cap-decor-6.svg');
    @include media(lg) {
      width: 164px;
      height: 88px;
      @include bg-icon('cap/cap-decor-6_tablet.svg');
    }
    @include media(xs) {
      width: 133px;
      height: 74px;
      @include bg-icon('cap/cap-decor-6_mob.svg');
    }
  }
}

.cap-list__button {
  margin-top: 25px;
  @include media(lg) {
    margin-top: 0;
    position: absolute;
    width: 22px;
    height: 22px;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &::before {
    content: '';
    width: 12px;
    height: 10px;
    @include bg-icon('icons/ic_arrow_btn_white.svg');
  }
  span {
    font-weight: 600;
    @include media(lg) {
      display: none;
    }
  }
}
