.cap-list {
  gap: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include media(lg) {
    gap: 12px;
  }
  @include media(xs) {
    gap: 15px;
  }
}

.cap-list__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.04);
  background: #fff;
  width: calc(25% - 19px);
  padding: 20px 25px;
  overflow: hidden;
  min-height: 196px;
  @include media(lg) {
    border-radius: 10px;
    width: calc(50% - 6px);
    padding: 16px 20px;
    min-height: 88px;
  }
  @include media(xs) {
    width: 100%;
    min-height: 100px;
    padding: 10px 20px;
    justify-content: center;
  }
  @media (max-width: 360.98px) {
    min-height: 90px;
    padding: 10px 15px;
  }
  &:nth-child(1) .cap-list__discount {
    @include media(lg) {
      top: 15px;
      left: 142px;
    }
    @include media(xs) {
      top: 22px;
      left: 157px;
    }
    @include media(xxs) {
      top: 17px;
      left: 143px;
    }
  }
  &:nth-child(2) .cap-list__discount {
    @include media(lg) {
      top: 44px;
      left: 105px;
    }
    @include media(xs) {
      top: 53px;
      left: 108px;
    }
    @include media(xxs) {
      top: 48px;
      left: 102px;
    }
  }
  &:nth-child(3) .cap-list__discount {
    @include media(lg) {
      top: 45px;
      left: 106px;
    }
    @include media(xs) {
      top: 53px;
      left: 109px;
    }
    @include media(xxs) {
      top: 48px;
      left: 102px;
    }
  }
  &:nth-child(4) .cap-list__discount {
    @include media(lg) {
      top: 45px;
      left: 110px;
    }
    @include media(xs) {
      top: 53px;
      left: 109px;
    }
    @include media(xxs) {
      top: 48px;
      left: 106px;
    }
  }
  &_wide {
    width: calc(50% - 13px);
    flex-direction: row;
    min-height: 172px;
    @include media(lg) {
      width: calc(50% - 6px);
      min-height: 88px;
      flex-direction: column;
    }
    @include media(xs) {
      min-height: 100px;
      width: 100%;
    }
    @media (max-width: 360.98px) {
      min-height: 90px;
    }
    .cap-list__title {
      max-width: 152px;
      width: 100%;
      @include media(lg) {
        max-width: 171px;
      }
      @include media(xs) {
        max-width: 100%;
      }
    }
    .cap-list__button {
      position: absolute;
      bottom: 25px;
      left: 25px;
      @include media(lg) {
        padding: 0;
        width: 22px;
        height: 22px;
        bottom: unset;
        left: unset;
        right: 13px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .cap-list__tags {
      max-width: 276px;
      width: 100%;
      @include media(lg) {
        max-width: unset;
      }
    }
    .cap-list__tag {
      background: rgba(255, 255, 255, 0.39);
      color: #003c56;
      @include media(lg) {
        display: none;
        color: #6683c2;
      }
    }
  }
  &_summer {
    background: radial-gradient(291.29% 148.49% at 81.8% 79.89%, #eef4c9 0%, #a1e39a 100%);
    .cap-list__title {
      color: #003C56;
    }
  }
  &_family {
    background: radial-gradient(228.28% 137.53% at 85.56% 75.29%, #dae5fe 0%, #bedaff 100%);
    .cap-list__tags {
      max-width: 340px;
    }
    .cap-list__discount {
      top: 16px;
      @include media(lg) {
        top: 45px;
        left: 108px;
      }
      @include media(xs) {
        top: 53px;
        left: 109px;
      }
      @include media(xxs) {
        top: 49px;
        left: 105px;
      }
    }
  }
  &_fam {
    background: radial-gradient(80% 170% at 90.82% 82.4%, #a6cfff 0%, #edf7ff 100%);
    min-height: 196px;
    @include media(lg) {
      min-height: 90px;
    }
    @include media(xs) {
      min-height: 100px;
    }
    @include media(xxs) {
      min-height: 90px;
    }
    .cap-list__tag {
      background: rgba(255, 255, 255, 0.39);
    }
    .cap-list__decor {
      position: absolute;
      width: 236px;
      height: 172px;
      bottom: 0;
      right: 0;
      @include bg-icon('cap/cap-decor-fam.svg');
      @include media(lg) {
        width: 202px;
        height: 90px;
        @include bg-icon('cap/cap-decor-fam_tablet.svg');
      }
      @include media(xs) {
        width: 210px;
        height: 100px;
        @include bg-icon('cap/cap-decor-fam_mob.svg');
      }
      @include media(xs) {
        right: -5px;
        width: 210px;
        height: 100px;
        @include bg-icon('cap/cap-decor-fam_mob.svg');
      }
      @include media(xxs) {
        right: -20px;
        width: 189px;
        height: 90px;
      }
    }
    .cap-list__discount {
      top: 16px;
      @include media(lg) {
        top: 45px;
        left: 108px;
      }
      @include media(xs) {
        top: 53px;
        left: 109px;
      }
      @include media(xxs) {
        top: 49px;
        left: 105px;
      }
    }
  }
  &_it {
    background: radial-gradient(80% 170% at 90.82% 82.4%, #a7bcff 0%, #dfe7ff 100%);
    min-height: 196px;
    @include media(lg) {
      min-height: 90px;
      margin-left: 0;
    }
    @include media(xs) {
      min-height: 100px;
    }
    @include media(xxs) {
      min-height: 90px;
    }
    .cap-list__tags {
      max-width: 372px;
      margin-left: -156px;
      @include media(lg) {
        margin-left: 0;
      }
    }
    .cap-list__tag {
      background: rgba(255, 255, 255, 0.35);
      &:first-child {
        margin-left: 120px;
        @include media(lg) {
          margin-left: 0;
        }
      }
    }
    .cap-list__decor {
      position: absolute;
      width: 350px;
      height: 196px;
      bottom: 0;
      right: 0;
      @include bg-icon('cap/cap-decor-it.png');
      @include media(lg) {
        width: 174px;
        height: 90px;
        right: 36px;
        @include bg-icon('cap/cap-decor-it_tablet.png');
      }
      @include media(xs) {
        width: 163px;
        height: 100px;
        right: 40px;
        @include bg-icon('cap/cap-decor-it_mob.png');
      }
      @include media(xxs) {
        width: 147px;
        height: 90px;
        right: 35px;
      }
    }
    .cap-list__discount {
      top: 16px;
      @include media(lg) {
        top: 14px;
        left: 100px;
      }
      @include media(xs) {
        top: 22px;
        left: 109px;
      }
      @include media(xxs) {
        top: 17px;
        left: 98px;
      }
    }
  }
}

.cap-list__discount {
  position: absolute;
  z-index: 5;
  top: 20px;
  right: 18px;
  width: 26px;
  height: 27px;
  @include bg-icon('cap-list/cap-list-discount.svg');
  @include media(lg) {
    width: 21px;
    height: 22px;
  }
}

.cap-list__title {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 104%;
  margin-right: 5px;
  color: #000000;
  font-weight: 500;
  @include media(lg) {
    margin-bottom: 12px;
    font-size: 16px;
    margin-right: 0;
  }
  @include media(xs) {
    color: #000000;
    font-size: 18px;
  }
  @include media(xxs) {
    font-size: 17px;
  }
  br {
    @include media(lg) {
      display: none;
    }
  }
}

.cap-list__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.cap-list__tag {
  font-size: 14px;
  line-height: 100%;
  color: #6683c2;
  min-height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 12px;
  background: rgba(102, 131, 194, 0.08);
  border-radius: 33px;
  @include media(lg) {
    min-height: 25px;
    font-size: 12px;
  }
  &.mob {
    display: none;
    @include media(lg) {
      display: flex;
    }
  }
  &.desc {
    @include media(lg) {
      display: none;
    }
  }
}

.cap-list__decor {
  position: absolute;
  &_1 {
    width: 115px;
    height: 95px;
    bottom: 0;
    right: 0;
    @include bg-icon('cap/cap-decor-1.svg');
    @include media(lg) {
      @include bg-icon('cap/cap-decor-1_tablet.svg');
      width: 123px;
      height: 88px;
      right: 35px;
    }
    @include media(xs) {
      right: 51px;
      width: 135px;
      height: 92px;
      @include bg-icon('cap/cap-decor-1_mob.svg');
    }
    @media (max-width: 370.98px) {
      width: 129px;
      height: 90px;
      right: 44px;
      background-size: cover;
    }
    @media (max-width: 330.98px) {
      width: 92px;
      height: 80px;
      right: 46px;
      background-size: cover;
    }
  }
  &_2 {
    width: 126px;
    height: 139px;
    bottom: 0;
    right: 0;
    @include bg-icon('cap/cap-decor-2.svg');
    @include media(lg) {
      width: 98px;
      height: 88px;
      right: 50px;
      @include bg-icon('cap/cap-decor-2_tablet.svg');
    }
    @include media(xs) {
      width: 98px;
      height: 88px;
      right: 65px;
      @include bg-icon('cap/cap-decor-2_400.svg');
    }
    @media (max-width: 370.98px) {
      width: 129px;
      height: 90px;
      right: 44px;
      @include bg-icon('cap/cap-decor-2_360.svg');
    }
    @media (max-width: 330.98px) {
      width: 104px;
      height: 90px;
      right: 44px;
      @include bg-icon('cap/cap-decor-2_320.svg');
    }
  }
  &_3 {
    width: 117px;
    height: 105px;
    bottom: 0;
    right: 0;
    @include bg-icon('cap/cap-decor-3.svg');
    @include media(lg) {
      width: 110px;
      height: 88px;
      right: 47px;
      @include bg-icon('cap/cap-decor-3_tablet.svg');
    }
    @include media(xs) {
      width: 110px;
      height: 88px;
      right: 53px;
      @include bg-icon('cap/cap-decor-3_400.svg');
    }
    @media (max-width: 370.98px) {
      width: 108px;
      height: 75px;
      right: 44px;
      @include bg-icon('cap/cap-decor-3_360.svg');
    }
    @media (max-width: 330.98px) {
      width: 102px;
      height: 90px;
      right: 44px;
      @include bg-icon('cap/cap-decor-3_320.svg');
    }
  }
  &_4 {
    width: 115px;
    height: 95px;
    bottom: 0;
    right: 0;
    @include bg-icon('cap/cap-decor-4.svg');
    @include media(lg) {
      width: 123px;
      height: 88px;
      right: 41px;
      @include bg-icon('cap/cap-decor-4_tablet.svg');
    }
    @include media(xs) {
      width: 123px;
      height: 98px;
      right: 53px;
      @include bg-icon('cap/cap-decor-4_400.svg');
    }
    @media (max-width: 370.98px) {
      width: 129px;
      height: 90px;
      right: 44px;
      @include bg-icon('cap/cap-decor-4_360.svg');
    }
    @media (max-width: 330.98px) {
      width: 102px;
      height: 90px;
      right: 44px;
      @include bg-icon('cap/cap-decor-4_320.svg');
    }
  }
  &_5 {
    width: 159px;
    height: 144px;
    bottom: 0;
    right: 0;
    @include bg-icon('cap/cap-decor-5.svg');
    @include media(lg) {
      width: 138px;
      height: 88px;
      right: 41px;
      @include bg-icon('cap/cap-decor-5_tablet.svg');
    }
    @include media(xs) {
      width: 138px;
      height: 94px;
      right: 54px;
      @include bg-icon('cap/cap-decor-5_400.svg');
    }
    @media (max-width: 370.98px) {
      width: 129px;
      height: 90px;
      right: 39px;
      @include bg-icon('cap/cap-decor-5_360.svg');
    }
    @media (max-width: 330.98px) {
      width: 102px;
      height: 90px;
      right: 44px;
      @include bg-icon('cap/cap-decor-5_320.svg');
    }
  }
  &_6 {
    width: 235px;
    height: 172px;
    bottom: 0;
    right: 0;
    @include bg-icon('cap/cap-decor-6.svg');
    @include media(lg) {
      width: 164px;
      height: 88px;
      @include bg-icon('cap/cap-decor-6_tablet.svg');
    }
    @include media(xs) {
      width: 182px;
      height: 94px;
      @include bg-icon('cap/cap-decor-6_400.svg');
    }
    @media (max-width: 370.98px) {
      width: 173px;
      height: 90px;
      @include bg-icon('cap/cap-decor-6_360.svg');
    }
    @media (max-width: 330.98px) {
      width: 146px;
      height: 90px;
      @include bg-icon('cap/cap-decor-6_320.svg');
    }
  }
}

.cap-list__button {
  margin-top: 25px;
  @include media(lg) {
    margin-top: 0;
    position: absolute;
    width: 22px;
    height: 22px;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @include media(xs) {
    right: 20px;
  }
  @media (max-width: 370.98px) {
    right: 15px;
  }
  &::before {
    content: '';
    width: 12px;
    height: 10px;
    @include bg-icon('icons/ic_arrow_btn_white.svg');
  }
  span {
    font-weight: 600;
    @include media(lg) {
      display: none;
    }
  }
}
