.cards {
  margin-bottom: 68px;
  @include media(lg) {
    margin-bottom: 40px;
  }
  @include media(xs) {
    overflow: hidden;
  }
}

.cards__cont {

}

.cards__caption {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 45px;
  line-height: 121%;
  color: #003c56;
  max-width: 582px;
  width: 100%;
  @include media(lg) {
    max-width: 325px;
    font-size: 25px;
    line-height: 100%;
    margin-bottom: 25px;
  }
  @include media(xxs) {
    max-width: 200px;
  }
}

.cards__area {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  @include media(lg) {
    gap: 0;
    flex-wrap: nowrap;
  }
  @include media(xs) {
    margin: 0 -8px;
    width: calc(100% + 16px);
  }
}

.cards__box {
  position: relative;
  overflow: hidden;
  border-radius: 32px;
  padding: 40px;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.06);
  width: 100%;
  @include media(lg) {
    padding: 18px 15px 20px;
    border-radius: 10px;
    width: 93px;
    height: 256px;
    margin-left: -4px;
    position: relative;
    overflow: hidden;
    transition-duration: 0.5s;
    transition-property: width;
    cursor: pointer;
  }
  @include media(xs) {
    width: 36px;
    height: 369px;
  }
  &::after {
    display: none;
    @include media(lg) {
      display: block;
      position: absolute;
      top: 16px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 18px;
      line-height: 23px;
      color: #fff;
    }
  }
  &_1 {
    background: #6683c2;
    max-width: 728px;
    &::after {
      content: '01';
    }
    &::before {
      content: '';
      @include bg-icon('cards/cards-1.png');
      background-size: cover;
      width: 335px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      @include media(lg) {
        content: none;
      }
    }
    .cards__inner {
      max-width: 420px;
      @include media(lg) {
        max-width: 100%;
      }
    }
  }
  &_2 {
    background: #7fcbb4;
    max-width: 576px;
    &::after {
      content: '02';
    }
    &::before {
      content: '';
      @include bg-icon('cards/cards-2.png');
      width: 403px;
      height: 281px;
      position: absolute;
      bottom: 0;
      right: 0;
      @include media(lg) {
        content: none;
      }
    }
    .cards__inner {
      max-width: 268px;
      @include media(lg) {
        max-width: 100%;
      }
    }
  }
  &_3 {
    background: #68ccea;
    max-width: 576px;
    &::after {
      content: '03';
    }
    .cards__title {
      max-width: 364px;
      margin-bottom: 30px;
      @include media(lg) {
        max-width: 100%;
        margin-bottom: 15px;
      }
    }
  }
  &_4 {
    background: $orange;
    max-width: 728px;
    .cards__title {
      margin-bottom: 10px;
      max-width: 354px;
      @include media(lg) {
        max-width: 100%;
        margin-bottom: 15px;
      }
    }
    .cards__inner {
      max-width: 384px;
      @include media(lg) {
        max-width: 100%;
      }
    }
    .cards__text:last-child {
      @include media(lg) {
        padding-right: 150px;
      }
      @include media(xs) {
        padding-right: 0;
      }
    }
    &::after {
      content: '04';
    }
    &::before {
      content: '';
      @include bg-icon('cards/cards-4.png');
      width: 244px;
      height: 294px;
      position: absolute;
      top: 14px;
      right: 30px;
      @include media(lg) {
        content: none;
      }
    }
  }
  &.active {
    @include media(lg) {
      width: calc(100% - 262px);
    }
    @include media(xs) {
      flex-grow: 1;
    }
    &::after {
      @include media(lg) {
        left: 18px;
        transform: translateX(0);
      }
    }
    &::before {
      opacity: 1;
      @include media(lg) {
        transition-delay: 0.5s;
      }
    }
    .cards__wrap {
      @include media(lg) {
        opacity: 1;
        position: static;
        transition-delay: 0.5s;
      }
    }
  }
  &::before {
    @include media(lg) {
      opacity: 0;
    }
  }
}

.cards__wrap {
  @include media(lg) {
    opacity: 0;
    position: absolute;
    transition-property: opacity;
  }
}

.cards__title {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  @include media(lg) {
    margin-bottom: 15px;
    padding-left: 30px;
    font-size: 18px;
    line-height: 100%;
  }
}

.cards__inner {
  width: 100%;
  border-radius: 22px;
  background: rgba(0, 0, 0, 0.07);
  padding: 18px 25px 25px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  @include media(lg) {
    border-radius: 8px;
    padding: 10px 15px 15px;
  }
  @include media(xs) {
    padding: 10px 9px 15px;
  }
}

.cards__text {
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  @include media(lg) {
    font-size: 15px;
    line-height: 19px;
  }
}

