.catalog-achievements {
  padding: 80px 0;
  overflow: hidden;
  @include media(lg) {
    padding: 41px 0 40px;
  }
}

.catalog-achievements__top {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include media(lg) {
    margin-bottom: 24px;
    height: 25px;
  }
  @include media(xxs) {
    height: 43px;
  }
}

.catalog-achievements__title {
  font-weight: 500;
  font-size: 45px;
  line-height: 100%;
  color: #003c56;
  @include media(lg) {
    font-size: 25px;
  }
  @include media(xxs) {
    width: 200px;
  }
}

.catalog-achievements__pointer {
  display: none;
  @include media(lg) {
    display: block;
    position: relative;
    top: -3px;
    margin-left: 10px;
    width: 51px;
    height: 51px;
    flex-shrink: 0;
    animation: 2s catalog-achievements__pointer linear infinite;
  }
  @keyframes catalog-achievements__pointer {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(5px);
    }
    50% {
      transform: translateX(0);
    }
    75% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(0);
    }
  }
}

.catalog-achievements__nav {
  display: flex;
  gap: 18px;
  flex-shrink: 0;
  @include media(lg) {
    display: none;
  }
}

.catalog-achievements__btn {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: rgba(#6683C2, .5);
  @include bg-icon('icons/ic_arrow_slider_white.svg');
  background-size: auto;
  transition-property: background-color;
  transition-duration: $transition-duration;
  &:hover {
    background-color: rgba(#6683C2, 1);
  }
  &:disabled {
    background-color: rgba(#6683C2, .25);
    pointer-events: none;
  }
  &_prev {
    transform: rotate(180deg);
  }
}

.catalog-achievements__slider {

}

.catalog-achievements__slide {
  width: auto;
}

.catalog-achievements__image {
  border-radius: 10px;
  width: auto;
  height: 340px;
  @include media(xs) {
    height: 229px;
  }
}

.catalog-achievements__scrollbar {
  margin-top: 48px;
  height: 4px;
  background: rgba(243, 126, 96, 0.19);
  @include media(lg) {
    margin-top: 35px;
  }
  @include media(xs) {
    margin-top: 30px;
  }
  .swiper-scrollbar-drag {
    background: #f37e60;
  }
}
