.catalog-tile {
  margin-bottom: 80px;
  @include media(lg) {
    margin-bottom: 40px;
  }
}

.catalog-tile__title {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 45px;
  line-height: 100%;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 24px;
    font-size: 25px;
  }
}

.catalog-tile__line {
  display: inline-flex;
  gap: 25px;
  margin-bottom: 50px;
  border-radius: 20px;
  background: rgba(102, 131, 194, 0.08);
  padding: 13px 15px;
  @include media(lg) {
    border-radius: 10px;
    margin-bottom: 25px;
    padding: 15px;
    gap: 20px;
  }
  @include media(xs) {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
  }
  @include media(xxs) {
    padding: 15px;
  }
}

.catalog-tile__filter {
  position: relative;
  width: 295px;
  z-index: 10;
  @include media(lg) {
    width: 270px;
  }
  @include media(xs) {
    width: 100%;
  }
  .catalog-tile__filter-item {
    min-width: 102px;
    @include media(xs) {
      min-width: auto;
      width: 100%;
    }
  }

  .catalog-tile__filter-view {
    padding: 10px 18px;
  }

  .catalog-tile__filter-wrap {
    left: -15px;
    width: 1342px;
    @include media(lg) {
      width: 665px;
      top: calc(100% + 10px);
    }
    @include media(xs) {
      position: fixed;
      z-index: 1000;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #FFFFFF;
      width: 100%;
      height: 100%;
    }
  }
}

.catalog-tile__filter-top {
  overflow: hidden;
  cursor: pointer;
  border-radius: 34px;
  background-color: $white;
  padding: 12px 46px 12px 30px;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.04);
  min-height: 55px;
  display: flex;
  align-items: center;
  position: relative;
  border: 3px solid rgba(102, 131, 194, 0.17);
  font-weight: 600;
  font-size: 16px;
  color: #003c56;
  transition-property: border;
  transition-duration: $transition-duration;
  @include media(lg) {
    font-size: 14px;
    min-height: 45px;
    padding: 13px 20px;
  }
  @include media(xs) {
    padding: 13px 20px;
  }
  &.active {
    border: 3px solid $orange;
    @include media(xs) {
      display: none;
    }
    & ~ .catalog-tile__filter-wrap {
      opacity: 1;
      pointer-events: all;
    }
    &::before {
      transform: rotate(180deg) translateY(calc(-50% + 1px));
    }
  }
  span {
    &:first-of-type {
      margin-left: 10px;
    }
    margin-right: 20px;
    position: relative;
    padding-right: 11px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #003c56;
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    @include media(lg) {
      font-size: 14px;
    }
    &::before {
      content: '';
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      width: 30px;
    }
  }
  &::before {
    content: '';
    @include bg-icon('icons/ic_arrow_down_dark.svg');
    width: 16px;
    height: 9px;
    position: absolute;
    right: 34px;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: top;
    transition-duration: $transition-duration;
    transition-property: transform;
    @include media(lg) {
      right: 20px;
    }
  }
  .catalog-tile__filter-ticket {
    display: none;
  }
}

.catalog-tile__filter-top-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #003c56;
  @include media(lg) {
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
  }
}

.catalog-tile__filter-wrap {
  position: absolute;
  z-index: 10;
  width: 655px;
  top: calc(100% + 12px);
  left: 0;
  border-radius: 22px;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.04);
  background: #fff;
  padding: 25px 30px 30px;
  opacity: 0;
  pointer-events: none;
  transition-property: opacity;
  transition-duration: $transition-duration;
  @include media(lg) {
    border-radius: 10px;
    padding: 20px;
    width: 560px;
  }
  @include media(xs) {
    top: calc(100% - 30px);
    width: 100%;
    background: #eef1f9;
    padding: 15px 10px;
    overflow-y: auto;
    transition: none;
  }
}

.catalog-tile__filter-close {
  display: none;
  @include media(xs) {
    display: block;
    width: 53px;
    height: 43px;
    @include bg-icon('all-courses/close.svg', 23px, 23px);
    position: absolute;
    top: 7px;
    right: 0;
    cursor: pointer;
    z-index: 1;
  }
}

.catalog-tile__filter-icon {
  display: none;
  @include media(xs) {
    display: block;
    animation: 2s linear infinite libraryCapFilterIconRotate;
    position: absolute;
    z-index: 5;
    top: 169px;
    right: 12px;
    transform: translateY(-10px);
    @keyframes libraryCapFilterIconRotate {
      0% {
        transform: translateY(-10px);
      }
      50% {
        transform: translateY(10px);
      }
      100% {
        transform: translateY(-10px);
      }
    }
  }
}

.catalog-tile__filter-headline {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  @include media(lg) {
    margin-bottom: 20px;
    font-size: 16px;
  }
  @include media(xs) {
    text-align: center;
    font-size: 18px;
    color: #003C56;
  }
}

.catalog-tile__filter-swap {
  @include media(xs) {
    width: 100%;
  }
}

.catalog-tile__filter-tabs {
  position: relative;
  display: flex;
  gap: 27px;
  margin-bottom: 25px;
  border-bottom: 1px solid rgba(102, 131, 194, 0.2);
  overflow: hidden;
  @include media(lg) {
    gap: 20px 40px;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  @include media(xs) {
    gap: 0;
    margin: 0 -10px 25px;
    width: calc(100% + 20px);
    &::before, &::after {
      content: '';
      width: 10px;
      flex-shrink: 0;
    }
  }
}

.catalog-tile__filter-tab {
  font-weight: 500;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  padding: 0 0 16px;
  @include media(lg) {
    padding: 0 0 16px;
    font-size: 15px;
    min-width: unset;
  }
  @include media(xs) {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }
  &.active {
    position: relative;
    color: #000;
    &::before {
      content: '';
      height: 2px;
      background: #6683C2;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

.catalog-tile__filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 10px;
  background: #f5f7fb;
  padding: 20px;
  @include media(lg) {
    padding: 15px;
  }
  @include media(xs) {
    padding: 20px 15px;
  }
}

.catalog-tile__filter-item {
  cursor: pointer;
  &:hover {
    .catalog-tile__filter-view {
      background: #EAA593;
      color: #FFFFFF;
    }
  }
  &.hide {
    display: none;
  }
}

.catalog-tile__filter-input {
  display: none;
  &:checked ~ .catalog-tile__filter-view {
    background: #F37E60;
    color: #fff;
  }
}

.catalog-tile__filter-ticket {
  display: inline-block;
  width: auto;
  @include media(xs) {
    transform: scale(0.8);
  }
}

.catalog-tile__reset-filter {
  flex-shrink: 0;
  font-size: 15px;
  line-height: 100%;
  color: #fff;
  border-radius: 34px;
  background: #4d69a7;
  width: 154px;
  height: 55px;
  display: none;
  align-items: center;
  justify-content: center;
  @include media(lg) {
    width: 124px;
    height: 45px;
    font-size: 14px;
  }
  @include media(xs) {
    width: 100%;
  }
  &.active {
    display: flex;
  }
  svg {
    margin-left: 7px;
  }
}

.catalog-tile__filter-view {
  border-radius: 34px;
  text-align: center;
  padding: 2px;
  min-height: 50px;
  box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
  font-size: 15px;
  line-height: 100%;
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: $transition-duration;
  transition-property: background-color, color;
  @include media(lg) {
    min-height: 45px;
    font-size: 14px;
  }
  @include media(xs) {
    gap: 6px;
    display: flex;
  }
}

.catalog-tile__list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  @include media(xs) {
    gap: 20px;
  }
}

.catalog-tile__item {
  display: flex;
  flex-direction: column;
  width: 317px;
  border-radius: 20px;
  background: #fff;
  padding: 15px;
  backface-visibility: hidden;
  transition: transform 0.2s;
  @include media(lg) {
    width: 320px;
    border-radius: 10px;
  }
  @include media(xs) {
    width: 100%;
  }
  @include media(xxs) {
    padding: 10px;
  }
  &:hover {
    transform: translateZ(0) scale(1.03);
  }
  &:nth-child(12n + 1) .catalog-tile__box {
    background: linear-gradient(180deg, #6683c2 0%, #8fabe9 100%);
  }
  &:nth-child(12n + 2) .catalog-tile__box {
    background: linear-gradient(180deg, #7fcbb4 0%, #a4e2cf 100%);
  }
  &:nth-child(12n + 3) .catalog-tile__box {
    background: linear-gradient(180deg, #9be4f9 0%, #68ccea 100%);
  }
  &:nth-child(12n + 4) .catalog-tile__box {
    background: linear-gradient(180deg, #eed294 0%, #f2c45b 100%);
  }
  &:nth-child(12n + 5) .catalog-tile__box {
    background: linear-gradient(180deg, #9be4f9 0%, #68ccea 100%);
  }
  &:nth-child(12n + 6) .catalog-tile__box {
    background: linear-gradient(180deg, #eed294 0%, #f2c45b 100%);
  }
  &:nth-child(12n + 7) .catalog-tile__box {
    background: linear-gradient(180deg, #6683c2 0%, #8fabe9 100%);
  }
  &:nth-child(12n + 8) .catalog-tile__box {
    background: linear-gradient(180deg, #7fcbb4 0%, #a4e2cf 100%);
  }
  &:nth-child(12n + 9) .catalog-tile__box {
    background: linear-gradient(180deg, #7fcbb4 0%, #a4e2cf 100%);
  }
  &:nth-child(12n + 10) .catalog-tile__box {
    background: linear-gradient(180deg, #9be4f9 0%, #68ccea 100%);
  }
  &:nth-child(12n + 11) .catalog-tile__box {
    background: linear-gradient(180deg, #eed294 0%, #f2c45b 100%);
  }
  &:nth-child(12n) .catalog-tile__box {
    background: linear-gradient(180deg, #6683c2 0%, #8fabe9 100%);
  }
}

.catalog-tile__box {
  margin-bottom: 18px;
  position: relative;
  z-index: 1;
  height: 364px;
  padding: 10px 11px;
  display: flex;
  align-items: flex-end;
  border-radius: 10px;
  overflow: hidden;
  @include media(lg) {
    margin-bottom: 12px;
    height: 369px;
    padding: 15px 11px;
  }
  @include media(xxs) {
    height: 356px;
    padding: 10px;
  }
}

.catalog-tile__image {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  object-fit: contain;
}

.catalog-tile__tags {
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
}

.catalog-tile__tag {
  border-radius: 33px;
  background: rgba(255, 255, 255, 0.9);
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #6683c2;
  padding: 8px 17px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include media(lg) {
    font-size: 12px;
  }
}

.catalog-tile__name {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #003c56;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include media(lg) {
    font-size: 16px;
    line-height: 20px;
  }
}

.catalog-tile__button {
  margin-top: auto;
  display: inline-flex;
  text-transform: unset;
  font-size: 16px;
  padding: 11px 30px 13px;
  @include media(lg) {
    display: flex;
    padding: 8px 30px 11px;
  }
}
