.catalog-cap {
  margin-top: 50px;
  margin-bottom: 74px;
  @include media(lg) {
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 34px;
    @include bg-icon('catalog-cap/bg_tablet.png');
    padding: 30px 0 35px;
  }
  @include media(xs) {
    @include bg-icon('catalog-cap/bg_mob.png');
  }
}

.catalog-cap__wrap {
  position: relative;
  border-radius: 31px;
  @include bg-icon('catalog-cap/bg.png');
  padding: 52px 0;
  overflow: hidden;
  @include media(lg) {
    background: unset;
    border-radius: 0;
    padding: 0;
    overflow: visible;
  }
  &::before {
    content: '';
    width: 365px;
    height: 395px;
    @include bg-icon('catalog-cap/circles-1.svg');
    position: absolute;
    bottom: 0;
    left: 0;
    @include media(lg) {
      content: none;
    }
  }
  &::after {
    content: '';
    width: 366px;
    height: 395px;
    @include bg-icon('catalog-cap/circles-2.svg');
    position: absolute;
    bottom: 0;
    right: 0;
    @include media(lg) {
      @include bg-icon('catalog-cap/circles-2_tablet.svg');
      width: 273px;
      height: 342px;
      bottom: -158px;
      right: -82px;
    }
    @include media(xs) {
      content: none;
    }
  }
}

.catalog-cap__caption {
  max-width: 792px;
  margin: 0 auto 31px;
  font-weight: 600;
  font-size: 58px;
  line-height: 112%;
  text-align: center;
  color: #003c56;
  @include media(lg) {
    margin: 0 0 18px;
    font-size: 30px;
    text-align: left;
  }
  @include media(xs) {
    margin: 0 auto 12px;
    max-width: 320px;
    text-align: center;
    font-size: 27px;
    line-height: 126%;
  }
  @include media(xxs) {
    max-width: 300px;
  }
}

.catalog-cap__text {
  max-width: 820px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #003c56;
  @include media(lg) {
    margin: 0;
    max-width: 370px;
    text-align: left;
    font-size: 15px;
    line-height: 19px;
  }
  @include media(xs) {
    max-width: 320px;
    margin: 0 auto;
    text-align: center;
  }
  &_1 {
    margin: 0 auto 12px;
    @include media(lg) {
      margin: 0 0 12px;
    }
    @include media(xs) {
      margin: 0 auto 18px;
    }
  }
}
