.cookie {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  bottom: 15px;
  display: none;
  &_active {
    display: block;
  }
}

.cookie__area {
  display: flex;
  gap: 8px;
  padding: 4px 4px 4px 11px;
  align-items: center;
  max-width: 630px;
  margin: 0 auto;
  border-radius: 23px;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.06);
  background: #fff;
  @include media(lg) {
    max-width: 567px;
  }
  @include media(xs) {
    max-width: 337px;
    padding: 3px 4px 7px 11px;
  }
}

.cookie__text {
  font-size: 16px;
  line-height: 100%;
  @include media(lg) {
    font-size: 14px;
  }
  @include media(xs) {
    line-height: 16px;
  }
  @media(max-width: 374px) {
    font-size: 12px;
    line-height: 100%;
  }
  a {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #6683c2;
  }
}

.cookie__button {
  padding: 6px 13px 7px;
  @include media(lg) {
    font-size: 13px;
    padding: 7px 17px 8px;
  }
  @include media(xs) {
    transform: translateY(1px);
  }
}
