.course-about {
  overflow: hidden;
  padding-bottom: 80px;
  @include media(lg) {
    padding-bottom: 40px;
  }
  &.summer {
    .course-about__sound {
      @include bg-img('icons/ic_course_sound_mute_summer.svg');
      background-position: center center;
      background-repeat: no-repeat;
    }
    .course-about__item {
      &:nth-child(1)::before {
        @include bg-icon('course-about/course-about-icon-summer-1.svg');
        background-size: cover;
      }
      &:nth-child(2)::before {
        @include bg-icon('course-about/course-about-icon-summer-2.svg');
        background-size: cover;
      }
      &:nth-child(3)::before {
        @include bg-icon('course-about/course-about-icon-summer-3.svg');
        background-size: cover;
      }
    }
  }
  &.no-video {
    .course-about__area {
      position: relative;
    }
    .course-about__box {
      max-width: 564px;
      min-height: 269px;
    }
    .course-about__decor {
      position: absolute;
      top: -118px;
      right: 65px;
      width: 485px;
      height: 401px;
      @include bg-icon('course-about/course-about-decor.svg');
      @include media(lg) {
        display: none;
      }
    }
  }
  &.no-video-summer {
    .course-about__area {
      position: relative;
    }
    .course-about__box {
      max-width: 564px;
      min-height: 269px;
    }
    .course-about__decor {
      position: absolute;
      top: -118px;
      right: 65px;
      width: 485px;
      height: 401px;
      @include bg-icon('course-about/course-about-decor-summer.svg');
      @include media(lg) {
        display: none;
      }
    }
    .course-about__item {
      &:nth-child(1)::before {
        @include bg-icon('course-about/course-about-icon-summer-1.svg');
        background-size: cover;
      }
      &:nth-child(2)::before {
        @include bg-icon('course-about/course-about-icon-summer-2.svg');
        background-size: cover;
      }
      &:nth-child(3)::before {
        @include bg-icon('course-about/course-about-icon-summer-3.svg');
        background-size: cover;
      }
    }
  }
}

.course-about__cont {

}

.course-about__caption {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 45px;
  line-height: 97%;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 30px;
    font-size: 25px;
    line-height: 100%;
  }
}

.course-about__area {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  @include media(lg) {
    margin-bottom: 30px;
  }
  @include media(md) {
    display: block;
  }
}

.course-about__video-box {
  position: relative;
  margin-right: 66px;
  flex-shrink: 0;
  max-width: 657px;
  width: 100%;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  overflow: hidden;
  background-color: #FFFFFF;
  padding: 20px;
  @include media(lg) {
    margin-right: 40px;
    padding: 10px;
    border-radius: 10px;
    max-width: 550px;
  }
  @include media(md) {
    margin-right: 0;
    max-width: 100%;
    margin-bottom: 30px;
  }
}

.course-about__sound {
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.08);
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #FFFFFF;
  position: absolute;
  z-index: 1;
  bottom: 50px;
  left: 50px;
  @include bg-img('icons/ic_course_sound_mute.svg');
  background-position: center center;
  background-repeat: no-repeat;
  @include media(lg) {
    bottom: unset;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &.hide {
    display: none;
  }
}

.course-about__video {
  width: 100%;
  border-radius: 13px;
  @include media(lg) {
    border-radius: 7px;
  }
}

.course-about__box {

}

.course-about__list {
  display: flex;
  flex-direction: column;
  gap: 30px 0;
  width: 100%;
  @include media(lg) {
    gap: 25px 0;
  }
}

.course-about__item {
  display: flex;
  align-items: center;
  &::before {
    content: '';
    flex-shrink: 0;
    margin-right: 20px;
    width: 52px;
    height: 52px;
    @include media(lg) {
      width: 41px;
      height: 41px;
      margin-right: 15px;
    }
  }
  &:nth-child(1)::before {
    @include bg-icon('course-about/course-about-icon-1.svg');
    background-size: cover;
  }
  &:nth-child(2)::before {
    @include bg-icon('course-about/course-about-icon-2.svg');
    background-size: cover;
  }
  &:nth-child(3)::before {
    @include bg-icon('course-about/course-about-icon-3.svg');
    background-size: cover;
  }
}

.course-about__text {
  font-size: 16px;
  line-height: 137%;
  @include media(lg) {
    font-size: 15px;
    line-height: 147%;
  }
}

.course-about__tags {
  display: flex;
  gap: 0 30px;
  @include media(lg) {
    gap: 0 15px;
  }
  &.mob {
    display: none;
    @include media(lg) {
      margin-top: 20px;
      display: flex;
    }
    .course-about__tags-box {
      flex-direction: row-reverse;
    }
  }
}

.course-about__tags-box {
  animation: courseAboutTags 60s linear infinite;
  display: flex;
  gap: 0 30px;
  flex-shrink: 0;
  @include media(lg) {
    display: none;
  }
}

.course-about__tag {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 43px;
  padding: 13px 35px;
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;
  flex-shrink: 0;
  color: #FFFFFF;
  @include media(lg) {
    line-height: 16px;
    padding: 12px 35px;
  }
  &_light-blue {
    background: #68ccea;
    path {
      fill: #68ccea;
    }
  }
  &_blue {
    background: #6683c2;
    path {
      fill: #6683c2;
    }
  }
  &_yellow {
    background: #f2c45b;
    path {
      fill: #f2c45b;
    }
  }
  &_green {
    background: #7fcbb4;
    path {
      fill: #7fcbb4;
    }
  }
  &_green-summer {
    background: #A0D76A;
    path {
      fill: #A0D76A;
    }
  }
  &_orange {
    background: #EFAA5C;
    path {
      fill: #EFAA5C;
    }
  }
  svg {
    margin-right: 13px;
    width: 19px;
    height: 19px;
    order: -1;
    flex-shrink: 0;
    @include media(lg) {
      width: 14px;
      height: 14px;
      margin-right: 9px;
    }
  }
}

@keyframes courseAboutTags {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.course-about__lines {
  display: none;
  @include media(lg) {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  @include media(xs) {
    gap: 20px;
  }
}

.course-about__line {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
  padding: 5px 35px;
  min-height: 55px;
  border-radius: 43px;
  @include media(xs) {
    min-height: 82px;
    padding: 10px 29px;
  }
  &_light-blue {
    background: #68ccea;
    path {
      fill: #68ccea;
    }
  }
  &_blue {
    background: #6683c2;
    path {
      fill: #6683c2;
    }
  }
  &_yellow {
    background: #f2c45b;
    path {
      fill: #f2c45b;
    }
  }
  &_green {
    background: #7fcbb4;
    path {
      fill: #7fcbb4;
    }
  }
  &_green-summer {
    background: #A0D76A;
    path {
      fill: #A0D76A;
    }
  }
  &_light-green {
    background: #B4D388;
    path {
      fill: #B4D388;
    }
  }
  &_orange {
    background: #EFAA5C;
    path {
      fill: #EFAA5C;
    }
  }
  svg {
    margin-right: 13px;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    order: -1;
  }
}
