.course-cap {
  border-radius: 31px;
  margin-bottom: 80px;
  margin-top: 50px;
  @include media(lg) {
    margin-bottom: 40px;
    margin-top: 0;
    border-radius: 0;
    @include bg-icon('course-cap/course-cap-bg_tablet.png');
  }
  @include media(xs) {
    @include bg-icon('course-cap/course-cap-bg_mob.png');
  }
  &_summer {
    @include media(lg) {
      @include bg-icon('course-cap/course-cap-bg-summer_tablet.png');
    }
    @include media(xs) {
      @include bg-icon('course-cap/course-cap-bg-summer_mob.png');
    }
    .course-cap__area {
      @include bg-icon('course-cap/course-cap-bg-summer.png');
      @include media(lg) {
        background: none;
      }
    }
    .course-cap__decor {
      &_1 {
        @include bg-icon('course-cap/course-cap-decor-summer_1.svg');
      }
      &_2 {
        @include bg-icon('course-cap/course-cap-decor-summer_2.svg');
      }
    }
  }
  &_offer {
    .course-cap__caption {
      margin-bottom: 28px;
      @include media(lg) {
        margin-bottom: 21px;
      }
      @include media(xs) {
        margin-bottom: 20px;
      }
    }
  }
  &_3-teachers {
    .course-cap__decor_1 {
      right: 696px;
      @include media(lg) {
        right: 291px;
      }
    }
    .course-cap__caption {
      max-width: 617px;
      @include media(lg) {
        max-width: 327px;
      }
      @include media(xs) {
        max-width: 358px;
        margin: 0 auto 26px;
      }
    }
    .course-cap__picture {
      width: 657px;
      height: 436px;
      bottom: 5px;
      right: 33px;
      @include media(lg) {
        width: 333px;
        height: 286px;
        bottom: 46px;
        right: 0;
      }
      @include media(xs) {
        max-width: 333px;
        width: 100%;
        height: unset;
        margin: 0 auto 5px;
      }
    }
  }
}

.course-cap__cont {

}

.course-cap__area {
  display: flex;
  align-self: center;
  position: relative;
  box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.05);
  @include bg-icon('course-cap/course-cap-bg.png');
  min-height: 518px;
  padding: 60px;
  border-radius: 31px;
  @include media(lg) {
    border-radius: 0;
    min-height: 360px;
    box-shadow: none;
    background: unset;
    padding: 32px 0 35px;
  }
  @include media(xs) {
    display: block;
    padding: 30px 0 25px;
  }
}

.course-cap__tickets {
  position: absolute;
  left: 60px;
  top: 0;
  transform: translateY(-50%);
  display: flex;
  gap: 15px;
  @include media(lg) {
    gap: 10px;
    left: 93px;
    top: 28px;
    transform: none;
  }
  @include media(xs) {
    position: static;
    justify-content: center;
    margin-bottom: 18px;
    margin-top: -4px;
  }
}

.course-cap__ticket {
  border-radius: 33px;
  padding: 8px 15px;
  color: #fff;
  font-size: 14px;
  line-height: 100%;
  font-weight: 500;
  @include media(lg) {
    font-size: 13px;
    padding: 6px 15px;
  }
  @include media(xxs) {
    font-size: 12px;
    padding: 4px 15px 5px;
  }
  &.blue {
    background: #68ccea;
  }
  &.green {
    background: #7fcbb4;
  }
}

.course-cap__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  @include media(lg) {
    justify-content: flex-start;
  }
  @include media(xs) {
    display: block;
  }
}

.course-cap__top {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 14px;
  @include media(lg) {
    flex-direction: column;
    gap: 18px;
    margin-bottom: 18px;
    align-items: flex-start;
  }
  @include media(xs) {
    gap: 16px;
    margin-bottom: 15px;
    align-items: center;
  }
  .course-cap__number {
    margin-bottom: 0;
  }
}

.course-cap__tag {
  background: linear-gradient(90deg, #003c56 0%, #489abe 100%);
  border-radius: 33px;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  padding: 11px 18px 11px 42px;
  position: relative;
  @include media(lg) {
    font-size: 13px;
    line-height: 14px;
    padding: 12px 9px 12px 31px;
  }
  @include media(xs) {
    padding: 6px 20px 6px 43px;
    line-height: 16px;
    max-width: 258px;
    margin: 0 auto;
  }
  &::before {
    content: '';
    width: 13px;
    height: 13px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: 19px;
    top: 50%;
    transform: translateY(-50%);
    @include media(lg) {
      left: 8px;
    }
    @include media(xs) {
      left: 20px;
    }
  }
}

.course-cap__decor {
  position: absolute;
  @include media(xs) {
    display: none;
  }
  &_1 {
    width: 150px;
    height: 153px;
    bottom: 0;
    right: 452px;
    @include bg-icon('course-cap/course-cap-decor_1.svg');
    @include media(lg) {
      width: 100px;
      height: 102px;
      right: 264px;
    }
  }
  &_2 {
    width: 63px;
    height: 94px;
    top: 34px;
    right: 34px;
    @include bg-icon('course-cap/course-cap-decor_2.svg');
    @include media(lg) {
      width: 39px;
      height: 58px;
      top: 24px;
      right: 16px;
    }
  }
}

.course-cap__number {
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 92%;
  @include media(lg) {
    margin-bottom: 16px;
    font-size: 18px;
  }
  @include media(xs) {
    margin-bottom: 15px;
    text-align: center;
  }
}

.course-cap__caption {
  margin-bottom: 60px;
  max-width: 832px;
  width: 100%;
  font-weight: 600;
  font-size: 58px;
  line-height: 112%;
  color: #003c56;
  @include media(lg) {
    max-width: 380px;
    width: 100%;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 113%;
  }
  @include media(xs) {
    margin-bottom: 20px;
    text-align: center;
    font-size: 27px;
    line-height: 126%;
    max-width: 100%;
  }
  @include media(xxs) {
    font-size: 24px;
  }
}

.course-cap__offer {
  margin-bottom: 38px;
  @include media(lg) {
    margin-bottom: 25px;
  }
}

.course-cap__offer-text {
  margin-bottom: 18px;
  font-size: 16px;
  line-height: 100%;
  @include media(lg) {
    margin-bottom: 14px;
    font-size: 15px;
  }
  @include media(xs) {
    text-align: center;
  }
}

.course-cap__picture {
  position: absolute;
  bottom: 0;
  right: 65px;
  width: 387px;
  height: 490px;
  @include media(lg) {
    width: 238px;
    height: 301px;
    right: 26px;
  }
  @include media(xs) {
    position: static;
    width: 169px;
    height: 214px;
    margin: 0 auto -20px;
  }
}

.course-cap__image {
  height: 100%;
}

.course-cap__buttons {
  display: flex;
  gap: 0 60px;
  @include media(lg) {
    gap: 30px 0;
    flex-direction: column;
    align-items: flex-start;
  }
  @include media(xs) {
    gap: 20px 0;
  }
}

.course-cap__button {
  font-size: 16px;
  padding: 20px 50px;
  @include media(lg) {
    order: 1;
  }
  @include media(xs) {
    width: 100%;
    text-align: center;
  }
}

.course-cap__3-teachers {
  display: none;
  @include media(lg) {
    display: block;
    border-radius: 10px;
    box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    padding: 14px 24px;
    font-size: 15px;
    line-height: 140%;
  }
  @include media(xs) {
    width: 100%;
    text-align: center;
  }
}

.course-cap__author {
  border-radius: 34px;
  padding: 20px 50px;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  font-size: 16px;
  line-height: 15px;
  @include media(lg) {
    font-size: 15px;
    padding: 20px 28px;
  }
  @include media(xs) {
    width: 100%;
    text-align: center;
    padding: 15px 10px;
  }
}

.course-cap__timer-box {
  display: none;
  @include media(xs) {
    background: #a1d86b;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 12px 25px;
    gap: 10px;
  }
  @include media(xxs) {
    padding: 12px 10px;
  }
}

.course-cap__timer-text {
  max-width: 300px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 18px;
  line-height: 111%;
  color: #003c56;
  @include media(xs) {
    text-align: center;
  }
}

.course-cap__timer {
  flex-shrink: 0;
  width: 207px;
  display: flex;
  gap: 17px;
}

.course-cap__timer-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.course-cap__timer-number {
  border-radius: 10px;
  width: 39px;
  height: 39px;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  font-size: 22px;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.course-cap__timer-note {
  font-size: 13px;
  line-height: 100%;
}
