.crumbs {
  margin-top: 10px;
  margin-bottom: 27px;
  @include media(md) {
    margin-top: 25px;
    margin-bottom: 10px;
  }
}

.crumbs__cont {

}

.crumbs__area {
  margin: 0 -20px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    width: 20px;
    background: linear-gradient(to right, transparent, #f8f8f8);
  }
}

.crumbs__list {
  display: flex;
  overflow-x: auto;
  padding-bottom: 5px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  &::before, &::after {
    content: '';
    flex-shrink: 0;
    width: 20px;
  }
  &:hover {
    overflow-x: auto;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.crumbs__item {
  flex-shrink: 0;
  &:not(:first-child) {
    position: relative;
    margin-left: 27px;
    &::before {
      content: '';
      @include bg-icon('icons/ic_crumbs_arrow.svg');
      position: absolute;
      left: -18px;
      top: calc(50% + 1px);
      transform: translateY(-50%);
      width: 9px;
      height: 8px;
      pointer-events: none;
    }
  }
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
}

span.crumbs__item {
  color: rgba(#000, .25);
  &::before {
    opacity: 0.25;
  }
}

a.crumbs__item {
  color: rgba(#000, .6);
  transition-duration: $transition-duration;
  transition-property: color;
  &:hover {
    color: rgba(#000, 1);
  }
  &::before {
    opacity: 0.6;
  }
}
