.custom-select-container {
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.24);
  &::before {
    content: '';
    @include bg-icon('icons/ic_custom-select_yellow.svg');
    width: 14px;
    height: 11px;
    position: absolute;
    z-index: 5;
    top: 50%;
    right: 21px;
    transform: translateY(-50%);
    transition-property: transform;
    transition-duration: $transition-duration;
  }
}

.custom-select-container.is-open {
  &::before {
    transform: translateY(-50%) rotate(180deg);
  }
  .custom-select-opener {
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0, 0, 0, .1);
    border-bottom: none;
    border-radius: 10px 10px 0 0;
  }
  .custom-select-panel {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 10px;
  }
}

.custom-select-container * {
  box-sizing: border-box;
}

.custom-select-container.is-disabled {
  opacity: .333;
}

.custom-select-opener {
  display: block;
  cursor: pointer;
  width: 100%;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 10px;
  padding: 18px 28px;
  span {
    font-weight: 500;
  }
}

.custom-select-container select {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.custom-select-panel {
  max-height: 0;
  overflow: hidden;
  background-color: #FFFFFF;
  position: absolute;
  top: 100%;
  z-index: 1;
  width: 100%;
  padding: 0 21px;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  &::-webkit-scrollbar-thumb {
    background: white;
  }
  &::-webkit-scrollbar-track {
    background: white;
  }
}

.custom-select-container.is-open .custom-select-panel {
  max-height: 10.7em;
  overflow-y: auto
}

.custom-select-option {
  padding: 4px 6px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  &:first-child {
    display: none;
  }
}

.custom-select-option.has-focus {
  background-color: rgba(#C7E0FF, 0.3);
}

.custom-select-option.is-selected {
  background-color: #C7E0FF;
  color: #222222;
}

.custom-select-optgroup > .custom-select-option {
  padding-left: 2em;
}

.custom-select-optgroup::before {
  content: attr(data-label);
  display: block;
  padding: 0.5em;
  color: #888;
}
