.educator-tile {
  padding-top: 74px;
  padding-bottom: 80px;
  @include media(lg) {
    padding-top: 34px;
    padding-bottom: 40px;
  }
}

.educator-tile__caption {
  margin-bottom: 44px;
  font-weight: 500;
  font-size: 45px;
  line-height: 100%;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 25px;
    font-size: 25px;
  }
}
