.educator-order {
  margin-bottom: 120px;
  @include media(lg) {
    margin-bottom: 60px;
  }
  .ege-cap__form {
    @include bg-icon('educator-order/bg-form.png');
    background-size: cover;
    @include media(lg) {
      @include bg-icon('educator-order/bg-form_tablet.png');
      background-size: cover;
      position: static;
      bottom: 25px;
      left: 25px;
      width: 320px;
      max-width: 100%;
    }
    @include media(xs) {
      position: static;
      max-width: 100%;
      width: 100%;
      padding: 20px;
    }
    @include media(xxs) {
      padding: 15px;
    }
    .iti.iti--allow-dropdown.iti--show-flags {
      width: 100%;
    }
  }
  .ege-cap__title {
    color: #003c56;
  }
  .ege-cap__inner {
    @include media(lg) {
      flex-direction: column;
      gap: 20px;
      margin-bottom: 18px;
    }
  }
  .ege-cap__input {
    @include media(lg) {
      width: 100%;
    }
  }
  .ege-cap__label:not(:last-of-type) {
    @include media(lg) {
      margin-bottom: 14px;
      margin-right: 0;
    }
  }
  .ege-cap__checkbox-text {
    color: #003c56;
  }
  .ege-cap__checkbox-view {
    border: 1px solid #003c56;
  }
  .ege-cap__checkbox {
    &:checked ~ .ege-cap__checkbox-view::before {
      background-color: $orange;
    }
  }
  .ege-cap__submit {
    @include media(lg) {
      margin-top: 10px;
      width: 100%;
    }
  }
}

.educator-order__wrap {
  display: flex;
  gap: 30px;
  @include media(lg) {
    position: relative;
    @include bg-icon('educator-order/bg_tablet.png');
    background-size: cover;
    flex-direction: column;
    border-radius: 20px;
    padding: 25px;
    gap: 25px;
  }
  @include media(xs) {
    flex-direction: column;
    gap: 0;
    background: unset;
    border-radius: 0;
    padding: 0;
  }
}

.educator-order__area {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  padding: 45px 50px;
  border-radius: 31px;
  @include bg-icon('educator-order/bg.png');
  background-size: cover;
  min-height: 518px;
  @include media(lg) {
    background: unset;
    border-radius: 0;
    padding: 0;
    min-height: unset;
    position: static;
  }
  @include media(xs) {
    @include bg-icon('educator-order/bg_mob.png');
    background-size: cover;
    border-radius: 10px;
    padding: 22px 20px 130px;
    margin-bottom: -170px;
  }
}

.educator-order__caption {
  margin-bottom: 40px;
  max-width: 530px;
  width: 100%;
  font-weight: 600;
  font-size: 45px;
  line-height: 104%;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 16px;
    font-size: 25px;
    line-height: 100%;
  }
  @include media(xs) {
    text-align: center;
    max-width: 100%;
  }
}

.educator-order__text {
  max-width: 446px;
  width: 100%;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #003c56;
  @include media(lg) {
    max-width: 372px;
    font-size: 16px;
    line-height: 132%;
  }
  @include media(xs) {
    text-align: center;
    max-width: 280px;
    margin: 0 auto 8px;
  }
}

.educator-order__picture {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 394px;
  height: 499px;
  @include media(lg) {
    width: 308px;
    height: 389px;
    bottom: 0;
    right: 15px;
  }
  @include media(xs) {
    position: static;
    width: 234px;
    height: 297px;
    margin: 0 auto;
  }
}

.educator-order__image {

}
