.educator-cap {
  margin: 50px 0 74px;
  @include media(lg) {
    @include bg-icon('educator-cap/bg_tablet.png');
    background-size: cover;
    margin: 0 0 34px;
  }
  @include media(xs) {
    @include bg-icon('educator-cap/bg_mob.png');
    background-size: cover;
  }
}

.educator-cap__area {
  position: relative;
  border-radius: 31px;
  @include bg-icon('educator-cap/bg.png');
  background-size: cover;
  padding: 54px 70px;
  min-height: 537px;
  overflow: hidden;
  @include media(lg) {
    background: unset;
    padding: 30px 0 46px;
    min-height: 289px;
  }
  @include media(xs) {
    min-height: unset;
    padding: 30px 0 0;
  }
}

.educator-cap__circle {
  position: absolute;
  border-radius: 50%;
  @include media(lg) {
    display: none;
  }
  &_1 {
    top: 357px;
    left: 493px;
    background: #F2C45B;
    width: 216px;
    height: 216px;
  }
  &_2 {
    top: 281px;
    left: 583px;
    background: #68ccea;
    width: 48px;
    height: 48px;
  }
  &_3 {
    top: 245px;
    left: 657px;
    background: #f37e60;
    width: 111px;
    height: 111px;
  }
}

.educator-cap__caption {
  margin-bottom: 40px;
  max-width: 792px;
  width: 100%;
  font-weight: 600;
  font-size: 58px;
  line-height: 112%;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 20px;
    max-width: 390px;
    font-size: 27px;
    line-height: 126%;
  }
  @include media(xs) {
    margin-bottom: 18px;
    text-align: center;
    max-width: 100%;
  }
}

.educator-cap__tags {
  margin-bottom: 40px;
  max-width: 514px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  @include media(lg) {
    gap: 10px;
    max-width: 390px;
    margin-bottom: 20px;
  }
  @include media(xs) {
    margin-bottom: 22px;
    justify-content: center;
    max-width: 100%;
  }
}

.educator-cap__tag {
  border-radius: 33px;
  padding: 10px 27px;
  background: rgba(102, 131, 194, 0.08);
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #6683c2;
  @include media(lg) {
    font-size: 13px;
    padding: 6px 15px;
  }
}

.educator-cap__experience {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 8px;
    font-size: 24px;
  }
  @include media(xs) {
    display: none;
  }
}

.educator-cap__note {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: #003c56;
  @include media(xs) {
    display: none;
  }
}

.educator-cap__picture {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 120px;
  width: 393px;
  height: 498px;
  @include media(lg) {
    right: 65px;
    width: 221px;
    height: 256px;
  }
  @include media(xs) {
    width: 180px;
    height: 244px;
    position: static;
    margin: 0 auto;
  }
  &::before {
    content: '';
    width: 513px;
    height: 513px;
    background: #6683c2;
    position: absolute;
    z-index: -1;
    top: 166px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    @include media(lg) {
      content: none;
    }
  }
}

.educator-cap__image {

}
