.error-common {
  margin-top: 80px;
  @include media(lg) {
    margin-top: 20px;
    @include bg-icon('error-common/bg_tablet.png');
    background-size: cover;
  }
  @include media(xs) {
    margin-top: 0;
    @include bg-icon('error-common/bg_mob.png');
    background-size: cover;
  }
}

.error-common__wrap {
  position: relative;
  border-radius: 31px;
  @include bg-icon('error-common/bg.png');
  background-size: cover;
  padding: 75px 38px 75px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include media(lg) {
    background: transparent;
    padding: 50px 0 68px;
    border-radius: 0;
  }
  @include media(xs) {
    display: block;
    padding: 40px 0 45px;
  }
}

.error-common__area {

}

.error-common__caption {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 58px;
  line-height: 112%;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 14px;
    font-size: 32px;
    line-height: 106%;
  }
  @include media(xs) {
    margin-bottom: 12px;
    font-size: 25px;
    line-height: 124%;
    text-align: center;
  }
}

.error-common__title {
  margin-bottom: 36px;
  max-width: 730px;
  width: 100%;
  font-weight: 500;
  font-size: 32px;
  line-height: 116%;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 28px;
    max-width: 436px;
    font-size: 18px;
    line-height: 23px;
  }
  @include media(xs) {
    margin: 0 auto 20px;
    text-align: center;
    max-width: 350px;
  }
}

.error-common__picture {
  position: relative;
  top: -16px;
  flex-shrink: 0;
  width: 520px;
  height: 314px;
  @include media(lg) {
    top: -20px;
    width: 329px;
    height: 217px;
  }
  @include media(xs) {
    position: static;
    margin: 0 auto;
    width: 295px;
    height: 195px;
  }
}

.error-common__image {
  height: 100%;
}
