.fam-capital {
  margin-bottom: 80px;
  @include media(lg) {
    margin-bottom: 40px;
  }
}

.fam-capital__cont {

}

.fam-capital__area {
  position: relative;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.04);
  background: #fff;
  border-radius: 20px;
  padding: 30px 35px;
  min-height: 324px;
  overflow: hidden;
  @include media(lg) {
    min-height: 339px;
  }
  @include media(xs) {
    text-align: center;
    padding: 25px 20px 30px;
  }
  @include media(xxs) {
    padding: 25px 10px 30px;
  }
}

.fam-capital__title {
  max-width: 530px;
  width: 100%;
  margin-bottom: 26px;
  font-weight: 500;
  font-size: 32px;
  line-height: 116%;
  color: #003c56;
  @include media(lg) {
    max-width: 408px;
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 100%;
  }
  @include media(xs) {
    max-width: 100%;
  }
  @include media(xxs) {
    font-size: 22px;
  }
}

.fam-capital__text {
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 117%;
  max-width: 750px;
  width: 100%;
  @include media(lg) {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 132%;
  }
  &:first-of-type {
    @include media(lg) {
      max-width: 385px;
    }
    @include media(xs) {
      max-width: 100%;
    }
  }
  &:last-of-type {
    @include media(lg) {
      max-width: 325px;
    }
    @include media(xs) {
      max-width: 100%;
      margin-bottom: 30px;
    }
  }
}

.fam-capital__picture {
  position: absolute;
  width: 605px;
  height: 324px;
  bottom: 0;
  right: 0;
  @include media(lg) {
    width: 322px;
    height: 326px;
  }
  @include media(xs) {
    position: static;
    width: 100%;
    height: auto;
  }
}

.fam-capital__image {
  height: 100%;
}

.fam-capital__button {
  margin-top: 30px;
  font-size: 16px;
  min-width: 245px;
  min-height: 55px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @include media(lg) {
    margin-top: 20px;
    min-width: 283px;
  }
  @include media(xs) {
    margin-top: 30px;
  }
}
