.fam-informer {
  margin-top: 80px;
  margin-bottom: 74px;
  @include media(lg) {
    margin-top: 40px;
    margin-bottom: 36px;
  }
}

.fam-informer__cont {

}

.fam-informer__area {
  position: relative;
  @include bg-icon('fam-informer/fam-informer-bg.png');
  background-size: cover;
  min-height: 289px;
  border-radius: 32px;
  padding: 44px 50px 50px;
  overflow: hidden;
  @include media(lg) {
    @include bg-icon('fam-informer/fam-informer-bg_tablet.png');
    background-size: cover;
    min-height: 186px;
    border-radius: 10px;
    padding: 20px 25px 25px;
  }
  @include media(xs) {
    @include bg-icon('fam-informer/fam-informer-bg_mob.png');
    background-size: cover;
    padding: 20px 15px 15px;
  }
}

.fam-informer__title {
  margin-bottom: 28px;
  font-weight: 500;
  font-size: 45px;
  line-height: 100%;
  color: #fff;
  @include media(lg) {
    margin-bottom: 15px;
    font-size: 25px;
  }
}

.fam-informer__text {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  @include media(lg) {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 113%;
    max-width: 282px;
    width: 100%;
  }
  @include media(xs) {
    margin-bottom: 16px;
  }
}

.fam-informer__image {
  width: 345px;
  height: 374px;
  position: absolute;
  top: 19px;
  right: 64px;
  @include media(lg) {
    width: 287px;
    height: 310px;
    top: 4px;
    right: 34px;
  }
  @include media(xs) {
    position: static;
    width: 251px;
    height: 274px;
    margin: 0 auto -68px;
    transform: translateX(-10px);
  }
  @include media(xxs) {
    width: 234px;
    height: 229px;
    margin: 0 auto -50px;
  }
}

.fam-informer__button {
  font-size: 16px;
  min-width: 224px;
  min-height: 55px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @include media(lg) {
    min-width: 223px;
    min-height: 45px;
  }
  @include media(xs) {
    min-height: 55px;
    display: flex;
    position: relative;
    z-index: 1;
  }
}
