.fam-about {
  background: radial-gradient(228.28% 137.53% at 85.56% 75.29%, #dae5fe 0%, #bedaff 100%);
  padding: 74px 0 274px;
  @include media(lg) {
    padding: 36px 0 230px;
  }
}

.fam-about__cont {

}

.fam-about__caption {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 45px;
  line-height: 100%;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 24px;
    font-size: 25px;
    font-weight: 600;
  }
  @include media(xs) {
    max-width: 258px;
  }
}

.fam-about__area {
  margin-bottom: 30px;
  border-radius: 20px;
  background: #fff;
  padding: 24px 30px;
  display: flex;
  @include media(lg) {
    margin-bottom: 25px;
    border-radius: 10px;
    padding: 18px 20px;
  }
  @include media(xs) {
    display: block;
    margin-bottom: 20px;
  }
}

.fam-about__box {
  &:nth-child(1) {
    margin-right: 44px;
    width: 385px;
    flex-shrink: 0;
    padding-right: 45px;
    border-right: 1px solid rgba(0, 0, 0, 0.13);
    @include media(lg) {
      border: none;
      width: 271px;
      margin-right: 52px;
      padding-right: 0;
    }
    @include media(xs) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  &:nth-child(2) {
    .fam-about__item {
      width: calc(50% - 20px);
      @include media(lg) {
        width: 100%;
      }
      &:nth-child(2), &:nth-child(4) {
        width: 50%;
        @include media(lg) {
          width: 100%;
        }
      }
    }
  }
}

.fam-about__title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 104%;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 12px;
    font-size: 18px;
  }
}

.fam-about__list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  @include media(lg) {
    gap: 10px;
  }
}

.fam-about__item {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 100%;
  gap: 13px;
  @include media(lg) {
    gap: 8px;
  }
  &::before {
    content: '';
    width: 18px;
    height: 18px;
    @include bg-icon('icons/ic_point_orange.svg');
    flex-shrink: 0;
    @include media(lg) {
      width: 14px;
      height: 14px;
    }
  }
}

.fam-about__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  @include media(lg) {
    gap: 15px;
  }
}

.fam-about__card {
  border-radius: 10px;
  background: #fff;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  gap: 18px;
  width: calc(33.33% - 20px);
  @include media(lg) {
    position: relative;
    width: 100%;
    padding: 18px 18px 18px 30px;
    gap: 20px;
  }
  @include media(xs) {
    padding: 15px;
    gap: 15px;
  }
  @include media(xxs) {
    gap: 12px;
  }
  &:nth-child(1) {
    .fam-about__text {
      max-width: 240px;
      width: 100%;
      @include media(lg) {
        max-width: 100%;
      }
      @include media(xs) {
        max-width: 235px;
      }
    }
  }
  &:nth-child(4) {
    .fam-about__text {
      width: calc(100% + 10px);
      @include media(lg) {
        width: 100%;
      }
    }
  }
}

.fam-about__picture {
  width: 71px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  @include media(lg) {
    width: 68px;
  }
  @include media(xs) {
    width: 65px;
  }
  @include media(xxs) {
    width: 58px;
  }
}

.fam-about__image {
  @include media(lg) {
    transform: scale(0.9);
  }
  @include media(xs) {
    transform: scale(0.8);
  }
  @include media(xxs) {
    transform: scale(0.7);
  }
}

.fam-about__inner {

}

.fam-about__headline {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
  @include media(lg) {
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 20px;
  }
}

.fam-about__text {
  font-size: 16px;
  line-height: 112%;
  @include media(lg) {
    font-size: 15px;
    line-height: 107%;
  }
  @include media(xxs) {
    font-size: 14px;
  }
}
