.fam-doc {
  margin-top: -194px;
  max-height: 770px;
  overflow: hidden;
  transition-property: max-height;
  transition-duration: $transition-duration;
  @include media(lg) {
    max-height: 768px;
  }
  @include media(xs) {
    max-height: 875px;
  }
  @include media(xxs) {
    max-height: 890px;
  }
  &.open {
    max-height: 2000px;
  }
  &.family {
    margin-top: -280px;
  }
}

.fam-doc__cont {

}

.fam-doc__wrap {
  width: 920px;
  min-height: 1006px;
  margin: 0 auto;
  position: relative;
  padding: 90px 88px 60px;
  @include bg-icon('fam-doc/fam-doc-bg.svg');
  background-position: top;
  @include media(lg) {
    width: 482px;
    min-height: 1171px;
    @include bg-icon('fam-doc/fam-doc-bg_tablet.svg');
    background-position: top;
    padding: 46px 50px 20px;
  }
  @include media(xs) {
    width: 100%;
    max-width: 320px;
    min-height: 1112px;
    margin: 0 auto;
    @include bg-icon('fam-doc/fam-doc-bg_mob.png');
    background-position: top;
    padding: 30px 30px 20px;
  }
  @include media(xxs) {
    padding: 30px 25px 20px;
    max-width: 300px;
  }
}

.fam-doc__caption {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 45px;
  line-height: 100%;
  text-align: center;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 8px;
    font-size: 25px;
    font-weight: 600;
  }
}

.fam-doc__year-box {
  margin-bottom: 12px;
  text-align: center;
  @include media(lg) {
    margin-bottom: 10px;
  }
}

.fam-doc__year {
  padding: 10px 17px;
  border-radius: 55px;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  display: inline-block;
  color: #6683c2;
  background: rgba(102, 131, 194, 0.08);
  @include media(lg) {
    border-radius: 32px;
    padding: 6px 11px;
    font-size: 15px;
  }
}

.fam-doc__title {
  margin-bottom: 36px;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  @include media(lg) {
    margin-bottom: 18px;
    font-size: 18px;
  }
}

.fam-doc__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  @include media(lg) {
    margin-bottom: 20px;
    flex-direction: column;
    gap: 10px;
  }
}

.fam-doc__item {
  font-size: 18px;
  line-height: 106%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  @include media(lg) {
    gap: 8px;
    font-size: 15px;
    line-height: 100%;
    flex-direction: row;
    text-align: left;
  }
  &::before {
    content: '';
    flex-shrink: 0;
    width: 42px;
    height: 42px;
    @include bg-icon('icons/ic_point_orange.svg');
    @include media(lg) {
      width: 14px;
      height: 14px;
    }
  }
  &:nth-child(1) {
    width: 109px;
    @include media(lg) {
      width: 100%;
    }
  }
  &:nth-child(2) {
    width: 159px;
    @include media(lg) {
      width: 100%;
    }
  }
  &:nth-child(3) {
    width: 69px;
    @include media(lg) {
      width: 100%;
    }
  }
  &:nth-child(4) {
    width: 160px;
    @include media(lg) {
      width: 100%;
    }
  }
}

.fam-doc__area {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 30px;
  margin-bottom: 40px;
  @include media(lg) {
    gap: 15px;
    margin-bottom: 30px;
  }
}

.fam-doc__box {
  width: calc(50% - 15px);
  border-radius: 10px;
  background: rgba(235, 238, 245, 0.46);
  padding: 16px 24px;
  font-size: 16px;
  line-height: 20px;
  @include media(lg) {
    width: 100%;
    padding: 12px 15px;
    font-size: 15px;
    line-height: 19px;
  }
}

.fam-doc__button {
  margin: 0 auto 42px;
  min-width: 328px;
  min-height: 55px;
  font-size: 16px;
  line-height: 100%;
  @include media(lg) {
    margin: 0 auto 25px;
  }
  @include media(xs) {
    min-height: 45px;
    min-width: auto;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 10px;
  }
  @include media(xxs) {
    font-size: 13px;
  }
}

.fam-doc__tables {
  margin-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: flex-start;
  @include media(lg) {
    flex-wrap: wrap;
    gap: 20px;
  }
  table {
    width: 100%;
  }
  tr:first-child {
    background: rgba(102, 131, 194, 0.17);
  }
  th, td {
    font-size: 15px;
    line-height: 19px;
    padding: 10px;
    vertical-align: baseline;
    @include media(lg) {
      font-size: 14px;
      line-height: 18px;
    }
    @include media(xs) {
      padding: 10px 5px;
      font-size: 13px;
      line-height: 100%;
    }
  }
  th {
    font-weight: 500;
  }
  tr {
    &:not(:last-of-type) {
      border-bottom: 1px solid #6683c2;
    }
    &:nth-child(4) td, &:nth-child(6) td {
      @include media(xs) {
        padding: 4px 5px;
      }
    }
  }
  b {
    font-weight: 500;
  }
  td {
    vertical-align: middle;
    span {
      line-height: 100%;
      font-weight: inherit;
      @include media(xs) {
        display: none;
      }
    }
    .mob {
      @include media(xs) {
        display: inline;
      }
    }
  }
}

.fam-doc__table {
  border: 1px solid #6683c2;
  border-radius: 10px;
  flex-shrink: 0;
  overflow: hidden;
  &_long-desk {
    width: 100%;
    @include media(lg) {
      display: none;
    }
    td:first-child {
      font-weight: 500;
    }
  }
  &_long-mob {
    width: 100%;
    display: none;
    @include media(lg) {
      display: block;
    }
    tr {
      @include media(lg) {
        position: relative;
        td:first-child {
          font-weight: 500;
        }
      }
    }
  }
  &:last-child {
    width: 352px;
    @include media(lg) {
      width: 100%;
    }
    td:nth-child(1) {
      width: 180px;
      @include media(lg) {
        width: 162px;
      }
      @include media(xs) {
        width: 74px;
      }
    }
  }
  .desc {
    display: inline;
    @include media(xs) {
      display: none;
    }
  }
  .mob {
    display: none;
    @include media(xs) {
      display: inline;
    }
  }
}

.fam-doc__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include media(lg) {
    gap: 15px;
  }
}

.fam-doc__info-box {
  border-radius: 10px;
  background: rgba(235, 238, 245, 0.46);
  padding: 17px 20px;
  @include media(lg) {
    padding: 12px 15px;
  }
}

.fam-doc__info-headline {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 4px;
    font-size: 16px;
  }
}

.fam-doc__info-text {
  font-size: 16px;
  line-height: 20px;
  @include media(lg) {
    font-size: 15px;
    line-height: 19px;
  }
}
