.family-program {
  padding-bottom: 60px;
  background-color: #FFFFFF;
  @include media(lg) {
    padding-bottom: 35px;
  }
  @include media(md) {
    overflow: hidden;
    padding-bottom: 25px;
  }
  &.summer {
    background: transparent;
    .family-program__tag {
      background: rgba(161, 216, 106, 0.54);
      color: #003c56;
    }
  }
}

.family-program__cont {

}

.family-program__wrap {
  display: flex;
  align-items: flex-start;
  @include media(md) {
    display: block;
    position: relative;
  }
  &::before {
    @include media(md) {
      content: '';
      @include bg-icon('icons/ic_scroll_cursor_hint.svg');
      background-size: 31px 31px;
      background-color: #FFFFFF;
      width: 51px;
      height: 51px;
      border-radius: 50%;
      position: absolute;
      z-index: 1;
      bottom: 46px;
      right: 0;
      animation: family-program-scroll-hint 2s linear infinite;
      transform: translateX(5px);
      transition-property: opacity;
      transition-duration: $transition-duration;
    }
  }
  @keyframes family-program-scroll-hint {
    0% {
      transform: translateX(5px);
    }
    50% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(5px);
    }
  }
  &.hide-hint {
    &::before {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.family-program__box {
  flex-shrink: 0;
  max-width: 455px;
  width: 100%;
  margin-right: 100px;
  @include media(lg) {
    max-width: 304px;
    margin-right: 10px;
  }
}

.family-program__caption {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 45px;
  line-height: 121%;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 30px;
    font-size: 25px;
    line-height: 100%;
  }
}

.family-program__text {
  max-width: 428px;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  color: #003c56;
  @include media(lg) {
    font-size: 15px;
    line-height: 19px;
    max-width: 100%;
  }
  @include media(md) {
    margin-bottom: 30px;
  }
}

.family-program__inner {
  position: relative;
  @include media(md) {
    &::before, &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 20px;
    }
    &::before {
      left: -21px;
      background: linear-gradient(to right, #fff, transparent);
    }
    &::after {
      right: -21px;
      background: linear-gradient(to left, #fff, transparent);
    }
  }
}

.family-program__overlay {
  @include media(md) {
    overflow-x: auto;
    padding-bottom: 10px;
    display: flex;
    margin: 0 -20px;
    &::before, &::after {
      content: '';
      width: 20px;
      flex-shrink: 0;
    }
  }
}

.family-program__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 25px;
  justify-content: center;
  @include media(lg) {
    gap: 10px;
  }
  @include media(md) {
    height: 125px;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
  }
}

.family-program__tag {
  border-radius: 33px;
  padding: 11px 31px 13px;
  font-weight: 500;
  font-size: 14px;
  color: #23617c;
  background-color: #EFF3FE;
  min-width: 155px;
  text-align: center;
  @include media(lg) {
    min-width: 135px;
    font-size: 12px;
    line-height: 15px;
    padding: 9px 28px 11px;
  }
}
