.family-manual {
  padding-bottom: 50px;
  background-color: #FFFFFF;
  @include media(lg) {
    padding-bottom: 40px;
  }
  @include media(md) {
    padding-bottom: 3px;
  }
  @include media(xs) {
    padding-bottom: 40px;
  }
  &.no-background {
    background: unset;
  }
  &.summer {
    background: transparent;
    .family-manual__area {
      @include bg-icon('family-manual/family-manual-bg-summer.png');
      background-size: cover;
      @include media(lg) {
        background: none;
      }
      @include media(xs) {
        @include bg-icon('family-manual/family-manual-bg-summer_mob.png');
        background-size: cover;
      }
    }
    .family-manual__form {
      background: #8bbe5a;
    }
  }
}

.family-manual__cont {

}

.family-manual__area {
  border-radius: 31px;
  overflow: hidden;
  display: flex;
  @include bg-icon('family-manual/family-manual-bg.png');
  background-size: cover;
  @include media(lg) {
    border-radius: 10px;
    background: none;
    align-items: flex-start;
  }
  @include media(xs) {
    flex-direction: column;
    @include bg-icon('family-manual/family-manual-bg_mob.png');
    background-size: cover;
  }
}

.family-manual__box {
  position: relative;
  min-height: 461px;
  padding: 50px 90px 0 60px;
  overflow: hidden;
  @include media(lg) {
    min-height: unset;
    padding: 0 17px 0 0;
    overflow: visible;
  }
  @include media(xs) {
    padding: 30px 0 0;
    text-align: center;
    width: 100%;
  }
}

.family-manual__caption {
  margin-bottom: 17px;
  font-weight: 500;
  font-size: 38px;
  line-height: 104%;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 7px;
    font-size: 25px;
    line-height: 100%;
  }
  @include media(xs) {
    margin-bottom: 5px;
    padding: 0 18px;
  }
}

.family-manual__picture {
  position: absolute;
  top: 73px;
  left: 65px;
  width: 670px;
  height: 696px;
  @include media(lg) {
    position: static;
    width: 328px;
    height: 358px;
    margin-left: -12px;
  }
  @include media(xs) {
    margin: 0 auto -174px;
  }
}

.family-manual__image {

}

.family-manual__form {
  width: 400px;
  flex-shrink: 0;
  background: #6683c2;
  @include media(lg) {
    width: 353px;
    border-radius: 10px;
  }
  @include media(xs) {
    width: 100%;
    position: relative;
    z-index: 1;
  }
  .iti.iti--allow-dropdown.iti--show-flags {
    margin-bottom: 20px;
    width: 100%;
  }
  .iti__selected-country {
    padding-left: 22px;
  }
  &.form-enter-sms-code {
    .family-manual__label, .family-manual__input, .iti.iti--allow-dropdown.iti--show-flags {
      display: none;
    }
  }
}

.family-manual__inner {
  padding: 46px 55px;
  @include media(lg) {
    padding: 35px 32px;
  }
}

.family-manual__input {
  margin-bottom: 20px;
  width: 100%;
  &:last-of-type {
    margin-bottom: 30px;
  }
}

.family-manual__submit {
  margin-bottom: 25px;
  display: block;
  width: 100%;
}

.family-manual__label {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
