.family-about {
  margin-bottom: 82px;
  @include media(lg) {
    margin-bottom: 40px;
  }
  &.summer {
    margin-bottom: 0;
    padding-top: 74px;
    padding-bottom: 82px;
    background: rgba(255, 255, 255, 0.39);
    @include media(lg) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .family-about__item {
      &_light-blue {
        background: #efaa5c;
        path {
          fill: #efaa5c;
        }
      }
      &_yellow, &_green {
        background: #8bbe5a;
        path {
          fill: #8bbe5a;
        }
      }
      &_blue {
        background: #a0d76a;
        path {
          fill: #a0d76a;
        }
      }
    }
  }
}

.family-about__cont {

}

.family-about__title {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 45px;
  line-height: 104%;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 30px;
    font-size: 25px;
    line-height: 100%;
  }
  @include media(xxs) {
    margin-bottom: 28px;
  }
}

.family-about__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 24px;
  @include media(lg) {
    gap: 15px;
  }
  @include media(xs) {
    gap: 20px;
  }
}

.family-about__item {
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.06);
  color: #FFFFFF;
  border-radius: 77px;
  padding: 22px 35px;
  width: calc(50% - 12px);
  display: flex;
  align-items: center;
  @include media(lg) {
    width: 100%;
    border-radius: 43px;
    padding: 20px 35px;
  }
  @include media(xs) {
    padding: 25px 13px;
  }
  @include media(xxs) {
    padding: 14px 13px;
    min-height: 75px;
  }
  svg {
    width: 36px;
    height: 36px;
    margin-right: 35px;
    flex-shrink: 0;
    @include media(lg) {
      width: 20px;
      height: 20px;
      margin-right: 13px;
    }
    @include media(xxs) {
      margin-right: 8px;
    }
  }
  &_light-blue {
    background: #68ccea;
    path {
      fill: #68ccea;
    }
  }
  &_blue {
    background: #6683c2;
    path {
      fill: #6683c2;
    }
  }
  &_yellow {
    background: #f2c45b;
    path {
      fill: #f2c45b;
    }
  }
  &_green {
    background: #7fcbb4;
    path {
      fill: #7fcbb4;
    }
  }
}

.family-about__text {
  font-size: 24px;
  line-height: 30px;
  @include media(lg) {
    font-size: 18px;
    line-height: 100%;
  }
  @include media(xxs) {
    font-size: 16px;
  }
}
