.footer {
  position: relative;
  background: #5b6784;
  color: #FFFFFF;
  padding: 74px 0 54px;
  font-size: 15px;
  @include media(md) {
    padding: 40px 0 200px;
  }
  @include media(xs) {
    text-align: center;
    padding: 50px 0 56px;
  }
  a {
    color: #FFFFFF;
  }
  &_new-year {
    padding: 90px 0 54px;
    @include bg-icon('footer/bg.png');
    background-size: cover;
    @include media(lg) {
      @include bg-icon('footer/bg_tablet.png');
      background-size: cover;
    }
    @include media(md) {
      padding: 50px 0 200px;
    }
    @include media(xs) {
      @include bg-icon('footer/bg_mob.png');
      background-size: cover;
      padding: 50px 0 56px;
    }
    &::before {
      content: '';
      height: 51px;
      position: absolute;
      top: -10px;
      left: 0;
      right: 0;
      @include bg-icon('footer/snow.png');
      background-size: 1920px 51px;
      background-repeat: repeat-x;
      @include media(lg) {
        @include bg-icon('footer/snow_tablet.png');
        background-size: contain;
        background-repeat: repeat-x;
        height: 44px;
      }
      @include media(xs) {
        background-size: auto 35px;
        height: 35px;
      }
    }
  }
}

.footer__cont.cont {
  @include media(md) {
    position: relative;
    padding: 0 48px;
  }
  @include media(xs) {
    padding: 0 20px;
  }
  @include media(xxs) {
    padding: 0 10px;
  }
}

.footer__area {
  display: flex;
  justify-content: space-between;
  gap: 0 20px;
  padding-bottom: 45px;
  margin-bottom: 44px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  @include media(md) {
    flex-direction: column;
    position: relative;
    align-items: flex-end;
    border: none;
    padding-bottom: 0;
    margin-bottom: 8px;
  }
  @include media(xs) {
    padding-bottom: 0;
    min-height: auto;
  }
}

.footer__box {
  &:nth-child(1) {
    max-width: 262px;
    width: 100%;
    @include media(md) {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 262px;
    }
    @include media(xs) {
      position: static;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      order: 1;
    }
  }
  &:nth-child(2) {
    max-width: 267px;
    width: 100%;
    @include media(md) {
      margin-top: -5px;
      max-width: 262px;
      border-top: 1px solid rgba(255, 255, 255, 0.07);
      padding-top: 16px;
      padding-bottom: 16px;
      text-align: center;
    }
    @include media(xs) {
      max-width: 100%;
    }
    .footer__title {
      @include media(md) {
        display: flex;
        align-items: center;
        justify-content: center;
        &::after {
          content: "";
          margin-left: 10px;
          @include bg-icon('icons/ic_arrow_down.svg');
          width: 8px;
          flex-shrink: 0;
          height: 5px;
          transition: transform .3s;
        }
      }
      @include media(xs) {
        justify-content: center;
      }
    }
  }
  &:nth-child(3) {
    max-width: 362px;
    width: 100%;
    @include media(md) {
      max-width: 262px;
      padding-top: 13px;
      padding-bottom: 16px;
      border-top: 1px solid rgba(255, 255, 255, 0.07);
      border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    }
    @include media(xs) {
      max-width: 100%;
      margin-bottom: 0;
    }
    .footer__title {
      @include media(md) {
        display: flex;
        align-items: center;
        justify-content: center;
        &::after {
          content: "";
          margin-left: 10px;
          @include bg-icon('icons/ic_arrow_down.svg');
          width: 8px;
          flex-shrink: 0;
          height: 5px;
          transition: transform .3s;
        }
      }
      @include media(xs) {
        justify-content: center;
      }
    }
  }
}

.footer__logo {
  margin-bottom: 24px;
  width: 168px;
  height: 72px;
  display: inline-block;
  @include media(lg) {
    margin-bottom: 18px;
    width: 162px;
    height: 69px;
  }
  @include media(xs) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 132px;
    height: 57px;
  }
}

.footer__logo-image {
  width: 100%;
  height: 100%;
}

a.footer__lk {
  display: none;
  @include media(md) {
    display: inline-flex;
    margin-bottom: 50px;
    align-items: center;
    color: #000;
    padding: 12px 33px;
    border-radius: 4px;
    &::after {
      content: "";
      background: url(../img/icons/lk.svg) no-repeat;
      width: 16px;
      flex-shrink: 0;
      height: 16px;
      margin-left: 10px;
    }
  }
  @include media(xs) {
    margin-bottom: 35px;
  }
}

.footer__text {
  font-size: 16px;
  line-height: 132%;
  color: $white;
  @include media(md) {
    font-size: 15px;
    line-height: 146%;
  }
  @include media(xs) {
    max-width: 248px;
    width: 100%;
    line-height: 154%;
    margin-top: 21px;
  }
  &:not(:last-of-type) {
    margin-bottom: 22px;
    @include media(md) {
      margin-bottom: 18px;
    }
    @include media(xs) {
      margin-bottom: 0;
    }
  }
  a {
    color: rgba($white, .65);
    text-decoration: underline;
    transition-duration: $transition-duration;
    transition-property: color;
    &:hover {
      color: #FFFFFF;
    }
  }
}

a.footer__about {
  margin-top: 10px;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition-duration: $transition-duration;
  transition-property: color;
  color: rgba(#fff, .65);
  @include media(md) {
    margin-top: 15px;
    font-size: 15px;
  }
  @include media(xs) {
    margin-top: 10px;
  }
  &:hover {
    color: #fff;
  }
  &::after {
    content: '';
    margin-left: 7px;
    @include bg-icon('icons/ic_arrow_btn_white.svg');
    width: 11px;
    height: 9px;
    flex-shrink: 0;
  }
}

a.footer__about {
  text-decoration: underline;
}

.footer__title {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 24px;
  line-height: 101%;
  @include media(md) {
    margin-bottom: 0;
    font-size: 17px;
  }
  &.active {
    @include media(md) {
      &::after {
        transform: rotate(180deg);
      }
      & ~ .footer__list {
        display: flex;
      }
    }
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px 0;
  @include media(md) {
    display: none;
    margin-top: 16px;
    text-align: center;
    align-items: center;
  }
}

.footer__space {
  height: 10px;
  @include media(lg) {
    height: 5px;
  }
}

a.footer__blog, .footer__blog {
  margin-top: 40px;
  padding: 10px 44px;
  color: rgba(#fff, .65);
  @include media(md) {
    display: none;
    margin-top: 18px;
  }
  &_mob {
    display: none;
    @include media(md) {
      display: block;
      max-width: 262px;
      width: 100%;
    }
    @include media(xs) {
      max-width: 180px;
      margin: 18px auto 8px;
    }
  }
}

.footer__link {
  font-size: 16px;
  @include media(md) {
    font-size: 15px;
    text-align: center;
  }
  @include media(xs) {
    text-align: center;
  }
}

a.footer__link {
  color: rgba(255, 255, 255, 0.65);
  transition-property: color;
  transition-duration: $transition-duration;
  &:hover {
    color: rgba(255, 255, 255, 1);
  }
}

.footer__contacts {
  max-width: 236px;
  width: 100%;
  @include media(md) {
    max-width: 262px;
    margin-top: 25px;
  }
  @include media(xs) {
    order: -1;
    max-width: 100%;
    margin-top: 92px;
    margin-bottom: 35px;
  }
  .footer__title {
    @include media(md) {
      display: none;
    }
  }
}

.footer__contacts-box {
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  @include media(md) {
    margin-bottom: 24px;
  }
  @include media(xs) {
    margin-bottom: 28px;
  }
}

.footer__phone {
  margin-bottom: 2px;
  font-weight: 800;
  font-size: 24px;
}

.footer__phone-note {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  @include media(md) {
    font-size: 15px;
  }
}

a.footer__whatsapp, .footer__whatsapp {
  margin-bottom: 25px;
  color: rgba(#fff, .65);
  @include media(xs) {
    max-width: 236px;
    width: 100%;
    margin: 0 auto 25px;
  }
}

a.footer__email {
  color: rgba(#fff, .65);
  transition-property: color;
  transition-duration: $transition-duration;
  &:hover {
    color: #fff;
  }
  @include media(md) {
    font-size: 15px;
  }
}

.footer__social {

}

.footer__headline {
  margin-bottom: 6px;
  @include media(xs) {
    margin-bottom: 16px;
  }
}

.footer__social-list {
  display: flex;
  gap: 0 15px;
  @include media(md) {
    gap: 0 20px;
  }
  @include media(xs) {
    justify-content: center;
  }
}

.footer__social-link {

}

.footer__social-icon {
  width: 25px;
  height: 25px;
  @include media(md) {
    width: 35px;
    height: 35px;
  }
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include media(md) {
    margin-top: 32px;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  @include media(xs) {
    flex-direction: column;
  }
}

a.footer__organization {
  max-width: 350px;
  width: 100%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  transition-duration: $transition-duration;
  transition-property: color;
  color: rgba(#fff, .65);
  @include media(md) {
    margin-bottom: 50px;
    font-size: 15px;
    position: absolute;
    left: 48px;
    top: 448px;
  }
  @include media(xs) {
    max-width: 232px;
    justify-content: center;
    margin-bottom: 26px;
    position: static;
  }
  &:hover {
    color: #fff;
  }
  &::before {
    content: '';
    width: 33px;
    flex-shrink: 0;
    height: 48px;
    margin-right: 15px;
    @include bg-icon('organization.png');
    @include media(xs) {
      content: none;
    }
  }
}

.footer__license {
  color: #FFFFFF;
  font-size: 16px;
  position: relative;
  left: -35px;
  @include media(md) {
    position: absolute;
    font-size: 15px;
    width: 100%;
    order: 1;
    top: 522px;
    max-width: 332px;
    left: 48px;
  }
  @include media(xs) {
    position: static;
  }
  a {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.65);
    transition-duration: $transition-duration;
    transition-property: color;
    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
  br.mob {
    display: none;
    @include media(xs) {
      display: inline;
    }
  }
}

.footer__app {
  position: relative;
  left: -20px;
  @include media(md) {
    position: absolute;
    left: unset;
    right: 84px;
    bottom: -150px;
    width: 227px;
  }
  @include media(xs) {
    width: 100%;
    position: static;
    order: 1;
    margin-top: 23px;
  }
}

.footer__app-text {
  margin-bottom: 12px;
  font-size: 16px;
  @include media(md) {
    font-size: 15px;
  }
  @include media(xs) {
    text-align: center;
    margin-bottom: 18px;
  }
}

.footer__app-links {
  display: flex;
  gap: 25px;
  @include media(md) {
    flex-direction: column;
    gap: 16px;
  }
  @include media(xs) {
    align-items: center;
    gap: 18px;
  }
}

.footer__app-ru-store {
  width: 160px;
  height: 40px;
  opacity: 0.65;
  transition-property: opacity;
  transition-duration: $transition-duration;
  &:hover {
    opacity: 1;
  }
  @include bg-icon('footer/ru-store.svg');
  @include media(md) {
    width: 142px;
    height: 36px;
  }
}

.footer__app-app-store {
  width: 135px;
  height: 40px;
  @include bg-icon('footer/app-store.svg');
  opacity: 0.65;
  transition-property: opacity;
  transition-duration: $transition-duration;
  &:hover {
    opacity: 1;
  }
}

.footer__resident {
  @include media(md) {
    margin-right: 185px;
  }
  @include media(xs) {
    order: -1;
    margin: 0 auto 26px;
  }
}

.footer__resident-image {

}
