.header {
  position: relative;
  background-color: #FFFFFF;
  @include media(xs) {
    position: relative;
  }
  &_white {
    background: #fff;
  }
  &.thin {
    .header__area {
      border-bottom: none;
    }
    .header__bottom {
      transform: translateY(-100%);
      position: absolute;
      &::before {
        box-shadow: none;
      }
    }
  }
  &.stages-hide {
    @include media(md) {
      .header__stages {
        transform: translateY(-100%);
        position: absolute;
        &::before {
          box-shadow: none;
        }
      }
    }
  }
  &.open {
    background: #FFFFFF;
    box-shadow: none;
    position: fixed;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    padding-bottom: 80px;
    @include media(md) {
      padding-bottom: 75px;
    }
    @include media(xs) {
      padding-bottom: 0;
      overflow: hidden;
    }
    &.old {
      overflow: auto;
    }
    .nav {
      display: flex;
    }
    .header__stages {
      display: none;
    }
    .header__bottom {
      display: none;
    }
    .header__open {
      display: flex;
    }
    .header__open, .header__area {
      position: relative;
      z-index: 60;
    }
    .header__area {
      position: sticky;
      top: 0;
      background: #FFFFFF;
      border: none;
      @include media(md) {
        margin: 0 -20px;
      }
      @include media(xs) {
        margin: 0;
      }
      &::after {
        //content: '';
        @include bg-icon('icons/ic_header_decor.svg');
        width: 34px;
        height: 66px;
        position: absolute;
        top: calc(100% - 10px);
        transform: translateX(-50%);
        left: 50%;
        @include media(md) {
          @include bg-icon('icons/ic_header_decor_mob.svg');
          width: 34px;
          height: 43px;
          top: calc(100% + 13px);
          content: none;
        }
        @include media(xs) {
          content: '';
          height: 46px;
          top: calc(100% - 8px);
        }
      }
      &::before {
        content: none;
        @include media(md) {
          content: '';
          background-color: $white;
          height: 80px;
          position: absolute;
          z-index: -1;
          left: 50%;
          transform: translateX(-50%);
          width: 100vw;
        }
      }
    }
    .header__nav-item_menu {
      &::before {
        @include bg-icon('icons/ic_close.svg');
        background-size: contain;
      }
    }
    .header__layer {
      //display: block;
    }
  }
}

.header__cont.cont {
  z-index: 101;
}

.header__layer {
  display: none;
  background: #FFFFFF;
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.header__area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 106px;
  padding: 10px 0;
  background: #FFFFFF;
  position: relative;
  z-index: 5;
  border-bottom: 1px solid #EBEBEB;
  overflow: hidden;
  @include media(lg) {
    border-bottom: none;
  }
  @include media(md) {
    min-height: 80px;
  }
  @include media(xs) {
    transition-duration: $transition-duration;
    transition-property: opacity;
  }
  @media (max-width: 360.98px) {
    min-height: 69px;
  }
  &.hide {
    @include media(xs) {
      opacity: 0;
      pointer-events: none;
    }
  }
  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: #FFFFFF;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100vw + 100px);
  }
}

.header__logo {
  width: 126px;
  height: 54px;
  @include media(md) {
    width: 113px;
    height: 48px;
  }
  @include media(xs) {
    width: 100px;
    height: 43px;
  }
  @media (max-width: 360.98px) {
    width: 90px;
    height: 38px;
  }
}

.header__logo-image {

}

.header__nav {
  display: flex;
  border-radius: 40px;
  padding: 5px;
  @include media(md) {
    order: -1;
    gap: 5px;
  }
  @include media(xs) {
    padding: 0;
  }
}

.header__nav-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  border-radius: 43px;
  padding: 14px 30px 15px;
  color: $black;
  display: flex;
  align-items: center;
  @include media(md) {
    display: none;
  }
  @include media(xs) {
    padding: 0;
  }
  &.btn-orange {
    color: #FFFFFF;
    margin-left: 28px;
    padding: 14px 17px 15px;
    transition-property: background-color;
    &:hover {
      color: #FFFFFF;
    }
    @include media(md) {
      margin-left: 0;
    }
  }
  &_menu {
    position: relative;
    margin-left: -74px;
    padding-left: 32px;
    display: flex;
    align-items: center;
    @include media(md) {
      display: flex;
      margin-left: -35px;
    }
    @include media(xs) {
      margin-left: 0;
      padding-left: 24px;
    }
    @include media-up(xl) {
      &:hover {
        &::before {
          opacity: 0;
        }
        &::after {
          opacity: 1;
        }
        span {
          color: #6683c2;
        }
      }
    }
    span {
      font-weight: 500;
      transition-property: color;
      transition-duration: $transition-duration;
      @include media(xs) {
        display: none;
      }
    }
    &::before, &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 20px;
      height: 14px;
      transform: translateY(-50%);
      transition-duration: $transition-duration;
      transition-property: opacity;
      @include media(xs) {
        width: 24px;
        height: 17px;
      }
    }
    &::before {
      opacity: 1;
      @include bg-icon('icons/ic_burger.svg');
    }
    &::after {
      opacity: 0;
      @include bg-icon('icons/ic_burger_blue.svg');
    }
  }
}

a.header__nav-item {
  transition-property: color;
  transition-duration: $transition-duration;
  &:hover {
    color: #6683c2;
  }
}

.header__login {
  padding: 0;
  background-color: transparent;
  @include media(xs) {
    background-color: #6683c2;
  }
  &:hover {
    span {
      color: #6683c2;
    }
  }
  span {
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    transition-property: color;
    transition-duration: $transition-duration;
    @include media(xs) {
      display: none;
    }
  }
  @include media(xs) {
    padding: 0;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  &:hover {
    background: transparent;
  }
  &::after {
    content: '';
    margin-left: 10px;
    flex-shrink: 0;
    width: 20px;
    height: 25px;
    @include bg-icon('icons/ic_login_blue.svg');
    @include media(xs) {
      @include bg-icon('icons/ic_login_white.svg');
      margin-left: 0;
      width: 15px;
      height: 18px;
    }
  }
}

.header__stages {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 0;
  overflow: hidden;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  transition-duration: $transition-duration;
  transition-property: transform;
  @include media(lg) {
    padding: 20px 0;
    position: relative;
  }
  @include media(xs) {
    flex-wrap: wrap;
    padding: 12px 0 15px;
  }
  &::before {
    content: '';
    background: #FFFFFF;
    position: absolute;
    z-index: -1;
    top: 0;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    //box-shadow: 0 4px 9px 0 rgba(0,0,0,.05);
    transition-duration: $transition-duration;
    transition-property: box-shadow;
  }
}

.header__stages-note {
  margin-right: 30px;
  font-size: 18px;
  @include media(lg) {
    font-size: 16px;
    line-height: 20px;
  }
  @include media(xs) {
    margin-right: 0;
    margin-bottom: 10px;
    font-size: 14px;
    width: 100%;
    text-align: center;
  }
}

.header__stages-box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  @include media(xs) {
    gap: 10px;
  }
}

.header__stages-button {
  min-width: 129px;
  min-height: 45px;
  padding: 10px 15px;
  border-radius: 34px;
  background: rgba(102, 131, 194, 0.08);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: box-shadow, background-color;
  transition-duration: $transition-duration;
  @include media(lg) {
    min-width: 126px;
    min-height: 34px;
    padding: 5px 10px;
    font-size: 14px;
  }
  @include media(xs) {
    min-width: 108px;
    min-height: 34px;
    font-size: 14px;
  }
  @include media(xxs) {
    min-width: 103px;
    min-height: 30px;
    font-size: 13px;
  }
  &:hover {
    box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.05);
    background: rgba(102, 131, 194, 0.41);
  }
  &.active {
    box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.05);
    background: #6683c2;
    color: #FFFFFF;
    cursor: default;
  }
}

.header__bottom {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 100%;
  overflow: hidden;
  box-shadow: 0 4px 19px 0 rgba(0, 0, 0, .05);
  transition-duration: $transition-duration;
  transition-property: transform;
  @include media(lg) {
    display: none;
  }
  &::before {
    content: '';
    background: #FFFFFF;
    position: absolute;
    z-index: -1;
    top: 0;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
  }
}

.header__bottom-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1344px;
  width: 100%;
  margin: 0 auto;
  min-height: 62px;
  padding: 5px 0;
}

.header__bottom-link {
  font-weight: 500;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  &_family {
    position: relative;
    &::before {
      content: '';
      @include bg-icon('icons/ic_family_lightning.svg');
      width: 12px;
      height: 16px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -19px;
    }
  }
}

a.header__bottom-link {
  transition-property: color;
  transition-duration: $transition-duration;
  &:hover {
    color: #6683c2;
  }
}

.header__open {
  display: none;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.06);
  background: #fff;
  border-radius: 32px;
  padding: 45px 78px;
  justify-content: space-between;
  position: relative;
  margin-top: 50px;
  @include media(lg) {
    position: relative;
    margin-top: 50px;
    padding: 30px 35px;
    border-radius: 10px;
    min-height: 375px;
  }
  @include media(xs) {
    flex-wrap: wrap;
    padding: 15px;
    margin-top: 31px;
  }
}

.header__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 414px;
  width: 100%;
  @include media(lg) {
    gap: 15px;
    width: calc(50% - 15px);
    max-width: 100%;
  }
  @include media(md) {
    width: auto;
    flex-grow: 1;
  }
  @include media(xs) {
    width: 100%;
    margin-bottom: 30px;
  }
}

.header__link {
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.06);
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 8px 35px;
  min-height: 50px;
  transition-duration: $transition-duration;
  transition-property: background-color;
  @include media(lg) {
    padding: 11px 25px;
  }
  &:hover {
    background-color: #e8ecf7;
    .header__link-note {
      background-color: #e8ecf7;
    }
  }
  &_teacher {
    svg {
      margin-left: auto;
    }
  }
  &:nth-child(5) {
    .header__link-name {
      @include media(sm) {
        margin-right: 0;
      }
    }
    svg {
      @include media(sm) {
        display: none;
      }
    }
  }
}

.header__link-name {
  margin-right: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  color: #222;
  @include media(lg) {
    margin-right: 15px;
    font-size: 16px;
  }
  @include media(xs) {
    line-height: 118%;
  }
}

.header__link-note {
  flex-shrink: 0;
  font-size: 14px;
  line-height: 10px;
  color: #6683c2;
  padding: 12px 14px;
  background: rgba(102, 131, 194, 0.08);
  border-radius: 33px;
  margin-right: 47px;
  margin-left: auto;
  transition-property: background-color;
  transition-duration: $transition-duration;
  @include media(lg) {
    font-size: 12px;
    line-height: 12px;
    padding: 7px 10px 8px;
    margin-right: 32px;
  }
}

.header__consult {
  max-width: 291px;
  width: 100%;
  @include media(lg) {
    max-width: 100%;
    width: calc(50% - 15px);
  }
  @include media(md) {
    width: 289px;
    flex-shrink: 0;
    margin-left: 30px;
  }
  @include media(xs) {
    margin-left: 0;
    margin-bottom: 20px;
    width: 100%;
  }
}

.header__title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 24px;
  line-height: 108%;
  color: #222;
  @include media(lg) {
    font-size: 18px;
  }
  @include media(md) {
    margin-bottom: 10px;
  }
}

.header__text {
  margin-bottom: 19px;
  font-size: 16px;
  line-height: 144%;
  color: #222;
  @include media(lg) {
    margin-bottom: 20px;
    font-size: 15px;
    max-width: 240px;
  }
  @include media(md) {
    margin-bottom: 12px;
  }
}

.header__button {
  margin-bottom: 20px;
  font-size: 16px;
  @include media(lg) {
    margin-bottom: 0;
  }
}

.header__wp {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #6683c2;
  @include media(lg) {
    font-size: 15px;
  }
  @include media(xs) {
    margin-bottom: 3px;
  }
  &:hover {
    text-decoration: none;
    color: #6683c2;
  }
  &::after {
    content: '';
    @include bg-icon('icons/ic_arrow_btn_blue.svg');
    width: 11px;
    height: 8px;
    flex-shrink: 0;
    margin-left: 7px;
  }
}

.header__contacts {
  max-width: 278px;
  width: 100%;
  @include media(lg) {
    max-width: 100%;
    position: absolute;
    bottom: 30px;
    right: 35px;
    width: 500px;
  }
  @include media(md) {
    width: 289px;
    bottom: 40px;
  }
  @include media(xs) {
    display: block;
    margin-top: 0;
    position: static;
    width: 100%;
  }
}

.header__contacts-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include media(lg) {
    width: calc(50% - 15px);
  }
  @include media(md) {
    width: 100%;
  }
  &:first-child {
    margin-bottom: 40px;
    @include media(lg) {
      margin-bottom: 32px;
    }
    @include media(xs) {
      margin-bottom: 18px;
    }
  }
}

.header__phone {
  font-size: 24px;
  color: #222;
}

.header__note {
  font-size: 16px;
  color: rgba(34, 34, 34, 0.4);
  @include media(lg) {
    font-size: 15px;
  }
}

.header__mail {
  font-size: 16px;
  line-height: 150%;
  color: #222;
  transition-property: color;
  transition-duration: $transition-duration;
  @include media(lg) {
    font-size: 15px;
  }
  &:hover {
    color: #6683c2;
  }
}
