.how {
  position: relative;
  padding-top: 32px;
  background-color: #FFFFFF;
  overflow: hidden;
  padding-bottom: 30px;
  @include media(lg) {
    background: transparent;
  }
  @include media(xs) {
    padding-top: 38px;
  }
  & + .pre-reviews, & + .reviews {
    margin-bottom: 0;
  }
  & ~ .trial-license {
    background: transparent;
    margin-bottom: 0;
    padding-bottom: 0;
    .trial-license__decor_5 {
      top: -188px;
    };
    .trial-license__inner {
      @include media(lg) {
        background-color: #FFFFFF;
      }
    }
  }
  &.active {
    .how__slider {
      &::before {
        @include media(lg) {
          content: none;
        }
      }
    }
    .how__slide {
      @include media(lg) {
        display: block;
      }
    }
  }
  &_blue {
    padding-top: 80px;
    padding-bottom: 40px;
    @include media(lg) {
      padding-top: 40px;
      background: #FFFFFF;
    }
    .how__title {
      color: #000;
    }
    .how__slider::before {
      background: linear-gradient(180deg,rgba(248,248,248,0) 0,#ffffff 100%);
    }
    .how__slide {
      background: #f3f5fb;
      box-shadow: none;
    }
    .how__text {
      background: #ebeef5;
      color: #000;
    }
    .how__number {
      color: #6683c2;
    }
    .how__scrollbar {
      background: #eceff4;
      .swiper-scrollbar-drag {
        background: #6683c2;
      }
    }
    .how__nav-btn {
      background-color: #6683C2;
    }
  }
}

.how__cont {

}

.how__caption {
  margin-bottom: 38px;
  font-weight: 500;
  font-size: 45px;
  line-height: 121%;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 25px;
    font-size: 25px;
    line-height: 100%;
  }
}

.how__slider {
  &::before {
    @include media(lg) {
      content: '';
      background: linear-gradient(180deg, rgba(248, 248, 248, 0) 0%, #f8f8f8 100%);
      position: absolute;
      z-index: 10;
      bottom: 0;
      right: 0;
      left: 0;
      height: 400px;
    }
  }
}

.how__wrapper {
  margin-bottom: 40px;
  @include media(lg) {
    flex-direction: column;
    margin-bottom: 0;
    gap: 20px;
    transform: none !important;
  }
  @include media(xs) {
    gap: 25px;
  }
}

.how__slide {
  position: relative;
  border-radius: 32px;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.06);
  background: #f37e60;
  padding: 34px 40px 45px;
  width: 478px;
  height: auto;
  @include media(lg) {
    width: 100%;
    border-radius: 10px;
    padding: 16px 15px;
    display: none;
    &:nth-child(1),&:nth-child(2),&:nth-child(3) {
      display: block;
    }
  }
}

.how__title {
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  @include media(lg) {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 23px;
  }
}

.how__text {
  margin-left: 50px;
  padding: 20px 25px;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.04);
  background: rgba(0, 0, 0, 0.06);
  min-height: 111px;
  @include media(lg) {
    padding: 15px 20px;
    margin-left: 0;
    margin-right: 110px;
    min-height: 70px;
    border-radius: 8px;
    font-size: 15px;
    line-height: 19px;
  }
  @include media(xs) {
    margin-right: 0;
    min-height: 92px;
    padding-right: 50px;
  }
}

.how__number {
  font-weight: 800;
  font-size: 130px;
  line-height: 93px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 2px;
  width: 80px;
  text-align: center;
  @include media(lg) {
    left: unset;
    bottom: 23px;
    right: 26px;
  }
  @include media(xs) {
    right: -15px;
  }
}

.how__bottom {
  display: flex;
  align-items: center;
  @include media(lg) {
    display: none;
  }
}

.how__scrollbar {
  margin-right: 40px;
  flex-grow: 1;
  height: 5px;
  background: #ECEFF4;
  @include media(lg) {
    margin-right: 0;
  }
  .swiper-scrollbar-drag {
    background: #f37e60;
  }
}

.how__nav {
  display: flex;
  gap: 0 18px;
  @include media(lg) {
    display: none;
  }
}

.how__nav-btn {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: #f37e60;
  @include bg-icon('icons/ic_arrow_slider_white.svg');
  background-size: auto;
  opacity: 0.5;
  transition-property: opacity;
  transition-duration: $transition-duration;
  &:hover {
    opacity: 1;
  }
  &:disabled {
    opacity: 0.25;
    pointer-events: none;
  }
}

.how__nav-btn_prev {
  transform: rotate(180deg);
}

.how__nav-btn_next {

}

.how__button-box {
  display: none;
  @include media(lg) {
    position: relative;
    z-index: 20;
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
}

.how__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 26px 15px;
  &::after {
    content: '';
    width: 8px;
    height: 11px;
    margin-left: 10px;
    @include bg-icon('icons/ic_arrow_btn_down_white.svg');
  }
}
