.it-cap {
  position: relative;
  z-index: 1;
  margin-top: 50px;
  margin-bottom: -90px;
  @include media(lg) {
    margin-top: 0;
    margin-bottom: -20px;
    @include bg-icon('it-cap/bg_tablet.webp');
    background-size: cover;
    border-radius: 0 0 20px 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  @include media(xs) {
    @include bg-icon('it-cap/bg_mob.webp');
    background-size: cover;
  }
  @include media(xxs) {
    @include bg-icon('it-cap/bg_xxs.webp');
    background-size: cover;
  }
  &::before {
    content: '';
    @include bg-icon('it-cap/line.png');
    background-size: cover;
    position: absolute;
    bottom: 88px;
    left: 0;
    right: 0;
    height: 353px;
    @include media(lg) {
      content: none;
    }
  }
}

.it-cap__wrap {
  overflow: hidden;
  position: relative;
  border-radius: 31px;
  @include bg-icon('it-cap/bg.webp');
  background-size: cover;
  padding: 55px 60px 50px;
  @include media(lg) {
    background: none;
    overflow: visible;
    border-radius: 0;
    padding: 34px 0 49px;
  }
  @include media(xs) {
    padding: 26px 0 49px;
  }
}

.it-cap__class {
  display: block;
  margin-bottom: 38px;
  font-size: 24px;
  line-height: 100%;
  @include media(lg) {
    margin-bottom: 15px;
    font-size: 18px;
  }
  @include media(xs) {
    text-align: center;
  }
}

.it-cap__caption {
  margin-bottom: 37px;
  font-weight: 600;
  font-size: 58px;
  line-height: 112%;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 12px;
    font-size: 32px;
  }
  @include media(xs) {
    margin-bottom: 8px;
    text-align: center;
  }
}

.it-cap__text {
  margin-bottom: 48px;
  max-width: 600px;
  width: 100%;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 58px;
    max-width: 360px;
    font-size: 18px;
    line-height: 23px;
  }
  @include media(xs) {
    margin: 0 auto 12px;
    max-width: 344px;
    text-align: center;
  }
  @include media(xxs) {
    font-size: 16px;
    line-height: 20px;
  }
}

.it-cap__picture {
  position: absolute;
  z-index: 1;
  top: 16px;
  right: 96px;
  width: 548px;
  height: 532px;
  @include media(lg) {
    top: 20px;
    right: 8px;
    width: 303px;
    height: 278px;
  }
  @include media(xs) {
    position: static;
    margin: 0 auto;
    max-width: 351px;
    width: 100%;
    height: auto;
  }
  @include media(xxs) {
    transform: translateX(-10px);
    max-width: 307px;
  }
}

.it-cap__image {

}

.it-cap__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 82px;
  font-size: 16px;
  min-width: 236px;
  min-height: 55px;
  @include media(lg) {
    margin-bottom: 0;
  }
  @include media(xs) {
    display: flex;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 16px;
    right: 16px;
    transform: translateY(50%);
  }
  @include media(xxs) {
    left: 0;
    right: 0;
  }
}

.it-cap__cards {
  @include media(lg) {
    display: none;
  }
}

.it-cap__card {
  position: relative;
  flex-shrink: 0;
  min-width: 316px;
  width: auto;
  border-radius: 20px;
  padding: 20px 25px;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.08);
  background: rgba(#CDD7EB, 0.77);
  left: 0;
  transition-property: left;
  transition-duration: 0.3s;
  transition-delay: 0.8s;
  &:hover {
    .it-cap__more {
      color: #6683c2;
      border: 1px solid #6683c2;
    }
  }
  &.swiper-slide-prev {
    left: -65px;
  }
}

.it-cap__title {
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.8);
}

.it-cap__note {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 100%;
}

.it-cap__more {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.8);
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.64);
  border-radius: 34px;
  padding: 5px 10px;
  box-shadow: 0 4px 27px 0 rgba(0, 0, 0, 0.08);
  transition-duration: $transition-duration;
  transition-property: color, border-color;
}

.it-cap__decor {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 115px;
  height: 115px;
}
