.library-tile {
  position: relative;
  margin-top: 40px;
  margin-bottom: 80px;
  @include media(lg) {
    margin-top: 34px;
    margin-bottom: 40px;
  }
  &.hide {
    //display: none;
  }
}

.library-tile__cont {

}

.library-tile__area {
  min-height: 400px;
  position: relative;
}

.library-tile__title {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 45px;
  line-height: 121%;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 30px;
    font-size: 25px;
    line-height: 100%;
  }
}

.library-tile__tabs {
  margin-bottom: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  @include media(lg) {
    margin-bottom: 20px;
    gap: 20px;
  }
  @include media(xs) {
    gap: 15px;
  }
}

.library-tile__tab {
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.04);
  background: #fff;
  border-radius: 34px;
  font-size: 16px;
  color: #000;
  padding: 15px 26px 16px;
  @include media(lg) {
    font-size: 14px;
    padding: 6px 14px 7px;
  }
  &.active {
    background: #6683c2;
    color: #FFFFFF;
    cursor: default;
  }
}

.library-tile__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  @include media(lg) {
    gap: 25px;
  }
}

.library-tile__item {
  padding: 30px 35px 30px 30px;
  width: 100%;
  border-radius: 32px;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.04);
  background: #fff;
  display: flex;
  @include media(lg) {
    padding: 8px 8px 20px;
    border-radius: 10px;
    flex-wrap: wrap;
  }
  &.hide {
    display: none;
  }
}

.library-tile__video-box {
  cursor: pointer;
  position: relative;
  margin-right: 36px;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  @include media(lg) {
    margin-right: 0;
    margin-bottom: 12px;
    border-radius: 10px;
  }
  @include media(xs) {
    position: relative;
    padding-bottom: 56%;
    margin-bottom: 10px;
  }
  &::before {
    content: '';
    @include bg-icon('library-tile/ic_play.svg');
    width: 93px;
    height: 93px;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-property: opacity;
    transition-duration: 1s;
    @include media(xs) {
      width: 41px;
      height: 41px;
    }
  }
  &::after {
    content: '';
    background: rgba(102, 131, 194, 0.22);
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition-property: opacity;
    transition-duration: 1s;
  }
  &.active {
    &::before, &::after {
      pointer-events: none;
      opacity: 0;
    }
    .library-tile__poster {
      pointer-events: none;
      opacity: 0;
    }
  }
}

.library-tile__poster {
  pointer-events: none;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition-property: opacity;
  transition-duration: 1s;
}

.library-tile__video {
  width: 100%;
  border: 1px solid rgba(102, 131, 194, 0.3);
  min-height: 455px;
  @include media(lg) {
    min-height: 372px;
  }
  @include media(xs) {
    min-height: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
  }
}

.library-tile__inner {
  max-width: 434px;
  width: 100%;
  flex-shrink: 0;
  @include media(lg) {
    max-width: 100%;
    padding: 0 6px;
  }
}

.library-tile__top {
  margin-bottom: 30px;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.04);
  background: #fff;
  padding: 20px 30px;
  border-radius: 22px;
  @include media(lg) {
    margin-bottom: 10px;
    padding: 0;
    box-shadow: none;
  }
}

.library-tile__lesson {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
  @include media(lg) {
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 16px;
  }
}

.library-tile__headline {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #003c56;
  @include media(lg) {
    font-size: 15px;
    line-height: 19px;
  }
}

.library-tile__box {
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.04);
  background: #fff;
  padding: 24px 30px;
  border-radius: 22px;
  @include media(lg) {
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  @include media(xs) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.library-tile__tags {
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  @include media(lg) {
    margin-bottom: 0;
    gap: 10px;
    max-width: 393px;
    width: 100%;
  }
  @include media(xs) {
    margin-bottom: 10px;
    max-width: 100%;
  }
}

.library-tile__tag {
  border-radius: 22px;
  background: rgba(102, 131, 194, 0.08);
  font-size: 14px;
  line-height: 100%;
  color: #6683c2;
  padding: 7px 21px;
  @include media(lg) {
    font-size: 13px;
    padding: 5px 19px  7px;
  }
  @include media(xs) {
    padding: 3px 13px 7px;
  }
}

.library-tile__teacher {
  display: flex;
  @include media(lg) {
    max-width: 302px;
    width: 100%;
    flex-direction: column;
  }
  @include media(xs) {
    max-width: 100%;
  }
}

.library-tile__teacher-span {
  margin-right: 15px;
  font-size: 16px;
  line-height: 132%;
  color: rgba(0, 0, 0, 0.8);
  @include media(lg) {
    margin-right: 0;
    margin-bottom: 3px;
    font-size: 13px;
  }
}

.library-tile__teacher-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 132%;
  @include media(lg) {
    font-size: 15px;
    line-height: 113%;
  }
}

.library-tile__button {
  margin-top: 30px;
  min-width: 200px;
  min-height: 56px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  @include media(lg) {
    margin-top: 20px;
    min-width: unset;
    min-height: unset;
    width: 100%;
    font-size: 14px;
  }
}
