.library-reg {
  margin-bottom: 45px;
  @include media(lg) {
    margin-bottom: 36px;
  }
}

.library-reg__cont {

}

.library-reg__area {
  min-height: 406px;
  position: relative;
  padding: 45px 48px;
  border-radius: 32px;
  @include bg-icon('library-reg/library-reg-bg.png');
  background-size: cover;
  @include media(lg) {
    min-height: auto;
    border-radius: 10px;
    @include bg-icon('library-reg/library-reg-bg_tablet.png');
    background-size: cover;
    padding: 20px 54px 25px 15px;
  }
  @include media(xs) {
    padding: 22px 20px 25px;
    @include bg-icon('library-reg/library-reg-bg_mob.png');
    background-size: cover;
    display: block;
  }
  @include media(xxs) {
    padding: 22px 14px 25px;
  }
}

.library-reg__decor {
  width: 450px;
  height: 406px;
  position: absolute;
  bottom: 0;
  right: 44px;
  @include media(lg) {
    display: none;
  }
}

.library-reg__box {
  max-width: 806px;
  width: 100%;
  margin-bottom: 45px;
  @include media(lg) {
    margin-bottom: 0;
    max-width: 100%;
    display: flex;
  }
  @include media(xs) {
    max-width: 100%;
    display: block;
  }
}

.library-reg__text {
  margin-bottom: 40px;
  font-size: 45px;
  line-height: 100%;
  color: #fff;
  font-weight: 500;
  @include media(lg) {
    margin-right: 70px;
    max-width: 275px;
    width: 100%;
    margin-bottom: 0;
    font-size: 25px;
    line-height: 100%;
  }
  @include media(xs) {
    margin-right: 0;
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 22px;
  }
}

.library-reg__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include media(lg) {
    gap: 15px;
    max-width: 262px;
    width: 100%;
  }
  @include media(xs) {
    margin-bottom: 28px;
    max-width: 100%;
    gap: 9px;
  }
}

.library-reg__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  padding-left: 31px;
  position: relative;
  @include media(lg) {
    padding-left: 26px;
    font-size: 15px;
    line-height: 113%;
  }
  &::before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    @include bg-icon('icons/ic_point_white.svg');
  }
}

.library-reg__button {
  display: block;
  font-size: 16px;
  width: 224px;
  box-shadow: 0 4px 27px 0 rgba(0, 0, 0, 0.08);
  padding: 19px 22px 21px;
  @include media(lg) {
    width: 270px;
    bottom: 25px;
    left: 15px;
  }
  @include media(xs) {
    width: 100%;
    display: block;
  }
}
