.library-cap {
  margin-top: 40px;
  margin-bottom: 60px;
  @include media(lg) {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

.library-cap__cont {

}

.library-cap__area {
  position: relative;
  padding: 144px 100px 129px;
  border-radius: 31px;
  box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.05);
  min-height: 664px;
  @include bg-icon('library-cap/library-cap-bg.png');
  background-size: cover;
  @include media(lg) {
    border-radius: 10px;
    padding: 52px 62px;
    min-height: 367px;
    @include bg-icon('library-cap/library-cap-bg_tablet.png');
    background-size: cover;
  }
  @include media(xs) {
    @include bg-icon('library-cap/library-cap-bg_mob.png');
    background-size: cover;
    min-height: 472px;
    padding: 38px 15px 10px;
  }
}

.library-cap__decor {
  position: absolute;
  &_1 {
    transform: rotate(8deg);
    width: 65px;
    height: 50px;
    top: 70px;
    left: 68px;
    @include bg-icon('library-cap/decor-1.svg');
    @include media(lg) {
      width: 42px;
      height: 32px;
      top: 28px;
      left: 32px;
    }
    @include media(xs) {
      display: none;
      width: 36px;
      height: 27px;
      top: 33px;
      left: 24px;
    }
  }
  &_2 {
    transform: rotate(-14deg);
    top: 66px;
    right: 88px;
    width: 49px;
    height: 37px;
    @include bg-icon('library-cap/decor-2.svg');
    @include media(lg) {
      width: 28px;
      height: 24px;
      top: 28px;
      right: 32px;
    }
    @include media(xs) {
      width: 29px;
      height: 22px;
      top: 70px;
      right: 40px;
      display: none;
    }
  }
  &_3 {
    width: 167px;
    height: 297px;
    transform: rotate(7deg);
    top: 230px;
    left: 74px;
    @include bg-icon('library-cap/decor-3.svg');
    @include media(lg) {
      width: 48px;
      height: 86px;
      top: 255px;
      left: 40px;
    }
    @include media(xs) {
      display: none;
    }
  }
  &_4 {
    top: 202px;
    right: 52px;
    width: 206px;
    height: 175px;
    transform: rotate(-7deg);
    @include bg-icon('library-cap/decor-4.svg');
    @include media(lg) {
      width: 69px;
      height: 59px;
      top: 89px;
      right: 28px;
    }
    @include media(xs) {
      display: none;
    }
  }
}

.library-cap__title {
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 58px;
  line-height: 112%;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 12px;
    font-size: 30px;
  }
  @include media(xs) {
    font-size: 27px;
    max-width: 180px;
    width: 100%;
    margin: 0 auto 18px;
    flex-direction: column;
    text-align: center;
  }
}

.library-cap__text {
  position: relative;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #003c56;
  width: 707px;
  height: 82px;
  margin: 0 auto 52px;
  @include media(lg) {
    width: 347px;
    height: 74px;
    font-size: 18px;
    line-height: 23px;
    margin: 0 auto 15px;
  }
  @include media(xs) {
    width: 262px;
    margin: 0 auto 42px;
  }
}

.library-cap__static {
  position: absolute;
  top: 0;
  left: 60px;
  @include media(lg) {
    left: 50%;
    transform: translateX(-50%)
  }
}

.library-cap__animate {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition-property: opacity;
  transition-duration: $transition-duration;
  @include media(lg) {
    top: 24px;
  }
  &.active {
    opacity: 1;
  }
}

.library-cap__animate-spaces {
  display: inline;
  opacity: 0;
  @include media(lg) {
    display: none;
  }
}

.library-cap__animate-string {
  display: inline;
  span {
    opacity: 0;
    transition-property: opacity;
    transition-duration: $transition-duration;
    &.active {
      opacity: 1;
    }
  }
}

.library-cap__line {
  margin-bottom: 35px;
  display: flex;
  gap: 35px;
  justify-content: center;
  @include media(lg) {
    margin-bottom: 20px;
    gap: 20px;
  }
  @include media(xs) {
    flex-direction: column;
    gap: 15px;
    margin-bottom: 25px;
  }
}

.library-cap__filter {
  position: relative;
  max-width: 340px;
  width: 100%;
  @include media(lg) {
    max-width: 270px;
  }
  @include media(xs) {
    max-width: 100%;
  }
  &.disable {
    pointer-events: none;
    opacity: 0.5;
  }
  &_class {
    z-index: 2;
    .library-cap__filter-item {
      width: calc(33.33% - 7px);
      @include media(xs) {
        width: calc(50% - 5px);
      }
    }
  }
  &_subject {
    z-index: 1;
    .library-cap__filter-item {
      width: calc(33.33% - 7px);
      @include media(lg) {
        width: calc(50% - 5px);
      }
      @include media(xs) {
        width: 100%;
      }
      &:first-child {
        @include media(xs) {
          margin-top: 15px;
        }
      }
    }
    .library-cap__filter-wrap {
      width: 929px;
      right: -315px;
      padding: 25px 5px 0 25px;
      @include media(lg) {
        width: 655px;
        right: -63px;
        padding: 20px 5px 0 20px;
      }
      @include media(xs) {
        padding: 32px 15px 0;
        width: 100%;
        right: 0;
      }
      &.show-top-gradient {
        &::before {
          @include media(xs) {
            content: '';
            background: linear-gradient(0, rgba(245, 247, 251, 0) 0%, #f5f7fb 100%);
            height: 75px;
            position: absolute;
            z-index: 2;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
          }
        }
      }
    }
    .library-cap__filter-scroll {
      padding-right: 20px;
      max-height: 490px;
      @include media(lg) {
        max-height: 310px;
      }
      @include media(xs) {
        max-height: 321px;
        padding-right: 0;
        padding-bottom: 50px;
      }
    }
    .simplebar-scrollbar {
      &::before {
        background-color: #6683c2;
        width: 5px;
        opacity: 1;
      }
      @include media(xs) {
        display: none !important;
      }
    }
  }
}

.library-cap__filter-top {
  overflow: hidden;
  cursor: pointer;
  border-radius: 34px;
  background-color: $white;
  padding: 12px 50px 12px 34px;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.04);
  min-height: 55px;
  display: flex;
  align-items: center;
  position: relative;
  border: 2px solid transparent;
  font-weight: 600;
  font-size: 16px;
  color: #003c56;
  transition-property: border;
  transition-duration: $transition-duration;
  @include media(lg) {
    font-size: 14px;
    padding: 12px 20px 12px 20px;
  }
  @include media(xs) {
    z-index: 20;
  }
  &.active {
    border: 2px solid #f37e60;
    @include media(xs) {
      border: 2px solid transparent;
    }
    & ~ .library-cap__filter-wrap {
      opacity: 1;
      pointer-events: all;
    }
    &::before {
      transform: rotate(180deg) translateY(calc(-50% + 1px));
    }
  }
  &.error {
    border: 2px solid red;
    .library-cap__filter-top-text {
      color: red;
    }
  }
  span {
    &:first-of-type {
      margin-left: 10px;
    }
    margin-right: 12px;
    position: relative;
    padding-right: 11px;
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
    display: inline-block;
    white-space: nowrap;
    width: 154px;
    overflow: hidden;
    @include media(lg) {
      font-size: 14px;
      width: 130px;
    }
    @include media(xs) {
      width: calc(100% - 95px);
    }
    &::before {
      content: '';
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      width: 30px;
    }
  }
  &::before {
    content: '';
    @include bg-icon('icons/ic_arrow_down_dark.svg');
    width: 16px;
    height: 9px;
    position: absolute;
    right: 34px;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: top;
    transition-duration: $transition-duration;
    transition-property: transform;
    @include media(lg) {
      right: 20px;
    }
  }
}

.library-cap__filter-top-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #003c56;
  @include media(lg) {
    font-size: 14px;
  }
}

.library-cap__filter-wrap {
  position: absolute;
  z-index: 10;
  width: 655px;
  top: calc(100% + 5px);
  border-radius: 22px;
  background: #f5f7fb;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.04);
  padding: 25px 25px 0;
  opacity: 0;
  pointer-events: none;
  transition-property: opacity;
  transition-duration: $transition-duration;
  @include media(lg) {
    border-radius: 10px;
    padding: 20px 20px 0;
    width: 560px;
  }
  @include media(xs) {
    top: calc(100% - 30px);
    width: 100%;
    background: #f5f7fb;
    padding: 48px 15px 0;
  }
}

.library-cap__filter-icon {
  display: none;
  @include media(xs) {
    display: block;
    animation: 2s linear infinite libraryCapFilterIconRotate;
    position: absolute;
    z-index: 5;
    top: 169px;
    right: 12px;
    transform: translateY(-10px);
    @keyframes libraryCapFilterIconRotate {
      0% {
        transform: translateY(-10px);
      }
      50% {
        transform: translateY(10px);
      }
      100% {
        transform: translateY(-10px);
      }
    }
  }
}

.library-cap__filter-headline {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  @include media(lg) {
    margin-bottom: 20px;
  }
  @include media(xs) {
    display: none;
  }
}

.library-cap__filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 20px;
}

.library-cap__filter-item {
  cursor: pointer;
  &:hover {
    .library-cap__filter-view {
      background: rgba(81, 106, 161, 0.37);
      @include media(xs) {
        background: rgba(255, 255, 255, 0.47);
      }
    }
  }
}

.library-cap__filter-input {
  display: none;
  &:checked ~ .library-cap__filter-view {
    background: #516aa1;
    color: #fff;
  }
}

.library-cap__filter-view {
  border-radius: 34px;
  text-align: center;
  padding: 2px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
  font-size: 15px;
  line-height: 16px;
  transition-duration: $transition-duration;
  transition-property: background-color;
  @include media(xs) {
    min-height: 45px;
  }
}

.library-cap__box {
  max-width: 252px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  @include media(lg) {
    max-width: 270px;
  }
  @include media(xs) {
    max-width: 100%;
  }
}

.library-cap__button {
  width: 100%;
  font-size: 16px;
  padding: 20px 22px;
}

.library-cap__reset {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: -60px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  @include media(xs) {
    margin-top: 15px;
    width: 100%;
    transform: none;
    position: static;
  }
  &.show {
    opacity: 1;
    pointer-events: all;
    @include media(xs) {
      span {
        display: block;
      }
    }
  }
  svg {
    @include media(xs) {
      width: 10px;
      height: 10px;
    }
  }
  span {
    display: none;
    font-size: 15px;
    text-align: center;
    color: #6683c2;
    @include media(xs) {
      margin-left: 9px;
    }
  }
}

.library-cap__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #6683C2;
  @include media(xs) {
    width: 17px;
    height: 17px;
  }
}
