.library-consult {
  padding-bottom: 53px;
  @include media(lg) {
    padding-bottom: 0;
    margin-bottom: 40px;
  }
  & + .pre-reviews {
    padding-top: 70px;
    @include media(lg) {
      padding-top: 0;
    }
  }
}

.library-consult__cont {

}

.library-consult__area {
  position: relative;
  z-index: 1;
  border-radius: 20px;
  padding: 36px 44px 45px;
  min-height: 379px;
  overflow: hidden;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.04);
  @include bg-icon('library-consult/consult-bg.png');
  @include media(lg) {
    border-radius: 10px;
    min-height: 353px;
    padding: 30px 25px;
    @include bg-icon('library-consult/consult-bg_tablet.png');
  }
  @include media(xs) {
    min-height: 579px;
    padding: 30px 20px 40px;
    @include bg-icon('library-consult/consult-bg_mob.png');
    max-width: 353px;
    width: 100%;
    margin: 0 auto;
    &::before {
      content: '';
      width: 42px;
      height: 42px;
      bottom: unset;
      left: 18px;
      top: 170px;
      background: #7FCBB4;
      border-radius: 50%;
    }
    &::after {
      content: '';
      width: 28px;
      height: 28px;
      background: #68CCEA;
      position: absolute;
      top: 144px;
      right: 24px;
      border-radius: 50%;
    }
  }
  &::before {
    content: '';
    @include bg-icon('library-consult/circles.svg');
    position: absolute;
    bottom: -16px;
    left: -40px;
    width: 166px;
    height: 108px;
    @include media(lg) {
      content: none;
    }
  }
}

.library-consult__title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 45px;
  line-height: 121%;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 16px;
    font-size: 25px;
    line-height: 100%;
  }
  @include media(xs) {
    text-align: center;
  }
}

.library-consult__text {
  margin-bottom: 35px;
  max-width: 456px;
  width: 100%;
  font-size: 24px;
  line-height: 132%;
  @include media(lg) {
    font-size: 16px;
    max-width: 290px;
  }
  @include media(xs) {
    text-align: center;
    font-size: 16px;
    max-width: 225px;
    margin: 0 auto 26px;
  }
}

.library-consult__decor {
  width: 960px;
  height: 370px;
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
  @include media(lg) {
    width: 684px;
    height: 323px;
  }
  @include media(xs) {
    margin-bottom: 30px;
    position: static;
    width: 353px;
    height: auto;
    margin-left: -20px;
  }
}

.library-consult__buttons {
  display: flex;
  gap: 0 30px;
  @include media(lg) {
    flex-direction: column;
    gap: 20px 0;
    max-width: 283px;
  }
  @include media(xs) {
    margin: 0 auto;
  }
}

.library-consult__btn {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  &_order {
    padding: 17px 52px 18px;
  }
  &_wp {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px 34px 18px;
    &::after {
      content: '';
      @include bg-icon('icons/ic_wp_white.svg');
      width: 18px;
      height: 19px;
      margin-left: 10px;
      flex-shrink: 0;
    }
  }
}
