.library-cap {
  margin-top: 20px;
  margin-bottom: 60px;
  @include media(lg) {
    margin-top: 0;
    margin-bottom: 40px;
  }
  @include media(xs) {
    margin-bottom: 32px;
  }
}

.library-cap__cont {

}

.library-cap__area {
  position: relative;
  padding: 152px 100px 129px;
  border-radius: 31px;
  box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.05);
  min-height: 664px;
  @include bg-icon('library-cap/library-cap-bg.png');
  background-size: cover;
  @include media(lg) {
    border-radius: 10px;
    padding: 52px 62px;
    min-height: 367px;
    @include bg-icon('library-cap/library-cap-bg_tablet.png');
    background-size: cover;
  }
  @include media(xs) {
    @include bg-icon('library-cap/library-cap-bg_mob.png');
    background-size: cover;
    min-height: 472px;
    padding: 26px 15px 30px;
  }
}

.library-cap__decor {
  position: absolute;
  &_1 {
    transform: rotate(8deg);
    width: 65px;
    height: 50px;
    top: 70px;
    left: 68px;
    @include bg-icon('library-cap/decor-1.svg');
    @include media(lg) {
      width: 42px;
      height: 32px;
      top: 28px;
      left: 32px;
    }
    @include media(xs) {
      width: 36px;
      height: 27px;
      top: 33px;
      left: 24px;
    }
  }
  &_2 {
    transform: rotate(-14deg);
    top: 66px;
    right: 88px;
    width: 49px;
    height: 37px;
    @include bg-icon('library-cap/decor-2.svg');
    @include media(lg) {
      width: 28px;
      height: 24px;
      top: 28px;
      right: 32px;
    }
    @include media(xs) {
      width: 29px;
      height: 22px;
      top: 70px;
      right: 40px;
    }
  }
  &_3 {
    width: 167px;
    height: 297px;
    transform: rotate(7deg);
    top: 230px;
    left: 74px;
    @include bg-icon('library-cap/decor-3.svg');
    @include media(lg) {
      width: 48px;
      height: 86px;
      top: 255px;
      left: 40px;
    }
    @include media(xs) {
      display: none;
    }
  }
  &_4 {
    top: 202px;
    right: 52px;
    width: 206px;
    height: 175px;
    transform: rotate(-7deg);
    @include bg-icon('library-cap/decor-4.svg');
    @include media(lg) {
      width: 69px;
      height: 59px;
      top: 89px;
      right: 28px;
    }
    @include media(xs) {
      display: none;
    }
  }
}

.library-cap__title {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 58px;
  line-height: 112%;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 26px;
    font-size: 30px;
  }
  @include media(xs) {
    font-size: 24px;
    max-width: 180px;
    width: 100%;
    margin: 0 auto 20px;
    flex-direction: column;
    text-align: center;
  }
  &::before {
    content: '';
    flex-shrink: 0;
    margin-right: 20px;
    width: 60px;
    height: 50px;
    @include bg-icon('library-cap/decor-title.svg');
    @include media(lg) {
      width: 37px;
      height: 31px;
      margin-right: 15px;
    }
    @include media(xs) {
      margin-right: 0;
      margin-bottom: 6px;
      width: 29px;
      height: 24px;
    }
  }
}

.library-cap__text {
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #003c56;
  max-width: 700px;
  width: 100%;
  margin: 0 auto 52px;
  @include media(lg) {
    max-width: 432px;
    font-size: 18px;
    line-height: 23px;
    margin: 0 auto 30px;
  }
  @include media(xs) {
    max-width: 316px;
    margin: 0 auto 25px;
  }
}

.library-cap__line {
  margin-bottom: 35px;
  display: flex;
  gap: 35px;
  justify-content: center;
  @include media(lg) {
    margin-bottom: 14px;
    gap: 20px;
  }
  @include media(xs) {
    flex-direction: column;
    gap: 15px;
  }
}

.library-cap__filter {
  position: relative;
  max-width: 340px;
  width: 100%;
  @include media(lg) {
    max-width: 270px;
  }
  @include media(xs) {
    max-width: 100%;
  }
  &_class {
    .library-cap__filter-item {
      width: calc(33.33% - 7px);
      @include media(xs) {
        width: calc(50% - 5px);
      }
    }
  }
  &_subject {
    .library-cap__filter-item {
      width: calc(50% - 5px);
      @include media(xs) {
        width: 100%;
      }
    }
    .library-cap__filter-wrap {
      right: 0;
      padding: 25px 5px 25px 25px;
      @include media(lg) {
        padding: 20px 5px 20px 20px;
      }
      @include media(xs) {
        padding: 90px 20px 20px;
      }
      &::before {
        @include media(xs) {
          content: '';
          background: linear-gradient(0, rgba(102, 131, 194, 0) 0%, #6683c2 100%);
          position: absolute;
          z-index: 1;
          top: 90px;
          right: 0;
          left: 0;
          height: 60px;
          pointer-events: none;
        }
      }
      &::after {
        @include media(xs) {
          content: '';
          background: linear-gradient(180deg, rgba(102, 131, 194, 0) 0%, #6683c2 100%);
          position: absolute;
          z-index: 1;
          bottom: 20px;
          right: 0;
          left: 0;
          height: 60px;
          pointer-events: none;
        }
      }
    }
    .library-cap__filter-scroll {
      padding-right: 20px;
      height: 383px;
      @include media(lg) {
        height: 368px;
      }
      @include media(xs) {
        height: 321px;
        padding-right: 0;
        padding-bottom: 50px;
      }
    }
    .simplebar-scrollbar {
      &::before {
        background-color: #6683c2;
        width: 5px;
        opacity: 1;
      }
      @include media(xs) {
        display: none !important;
      }
    }
  }
}

.library-cap__filter-top {
  overflow: hidden;
  cursor: pointer;
  border-radius: 34px;
  background-color: $white;
  padding: 12px 50px 12px 34px;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.04);
  min-height: 55px;
  display: flex;
  align-items: center;
  position: relative;
  border: 2px solid transparent;
  font-weight: 600;
  font-size: 16px;
  color: #003c56;
  transition-property: border;
  transition-duration: $transition-duration;
  @include media(lg) {
    font-size: 14px;
    padding: 12px 20px 12px 20px;
  }
  &.active {
    border: 2px solid #f37e60;
    @include media(xs) {
      z-index: 20;
      border: 2px solid transparent;
    }
    & ~ .library-cap__filter-wrap {
      opacity: 1;
      pointer-events: all;
    }
    &::before {
      transform: rotate(180deg) translateY(calc(-50% + 1px));
    }
  }
  &.error {
    border: 2px solid red;
    .library-cap__filter-top-text {
      color: red;
    }
  }
  span {
    &:first-of-type {
      margin-left: 10px;
    }
    margin-right: 12px;
    position: relative;
    padding-right: 11px;
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
    display: inline-block;
    white-space: nowrap;
    width: 154px;
    overflow: hidden;
    @include media(lg) {
      font-size: 14px;
      width: 130px;
    }
    @include media(xs) {
      width: calc(100% - 95px);
    }
    &::before {
      content: '';
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      width: 30px;
    }
  }
  &::before {
    content: '';
    @include bg-icon('icons/ic_arrow_down_black.svg');
    width: 12px;
    height: 7px;
    position: absolute;
    right: 34px;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: top;
    transition-duration: $transition-duration;
    transition-property: transform;
    @include media(lg) {
      right: 20px;
    }
  }
}

.library-cap__filter-top-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #003c56;
  @include media(lg) {
    font-size: 14px;
  }
}

.library-cap__filter-wrap {
  position: absolute;
  z-index: 10;
  width: 655px;
  top: calc(100% + 5px);
  border-radius: 22px;
  background-color: $white;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.04);
  padding: 25px;
  opacity: 0;
  pointer-events: none;
  transition-property: opacity;
  transition-duration: $transition-duration;
  @include media(lg) {
    padding: 20px;
    width: 560px;
  }
  @include media(xs) {
    width: calc(100% + 30px);
    right: -15px;
    left: -15px;
    background: #6683c2;
    top: -20px;
    padding: 90px 20px 20px;
    border-radius: 10px;
  }
}

.library-cap__filter-headline {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  @include media(lg) {
    margin-bottom: 20px;
  }
  @include media(xs) {
    display: none;
  }
}

.library-cap__filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.library-cap__filter-item {
  cursor: pointer;
  &:hover {
    .library-cap__filter-view {
      background: rgba(81, 106, 161, 0.37);
      @include media(xs) {
        background: rgba(255, 255, 255, 0.47);
      }
    }
  }
}

.library-cap__filter-input {
  display: none;
  &:checked ~ .library-cap__filter-view {
    background: #516aa1;
    color: #fff;
  }
}

.library-cap__filter-view {
  border-radius: 34px;
  text-align: center;
  padding: 2px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
  font-size: 15px;
  line-height: 16px;
  transition-duration: $transition-duration;
  transition-property: background-color;
  @include media(xs) {
    min-height: 45px;
  }
}

.library-cap__box {
  max-width: 252px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  @include media(lg) {
    max-width: 270px;
  }
  @include media(xs) {
    max-width: 100%;
  }
}

.library-cap__button {
  width: 100%;
  font-size: 16px;
  padding: 20px 22px;
}

.library-cap__reset {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: -60px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  @include media(xs) {
    margin-top: 15px;
    width: 100%;
    transform: none;
  }
  &.show {
    opacity: 1;
    pointer-events: all;
    @include media(xs) {
      position: static;
      span {
        display: block;
      }
    }
  }
  svg {
    @include media(xs) {
      width: 10px;
      height: 10px;
    }
  }
  span {
    display: none;
    font-size: 15px;
    text-align: center;
    color: #6683c2;
    @include media(xs) {
      margin-left: 9px;
    }
  }
}

.library-cap__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #6683C2;
  @include media(xs) {
    width: 17px;
    height: 17px;
  }
}
