.mattg-two-cap {
  background: linear-gradient(326deg, #e6efff 0%, #bfd4ff 100%);
  overflow: hidden;
}

.mattg-two-cap__wrap {
  position: relative;
  z-index: 1;
  padding: 52px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media(lg) {
    padding: 40px 0 0;
  }
  @include media(xs) {
    padding: 30px 0 0;
  }
  &::before {
    content: '';
    width: 293px;
    height: 248px;
    @include bg-icon('mattg-two-cap/decor.svg');
    position: absolute;
    z-index: -1;
    top: 83px;
    left: -49px;
    @include media(lg) {
      top: 31px;
      left: -66px;
      width: 189px;
      height: 160px;
    }
    @include media(xs) {
      top: 0;
      left: -110px;
      width: 293px;
      height: 248px;
    }
    @include media(xxs) {
      top: -10px;
      left: -57px;
      width: 213px;
      height: 180px;
    }
  }
  &::after {
    content: '';
    width: 419px;
    height: 564px;
    @include bg-icon('mattg-two-cap/circles.svg');
    position: absolute;
    top: 66px;
    right: -236px;
    @include media(lg) {
      content: none;
    }
  }
}

.mattg-two-cap__caption {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 50px;
  line-height: 100%;
  text-align: center;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 24px;
    font-size: 30px;
  }
  @include media(xs) {
    margin-bottom: 20px;
    font-size: 27px;
    max-width: 320px;
  }
  @include media(xxs) {
    font-size: 24px;
  }
}

.mattg-two-cap__title {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 24px;
  }
  @include media(xs) {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 117%;
    max-width: 264px;
  }
}

.mattg-two-cap__tag {
  margin-bottom: 45px;
  border-radius: 33px;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px 27px 16px;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  color: #6683c2;
  @include media(lg) {
    margin-bottom: 25px;
    padding: 8px 15px 9px;
    font-size: 18px;
  }
  @include media(xs) {
    margin-bottom: 20px;
  }
}

.mattg-two-cap__area {
  overflow: hidden;
  position: relative;
  width: 713px;
  background: rgba(243, 245, 251, 0.58);
  border-radius: 20px 20px 0 0;
  padding: 18px 34px;
  height: 458px;
  @include media(lg) {
    background: #f3f5fb;
    width: 445px;
    border-radius: 10px 10px 0 0;
    padding: 18px 20px;
    height: 328px;
  }
  @include media(xs) {
    padding: 18px 16px;
    width: 100%;
    height: 405px;
  }
  @include media(xxs) {
    padding: 18px 30px;
  }
}

.mattg-two-cap__headline {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 7px;
    font-size: 18px;
  }
}

.mattg-two-cap__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  @include media(lg) {
    align-items: flex-start;
  }
}

.mattg-two-cap__item {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  @include media(lg) {
    font-size: 15px;
    line-height: 107%;
    text-align: left;
  }
  @include media(xs) {
    display: flex;
    align-items: flex-start;
  }
  &::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    background: $orange;
    border-radius: 50%;
    margin-right: 7px;
    position: relative;
    top: -3px;
    @include media(lg) {
      width: 5px;
      height: 5px;
    }
    @include media(xs) {
      flex-shrink: 0;
      top: 5px;
    }
  }
}

.mattg-two-cap__video-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 194px;
  left: 50%;
  transform: translateX(-50%);
  width: 273px;
  height: 471px;
  @include media(lg) {
    top: 136px;
    width: 198px;
    height: 342px;
  }
  @include media(xs) {
    width: 218px;
    top: 168px;
  }
  &::before {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    @include bg-icon('mattg-two-cap/phone.svg');
  }
}

.mattg-two-cap__video {
  margin-top: 4px;
  border-radius: 16px;
  position: relative;
  z-index: -1;
  width: calc(100% - 34px);
  @include media(lg) {
    width: calc(100% - 24px);
  }
  @include media(xs) {
    width: calc(100% - 28px);
  }
}
