.pre-plus {
  padding-bottom: 80px;
  overflow: hidden;
  @include media(lg) {
    padding-bottom: 40px;
  }
}

.pre-plus__cont {

}

.pre-plus__caption {
  @include media(xs) {
    max-width: 215px;
    width: 100%;
  }
}

.pre-plus__area {
  position: relative;
}

.pre-plus__decor {
  border-radius: 50%;
  position: absolute;
  @include media(lg) {
    display: none;
  }
  &_1 {
    background-color: #68ccea;
    width: 42px;
    height: 42px;
    top: -30px;
    left: -117px;
  }
  &_2 {
    background-color: $orange;
    width: 115px;
    height: 115px;
    top: 10px;
    left: -193px;
  }
  &_3 {
    background-color: #7fcbb4;
    width: 164px;
    height: 164px;
    right: -229px;
    bottom: 8px;
  }
  &_4 {
    background-color: #f2c45b;
    width: 60px;
    height: 60px;
    right: -106px;
    bottom: -40px;
  }
}

.pre-plus__list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 0;
  justify-content: space-between;
  @include media(lg) {
    gap: 15px 0;
  }
  @include media(md) {
    background-color: $white;
    gap: 0;
    display: block;
    padding: 16px 0;
    box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.05);
    border-radius: 10px;
  }
}

.pre-plus__item {
  position: relative;
  border-radius: 32px;
  width: calc(50% - 21px);
  background-color: $white;
  padding: 5px 24px 5px 54px;
  min-height: 88px;
  font-size: 24px;
  line-height: 25px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.04);
  @include media(lg) {
    border-radius: 10px;
    min-height: 64px;
    padding: 5px 15px 5px 38px;
    font-size: 15px;
    line-height: 113%;
    width: calc(50% - 8px);
  }
  @include media(md) {
    padding: 8px 15px 8px 38px;
    width: 100%;
    min-height: auto;
    box-shadow: none;
    border-radius: 0;
    background-color: transparent;
  }
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 31px;
    width: 10px;
    height: 10px;
    background-color: $orange;
    border-radius: 50%;
    @include media(lg) {
      left: 20px;
      width: 6px;
      height: 6px;
    }
  }
}
