.predzaps-new-ways {
  padding: 72px 0 80px;
  background: #f1f5fd;
  @include media(lg) {
    padding: 34px 0 40px;
  }
}

.predzaps-new-ways__caption {
  margin-bottom: 42px;
  max-width: 705px;
  width: 100%;
  font-weight: 500;
  font-size: 45px;
  line-height: 121%;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 25px;
    max-width: 400px;
    font-size: 25px;
    line-height: 100%;
  }
}

.predzaps-new-ways__area {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 25px;
  @include media(lg) {
    max-width: 684px;
  }
  @include media(xs) {
    flex-direction: column;
  }
  @include media(xxs) {
    gap: 20px;
  }
}

.predzaps-new-ways__box {
  border-radius: 20px;
  width: 431px;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.04);
  background: #fff;
  padding-bottom: 25px;
  @include media(lg) {
    border-radius: 10px;
    width: calc(50% - 13px);
  }
  @include media(xs) {
    width: 100%;
  }
  &_5 {
    width: 888px;
    @include media(lg) {
      width: 100%;
    }
  }
}

.predzaps-new-ways__picture {
  margin-bottom: 22px;
  height: 150px;
  @include media(lg) {
    margin-bottom: 18px;
    height: 50px;
  }
}

.predzaps-new-ways__image {
  border-radius: 20px 20px 0 0;
  height: 100%;
  object-fit: cover;
  @include media(lg) {
    border-radius: 10px 10px 0 0;
  }
}

.predzaps-new-ways__headline {
  margin-bottom: 18px;
  padding: 0 25px;
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 16px;
    padding: 0 15px;
    font-size: 18px;
  }
  @include media(xxs) {
    padding: 0 10px;
  }
}

.predzaps-new-ways__labels {
  margin-bottom: 42px;
  padding: 0 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  @include media(lg) {
    margin-bottom: 25px;
    gap: 7px;
    padding: 0 15px;
  }
  @include media(xxs) {
    padding: 0 10px;
  }
}

.predzaps-new-ways__label {
  box-shadow: 0 5px 21px 0 rgba(102, 131, 194, 0.19);
  background: #fff;
  border-radius: 6px;
  font-size: 13px;
  line-height: 100%;
  color: #23617c;
  padding: 11px 9px;
}

.predzaps-new-ways__more {
  margin: 0 25px;
  font-size: 16px;
  display: inline-flex;
  font-weight: 600;
  padding: 19px 72px 20px;
  @include media(lg) {
    margin: 0 15px;
    width: 299px;
  }
  @include media(xs) {
    width: calc(100% - 30px);
  }
  @include media(xxs) {
    margin: 0 10px;
    width: calc(100% - 20px);
  }
}

.predzaps-new-ways__title {
  margin-bottom: 20px;
  padding: 0 25px;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 18px;
    font-size: 18px;
    padding: 0 15px;
  }
  @include media(xxs) {
    padding: 0 10px;
  }
}

.predzaps-new-ways__wrap {
  position: relative;
  height: 170px;
  @include media(lg) {
    height: unset;
  }
}

.predzaps-new-ways__inner {
  position: absolute;
  padding: 0 0 25px;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, .04);
  background: #fff;
  border-radius: 0 0 20px 20px;
  @include media(lg) {
    padding: 0 0 15px;
    position: static;
  }
  @include media(xxs) {
    padding: 0 0 10px;
  }
  &.active {
    .predzaps-new-ways__tags {
      max-height: unset;
    }
    .predzaps-new-ways__toggle {
      &::after {
        content: "";
        @include bg-icon('icons/ic_arrow_btn_down_white.svg');
        transform: rotate(180deg);
        width: 8px;
        height: 11px;
        flex-shrink: 0;
      }
    }
  }
}

.predzaps-new-ways__tags {
  padding: 0 25px 10px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  max-height: 135px;
  overflow: hidden;
  @include media(lg) {
    gap: 8px;
    max-height: 215px;
    padding: 0 15px 8px;
  }
  @include media(xs) {
    max-height: 256px;
    height: unset;
  }
  @include media(xxs) {
    padding: 0 10px 8px;
  }
}

.predzaps-new-ways__tag {
  border-radius: 6px;
  box-shadow: 0 5px 21px 0 rgba(102, 131, 194, 0.19);
  background: #fff;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 8px;
  padding: 5px 9px;
  font-size: 13px;
  line-height: 100%;
}

.predzaps-new-ways__icon {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.predzaps-new-ways__toggle {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0 25px;
  padding: 11px 9px;
  border-radius: 6px;
  box-shadow: 0 5px 21px 0 rgba(102, 131, 194, 0.19);
  background: #6683c2;
  font-size: 13px;
  line-height: 100%;
  color: #FFFFFF;
  @include media(lg) {
    margin: 0 15px;
    display: block;
    width: calc(100% - 30px);
  }
  @include media(xxs) {
    margin: 0 10px;
    width: calc(100% - 20px);
  }
}
