.predzaps-new-pluses {
  background: #fff;
  padding: 72px 0 80px;
  @include media(lg) {
    padding: 34px 0;
  }
}

.predzaps-new-pluses__caption {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 45px;
  line-height: 100%;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 24px;
    font-size: 25px;
  }
  br {
    display: none;
    @include media(xxs) {
      display: inline;
    }
  }
}

.predzaps-new-pluses__title {
  margin-bottom: 35px;
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 20px;
    font-size: 22px;
  }
}

.predzaps-new-pluses__list {
  margin-bottom: 42px;
  display: flex;
  gap: 25px;
  @include media(lg) {
    margin-bottom: 20px;
    gap: 20px 25px;
    max-width: 625px;
    width: 100%;
    flex-wrap: wrap;
  }
}

.predzaps-new-pluses__item {
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: calc(33.33% - 16px);
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  padding: 30px 28px 25px 30px;
  @include media(lg) {
    width: calc(50% - 13px);
    gap: 12px;
    border-radius: 10px;
    padding: 15px 15px 14px;
  }
  @include media(xs) {
    padding: 20px 20px 16px;
    width: 100%;
  }
  @include media(xxs) {
    padding: 15px 15px 14px;
  }
  &_1 {
    @include bg-icon('predzaps-new-pluses/bg-1.svg');
    background-size: cover;
    @include media(lg) {
      @include bg-icon('predzaps-new-pluses/bg-1_tablet.svg');
      background-size: cover;
    }
    @include media(xs) {
      @include bg-icon('predzaps-new-pluses/bg-1_mob.svg');
      background-size: cover;
    }
    @include media(xxs) {
      @include bg-icon('predzaps-new-pluses/bg-1_xxs.svg');
      background-size: cover;
    }
    .predzaps-new-pluses__text {
      max-width: 362px;
      @include media(lg) {
        max-width: 235px;
      }
    }
  }
  &_2 {
    @include bg-icon('predzaps-new-pluses/bg-2.svg');
    background-size: cover;
    @include media(lg) {
      @include bg-icon('predzaps-new-pluses/bg-2_tablet.svg');
      background-size: cover;
    }
    @include media(xs) {
      @include bg-icon('predzaps-new-pluses/bg-2_mob.svg');
      background-size: cover;
    }
    @include media(xxs) {
      @include bg-icon('predzaps-new-pluses/bg-2_xxs.svg');
      background-size: cover;
    }
    .predzaps-new-pluses__text {
      max-width: 318px;
      @include media(lg) {
        max-width: 195px;
      }
    }
  }
  &_3 {
    @include bg-icon('predzaps-new-pluses/bg-3.svg');
    background-size: cover;
    @include media(lg) {
      @include bg-icon('predzaps-new-pluses/bg-3_tablet.svg');
      background-size: cover;
      width: 100%;
    }
    @include media(xs) {
      @include bg-icon('predzaps-new-pluses/bg-3_mob.svg');
      background-size: cover;
    }
    @include media(xxs) {
      @include bg-icon('predzaps-new-pluses/bg-3_xxs.svg');
      background-size: cover;
    }
    .predzaps-new-pluses__text {
      max-width: 365px;
      @include media(lg) {
        max-width: 257px;
      }
    }
  }
  &_4 {
    @include bg-icon('predzaps-new-pluses/bg-4.svg');
    background-size: cover;
    @include media(lg) {
      @include bg-icon('predzaps-new-pluses/bg-4_tablet.svg');
      background-size: cover;
    }
    @include media(xs) {
      @include bg-icon('predzaps-new-pluses/bg-4_mob.svg');
      background-size: cover;
    }
    @include media(xxs) {
      @include bg-icon('predzaps-new-pluses/bg-4_xxs.svg');
      background-size: cover;
    }
    .predzaps-new-pluses__text {
      max-width: 338px;
      @include media(lg) {
        max-width: 235px;
      }
    }
  }
  &_5 {
    @include bg-icon('predzaps-new-pluses/bg-5.svg');
    background-size: cover;
    @include media(lg) {
      @include bg-icon('predzaps-new-pluses/bg-5_tablet.svg');
      background-size: cover;
    }
    @include media(xs) {
      @include bg-icon('predzaps-new-pluses/bg-5_mob.svg');
      background-size: cover;
    }
    @include media(xxs) {
      @include bg-icon('predzaps-new-pluses/bg-5_xxs.svg');
      background-size: cover;
    }
    .predzaps-new-pluses__text {
      max-width: 376px;
      @include media(lg) {
        max-width: 260px;
      }
    }
  }
  &_6 {
    @include bg-icon('predzaps-new-pluses/bg-6.svg');
    background-size: cover;
    @include media(lg) {
      @include bg-icon('predzaps-new-pluses/bg-6_tablet.svg');
      background-size: cover;
      width: 100%;
    }
    @include media(xs) {
      @include bg-icon('predzaps-new-pluses/bg-6_mob.svg');
      background-size: cover;
    }
    @include media(xxs) {
      @include bg-icon('predzaps-new-pluses/bg-6_xxs.svg');
      background-size: cover;
    }
    .predzaps-new-pluses__text {
      max-width: 345px;
      @include media(lg) {
        max-width: 191px;
      }
    }
  }
}

.predzaps-new-pluses__icon {
  width: 50px;
  height: 50px;
  @include media(lg) {
    width: 40px;
    height: 40px;
  }
}

.predzaps-new-pluses__text {
  width: 100%;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #003c56;
  @include media(lg) {
    font-size: 16px;
    line-height: 20px;
  }
}

.predzaps-new-pluses__headline {
  margin: 0 auto 32px;
  max-width: 748px;
  width: 100%;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #003c56;
  @include media(lg) {
    margin: 0 auto 20px;
    max-width: 522px;
    font-size: 16px;
    line-height: 20px;
  }
}

.predzaps-new-pluses__button-box {
  text-align: center;
}

.predzaps-new-pluses__button {
  display: inline-block;
  font-size: 16px;
  padding: 19px 72px 20px;
  @include media(lg) {
    padding: 19px 104px 20px;
  }
  @include media(xs) {
    width: 100%;
    display: block;
    padding: 19px 20px 20px;
  }
}
