.promo {
  position: fixed;
  z-index: 99;
  bottom: 20px;
  right: 60px;
  @include media(lg) {
    bottom: 10px;
    right: 10px;
    transition-duration: $transition-duration;
    transition-property: bottom;
  }
  &.transition {
    @include media(md) {
      bottom: 80px;
    }
  }
  &.transition-with-cake-offset {
    @include media(md) {
      bottom: 132px;
    }
  }
  &.transition-with-cake {
    @include media(md) {
      bottom: 80px;
    }
  }
  &.active {
    .promo__hint {
      pointer-events: all;
      opacity: 1;
    }
  }
  &.percent {
    font-size: 43px;
    @include media(lg) {
      font-size: 25px;
    }
  }
}

.promo__view {
  width: 151px;
  height: 151px;
  position: relative;
  cursor: pointer;
  &:hover {
    .promo__circle {
      background-color: #FF9C83;
    }
  }
  @include media(lg) {
    width: 100px;
    height: 100px;
  }
}

.promo__decor {
  border-radius: 50%;
  position: absolute;
  &_1 {
    background-color: #f2c45b;
    width: 22px;
    height: 22px;
    top: 0;
    right: 0;
    @include media(xs) {
      width: 12px;
      height: 12px;
    }
  }
  &_2 {
    background-color: #7fcbb4;
    width: 18px;
    height: 18px;
    left: -7px;
    bottom: 19px;
    @include media(xs) {
      width: 13px;
      height: 13px;
      left: -10px;
      bottom: 16px;
    }
  }
  &_3 {
    background-color: #6683c2;
    width: 30px;
    height: 30px;
    bottom: -9px;
    left: 17px;
    @include media(xs) {
      width: 21px;
      height: 21px;
      bottom: -5px;
      left: 7px;
    }
  }
}

.promo__circle {
  padding-top: 23px;
  width: 151px;
  height: 151px;
  background-color: #F37E60;
  border-radius: 50%;
  box-shadow: 0 8px 12px 0 rgba(243, 126, 96, 0.44);
  transition-duration: $transition-duration;
  transition-property: background-color;
  @include media(lg) {
    width: 100px;
    height: 100px;
    padding-top: 16px;
  }
}

.promo__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  @include media(lg) {
    font-size: 15px;
  }
}

.promo__value {
  font-weight: 700;
  color: #FFFFFF;
  letter-spacing: -0.02em;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.promo__note {
  position: relative;
  top: -6px;
  margin-right: 4px;
  font-size: 15px;
  @include media(lg) {
    font-size: 12px;
    top: -3px;
  }
}

.promo__number {
  font-size: 32px;
  font-weight: 700;
  @include media(lg) {
    font-size: 20px;
  }
}

.promo__arrow {
  display: block;
  width: 24px;
  height: 12px;
  margin: 0 auto;
}

.promo__hint {
  position: absolute;
  top: -156px;
  left: -316px;
  width: 335px;
  opacity: 0;
  pointer-events: none;
  transition-duration: $transition-duration;
  transition-property: opacity;
  @include media(lg) {
    width: 300px;
    top: -140px;
    right: 0;
    left: unset;
  }
}

.promo__area {
  box-shadow: 0 8px 12px 0 rgba(243, 126, 96, 0.44);
  background: #f37e60;
  border-radius: 10px;
  padding: 16px 20px 20px;
  @include media(lg) {
    padding: 12px 15px 15px;
  }
  &::before {
    content: '';
    width: 9px;
    height: 9px;
    border-radius: 50%;
    position: absolute;
    background-color: #F37E60;
    bottom: -9px;
    right: -7px;
    @include media(lg) {
      width: 5px;
      height: 5px;
      bottom: -7px;
      right: 46px;
    }
  }
}

.promo__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 36px;
}

.promo__title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 111%;
  color: #fff;
  max-width: 260px;
  width: 100%;
  @include media(lg) {
    font-size: 15px;
    line-height: 113%;
    margin-bottom: 8px;
    max-width: 220px;
  }
}

.promo__list {
  gap: 10px;
  display: flex;
  flex-direction: column;
  @include media(lg) {
    gap: 8px;
  }
}

.promo__item {
  width: 100%;
  border-radius: 33px;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 5px 14px;
  min-height: 30px;
  font-size: 14px;
  color: #6683c2;
  @include media(lg) {
    min-height: 25px;
    padding: 2px 10px;
    font-size: 13px;
  }
}
