.quiz {
  padding-bottom: 85px;
  overflow: hidden;
  @include media(md) {
    position: relative;
    padding-top: 127px;
  }
  @include media(xs) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.quiz__cont {

}

.quiz__header {
  padding-top: 30px;
  padding-bottom: 50px;
  @include media(md) {
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: $white;
    box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
  }
  @include media(sm) {
    background-color: transparent;
    box-shadow: none;
  }
}

.quiz__logo {
  width: 126px;
  height: 54px;
  @include media(md) {
    width: 133px;
    height: 57px;
  }
}

.quiz__logo-image {

}

.quiz__wrap {
  position: relative;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $white;
    border-radius: 32px;
    @include media(md) {
      border-radius: 10px;
    }
  }
  &_first-slide {
    @include media(xs) {
      &::before {
        content: none;
      }
    }
    .quiz__form {
      @include media(xs) {
        padding: 0;
        background: transparent;
        box-shadow: none;
        border-radius: 0;
        backdrop-filter: none;
      }
    }
    .quiz__decor_4 {
      @include media(xs) {
        width: 77px;
        height: 77px;
        top: 202px;
        right: -18px;
      }
    }
    .quiz__decor_3 {
      @include media(xs) {
        width: 28px;
        height: 28px;
        top: 171px;
        right: -14px;
      }
    }
  }
}

.quiz__form {
  position: relative;
  z-index: 1;
  border-radius: 32px;
  backdrop-filter: blur(120px);
  background: rgba(255, 255, 255, 0.38);
  box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.05);
  padding: 45px 60px;
  min-height: 350px;
  @include media(md) {
    border-radius: 10px;
    padding: 20px 24px;
  }
  @include media(xs) {
    padding: 20px 15px;
    min-height: auto;
  }
}

.quiz__decor {
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  &_1 {
    width: 164px;
    height: 164px;
    background-color: #7fcbb4;
    top: 27px;
    left: -60px;
    @include media(md) {
      top: 31px;
      left: -20px;
      width: 81px;
      height: 81px;
    }
    @include media(xs) {
      width: 76px;
      height: 76px;
      top: 27px;
      left: -12px;
    }
  }
  &_2 {
    width: 60px;
    height: 60px;
    background-color: #f2c45b;
    top: 180px;
    left: -79px;
    @include media(md) {
      width: 30px;
      height: 30px;
      top: 114px;
      left: -16px;
    }
    @include media(xs) {
      width: 21px;
      height: 21px;
      top: 102px;
      left: -16px;
    }
  }
  &_3 {
    width: 42px;
    height: 42px;
    background-color: #68ccea;
    top: 228px;
    right: -32px;
    @include media(md) {
      width: 28px;
      height: 28px;
      top: 171px;
      right: -14px;
    }
    @include media(xs) {
      width: 21px;
      height: 21px;
      top: 228px;
      right: -10px;
    }
  }
  &_4 {
    width: 115px;
    height: 115px;
    background-color: $orange;
    top: 278px;
    right: -50px;
    @include media(md) {
      width: 77px;
      height: 77px;
      top: 202px;
      right: -18px;
    }
    @include media(xs) {
      width: 115px;
      height: 115px;
      top: 248px;
      right: -13px;
    }
  }
  &_5 {
    width: 125px;
    height: 125px;
    top: 209px;
    left: 24px;
    @include media(md) {
      display: none;
    }
  }
}
