.quiz-slide {
  &_1 {
    padding: 54px 58px;
  }
}

.quiz-slide__inner {
  max-width: 660px;
  width: 100%;
}

.quiz-slide__caption {
  margin-bottom: 26px;
  font-weight: 600;
  font-size: 58px;
  line-height: 107%;
  color: #003c56;
}

.quiz-slide__text-big {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 24px;
  color: #003c56;
  & + .quiz-slide__text {
    margin-top: 15px;
  }
}

.quiz-slide__text {
  margin-bottom: 16px;
  font-size: 16px;
}

.quiz-slide__box {
  margin-top: 40px;
  border-radius: 22px;
  background-color: $white;
  box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.05);
}

.quiz-slide__headline {

}

.quiz-slide__line {
  .quiz-slide__input {

  }
}

.quiz-slide__button {

}

.quiz-slide__progress {

}

.quiz-slide__progress-text {

}

.quiz-slide__progress-bar {

}

.quiz-slide__progress-bar-fill {

}

.quiz-slide__title {

}

.quiz-slide__list {

}

.quiz-slide__label {

}

.quiz-slide__input {

}

.quiz-slide__input-view {

}

.quiz-slide__input-text {

}

