.quiz-thanks {
  padding-bottom: 85px;
  overflow: hidden;
  @include media(md) {
    position: relative;
    padding-top: 127px;
  }
  @include media(xs) {
    padding-top: 100px;
  }
}

.quiz-thanks__cont {

}

.quiz-thanks__header {
  padding-top: 30px;
  padding-bottom: 50px;
  @include media(md) {
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: $white;
    box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
  }
  @include media(sm) {
    background-color: transparent;
    box-shadow: none;
  }
}

.quiz-thanks__logo {
  width: 126px;
  height: 54px;
  @include media(md) {
    width: 133px;
    height: 57px;
  }
}

.quiz-thanks__logo-image {

}

.quiz-thanks__wrap {
  position: relative;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $white;
    border-radius: 32px;
    @include media(md) {
      border-radius: 10px;
    }
    @include media(xs) {
      content: none;
    }
  }
}

.quiz-thanks__decor {
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  &_1 {
    width: 164px;
    height: 164px;
    background-color: #7fcbb4;
    top: 27px;
    left: -60px;
    @include media(md) {
      top: 31px;
      left: -20px;
      width: 81px;
      height: 81px;
    }
    @include media(xs) {
      width: 76px;
      height: 76px;
      top: 27px;
      left: -12px;
    }
  }
  &_2 {
    width: 60px;
    height: 60px;
    background-color: #f2c45b;
    top: 180px;
    left: -79px;
    @include media(md) {
      width: 30px;
      height: 30px;
      top: 114px;
      left: -16px;
    }
    @include media(xs) {
      width: 21px;
      height: 21px;
      top: 102px;
      left: -16px;
    }
  }
  &_3 {
    width: 42px;
    height: 42px;
    background-color: #68ccea;
    top: 228px;
    right: -32px;
    @include media(md) {
      width: 28px;
      height: 28px;
      top: 171px;
      right: -14px;
    }
    @include media(xs) {
      width: 21px;
      height: 21px;
      top: 228px;
      right: -10px;
    }
  }
  &_4 {
    width: 115px;
    height: 115px;
    background-color: #f37e60;
    top: 278px;
    right: -50px;
    @include media(md) {
      width: 77px;
      height: 77px;
      top: 202px;
      right: -18px;
    }
    @include media(xs) {
      width: 115px;
      height: 115px;
      top: 248px;
      right: -13px;
    }
  }
  &_5 {
    width: 125px;
    height: 125px;
    top: 209px;
    left: 24px;
    @include media(md) {
      display: none;
    }
  }
}

.quiz-thanks__area {
  position: relative;
  z-index: 1;
  border-radius: 32px;
  backdrop-filter: blur(120px);
  background: rgba(255, 255, 255, 0.38);
  box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.05);
  padding: 45px 60px;
  min-height: 350px;
  @include media(md) {
    border-radius: 10px;
    padding: 20px 24px;
  }
  @include media(xs) {
    padding: 0;
    background: transparent;
    box-shadow: none;
    backdrop-filter: none;
  }
}

.quiz-thanks__box {
  margin-bottom: 36px;
  @include media(md) {
    margin-bottom: 30px;
  }
  @include media(xs) {
    margin-bottom: 40px;
    padding: 20px 16px;
    text-align: center;
    background: rgba(255, 255, 255, 0.38);
    box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(120px);
    border-radius: 10px;
  }
  &:first-of-type {
    .quiz-thanks__text {
      @include media(md) {
        max-width: 405px;
      }
    }
  }
  &:last-of-type {
    .quiz-thanks__text {
      @include media(md) {
        max-width: 530px;
      }
    }
  }
}

.quiz-thanks__caption {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 58px;
  line-height: 107%;
  color: #003c56;
  @include media(md) {
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 113%;
  }
  @include media(xs) {
    font-size: 27px;
  }
}

.quiz-thanks__text {
  margin-bottom: 24px;
  max-width: 615px;
  font-size: 24px;
  line-height: 30px;
  @include media(md) {
    font-size: 18px;
    line-height: 23px;
  }
  @include media(xs) {
    margin: 0 auto 24px;
  }
}

.quiz-thanks__button {
  display: inline-block;
  font-size: 16px;
  padding: 19px 41px 21px;
}

.quiz-thanks__tg {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  padding: 14px 52px 16px;
  border-radius: 34px;
  background: #6683c2;
  font-weight: 600;
  color: $white;
  &:hover {
    color: $white;
  }
  &::after {
    content: '';
    margin-left: 10px;
    flex-shrink: 0;
    @include bg-icon('icons/ic_tg_white.svg');
    width: 16px;
    height: 15px;
  }
}
