.quiz-so {
  overflow: hidden;
  transition-duration: 1s;
  transition-property: height;
  @include media(lg) {
    @include bg-icon('quiz-so/bg_tablet.png');
    background-size: cover;
  }
  @include media(xs) {
    background: #f8f8f8;
  }
}

.quiz-so__wrap {
  display: none;
  position: relative;
  z-index: 1;
  padding: 50px 0 163px;
  @include media(lg) {
    padding: 30px 0 50px;
  }
  @include media(xs) {
    padding: 30px 0 40px;
  }
  &.active {
    display: block;
  }
}

.quiz-so__inner {
  position: relative;
  z-index: 1;
  @include bg-icon('quiz-so/bg.png');
  background-size: cover;
  border-radius: 31px;
  min-height: 581px;
  padding: 54px 60px;
  @include media(lg) {
    min-height: 349px;
    border-radius: 0;
    background: transparent;
    padding: 0;
  }
}

.quiz-so__circle {
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  @include media(lg) {
    display: none;
  }
  &_1 {
    top: 38px;
    left: -69px;
    width: 164px;
    height: 164px;
    background: #7fcbb4;
  }
  &_2 {
    top: 191px;
    left: -88px;
    width: 60px;
    height: 60px;
    background: #f2c45b;
  }
}

.quiz-so__picture {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
  border-radius: 0 0 31px 0;
  width: 560px;
  height: 558px;
  overflow: hidden;
  @include media(lg) {
    width: 323px;
    height: 289px;
    bottom: 12px;
    border-radius: 0 0 34px 0;
  }
  @include media(xs) {
    display: none;
  }
}

.quiz-so__image {
  height: 100%;
}

.quiz-so__caption {
  margin-bottom: 38px;
  max-width: 702px;
  width: 100%;
  font-weight: 600;
  font-size: 58px;
  line-height: 112%;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 25px;
    font-size: 27px;
    line-height: 100%;
    max-width: 520px;
  }
  @include media(xs) {
    margin: 0 auto 25px;
    max-width: 300px;
    text-align: center;
  }
}

.quiz-so__text {
  margin-bottom: 28px;
  max-width: 696px;
  width: 100%;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 25px;
    max-width: 435px;
    font-size: 15px;
    line-height: 19px;
  }
  @include media(xs) {
    margin: 0 auto 25px;
    text-align: center;
  }
}

.quiz-so__list {
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  @include media(lg) {
    margin-bottom: 28px;
    max-width: 330px;
    width: 100%;
  }
  @include media(xs) {
    margin-bottom: 48px;
    max-width: 100%;
  }
}

.quiz-so__item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  line-height: 20px;
  @include media(lg) {
    font-weight: 500;
    font-size: 15px;
    line-height: 120%;
    gap: 6px;
  }
  &::before {
    content: '';
    width: 10px;
    height: 10px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: $orange;
    @include media(lg) {
      width: 6px;
      height: 6px;
    }
  }
}

.quiz-so__bottom {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 29px;
  @include media(lg) {
    gap: 19px;
  }
  @include media(xs) {
    flex-direction: column-reverse;
  }
}

.quiz-so__button {
  font-size: 16px;
  flex-shrink: 0;
  padding: 19px 41px;
  @include media(xs) {
    width: 100%;
    padding: 19px 20px;
  }
}

.quiz-so__note {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 582px;
  padding: 10px 18px 10px 60px;
  border-radius: 34px;
  font-weight: 500;
  font-size: 15px;
  line-height: 113%;
  color: #003c56;
  mask-image: url($img-path + 'quiz-so/bg-line.svg');
  @include media(lg) {
    padding: 2px 18px 2px 60px;
    max-width: 430px;
  }
  @include media(xs) {
    max-width: 100%;
    mask-image: none;
    padding: 0;
    font-size: 13px;
    line-height: 115%;
    text-align: center;
  }
  &::before {
    content: '';
    @include bg-icon('quiz-so/ic_gift.svg');
    width: 27px;
    height: 29px;
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    @include media(xs) {
      width: 16px;
      height: 17px;
      top: -10px;
      left: calc(50% - 7px);
      transform: none;
      z-index: 1;
    }
  }
  &::after {
    @include media(xs) {
      content: '';
      position: absolute;
      border-radius: 12px;
      background: #f1f4fa;
      top: -17px;
      left: calc(50% - 15px);
      width: 31px;
      height: 34px;
    }
  }
}

.quiz-so__note-inner {
  @include media(xs) {
    position: relative;
    overflow: hidden;
    border-radius: 53px;
    padding: 16px 15px 13px;
  }
}

.quiz-so__note-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &::before, &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #fff 0%, #dee5f4 24.04%, #fff 50.96%, #dee5f4 77.88%, #fff 100%);
    animation: quiz-so__note-animation 5s linear infinite;
  }
  &::before {
    left: -100%;
  }
  @keyframes quiz-so__note-animation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
    100% {
      background-position: 0% 0%;
    }
  }
}
