.reasons {
  overflow: hidden;
  @include bg-img('reasons/bg.png');
  background-repeat: repeat-y;
  background-size: 100%;
  background-position-x: center;
  background-position-y: 0;
  animation: reasons 2s forwards;
  transition-duration: 1s;
  transition-property: background-position-y;
  transition-timing-function: linear;
  @include media(xs) {
    background: none;
  }
  @keyframes reasons {
    0% {
      background-size: 100%;
    }
    100% {
      background-size: 115%;
    }
  }
}

.reasons__wrap {
  position: relative;
  z-index: 1;
  padding-top: 70px;
  height: calc(100vh - 168px);
  @include media(lg) {
    padding-top: 46px;
    height: calc(100vh - 106px);
  }
  @include media(md) {
    height: calc(100vh - 80px);
  }
  @include media(xxs) {
    height: calc(100vh - 69px);
  }
}

.reasons__caption {
  margin: 0 auto 75px;
  max-width: 1000px;
  width: 100%;
  font-weight: 600;
  font-size: 58px;
  line-height: 73px;
  text-align: center;
  color: #003c56;
  transform: translateY(0);
  transition-property: transform;
  transition-duration: 1s;
  @include media(lg) {
    margin-bottom: 65px;
    font-size: 32px;
    line-height: 34px;
    max-width: 500px;
  }
  @include media(xs) {
    max-width: 300px;
    margin: 0 auto 30px;
    font-size: 25px;
    line-height: 31px;
  }
  &.animate {
    transform: translateY(-500px);
  }
}

.reasons__image {
  position: relative;
  z-index: 5;
  margin: 0 auto;
  width: 438px;
  height: 438px;
  animation: reasons__image-scale 1s forwards;
  transition-duration: 1s;
  transition-property: opacity, transform;
  @include media(xl) {
    width: 316px;
    height: 316px;
  }
  @include media(lg) {
    width: 183px;
    height: 183px;
  }
  @keyframes reasons__image-scale {
    0% {
      transform: translateY(100px) scale(0.8);
    }
    100% {
      transform: translateY(0) scale(1);
    }
  }
  &.animate {
    opacity: 0;
    transform: translateY(200px);
  }
}

.reasons__area {
  position: absolute;
  z-index: 5;
  left: calc(50% - 385px);
  width: 770px;
  display: flex;
  gap: 27px;
  border-radius: 20px;
  box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.07);
  padding: 36px 40px;
  @include bg-icon('reasons/bg-box.png');
  background-size: cover;
  bottom: -600px;
  transition-property: bottom;
  transition-duration: 1s;
  @include media(xl) {
    padding: 27px 25px;
  }
  @include media(lg) {
    @include bg-icon('reasons/bg-box_tablet.png');
    background-size: cover;
    gap: 38px;
    width: 684px;
    padding: 18px 20px;
    left: calc(50% - 342px);
  }
  @include media(xs) {
    width: 100%;
    left: 0;
    bottom: 56px;
    padding: 0;
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  &.animate {
    bottom: 50px;
    @include media(xl) {
      bottom: 40px;
    }
    @include media(lg) {
      bottom: 20px;
    }
    @include media(md) {
      bottom: 60px;
    }
  }
  &.end {
    bottom: 274px;
    @include media(xl) {
      bottom: 200px;
    }
    @include media(lg) {
      bottom: 100px;
    }
    @include media(md) {
      bottom: 150px;
    }
    @include media(xs) {
      text-align: center;
      border-radius: 10px;
      @include bg-icon('reasons/bg-box_mob.png');
      background-size: cover;
      box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.07);
      padding: 16px 10px;
      bottom: 174px;
    }
    .reasons__title {
      @include media(xs) {
        display: block;
        width: 100%;
        margin-bottom: 15px;
      }
    }
    .reasons__text {
      @include media(xs) {
        display: block;
      }
    }
    .reasons__tag {
      @include media(xs) {
        position: absolute;
        bottom: 45px;
        width: 100%;
      }
    }
    .reasons__buttons {
      @include media(xs) {
        margin: 0 5px 0;
        position: relative;
        bottom: -32px;
      }
    }
  }
}

.reasons__box {

}

.reasons__top {
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  gap: 28px;
  @include media(lg) {
    gap: 24px;
  }
  @include media(xs) {
    margin-bottom: 0;
  }
}

.reasons__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  color: #fff;
  @include media(xl) {
    font-size: 24px;
  }
  @include media(lg) {
    font-size: 24px;
  }
  @include media(xs) {
    display: none;
    font-size: 18px;
  }
}

.reasons__tag {
  padding: 7px 10px 8px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.26);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
  @include media(lg) {
    font-size: 15px;
  }
  @include media(xs) {
    font-size: 18px;
    background: none;
    padding: 0;
    flex-shrink: 0;
  }
}

.reasons__text {
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  @include media(xl) {
    font-size: 15px;
    line-height: 19px;
  }
  @include media(xs) {
    display: none;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 16px;
  }
}

.reasons__buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 210px;
  flex-shrink: 0;
  @include media(xs) {
    border-radius: 22px;
    box-shadow: 0 9px 31px 0 rgba(0, 0, 0, 0.12);
    background: #fff;
    width: 100%;
    padding: 4px;
    flex-direction: row;
    gap: 4px;
  }
}

.reasons__button {
  @include media(xs) {
    width: calc(50% - 2px);
    font-size: 13px;
    padding: 9px 4px 10px;
  }
  &::after {
    @include media(xs) {
      margin-left: 6px;
      width: 16px;
      height: 16px;
    }
  }
  .desk {
    @include media(xs) {
      display: none;
    }
  }
  .mob {
    display: none;
    @include media(xs) {
      display: inline;
    }
  }
}

.reasons__circles {

}

.reasons__circle {
  position: absolute;
  top: calc(100% + 300px);
  left: calc(50% - 751px);
  padding-top: 65px;
  width: 1502px;
  height: 1502px;
  border-radius: 50%;
  transform: translateY(0);
  transition-duration: 1s;
  transition-property: transform;
  @include media(xl) {
    padding-top: 50px;
  }
  @include media(lg) {
    padding-top: 45px;
    width: 905px;
    height: 905px;
    left: calc(50% - 452px);
  }
  @include media(md) {
    padding-top: 60px;
  }
  @include media(xs) {
    width: 782px;
    height: 782px;
    left: calc(50% - 391px);
  }
  &_1 {
    transform: translateY(-995px) scale(.7);
    @include media(xl) {
      transform: translateY(-845px) scale(.7);
    }
    @include media(xl) {
      transform: translateY(-845px) scale(.7);
    }
    @include media(lg) {
      transform: translateY(-758px) scale(.7);
    }
    @include media(md) {
      transform: translateY(-800px) scale(.7);
    }
    .reasons__circle-number, .reasons__circle-text {
      transform: translateY(600px);
      transition-property: transform;
      transition-duration: 1s;
    }
    &.animate {
      transform: translateY(-1000px) scale(1);
      @include media(xl) {
        transform: translateY(-845px) scale(1);
      }
      @include media(lg) {
        transform: translateY(-760px);
      }
      @include media(md) {
        transform: translateY(-850px);
      }
      .reasons__circle-number, .reasons__circle-text {
        transform: translateY(0);
      }
    }
    &.animate-end {
      transform: translateY(0);
    }
  }
  &.animate {
    transform: translateY(-1000px);
    @include media(xl) {
      transform: translateY(-845px);
    }
    @include media(lg) {
      transform: translateY(-760px);
    }
    @include media(md) {
      transform: translateY(-850px);
    }
  }
}

.reasons__circle-blur {
  filter: blur(210px);
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 60%;
  transform: translate(-50%, -50%);
  background-color: #F37E60;
  @include media(lg) {
    filter: blur(110px);
  }
}

.reasons__circle-number {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 58px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  @include media(xl) {
    margin-bottom: 20px;
    font-size: 48px;
  }
  @include media(lg) {
    margin-bottom: 28px;
    font-size: 32px;
  }
  @include media(xs) {
    margin-bottom: 15px;
    font-size: 25px;
  }
}

.reasons__circle-box {
  height: 373px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include media(xl) {
    height: 270px;
  }
  @include media(lg) {
    height: 215px;
  }
  @include media(xs) {
    height: 288px;
  }
}

.reasons__circle-text {
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
  font-weight: 600;
  font-size: 45px;
  line-height: 57px;
  text-align: center;
  color: #fff;
  @include media(xl) {
    font-size: 36px;
    line-height: 50px;
    max-width: 890px;
  }
  @include media(lg) {
    max-width: 620px;
    font-size: 28px;
    line-height: 106%;
  }
  @include media(md) {
    max-width: 510px;
  }
  @include media(xs) {
    max-width: 340px;
    font-size: 25px;
    line-height: 124%;
  }
  @include media(xxs) {
    padding: 0;
    max-width: 300px;
  }
}
