.reviews {
  margin-bottom: 80px;
  overflow: hidden;
  background: #d7e4fe;
  padding-top: 80px;
  padding-bottom: 80px;
  @include media(lg) {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
  & + .faq {
    margin-top: -80px;
    @include media(lg) {
      margin-top: -40px;
    }
  }
  & + .faq.summer-course {
    margin-top: 0;
  }
  & + .pre-end.pre-end_course {
    padding-top: 0;
  }
  &.orange {
    margin-bottom: 0;
    background: #f5ebd3;
    .reviews__play {
      @include bg-icon('reviews/ic_play_orange.svg');
    }
    .reviews__toggle {
      color: #FFCA42;
    }
    .reviews__nav-btn {
      background-color: rgba(#FFCA42, .5);
      &:hover {
        background-color: rgba(#FFCA42, 1);
      }
      &:disabled {
        background-color: rgba(#FFCA42, .25);
      }
    }
    .reviews__scrollbar {
      background: #eceff4;
      .swiper-scrollbar-drag {
        background: #ffca42;
      }
    }
  }
}

.reviews__top {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  @include media(lg) {
    margin-bottom: 32px;
  }
  @include media(xs) {
    flex-wrap: wrap;
    margin-bottom: 25px;
    gap: 15px;
  }
}

.reviews__caption {
  margin-right: 40px;
  width: 100%;
  font-weight: 500;
  font-size: 45px;
  line-height: 100%;
  color: #003c56;
  @include media(lg) {
    max-width: 216px;
    font-size: 25px;
  }
  @include media(xs) {
    max-width: 143px;
  }
  @include media(xxs) {
    max-width: 100%;
  }
}

.reviews__all {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-left: auto;
  font-size: 16px;
  min-width: 210px;
  min-height: 55px;
  padding: 5px;
  @include media(lg) {
    min-width: 187px;
    min-height: 52px;
    font-size: 15px;
  }
  @include media(xs) {
    margin-left: 0;
  }
}

.reviews__nav {
  margin-left: 55px;
  display: flex;
  gap: 18px;
  @include media(lg) {
    margin-left: 50px;
  }
  @include media(xs) {
    display: none;
  }
}

.reviews__nav-btn {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: rgba(#6683C2, .5);
  @include bg-icon('icons/ic_arrow_slider_white.svg');
  background-size: auto;
  transition-property: background-color;
  transition-duration: $transition-duration;
  &:hover {
    background-color: rgba(#6683C2, 1);
  }
  &:disabled {
    background-color: rgba(#6683C2, .25);
    pointer-events: none;
  }
  &_prev {
    transform: rotate(180deg);
  }
}

.reviews__slider {

}

.reviews__slide {
  width: 285px;
}

.reviews__box {
  position: relative;
  height: 417px;
  margin-bottom: -32px;
  overflow: hidden;
  border-radius: 20px;
  @include media(lg) {
    border-radius: 10px;
  }
  &.active {
    .reviews__video {
      pointer-events: all;
      z-index: 2;
    }
  }
  &_video {
    cursor: pointer;
  }
}

.reviews__play {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
  @include bg-icon('reviews/ic_play.svg');
  width: 40px;
  height: 40px;
}

.reviews__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews__video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.reviews__area {
  position: relative;
  z-index: 5;
}

.reviews__inner {
  overflow: hidden;
  min-height: 260px;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.06);
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  @include media(lg) {
    border-radius: 10px;
  }
  &::before {
    border-radius: 20px;
    @include media(lg) {
      border-radius: 10px;
    }
  }
  &.hide {
    height: 260px;
    &::before {
      content: '';
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 55%, #fff 100%);
      height: 108px;
      position: absolute;
      z-index: 2;
      bottom: -2px;
      left: 0;
      right: 0;
    }
  }
  &.show {
    //height: 260px;
    //@include media(lg) {
      padding-bottom: 50px;
    //}
    //&::before {
    //  content: '';
    //  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 55%, #fff 100%);
    //  height: 108px;
    //  position: absolute;
    //  z-index: 2;
    //  bottom: -2px;
    //  left: 0;
    //  right: 0;
    //  @include media(lg) {
    //    content: none;
    //  }
    //}
  }
}

.reviews__name {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
}

.reviews__note {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 100%;
  color: rgba(#000, 0.5)
}

.reviews__text {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
  p {
    font-size: 16px;
    line-height: 20px;
    @include media(lg) {
      font-size: 15px;
      line-height: 19px;
    }
  }
}

.reviews__toggle {
  position: absolute;
  z-index: 2;
  bottom: 18px;
  left: 20px;
  font-size: 16px;
  line-height: 135%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #6683c2;
}

.reviews__scrollbar {
  display: none;
  @include media(lg) {
    display: block;
    margin-top: 40px;
    height: 4px;
    background: #BACCEE;
    .swiper-scrollbar-drag {
      background: #6683C2;
    }
  }
}
