.schedule {
  position: relative;
  z-index: 10;
  background: #FFFFFF;
  padding-bottom: 80px;
  @include media(lg) {
    padding-bottom: 40px;
  }
  &.small {
    b.schedule__note {
      margin-bottom: 6px;
      font-size: 24px;
    }
    .schedule__orange-title {
      font-size: 16px;
    }
    .schedule__orange {
      max-width: 384px;
      padding: 18px 30px;
      gap: 8px 0;
      @include media(lg) {
        max-width: 300px;
      }
      @include media(xs) {
        max-width: 100%;
        padding: 17px 20px;
      }
    }
    .schedule__line {
      @include media(lg) {
        gap: 0;
      }
      @include media(xs) {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
    .schedule__bottom {
      gap: 0 30px;
    }
    .schedule__box {
      margin-right: 35px;
      padding: 18px 30px;
      @include media(lg) {
        margin-right: 25px;
        width: calc(100% - 325px);
      }
      @include media(xs) {
        width: 100%;
        margin-right: 0;
        padding: 17px 20px;
      }
    }
  }
  &_holiday {
    &-small {
      .schedule__box, .schedule__orange {
        @include media(lg) {
          width: calc(50% - 13px);
        }
        @include media(xs) {
          width: 100%;
        }
      }
    }
    .schedule__title {
      margin-bottom: 0;
      max-width: unset;
      width: auto;
      @include media(lg) {
        margin-bottom: 30px;
      }
    }
    .schedule__line {
      flex-shrink: 0;
    }
    .schedule__box {
      margin-right: 40px;
      @include media(lg) {
        margin-right: 0;
      }
    }
    .schedule__orange {
      flex-shrink: 0;
      overflow: hidden;
      position: relative;
      height: 253px;
      margin-bottom: -200px;
      justify-content: flex-start;
      padding: 28px 25px;
      @include media(lg) {
        height: auto;
        margin-bottom: 0;
        justify-content: center;
        padding: 14px 20px;
      }
      @include media(xs) {
        padding: 20px;
      }
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        @include bg-icon('schedule/decor.svg');
        width: 100%;
        height: 141px;
        @include media(lg) {
          content: none;
        }
      }
    }
    .schedule__orange-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 100%;
      @include media(lg) {
        font-size: 15px;
      }
    }
    .schedule__orange-text {
      font-size: 18px;
      line-height: 122%;
      @include media(lg) {
        font-size: 15px;
        line-height: 133%;
      }
    }
  }
}

.schedule__cont {

}

.schedule__area {
  display: flex;
  align-items: center;
  @include media(lg) {
    display: block;
  }
}

.schedule__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 360px;
  width: 100%;
  font-weight: 500;
  font-size: 45px;
  line-height: 99%;
  color: #003c56;
  @include media(lg) {
    flex-direction: row;
    max-width: 100%;
    margin-bottom: 30px;
    font-size: 25px;
    line-height: 100%;
  }
  @include media(xs) {
    flex-direction: column;
  }
}

.schedule__stages-tag {
  font-size: 14px;
  line-height: 100%;
  color: #fff;
  border-radius: 33px;
  min-width: 114px;
  height: 34px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  background: #6683c2;
  padding: 5px 10px;
  @include media(lg) {
    min-width: 126px;
    margin-top: 0;
    margin-left: 20px;
    position: relative;
    top: -5px;
  }
  @include media(xs) {
    min-width: 94px;
    font-size: 13px;
    margin: 20px 0 0;
  }
}

.schedule__line {
  margin-left: auto;
  display: flex;
  @include media(lg) {
    gap: 25px;
    flex-wrap: wrap;
  }
  @include media(xs) {
    gap: 20px;
  }
}

.schedule__box {
  margin-right: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.06);
  background: #fff;
  padding: 17px 20px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  @include media(lg) {
    border-radius: 10px;
    margin-right: 0;
    width: calc(50% - 13px);
  }
  @include media(xs) {
    width: 100%;
  }
}

.schedule__tags {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 10px;
}

.schedule__tag {
  display: inline-block;
  font-size: 14px;
  line-height: 10px;
  color: #6683c2;
  padding: 12px 14px;
  border-radius: 33px;
  background: rgba(102, 131, 194, 0.08);
}

.schedule__time {
  color: #6683C2;
  font-size: 14px;
}

.schedule__bottom {
  display: flex;
  gap: 0 20px;
}

.schedule__item {

}

.schedule__note {
  font-size: 16px;
  line-height: 137%;
}

b.schedule__note {
  display: inline-block;
  margin-bottom: 4px;
  font-weight: 500;
}

.schedule__orange {
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px 0;
  background: $orange;
  max-width: 288px;
  width: 100%;
  @include media(lg) {
    border-radius: 10px;
    max-width: 100%;
    gap: 10px 0;
  }
}

.schedule__orange-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 137%;
  color: #fff;
  @include media(lg) {
    font-size: 15px;
  }
}

.schedule__orange-text {
  font-size: 16px;
  line-height: 137%;
  color: #fff;
  @include media(lg) {
    font-size: 15px;
  }
  @include media(xs) {
    max-width: 290px;
  }
}

.schedule__holiday {
  margin-top: 40px;
  max-width: 1015px;
  width: 100%;
  border-radius: 20px;
  background: #f3f5fb;
  padding: 18px 54px 20px 35px;
  display: flex;
  align-items: center;
  @include media(lg) {
    margin-top: 25px;
    max-width: 100%;
    padding: 16px 20px;
    border-radius: 10px;
  }
  @include media(xs) {
    flex-wrap: wrap;
    gap: 14px 42px;
  }
}

.schedule__holiday-title {
  margin-right: auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #003c56;
  max-width: 299px;
  width: 100%;
  @include media(lg) {
    margin-right: 12px;
    font-size: 18px;
    line-height: 23px;
    max-width: 154px;
  }
  @include media(xs) {
    max-width: 100%;
  }
  br {
    display: none;
    @include media(xs) {
      display: inline;
    }
  }
}

.schedule__holiday-box {
  margin-left: 50px;
  @include media(lg) {
    margin-left: 21px;
  }
  @include media(xs) {
    margin-left: 0;
  }
  &_mob-last {
    @include media(xs) {
      order: 1;
    }
  }
}

.schedule__holiday-value {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  @include media(lg) {
    font-size: 15px;
  }
}

.schedule__holiday-note {
  font-size: 16px;
  line-height: 100%;
  @include media(lg) {
    font-size: 15px;
  }
}
