.summer-how {
  padding-bottom: 80px;
  @include media(lg) {
    padding-bottom: 40px;
  }
  &.family {
    .summer-how__item_1 .summer-how__image {
      @include media(lg) {
        top: unset;
        bottom: 0;
        right: -20px;
        width: 86px;
        height: 86px;
      }
      @include media(xxs) {
        right: -14px;
        width: 98px;
        height: 102px;
      }
    }
    .summer-how__item_2 .summer-how__image {
      @include media(lg) {
        bottom: 0;
      }
      @include media(xxs) {
        width: 180px;
        height: 112px;
      }
    }
    .summer-how__item_3 .summer-how__image {
      @include media(lg) {
        top: unset;
        bottom: 0;
      }
      @include media(xs) {
        bottom: -24px;
      }
    }
    .summer-how__item_4 .summer-how__image {
      @include media(xs) {
        width: 105px;
        height: 114px;
        bottom: -12px;
        right: -20px;
      }
    }
    .summer-how__item_1 .summer-how__text {
      @include media(lg) {
        max-width: 238px;
      }
    }
    .summer-how__item_3 .summer-how__text  {
      @include media(lg) {
        max-width: 200px;
      }
      @include media(xs) {
        max-width: 210px;
      }
    }
    .summer-how__item_4 .summer-how__text {
      @include media(lg) {
        max-width: 262px;
      }
      @include media(xs) {
        max-width: 245px;
      }
    }
  }
}

.summer-how__cont {

}

.summer-how__caption {
  margin-bottom: 35px;
  font-weight: 500;
  font-size: 45px;
  line-height: 121%;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 18px;
    font-size: 25px;
    line-height: 100%;
  }
  @include media(xxs) {
    margin-bottom: 10px;
  }
}

.summer-how__note {
  margin-bottom: 46px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 28px;
    font-size: 18px;
    line-height: 139%;
  }
  @include media(xxs) {
    margin-bottom: 22px;
  }
}

.summer-how__wrap {
  display: flex;
  @include media(lg) {
    display: block;
  }
}

.summer-how__list {
  margin-right: 30px;
  max-width: 657px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px 0;
  @include media(lg) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.summer-how__item {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.04);
  background: #d6f3ba;
  min-height: 117px;
  display: flex;
  align-items: center;
  padding: 15px 35px 15px 45px;
  @include media(lg) {
    border-radius: 10px;
    min-height: 99px;
    padding: 15px 20px;
    width: calc(50% - 10px);
  }
  @include media(xs) {
    width: 100%;
  }
  @include media(xxs) {
    padding: 12px 15px;
  }
  &_1 {
    @include media(xxs) {
      padding-right: 100px;
    }
    .summer-how__text {
      max-width: 486px;
      @include media(lg) {
        max-width: 232px;
      }
    }
    .summer-how__image {
      top: 7px;
      right: -20px;
      width: 127px;
      height: 127px;
      @include media(lg) {
        width: 98px;
        height: 98px;
        right: -22px;
        top: 12px;
      }
    }
  }
  &_2 {
    @include media(xxs) {
      padding-right: 128px;
      min-height: 81px;
    }
    .summer-how__text {
      max-width: 353px;
      @include media(lg) {
        max-width: 211px;
      }
      @include media(xs) {
        max-width: 232px;
      }
    }
    .summer-how__image {
      bottom: 0;
      right: 0;
      width: 187px;
      height: 117px;
      @include media(lg) {
        bottom: -14px;
        right: -44px;
        width: 153px;
        height: 94px;
      }
      @include media(xs) {
        width: 187px;
        height: 117px;
        bottom: 0;
        right: -48px;
      }
      @include media(xxs) {
        width: 113px;
        height: 71px;
        bottom: 0px;
        right: -8px;
      }
    }
  }
  &_3 {
    @include media(xxs) {
      padding-right: 93px;
      min-height: 81px;
    }
    .summer-how__text {
      max-width: 436px;
      @include media(lg) {
        max-width: 200px;
      }
    }
    .summer-how__image {
      top: 6px;
      right: -7px;
      width: 169px;
      height: 156px;
      @include media(lg) {
        width: 126px;
        height: 116px;
        top: 8px;
        right: -23px;
      }
      @include media(xxs) {
        width: 104px;
        height: 96px;
        top: 8px;
        right: -17px;
      }
    }
  }
  &_4 {
    @include media(xxs) {
      padding-right: 100px;
      min-height: 81px;
    }
    .summer-how__text {
      max-width: 446px;
      @include media(lg) {
        max-width: 228px;
      }
    }
    .summer-how__image {
      top: 5px;
      right: -5px;
      width: 136px;
      height: 136px;
      @include media(lg) {
        width: 90px;
        height: 90px;
        top: unset;
        bottom: -12px;
        right: -28px;
      }
      @include media(xxs) {
        width: 80px;
        height: 80px;
        right: -10px;
      }
    }
  }
  &_5 {
    min-height: 147px;
    @include media(lg) {
      width: 100%;
      min-height: 90px;
    }
    @include media(xxs) {
      padding-right: 88px;
    }
    .summer-how__text {
      max-width: 436px;
      @include media(lg) {
        max-width: 514px;
      }
      @include media(xs) {
        max-width: 230px;
      }
    }
    .summer-how__image {
      bottom: -13px;
      right: -3px;
      width: 149px;
      height: 139px;
      @include media(lg) {
        width: 113px;
        height: 106px;
        right: -7px;
      }
      @include media(xs) {
        bottom: 0;
        right: -26px;
      }
      @include media(xxs) {
        width: 114px;
        height: 106px;
        right: 0;
      }
    }
  }
  &_6 {
    min-height: 390px;
    align-items: flex-end;
    padding-bottom: 30px;
    @include media(lg) {
      width: 100%;
      min-height: 361px;
    }
    &::before {
      content: '';
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #e6f9d9 60%, #e6f9d9 100%);
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      right: 0;
      height: 301px;
    }
    .summer-how__image {
      top: 17px;
      right: 48px;
      width: 438px;
      height: 327px;
      @include media(lg) {
        width: 299px;
        height: 226px;
        top: 33px;
        right: unset;
        left: 50%;
        transform: translateX(-50%);
      }
      @include media(xxs) {
        width: 239px;
        height: 179px;
      }
    }
    .summer-how__text {
      position: relative;
      z-index: 1;
    }
  }
}

.summer-how__image {
  position: absolute;
  object-fit: cover;
}

.summer-how__text {
  width: 100%;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  @include media(lg) {
    font-size: 18px;
    line-height: 23px;
  }
  @include media(xxs) {
    font-size: 16px;
    line-height: 20px;
  }
}

.summer-how__box {
  max-width: 657px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px 0;
  @include media(lg) {
    max-width: 100%;
    gap: 20px 0;
  }
}
