.summer-cap {
  margin-top: -114px;
  @include bg-img('summer-cap/summer-cap-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding-top: 195px;
  padding-bottom: 112px;
  @include media(lg) {
    padding-bottom: 12px;
    @include bg-img('summer-cap/summer-cap-bg_tablet.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }
  @include media(md) {
    padding-top: 130px;
    margin-top: -97px;
  }
  @include media(xs) {
    margin-bottom: 40px;
    margin-top: -79px;
    padding-top: 100px;
    padding-bottom: 0;
    @include bg-img('summer-cap/summer-cap-bg_mob.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }
  @include media(xxs) {
    @include bg-img('summer-cap/summer-cap-bg_xxs.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    margin-bottom: 70px;
  }
  &.timer {
    @include media(md) {
      margin-bottom: 72px;
    }
    @include media(xs) {
      margin-bottom: 180px;
    }
    .summer-cap__area {
      min-height: calc(100vw * 910 / 1920);
      @include media(lg) {
        min-height: calc(100vw * 400 / 744);
      }
      @include media(xs) {
        min-height: calc(100vw * 576 / 532);
      }
      @include media(xxs) {
        min-height: calc(100vw * 360 / 292);
      }
    }
    .summer-cap__button {
      @include media(xs) {
        order: 10;
        position: relative;
        top: 150px;
        margin-top: 20px;
      }
    }
  }
  &.over {
    .summer-cap__button {
      color: #888888;
      background: #E3E3E3;
      pointer-events: none;
    }
  }
}

.summer-cap__cont {

}

.summer-cap__area {
  max-width: 660px;
  width: 100%;
  min-height: calc(100vw * 710 / 1920);
  @include media(lg) {
    max-width: 100%;
    min-height: calc(100vw * 400 / 744);
  }
  @include media(xs) {
    min-height: calc(100vw * 576 / 532);
    display: flex;
    flex-direction: column;
  }
  @include media(xxs) {
    min-height: calc(100vw * 360 / 292);
  }
}

.summer-cap__caption {
  margin-bottom: 22px;
  font-weight: 600;
  font-size: 58px;
  line-height: 112%;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 12px;
    font-size: 27px;
    line-height: 122%;
  }
  @include media(xs) {
    text-align: center;
  }
  @include media(xxs) {
    line-height: 96%;
  }
  br {
    display: none;
    @include media(xxs) {
      display: block;
    }
  }
}

.summer-cap__text {
  margin-bottom: 36px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 100%;
  }
  @include media(xs) {
    max-width: 300px;
    margin: 0 auto 16px;
    text-align: center;
  }
}

.summer-cap__list {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  @include media(lg) {
    margin-bottom: 30px;
    gap: 4px;
  }
  @include media(xs) {
    max-width: 238px;
    margin: 0 auto 20px;
  }
}

.summer-cap__item {
  font-size: 24px;
  line-height: 30px;
  color: #003c56;
  padding-left: 28px;
  position: relative;
  @include media(lg) {
    padding-left: 25px;
    font-size: 15px;
    line-height: 19px;
  }
  &::before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    @include bg-icon('icons/ic_point_summer.svg');
    @include media(lg) {
      width: 15px;
      height: 15px;
    }
  }
}

.summer-cap__button {
  font-size: 16px;
  padding: 20px 25px;
  max-width: 262px;
  width: 100%;
  display: block;
  @include media(lg) {
    max-width: 236px;
  }
  @include media(xs) {
    max-width: 313px;
    margin: auto auto 0;
  }
  @include media(xxs) {
    position: relative;
    top: 40px;
  }
}

.summer-cap__timer-box {
  margin-top: 50px;
  background: #a1d86b;
  border-radius: 20px;
  padding: 20px 25px;
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 500px;
  width: 100%;
  @include media(lg) {
    margin-top: 30px;
    border-radius: 10px;
  }
  @include media(xs) {
    max-width: 100%;
    margin-bottom: 0;
    margin-top: 0;
    flex-direction: column;
    padding: 12px 25px;
    gap: 15px;
    position: relative;
    top: 150px;
  }
}

.summer-cap__timer-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 111%;
  color: #003c56;
  @include media(xs) {
    text-align: center;
  }
}

.summer-cap__timer {
  flex-shrink: 0;
  width: 207px;
  display: flex;
  gap: 17px;
}

.summer-cap__timer-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.summer-cap__number {
  border-radius: 10px;
  width: 39px;
  height: 39px;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  font-size: 22px;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.summer-cap__note {
  font-size: 13px;
  line-height: 100%;
}
