.tile {
  padding-bottom: 79px;
  @include media(lg) {
    padding-bottom: 0;
    margin-bottom: 40px;
  }
  & + .how {
    padding-top: 70px;
    padding-bottom: 78px;
    @include media(lg) {
      padding-top: 0;
      padding-bottom: 20px;
    }
    @include media(xs) {
      padding-bottom: 40px;
    }
  }
}

.tile__cont {

}

.tile__caption {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 45px;
  line-height: 121%;
  color: #003c56;
  @include media(lg) {
    margin-bottom: 25px;
    font-size: 25px;
    line-height: 100%;
  }
}

.tile__nav {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  @include media(lg) {
    margin-bottom: 35px;
  }
  @include media(xs) {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
  }
}

.tile__tabs {
  display: flex;
  gap: 0 20px;
  @include media(lg) {
    gap: 0 10px;
  }
}

.tile__tab {
  font-size: 16px;
  min-width: 120px;
  height: 45px;
  border: 1px solid #6683c2;
  border-radius: 34px;
  padding: 2px 10px 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.04);
  transition-duration: $transition-duration;
  transition-property: background-color, color;
  @include media(lg) {
    min-width: 92px;
    height: 40px;
    font-size: 14px;
  }
  @include media(xs) {
    min-width: 81px;
    height: 34px;
  }
  @include media(xxs) {
    min-width: 69px;
  }
  &.active {
    background-color: #6683c2;
    color: #FFFFFF;
    pointer-events: none;
  }
  &:hover {
    background-color: rgba(#6683c2, .8);
    color: #FFFFFF;
  }
}

.tile__nav-links {
  display: flex;
  gap: 0 20px;
  @include media(lg) {
    gap: 0 10px;
  }
  @include media(xs) {
    margin-top: 10px;
  }
}

.tile__nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  min-width: 140px;
  min-height: 45px;
  border-radius: 34px;
  font-size: 16px;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.04);
  transition-property: background-color, color;
  transition-duration: $transition-duration;
  @include media(lg) {
    min-width: 112px;
    min-height: 40px;
    font-size: 14px;
  }
  @include media(xs) {
    min-height: 34px;
    min-width: 122px;
  }
  &:hover {
    background-color: #6683c2;
    color: #FFFFFF;
  }
}

.tile__wrap {
  position: relative;
}

.tile__tile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  opacity: 0;
  pointer-events: none;
  flex-wrap: wrap;
  gap: 30px 30px;
  transition-delay: 0s;
  transition-property: opacity;
  transition-duration: $transition-duration;
  @include media(lg) {
    gap: 25px;
  }
  &.active {
    position: static;
    opacity: 1;
    pointer-events: all;
    transition-delay: .3s;
  }
}

.tile__family {
  position: relative;
  width: calc(50% - 15px);
  border-radius: 32px;
  background: radial-gradient(171.12% 103.25% at 86.76% 77.46%, #dae5fe 0%, #bedaff 100%);
  padding: 30px;
  display: flex;
  @include media(lg) {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
  }
  @include media(xs) {
    padding: 25px 15px 15px;
  }
  @include media(xxs) {
    padding: 25px 10px 10px;
  }
}

.tile__tickets {
  display: flex;
  gap: 15px;
  position: absolute;
  right: 40px;
  top: 0;
  transform: translateY(-50%);
  @include media(lg) {
    gap: 10px;
    right: 20px;
  }
  @include media(xs) {
    right: 10px;
  }
  @include media(xxs) {
    gap: 9px;
  }
}

.tile__ticket {
  border-radius: 33px;
  padding: 8px 15px;
  color: #fff;
  font-size: 14px;
  line-height: 100%;
  font-weight: 500;
  @include media(lg) {
    font-size: 13px;
    padding: 6px 15px;
  }
  @include media(xxs) {
    font-size: 12px;
    padding: 4px 15px 5px;
  }
  &.blue {
    background: #68ccea;
  }
  &.green {
    background: #7fcbb4;
  }
}

.tile__family-picture {
  margin-right: 25px;
  width: 180px;
  flex-shrink: 0;
  @include media(xs) {
    width: 100px;
    position: absolute;
    top: 25px;
    left: 15px;
  }
  @include media(xxs) {
    left: 10px;
  }
}

.tile__family-image {
  height: 255px;
  object-fit: cover;
  @include media(xs) {
    height: 142px;
  }
}

.tile__family-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tile__family-number {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.5);
  @include media(lg) {
    font-size: 15px;
  }
  @include media(xs) {
    padding-left: 115px;
  }
}

.tile__family-name {
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 115%;
  font-weight: 600;
  @include media(xs) {
    padding-left: 115px;
    max-width: 235px;
  }
}

.tile__family-text {
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 132%;
  @include media(lg) {
    font-size: 15px;
  }
  @include media(xs) {
    order: 1;
    margin-top: 16px;
  }
}

.tile__family-tags {
  margin-bottom: 18px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px 12px;
  @include media(xs) {
    padding-left: 115px;
    gap: 10px;
    margin-bottom: 0;
  }
}

.tile__family-tag {
  border-radius: 33px;
  font-weight: 500;
  font-size: 12px;
  color: #6683c2;
  line-height: 100%;
  min-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  padding: 8px 12px;
  &.desk {
    @include media(xs) {
      display: none;
    }
  }
}

.tile__family-btn {
  margin-top: auto;
  width: auto;
  padding: 14px 56px 16px;
  @include media(xs) {
    width: 100%;
    order: 2;
  }
}

.tile__item {
  position: relative;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.04);
  background: #fff;
  width: calc(50% - 15px);
  display: flex;
  padding: 30px;
  border-radius: 32px;
  @include media(lg) {
    width: 100%;
    padding: 18px 15px;
    border-radius: 10px;
  }
  @include media(xs) {
    position: relative;
    padding: 25px 15px 15px;
  }
  @include media(xxs) {
    padding: 25px 10px 10px;
  }
}

.tile__picture {
  background: #E0ECFB;
  border-radius: 22px;
  overflow: hidden;
  width: 180px;
  flex-shrink: 0;
  margin-right: 25px;
  align-self: flex-start;
  @include media(lg) {
    border-radius: 5px;
  }
  @include media(xs) {
    width: 100px;
    position: absolute;
    top: 25px;
    left: 15px;
  }
  @include media(xxs) {
    left: 10px;
  }
  &.no-background-color {
    background: unset;
  }
}

.tile__image {
  object-fit: cover;
  height: 255px;
  @include media(xs) {
    height: 100px;
    object-fit: contain;
  }
}

.tile__inner {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tile__class-number {
  margin-bottom: 7px;
  font-size: 16px;
  line-height: 132%;
  color: rgba(0, 0, 0, 0.5);
  @include media(lg) {
    margin-bottom: 6px;
    font-size: 15px;
  }
  @include media(xs) {
    padding-left: 115px;
  }
}

.tile__name {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 16px;
  line-height: 144%;
  @include media(lg) {
    margin-bottom: 12px;
    font-size: 15px;
    line-height: 144%;
  }
  @include media(xs) {
    padding-left: 115px;
    min-height: 71px;
    margin-bottom: 18px;
  }
}

.tile__author {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 132%;
  @include media(lg) {
    margin-bottom: 4px;
    font-size: 15px;
    line-height: 144%;
  }
}

.tile__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 132%;
  @include media(lg) {
    font-size: 15px;
    line-height: 144%;
  }
}

.tile__bottom {
  margin-top: auto;
  display: flex;
  align-items: center;
  @include media(xs) {
    order: 2;
  }
}

.tile__link {
  flex-shrink: 0;
  padding: 14px 56px 16px;
  @include media(xs) {
    width: 100%;
  }
}

