.trial-facts {
  position: relative;
  overflow: hidden;
  padding-top: 50px;
  margin-bottom: 75px;
  @include media(lg) {
    margin-bottom: 40px;
    padding-top: 0;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1920px;
    height: 473px;
    @include bg-icon('trial-facts/trial-facts-bg.svg');
    z-index: -1;
    @include media(lg) {
      width: 744px;
      height: 205px;
      top: unset;
      bottom: 0;
      transform: translateX(calc(-50% - 230px));
      @include bg-icon('trial-facts/trial-facts-bg_tablet.svg');
    }
    @include media(md) {
      transform: translateX(calc(-50% - 20px));
    }
    @include media(xs) {
      @include bg-icon('trial-facts/trial-facts-bg_mob.svg');
      width: 393px;
      height: 396px;
      top: 32px;
      transform: translateX(calc(-50% - 45px));
    }
    @media (max-width: 540px) {
      left: 28px;
      transform: none;
    }
  }
}

.trial-facts__cont {

}

.trial-facts__title {
  margin-bottom: 30px;
  @include media(lg) {
    margin-bottom: 26px;
  }
  @include media(xs) {
    max-width: 215px;
    margin-bottom: 58px;
    position: relative;
    z-index: 2;
  }
  &::before {
    @include media(xs) {
      content: '';
      @include bg-icon('trial-facts/trial-facts-title-shadow.svg');
      width: 114px;
      height: 95px;
      position: absolute;
      z-index: -1;
    }
  }
}

.trial-facts__list {
  position: relative;
  height: 360px;
  margin-left: 44px;
  @include media(lg) {
    height: 240px;
    margin-left: 0;
  }
  @include media(xs) {
    height: auto;
    min-height: 325px;
    max-width: 353px;
    width: 100%;
  }
}

.trial-facts__item {
  position: absolute;
  font-weight: 500;
  font-size: 24px;
  line-height: 144%;
  color: #000;
  height: 82px;
  padding-left: 65px;
  @include media(lg) {
    padding-left: 50px;
    font-size: 15px;
    line-height: 144%;
  }
  @include media(xs) {
    position: relative;
    top: unset;
    right: unset;
    left: unset;
    bottom: unset;
    padding-left: 63px;
    height: auto;
    min-height: 48px;
    display: flex;
    align-items: center;
  }
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 61px;
    @include media(lg) {
      width: 38px;
      height: 46px;
    }
    @include media(xs) {
      width: 40px;
      height: 48px;
    }
  }
  &_1 {
    top: 90px;
    left: 44px;
    @include media(lg) {
      top: 33px;
      left: 0;
      height: 76px;
      width: 238px;
    }
    @include media(xs) {
      margin-bottom: 43px;
      width: 248px;
    }
    &::before {
      @include bg-icon('trial-facts/trial-facts-icon-1.svg');
    }
  }
  &_2 {
    top: 188px;
    left: 254px;
    @include media(lg) {
      top: 100px;
      left: 119px;
      height: 74px;
      width: 246px;
    }
    @include media(xs) {
      margin-bottom: 35px;
      width: 247px;
      margin-left: auto;
      padding-left: 0;
      padding-right: 50px;
    }
    &::before {
      @include bg-icon('trial-facts/trial-facts-icon-2.svg');
      @include media(xs) {
        left: unset;
        right: 0;
      }
    }
  }
  &_3 {
    top: 276px;
    left: 490px;
    @include media(lg) {
      top: 185px;
      left: 216px;
      height: 53px;
      width: 241px;
    }
    @include media(xs) {
      margin-bottom: 18px;
      width: 255px;
    }
    &::before {
      @include bg-icon('trial-facts/trial-facts-icon-3.svg');
    }
  }
  &_4 {
    height: 115px;
    top: 0;
    right: 10px;
    padding-top: 36px;
    padding-right: 40px;
    @include media(lg) {
      padding-top: 0;
      padding-right: 0;
      width: 186px;
      height: 73px;
      top: 0;
      left: 425px;
      right: unset;
    }
    @include media(xs) {
      width: 201px;
      margin-left: 43px;
    }
    &::before {
      @include bg-icon('trial-facts/trial-facts-icon-4.svg');
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 49px;
      height: 49px;
      border-radius: 50%;
      box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.06);
      @include bg-icon('trial-facts/trial-facts-icon-decor-4.svg');
      @include media(lg) {
        top: -8px;
        right: -50px;
      }
    }
  }
}
