extends ../components/_layout/layout

block head
  +title('Статья')

block body
  include ../components/crumbs
  +crumbs(['Главная','Блог','Вопросы для подростков: что полезно и интересно обсудить до 15 лет'])
  include ../components/article
  include ../components/promo
  +promo('percent')
