extends ../components/_layout/layout

block head
  +title('Страница блога')

block body
  include ../components/crumbs
  +crumbs(['Главная','Блог','Вопросы для подростков'])
  include ../components/blog
  include ../components/banners/blog-summer
  include ../components/banners/blog-trial
  +blog-trial('1','Попробуйте IT-курсы <br> в Точке Знаний!',
    'Погрузите ребёнка в мир технологий. Создание игр, программирование и дизайн — первый шаг к цифровому будущему.',
    ['От 290 ₽ за пробный доступ','7 дней на знакомство с любым курсом','Ребёнок поймёт, нравится ли ему это'],
    'png'
  )
  +blog-trial('2','Попробуйте семейное обучение в&nbsp;Точке Знаний!',
    'Всё необходимое для качественного образования дома в увлекательном формате, который понравится детям и родителям.',
    ['Старт от 790 рублей', '7 дней — оцените наш формат', 'Все предметы и поддержка тьютора'],
    'svg'
  )
  +blog-trial('3','Учёба станет интереснее!',
    'Покажите ребёнку, что математика, русский или физика могут быть увлекательными. Мы&nbsp;учим&nbsp;именно&nbsp;так.',
    ['Пробный доступ от 290 ₽ на 7 дней', 'Интерактивные форматы вместо скучных уроков', 'Курсы по всем школьным предметам'],
    'svg'
  )
  .btn-scroll-to-top
    svg(viewbox='0 0 70 70' fill='none' xmlns='http://www.w3.org/2000/svg')
      circle(cx='35' cy='35' r='35' fill='#6683C2' fill-opacity='0.24')
      path(d='M36.2374 27.7626C35.554 27.0791 34.446 27.0791 33.7626 27.7626L22.6256 38.8995C21.9422 39.5829 21.9422 40.691 22.6256 41.3744C23.309 42.0578 24.4171 42.0578 25.1005 41.3744L35 31.4749L44.8995 41.3744C45.5829 42.0578 46.691 42.0578 47.3744 41.3744C48.0578 40.691 48.0578 39.5829 47.3744 38.8995L36.2374 27.7626ZM35 31L36.75 31L36.75 29L35 29L33.25 29L33.25 31L35 31Z' fill='#6683C2')
  include ../components/cake
