include ../_variables
include ../components/_layout/_connect-style
include ../components/_layout/_title

doctype html
html(lang='ru')
  head
    include ../components/_layout/_head
    +title('Клип 3')
  body
    .sticky-header.sticky-header_no-margin
      include ../components/_layout/header-short
      +header-short('clip')
    main.wrapper.wrapper_clip
      include ../components/clip-3
    include ../components/modals/modal-order-new
    include ../components/modals/modal-order-new-email
    include ../components/_layout/footer-quiz
    include ../components/_layout/scripts
