include ../_variables
include ../components/_layout/_connect-style
include ../components/_layout/_title

doctype html
html(lang='ru')
  head
    include ../components/_layout/_head
    +title('Летние курсы')
  body.course-summer
    .sticky-header
      include ../components/_layout/header
      +header
    main.wrapper
      block body
        include ../components/course-cap
        +course-cap('summer', 'summer-cost')
        +course-cap('summer', 'summer-cost', true)
        +course-cap('summer', 'summer-cost', false, true)
        include ../components/summer-how
        +summer-how
        +summer-how('', true)
        include ../components/summer-how-2
        +summer-how-2
        +summer-how-2(true)
        //include ../components/summer-schedule
        //+summer-schedule('')
        //+summer-schedule('short')
        include ../components/course-about
        +course-about('no-video-summer', 'Смотрите как проходят уроки')
        //+course-about('summer', 'Смотрите как проходят уроки')
        include ../components/two-teach
        +two-teach('summer')
        include ../components/teacher
        +teacher('summer')
        include ../components/tutor
        +tutor('summer')
        include ../components/summer-cost
        +summer-cost
        +summer-cost('over','Летний курс','6 000 ₽',true)
        //+summer-cost('short')
        include ../components/cost
        +cost('shortest-summer')
        //include ../components/pre-reviews
        //+pre-reviews('summer')
        include ../components/reviews
        +reviews
        include ../components/faq
        +faq('summer-course')
        include ../components/pre-end
        +pre-end('summer','Время принять решение: оставить всё как есть или начать обучение, получить твёрдые знания и отличные оценки.',
          'Начать обучение','summer-cost')
        include ../components/btn-fixed
        +btn-fixed('summer','Получить консультацию',400,1700)
        include ../components/summer-fixed
        +summer-fixed('blue','Этот курс уже доступен к покупке <br> на 25/26 учебный год')
    include ../components/modals/modal-order-new
    include ../components/_layout/footer
    include ../components/_layout/scripts
