extends ../components/_layout/layout

block head
  +title('Курс')

block body
  include ../components/course-cap
  +course-cap
  +course-cap('3-teachers')
  include ../components/course-about
  +course-about('no-video')
  +course-about
  include ../components/how
  +how('blue', true)
  include ../components/schedule
  include ../components/schedule-small
  include ../components/schedule-smallest
  include ../components/two-teach
  +two-teach
  include ../components/teacher
  +teacher('')
  include ../components/tutor-family
  +tutor-family
  include ../components/cost
  +cost('short')
  //include ../components/pre-reviews
  //+pre-reviews
  include ../components/reviews
  +reviews('no-reviews-all')
  include ../components/faq
  +faq
  include ../components/pre-end
  +pre-end('course','Время принять решение: оставить всё как есть или начать обучение, получить твёрдые знания и отличные оценки.',
    'Начать обучение')
  include ../components/btn-fixed
  +btn-fixed(false,'Подобрать занятия',400,1700)
  include ../components/summer-fixed
  +summer-fixed(false,'Данный курс сейчас доступен только в летнем формате. <br> Переходите на страницу летнего курса. <br> Занятия в 4 четверти в подарок!')
