extends ../components/_layout/layout

block head
  +title('Семейное обучение')

block body
  include ../components/family-cap
  +family-cap
  include ../components/family-point
  include ../components/family-about
  +family-about
  include ../components/family-how
  include ../components/family-program
  +family-program
  include ../components/family-schedule
  +family-schedule
  include ../components/family-teachers
  +family-teachers
  include ../components/family-tutor
  +family-tutor
  include ../components/family-steps
  include ../components/family-manual
  +family-manual
  include ../components/family-docs
  +family-docs
  include ../components/family-cost
  +cost('short')
  include ../components/pre-reviews
  include ../components/faq
  +faq
  include ../components/trial-license
  +trial-license
  include ../components/pre-end
  +pre-end('course','Время принять решение: оставить всё как есть или начать обучение, получить твёрдые знания и отличные оценки.',
    'Начать обучение')
  include ../components/summer-fixed
