extends ../components/_layout/layout

block head
  +title('Начальная школа')

block body
  include ../components/cap-school
  +cap-school('first', '1-4 класс', 'Любовь к учёбе, <br>понимание предмета <br>и отличные оценки <br>с первых уроков')
  include ../components/study-tags
  +study-tags('first','Учимся играючи',
    ['С маленькими школьниками <span>важно играть</span>. Решаем сразу 2 задачи: занимаемся по&nbsp;школьной программе и развиваем логическое мышление.'],
    ['В игровой форме','С разминками','С физкультминутками','С лучшими учителями страны','С внимательными тьюторами'], 'study-tags-1')
  include ../components/tile
  include ../components/how
  +how
  include ../components/consult
  +consult('consult-decor-1')
  include ../components/pre-reviews
