extends ../components/_layout/layout

block head
  +title('Главная')

block body
  include ../components/cap
  include ../components/cap-new
  include ../components/cap-old
  include ../components/cards
  include ../components/about
  include ../components/quote
  include ../components/numbers
  include ../components/how
  +how
  //include ../components/pre-reviews
  include ../components/reviews
  +reviews
  include ../components/trial-license
  +trial-license
  include ../components/ways
  include ../components/ways-new
  include ../components/btn-fixed
  +btn-fixed(false,'Подобрать занятия',400,1700)
  include ../components/promo
  +promo()
