extends ../components/_layout/layout

block head
  +title('Главная')

block body
  include ../components/cap
  include ../components/cards
  include ../components/about
  include ../components/quote
  include ../components/numbers
  include ../components/how
  +how
  include ../components/pre-reviews
  include ../components/trial-license
  include ../components/directions
