extends ../components/_layout/layout

block head
  +title('Главная')

block body
  include ../components/cap
  include ../components/cap-new
  include ../components/cap-old
  include ../components/cards
  include ../components/about
  include ../components/quote
  include ../components/numbers
  include ../components/how
  +how
  //include ../components/pre-reviews
  include ../components/reviews
  +reviews
  include ../components/trial-license
  +trial-license
  include ../components/ways
  include ../components/ways-new
  include ../components/btn-fixed
  +btn-fixed(false,'Подобрать занятия',400,1700)
  include ../components/promo
  +promo()
  //.review-modal
  //  .review-modal__layer
  //  .review-modal__inner
  //    button.review-modal__close
  //    .review-modal__left
  //      .review-modal__box
  //        .review-modal__play
  //        img.review-modal__image(src=staticImg('') alt='')
  //        video.review-modal__video(src=`${pathStatics}/files/Shevchenko_1_klass.mov`)
  //      .review-modal__name Пушкарева Анна
  //      .review-modal__note Математика, 8 класс, г. Москва
  //    .review-modal__right
  //      .review-modal__text
  //        p.
  //          На обучение записались, чтобы подтянуть геометрию, алгебру, выйти на “пятерки” по геометрии. Своих
  //          целей достигли. Улучшились оценки, по геометрии вышли на “5”.

