extends ../components/_layout/layout

block head
  +title('Библиотека 500+ уроков')

block body
  include ../components/library-cap
  include ../components/library-reg
  include ../components/library-why
  include ../components/library-informer
