extends ../components/_layout/layout

block head
  +title('О платформе')

block body
  include ../components/platform/platform-cap
  include ../components/platform/platform-tech
  include ../components/platform/platform-services
  include ../components/platform/platform-docs

