extends ../components/_layout/layout

block head
  +title('Предзапись')

block body
  include ../components/pre-cap
  include ../components/pre-about
  include ../components/pre-ways
  include ../components/pre-plus
  include ../components/pre-study
  include ../components/pre-reg
  include ../components/pre-faq
  include ../components/pre-reviews
  include ../components/pre-end
  .form-loader
