extends ../components/_layout/layout

block head
  +title('Предзапись')

block body
  include ../components/pre-cap
  +pre-cap
  include ../components/pre-about
  include ../components/pre-ways
  include ../components/pre-plus
  include ../components/pre-study
  include ../components/pre-reg
  include ../components/pre-faq
  //include ../components/pre-reviews
  include ../components/reviews
  include ../components/pre-end
  +pre-end(false,'Время принять решение: оставить всё как есть, или зарегистрироваться в предзапись и получить приоритетное место на курсе, а также самую низкую цену.',
  'Запишите меня')
