include ../_variables
include ../components/_layout/_connect-style
include ../components/_layout/_title

doctype html
html(lang='ru')
  head
    include ../components/_layout/_head
    +title('Квиз СО спасибо')
  body
    .sticky-header.sticky-header_no-margin
      include ../components/_layout/header-quiz
    main.wrapper
      form.quiz-so
        .cont
          include ../components/quiz-so-done
          +quiz-so-done(
            'trial',
            'А пока скачивайте руководство для&nbsp;родителей <br> «Как мотивировать ребёнка учиться»',
            false,
            'decor-trial'
          )
    include ../components/modals/modal-order-new
    include ../components/_layout/footer-quiz
    include ../components/_layout/scripts
