extends ../components/_layout/layout

block head
  +title('Отзывы')

block body
  include ../components/reviews-cap
  include ../components/reviews-line
  include ../components/reviews-tile
  include ../components/reviews-consult


