include ../_variables
include ../components/_layout/_connect-style
include ../components/_layout/_title

doctype html
html(lang='ru')
  head
    include ../components/_layout/_head
    +title('Форма отзывов учитель')
  body
    main.wrapper
      include ../components/review
      +review('Пожалуйста, оставьте отзыв о&nbsp;вашем преподавателе', 'teacher')
    include ../components/_layout/footer-quiz
    include ../components/_layout/scripts




