extends ../components/_layout/layout

block head
  +title('Средняя школа')

block body
  include ../components/cap-school
  +cap-school('second', '5-8 класс', 'Твёрдые знания, <br>понимание предмета <br>и сдача ВПР <br>на «отлично»')
  include ../components/study-tags
  +study-tags('second','Понимать, а не «зубрить»',
    'С маленькими школьниками <span>важно играть</span>. Решаем сразу 2 задачи: занимаемся по&nbsp;школьной программе и развиваем логическое мышление.',
    ['В игровой форме', 'С разминками', 'Физкульт-минутками', 'Лучшими учителями страны*', 'Внимательными тьюторами'], 'study-tags-1')
  include ../components/tile
  include ../components/how
  +how
  include ../components/consult
  +consult('consult-decor-2')
  include ../components/pre-reviews
