extends ../components/_layout/layout

block head
  +title('Видео фрейм')

block body
  iframe(width='560' height='315' src='https://runtime.video.cloud.yandex.net/player/video/vplvnf2d2zk4iicoats2?autoplay=0&mute=0' allow='autoplay; fullscreen; accelerometer; gyroscope; picture-in-picture; encrypted-media' frameborder='0' scrolling='no')
  iframe(width='560' height='315' src='https://runtime.video.cloud.yandex.net/player/video/vplvg6ntnqpnd5jl4y5z?autoplay=0&mute=0' allow='autoplay; fullscreen; accelerometer; gyroscope; picture-in-picture; encrypted-media' frameborder='0' scrolling='no')
