extends ../components/_layout/layout

block head
  +title('Старшая школа')

block body
  include ../components/cap-school
  +cap-school('third', '9-11 класс', 'Подготовимся <br>к ОГЭ и ЕГЭ <br>Без стресса <br class="mob-disable">и на <br class="mob-able">высокий балл')
  include ../components/study-tags
  +study-tags('third','Когда экзамены не страшны',
    ['Ключ к успешной сдаче ОГЭ и ЕГЭ — <span>профессиональная подготовка.</span>','Детально разберем <span>каждое задание</span> и структуру экзамена, узнаем, как оформлять работу и обходить <span>«ловушки».</span>'],
    ['Твёрдые знания', 'ОГЭ и ЕГЭ без стресса', 'Подготовка на высокий балл', 'Лучшие учителя страны*', 'Профессиональные тьюторы'], 'study-tags-3')
  include ../components/tile
  include ../components/how
  +how
  include ../components/consult
  +consult('consult-decor-1')
  //include ../components/pre-reviews
  include ../components/reviews
  +reviews
