include ../_variables
include ../components/_layout/_connect-style
include ../components/_layout/_title

doctype html
html(lang='ru')
  head
    include ../components/_layout/_head
    +title('Пробная неделя новая')
  body
    .sticky-header
      include ../components/_layout/header-new
    main.wrapper
      include ../components/trial-cap
      include ../components/trial-facts
      include ../components/trial-about
      include ../components/trial-steps
      include ../components/trial-school
      include ../components/trial-after
      include ../components/trial-tile
      include ../components/trial-license
      +trial-license
      include ../components/pre-reviews
      include ../components/pre-end
      +pre-end('trial','Время принять решение: оставить всё как есть или разобраться в 1-2 темах по&nbsp;предмету за 7 дней.',
        'Начать обучение за 290 руб')
    include ../components/modals/modal-order-new
    include ../components/_layout/footer-new
    include ../components/_layout/scripts
