include ../_variables
include ../components/_layout/_connect-style
include ../components/_layout/_title

doctype html
html(lang='ru')
  head
    include ../components/_layout/_head
    +title('Пробное семейное обучение')
  body
    .sticky-header
      include ../components/trial-family-header
    main.wrapper
      include ../components/trial-family-cap
      include ../components/trial-family-about
      include ../components/trial-family-start
    include ../components/modals/modal-order-new
    include ../components/_layout/footer-new
    include ../components/_layout/scripts
