.about
  .about__cont.cont
    h2.about__title Не просто школа. «Точка Знаний» — это:
    picture.about__picture
      source(srcset=staticImg(`about/about-1_mob.svg`) media="(max-width: 743px)")
      source(srcset=staticImg(`about/about-1_tablet.svg`) media="(max-width: 1359px)")
      img.about__image(src=staticImg('about/about-1.svg') alt='')
