-
  const blackFridayList = [
    { value: '- 70%', note: 'на первый платёж' },
    { value: '-10%', note: 'на весь абонемент' },
    { value: 'ЛЮБОЙ', note: 'курс и семейное обучение' },
  ]

.black-friday
  .cont
    img.black-friday__caption(src=staticImg('black-friday/caption.svg') alt='')
    .black-friday__subtitle в «Точке Знаний»
    .black-friday__area
      .black-friday__timer(date-end="2025-04-10T12:00:00")
        each item in [{number: '15', note: 'часов'},{number: '58', note: 'минут'},{number: '19', note: 'секунд'}]
          .black-friday__timer-box
            .black-friday__timer-number= item.number
            .black-friday__timer-note= item.note
      .black-friday__timer-text Только сегодня
    ul.black-friday__list
      each item in blackFridayList
        li.black-friday__item
