a.black-friday-stretch(href='#' data-role="stretch")
  .cont
    .black-friday-stretch__area
      .black-friday-stretch__blur.black-friday-stretch__blur_1
      .black-friday-stretch__blur.black-friday-stretch__blur_2
      .black-friday-stretch__blur.black-friday-stretch__blur_3
      img.black-friday-stretch__circle(src=staticImg('black-friday-stretch/circle.svg') alt='')
      img.black-friday-stretch__caption(src=staticImg('black-friday-stretch/caption.svg') alt='')
      .black-friday-stretch__title
        | Скидки до
        img.black-friday-stretch__value(src=staticImg('black-friday-stretch/value.svg') alt='')
        | на всё!
      img.black-friday-stretch__note(src=staticImg('black-friday-stretch/note.svg') alt='')
