.blog
  .blog__cont.cont
    h1.blog__caption.caption Всё, что нужно знать — в одном месте
    .blog__list
      each box in [1,2,3,4,5,6,7,8,9]
        .blog__item
          img.blog__image(src=staticImg('blog.png') alt='')
          .blog__name Вопросы для подростков: что полезно и интересно обсудить до 15 лет
          .blog__text Шпаргалка, как распознать речевые нарушения и к кому обратиться за помощью
          a.blog__button.btn-blue.btn-blue_arrow(href='#') Читать далее
          .blog__line
            each item, index in ['17.12.2024','7 682','3 мин.']
              .blog__stat
                img.blog__icon(src=staticImg(`icons/ic_blog_${index+1}.svg`) alt='')
                .blog__note= item
    .blog__more
      button.blog__more-btn.btn-blue.btn-blue_arrow Показать ещё
