.cap
  .cap__cont.cont
    .cap__wrap
      .cap__top
        img.cap__count-icon(src=staticImg('cap/cap-count.png') alt='')
        .cap__count-text Более 44 000 счастливых учеников
      h1.cap__caption!= 'Онлайн-школа, где всё получится. <br> Потому что интересно!'
      .cap__headline Выберите направление
      include ./cap-list
