-
  const cardsArea = [
    {
      title: 'Научим понимать, а не зубрить',
      text: ['Изучение каждой темы начинается с базовых понятий. Материал поймёт ученик с любым уровнем знаний.','Доказываем, показываем на практике правила, формулы и теоремы. Находим их применение в жизни так, чтобы ребёнок понял, а не «зазубрил».']
    },
    {
      title: 'Учителя — лучшие в своём деле',
      text: ['Наши преподаватели — победители профессиональных конкурсов: «Учитель года», «Мои инновации в образовании» и других.']
    },
    {
      title: 'С ребёнком занимаются сразу 2 педагога',
      text: ['Учитель объяснит тему на уроке, тьютор проверит задание и поможет исправить ошибки.','Так мы добиваемся понимания материала и верного выполнения заданий. Это приведёт к отличным оценкам и интересу к учёбе.']
    },
    {
      title: 'Персональный тьютор всегда на связи',
      text: ['Проверит задание, поможет исправить ошибки и объяснит непонятные моменты. 5 дней в неделю.','Тьютор – опытный педагог по выбранному предмету. Среди наших тьюторов есть кандидаты наук, эксперты ОГЭ и ЕГЭ.']
    },
  ]

.cards
  .cards__cont.cont
    h2.cards__caption
      | Онлайн-школа, в которую
      br
      | Вы влюбитесь
    .cards__area
      each box, index in cardsArea
        .cards__box(class=`cards__box_${index+1}`)
          .cards__title= box.title
          .cards__inner
            each text in box.text
              .cards__text= text
