.catalog-cap
  .cont
    .catalog-cap__wrap
      h1.catalog-cap__caption Педагогический состав Точки Знаний
      .catalog-cap__text.catalog-cap__text_1 Наши учителя — опытные педагоги и&nbsp;эксперты своих предметов.
      .catalog-cap__text.catalog-cap__text_2.
        Каждый преподаватель проходит строгий отбор, регулярно повышает квалификацию и находит индивидуальный
        подход к&nbsp;каждому ученику.
