-
  const clipArea1 = ['Слабые учителя','Устаревшие методики','Переполненные классы','Зубрёжка вместо понимания',
    'Нулевые или почти нулевые знания','Жёсткие рамки и никакой гибкости в учебных процессах',
    'Нехватка времени на спорт, творчество и просто детство','Постоянный стресс у ребёнка, перегрузка и нежелание учиться',
    'Буллинг (травля). Надеемся, в вашей школе этой дикости нет']

.clip.clip_1
  .clip__wrap.clip__wrap_no-padding
    h1.clip__caption Вы тоже считаете, что школа ничему не научит вашего ребёнка?
    h2.clip__title Сегодня тысячи родителей забирают детей из школы не после уроков, а навсегда. Учиться дома.
    .clip__text.clip__text_wide —  Что стоит за принятием такого решения?
    .clip__text.clip__text_wide —  Почему для многих семей школа стала бесполезным местом?
    .clip__text.clip__text_wide —  Может ли ребёнок получить полноценное школьное образование, вообще не посещая школу?
    .clip__text.clip__text_wide —  Все ли школы одинаково ужасны?
    br
    br
    .clip__text Ответы на эти вопросы и приподнятое настроение вы получите уже через 3 минуты.
    .clip__text А пока…
    .clip__headline Причины, из-за которых школа теряет свою репутацию:
    .clip__area
      each box in clipArea1
        .clip__box= box
    .clip__text Знакомо что-то из этого?
    .clip__text Скорее всего да. И это неудивительно.
  .clip__wrap.clip__wrap_grey
    .clip__text
      | Ведь даже если не брать в расчёт
      |
      b буллинг и дефицит
      |
      | свободного времени у ребёнка, а говорить только о качестве школьного образования, то…
    .clip__decor
      .clip__headline Согласно опросам, им в нашей стране недовольны аж 58% родителей. То есть больше половины.
    .clip__text.
      Кому-то не повезло с учителем… Кому-то сразу с несколькими учителями… А кому-то повезло, но от этого везения легче не становится.
  .clip__wrap
    .clip__text
      | Даже если у вашего ребёнка сильные учителя, это ещё
      |
      b не гарантия успеха.
      |
      | Некоторые классы
      | настолько переполнены, что преподаватели чисто физически не успевают уделить время каждому ученику.
    .clip__text.
      Да и человеческий ресурс, к сожалению, ограничен. Многие преподаватели вынуждены брать
      дополнительные часы из-за низких зарплат и нехватки кадров. А «свежий» учитель и учитель,
      который от усталости валится с ног, — это не одно и то же.
    .clip__text.
      Сможет ли ребёнок в таких условиях сдать ОГЭ, ЕГЭ и получить аттестат?
    .clip__headline Да, наверное, сможет. Почему&nbsp;бы&nbsp;и&nbsp;нет
    .clip__text.
      Сдать ОГЭ и ЕГЭ можно и в слабой школе. Со скрипом, прибегнув
      к хитрости, на минимальный допустимый балл… Сложно, но можно.
    .clip__text Но разве это цель?
    .clip__text Во-первых, с такими «успехами» вас вряд ли ждут в лучших вузах страны.
    .clip__text.
      А во-вторых, после ОГЭ и ЕГЭ нужно будет изо дня в день сдавать куда более сложный экзамен —
      экзамен под названием «Взрослая жизнь»
  .clip__wrap.clip__wrap_grey
    ul.clip__list
      li.clip__item Как успевать за быстро меняющимся миром?
      li.clip__item Как обеспечить лучшую жизнь себе и своим близким?
      li.clip__item Как стать востребованным специалистом и построить успешную карьеру?
      li.clip__item Как выдерживать конкуренцию?
      li.clip__item Как не стать одним из тех, кого легко можно заменить нейросетью?
    .clip__decor
      .clip__text Ответ на все эти вопросы предельно прост:
      .clip__headline нужно постоянно учиться и развиваться. Постоянно!
    .clip__text.
      И легче это делать не с нуля, а опираясь на прочный фундамент — на фундаментальные знания,
      полученные в школьные годы. Не случайно же они так называются.
  .clip__wrap
    .clip__text.clip__text_margin-top
      span Фундаментальные знания — это фундамент для дальнейшего роста.
      |
      | Это то, что помогает нам
      | мыслить критически, анализировать, рассуждать и находить причинно-следственные связи. Это то,
      | благодаря чему мы можем быстро учиться чему-то новому. Это то, что каждый родитель хочет
      | видеть в своём ребёнке.
    .clip__text.
      Чувствуете масштаб? Это сильно больше, чем просто сдать ОГЭ, ЕГЭ и получить аттестат, правда?
    .clip__text.
      Вот что такое фундаментальные школьные знания и их важность в жизни. Жаль, что не в каждой школе их дают в полном объёме.
    .clip__text Но «не в каждой» не значит «везде».
    .clip__headline Если вас полностью устраивает ваша школа и учителя в ней…
    .clip__text.
      а главное, если вы уверены, что ваш ребёнок получает не просто хорошие оценки, но и мощные знания, то мы за вас искренне рады!
    .clip__text.
      Можем даже попрощаться на этом месте. Вряд ли информация ниже будет для вас судьбоносной.
    .clip__text.
      Но тем, кто недоволен качеством школьного образования, настоятельно советуем остаться и продолжить чтение. Вот почему…
    .clip__text.clip__text_margin-top
      span Так уж вышло
      |
      | , что нельзя вернуться в прошлое и поучиться в школе ещё разок. Нет, есть всего одна попытка.
    .clip__text.
      И если свою мы уже давно использовали, то у наших детей она как раз сейчас. А значит, ещё не
      поздно извлечь из неё максимум.
    .clip__text.
      Если вам кажется (или вы уверены), что школа не даёт вашему ребёнку должное образование и путёвку в лучшую жизнь,
      не затягивайте с решением этой проблемы. Тем более, решение уже есть. И не одно.
    .clip__button-box
      a.clip__button.btn-orange(href='/clip-2.html') Чем можно заменить школу?
