-
  const clipListMore = [
    {
      title: "Тем, кого не устраивает школа",
      text: "Из-за плохого качества обучения, нехватки учителей, большого количества детей в классе, отсутствия индивидуального подхода."
    },
    {
      title: "Тем, кто столкнулся с травлей в&nbsp;школе",
      text: "Если ребенок сталкивается с издевательством со стороны одноклассников или других школьников, не находит общий язык с учителями."
    },
    {
      title: "Одарённым детям",
      text: "Ребёнок быстро усваивает школьную программу, ему становится скучно. Хочется достигать новых высот, развиваться в новых сферах."
    },
    {
      title: "Спортсменам и юным артистам",
      text: "Занятия спортом, музыкой, танцами, пением требуют времени. Нужно совмещать учёбу с тренировками, сборами и выступлениями."
    },
    {
      title: "Тем, кто живёт за границей",
      text: "Если живёте за границей и хотите, чтобы ребёнок обучался по российской программе."
    },
    {
      title: "Тем, кому нужен особый подход",
      text: "Если ребёнку трудно адаптироваться в большом классе или он не может посещать школу по состоянию здоровья."
    },
  ]
  const clipPointList = [
    {
      title: 'Удобное расписание',
      text: 'Уроки в первой половине дня: 2-4 урока в день.'
    },
    {
      title: 'Нагрузка меньше, чем в школе',
      text: 'Без ранних подъёмов, дороги в школу и обратно. Больше времени на кружки, секции, увлечения, отдых с семьёй и общение с друзьями.'
    },
    {
      title: 'Индивидуальный маршрут',
      text: 'Больше времени уделяется предметам и сферам, в которых ребёнку интересно.'
    },
    {
      title: 'Учителя — лучшие в своём деле',
      text: 'Наши педагоги — победители профконкурсов, увлечённо и доступно объяснят любую тему.'
    },
    {
      title: 'С ребёнком занимаются сразу два педагога',
      text: 'Учитель: объяснит тему на уроке. Тьютор: проверит домашнее задание и поможет исправить ошибки. Каждый наш тьютор проходит строгий отбор (1 к 100).'
    },
    {
      title: 'Выбор учителей и тьюторов',
      text: 'Да, вы можете сами выбирать, кто будет учить вашего ребёнка.'
    },
    {
      title: 'У нас собственная обучающая платформа',
      text: 'Все уроки проходят на ней, мы ни от кого не зависим. Также на платформе хранятся записи занятий, конспекты и обучающие материалы. И там же осуществляется общение с тьютором и ведётся статистика успеваемости ученика. '
    },
    {
      title: 'Регулярный контроль успеваемости',
      text: 'Входное тестирование для определения уровня знаний и промежуточные проверки в течение года для отслеживания прогресса.'
    },
    {
      title: 'Свобода самовыражения',
      text: 'У нас нет дресс-кода и даже намёка на школьную форму. Занимайтесь хоть в костюме Бэтмена.'
    },
  ]

.clip.clip_2
  .clip__wrap.clip__wrap_no-padding
    h2.clip__title Что выбирают родители вместо обычной школы?
    .clip__area
      .clip__box Репетиторы
      .clip__box Частная школа
      .clip__box Учить ребёнка самостоятельно
      .clip__box Семейное обучение в онлайн-школе
    .clip__text У всех этих решений есть один общий плюс — все они про то, чтобы дать ребёнку качественное школьное образование.
    .clip__text Но у каждого решения есть свои недостатки. И их важно проговорить.
  .clip__wrap.clip__wrap_grey
    .clip__subtitle Репетиторы
    .clip__text.
      Нужен преподаватель по каждому предмету. Как следствие, это удовольствие не из дешёвых.
      Также родителям нужно будет самостоятельно планировать расписание и искать школу для прохождения аттестаций.
    .clip__subtitle Частная школа
    .clip__text.
      В вашем городе может не быть хорошей частной школы. А если и есть такая, то в ней уже может не быть мест.
      Ну и опять же, цены в частных школах «кусаются». Да и буллинг в них тоже не редкость
    .clip__subtitle Учить ребёнка самостоятельно
    .clip__text.
      Вариант, конечно, бюджетный. Однако требует колоссального уровня самоотдачи и вовлечённости родителей.
      Планировать расписание, контролировать ребёнка, понимать школьную программу и самостоятельно преподавать её,
      отслеживать все нововведения и требования в мире образования, искать школу для прохождения аттестаций — всё это
      ложится на плечи родителей.
    .clip__subtitle Семейное обучение в онлайн-школе
    .clip__text.
      Из минусов здесь, пожалуй, только зависимость от интернета и качества связи. Но учитывая, что интернет сейчас
      повсюду, не такой уж это и минус. Тем более, во многих онлайн-школах все уроки есть в записи. И даже если ученик
      что-то пропустил в прямом эфире, он может посмотреть это позднее, в любое время.
    .clip__text Что же выбрать?
  .clip__wrap.clip__wrap_no-padding
    .clip__headline Не знаем, это уже на ваше усмотрение и возможности. Каждое из этих решений работает.
    .clip__text.
      Но согласно статистике, сегодня родители всё чаще и чаще выбирают семейное обучение. Это и по цене приемлемо,
      и ребёнок под присмотром опытных учителей, и все организационные моменты с процессами онлайн-школа берёт на себя.
    .clip__text.
      За все школы мы, конечно, утверждать не можем. Но в нашей онлайн-школе «Точке Знаний» всё именно так.
    .clip__text.
      Поэтому на её примере и расскажем, что из себя представляет семейное обучение.
    .clip__headline Семейное обучение в «Точке Знаний» — это полноценная, законная альтернатива обычной школе.
    .clip__text.
      Только ребёнку не надо просыпаться ни свет ни заря и куда-то идти
      в дождь или метель. Всю его учёбу мы вместе с вами организуем у вас дома. В формате онлайн.
    .clip__text.
      В «Точке Знаний» семейное обучение открыто для учеников 1–11 классов. Что касается предметов, они точно такие
      же, как и в обычной школе, согласно государственной образовательной программе.
    .clip__text
      | Также вы можете
      |
      b бесплатно
      |
      | выбрать ещё 2-4 дополнительных курса. Китайский и другие языки, программирование,
      | графический дизайн, ораторское искусство, блогинг и т.д. Выбор большой!
    .clip__headline Семейное обучение идеально подходит:
    ul.clip__more-list
      each item in clipListMore
        li.clip__more-item
          .clip__more-title= item.title
          .clip__more-text= item.text
  .clip__wrap.clip__wrap_grey.clip__wrap_no-padding
    .clip__headline Переход на семейное обучение происходит в 4 этапа:
    ul.clip__number-list
      li.clip__number-item
        span 1
        | Уведомите орган управления образованием по месту жительства. Подайте заявление.
      li.clip__number-item
        span 2
        | Заберите документы из текущей школы. Вам не вправе отказать.
      li.clip__number-item
        span 3
        | Выберите новую школу для аттестации (сдачи экзаменов).
      li.clip__number-item
        span 4
        | Подайте документы (прикрепитесь) к новой школе.
    .clip__text Мы вам поможем на каждом этапе!
    .clip__text.
      Предоставим образцы всех необходимых документов для перехода на семейное обучение. А также прикрепим ребёнка
      к школе-партнёру для прохождения аттестации. По желанию вы можете самостоятельно прикрепиться к любой другой
      школе и проходить аттестацию в ней.
    .clip__text.
      Важно! Переход на СО возможен в любое время. Хоть летом, хоть зимой, хоть в начале учебного года, хоть в
      середине, хоть в четверг, хоть в 16:25 — не важно. В любое время!
  .clip__wrap.clip__wrap_no-padding
    .clip__headline Преимущества семейного обучения в «Точке Знаний»
    ul.clip__point-list
      each item in clipPointList
        li.clip__point-item
          .clip__point-inner
            .clip__point-title= item.title
            .clip__point-text= item.text
  .clip__wrap.clip__wrap_grey
    include ../components/reviews
    +reviews('no-reviews-all','А вот что говорят о «Точке Знаний» сами&nbsp;ученики и их родителей…')
    .clip__text Если вы тоже хотите навсегда изменить своё мнение о школьном образовании — сделайте всего один шаг.
    .clip__button-box
      a.clip__button.btn-orange(href='/clip-3.html') Да, мне это интересно!
