.directions
  .directions__cont.cont
    .directions__caption Выберите направление
    .directions-list
      each item, index in capList
        .directions-item(class=`directions-item_${index + 1}`)
          .directions-item-box
            .directions-headline= item.headline
            .directions-tags
              each tag in item.tags
                .directions-tag= tag
          a.directions-button.btn-orange(href='#') Выбрать
