.discount-august(data-element="discount")
  .cont
    .discount-august__wrap
      a.discount-august__area(href='#')
        .discount-august__left
          .discount-august__left-circle
          img.discount-august__left-number(src=staticImg('discount-august/number-left.png') alt='')
        .discount-august__text
          | Скидки
          |
          span до -15%
          |
          | на всё
          |
          span до 31 августа!
        .discount-august__button.btn-orange.btn-orange_arrow Подробнее
        .discount-august__right
          .discount-august__right-circle
          img.discount-august__right-number(src=staticImg('discount-august/number-right.png') alt='')
      button.discount-august__close(data-element="discount__close")
