.discount.discount-trial(data-element="discount")
  .container
    .discount-trial__area
      img.discount-trial__image(src=staticImg('discount/discount-trial.svg') alt='')
      .discount-trial__text 7 дней занятий за 290 ₽
      a.discount-trial__button.btn-warning(href='#') Выбрать курс
      button.discount-trial__close(data-element="discount__close")
