.discount.discount_new-year(data-element="discount")
  .container
    .discount__area
      .discount__box
        .discount__text!= '<span class="discount__text-big">Новогодняя акция!</span> <span class="discount__text-price">-50% на первый месяц обучения</span> на все курсы!'
        .discount__text-price.discount__text-price_mobile -50% на первый месяц обучения
      .discount__time
        | До 13.12.2025 включительно.
        button.discount__close(data-element="discount__close")
