.educator-order
  .cont
    .educator-order__wrap
      .educator-order__area
        .educator-order__caption Записаться на обучение к&nbsp;этому учителю
        .educator-order__text Поможем подобрать курс для вашего ребенка. Оставьте контакты, и мы вам перезвоним.
        picture.educator-order__picture
          img.educator-order__image(src='https://cms-dev.tochka-school.ru/storage/app/media/Stranica_kursov/Foto_shapka_kursa_blok/Chistyakova_shapka_kursa4.webp' alt='')
      include ./ege-cap__form
      +ege-cap__form('Оставьте заявку, расскажем о&nbsp;курсах подробнее')
