.educator-cap
  .cont
    .educator-cap__area
      .educator-cap__circle.educator-cap__circle_1
      .educator-cap__circle.educator-cap__circle_2
      .educator-cap__circle.educator-cap__circle_3
      h1.educator-cap__caption Галина Валерьевна Шевченко
      .educator-cap__tags
        each item in ['Компьютерная грамотность','Математика','Русский язык']
          .educator-cap__tag= item
      .educator-cap__experience 3 года
      .educator-cap__note Педагогический стаж
      picture.educator-cap__picture
        img.educator-cap__image(src='https://cms-dev.tochka-school.ru/storage/app/media/Stranica_kursov/Foto_shapka_kursa_blok/Chistyakova_shapka_kursa4.webp' alt='')
