-
  const egeHowList = {
    ege: [
      {
        title: 'Напишем пробный ЕГЭ',
        text: 'Определим реальный уровень знаний и желаемый результат на экзамене.'
      },
      {
        title: 'Пройдём все разделы',
        text: 'На экзамене попадётся то, что мы точно пройдём в ходе подготовки.'
      },
      {
        title: 'Подготовимся без спешки',
        text: 'Выверенная нагрузка и темп подготовки позволят улучшать результат от урока к уроку, что придаст уверенности в своих силах.'
      },
      {
        title: 'Адаптируем программу под вашу цель',
        text: 'Можно заниматься в стандартном режиме: идти по программе с первого урока. Но также тьютор может открыть дополнительные уроки и составить персональные рекомендации исходя из вашей ситуации.'
      },
      {
        title: 'Устраним пробелы в знаниях',
        text: 'Займёмся повторением важных тем, т.к. ЕГЭ проверяет знания по всей школьной программе.'
      },
      {
        title: 'Пишем «пробники» раз в месяц',
        text: 'Отследим прогресс и определим слабые места, чтобы вовремя подтянуть нужные темы.'
      },
    ],
    oge: [
      {
        title: 'Напишем пробный ОГЭ',
        text: 'Определим реальный уровень знаний и желаемый результат на экзамене.'
      },
      {
        title: 'Пройдём все разделы',
        text: 'На экзамене попадётся то, что мы точно пройдём в ходе подготовки.'
      },
      {
        title: 'Подготовимся без спешки',
        text: 'Выверенная нагрузка и темп подготовки позволят улучшать результат от урока к уроку, что придаст уверенности в своих силах.'
      },
      {
        title: 'Адаптируем программу под вашу цель',
        text: 'Можно заниматься в стандартном режиме: идти по программе с первого урока. Но также тьютор может открыть дополнительные уроки и составить персональные рекомендации исходя из вашей ситуации.'
      },
      {
        title: 'Устраним пробелы в знаниях',
        text: 'Займёмся повторением важных тем, т.к. ОГЭ проверяет знания по всей школьной программе.'
      },
      {
        title: 'Пишем «пробники» раз в месяц',
        text: 'Отследим прогресс и определим слабые места, чтобы вовремя подтянуть нужные темы.'
      },
    ]
  }

mixin ege-how(mod)
  .ege-how
    .cont
      h2.ege-how__caption Как проходит обучение
      ul.ege-how__list
        each item, index in egeHowList[mod]
          li.ege-how__item
            .ege-how__title= item.title
            .ege-how__text= item.text
      .ege-how__area
        .ege-how__box
          .ege-how__headline Во время урока:
          ul.ege-how__info
            li.ege-how__point Учитель понятно объяснит тему
            li.ege-how__point Ответит на все вопросы до последнего
        .ege-how__box
          .ege-how__headline После урока:
          ul.ege-how__info
            li.ege-how__point Тьютор проверит домашнее задание
            li.ege-how__point Объяснит непонятные моменты
            li.ege-how__point Укажет на ошибки и поможет их исправить
            li.ege-how__point Ответит на неограниченное количество вопросов
