-
  const egeWhyArea = {
    ege: [
      {
        title: 'Выверенная программа подготовки',
        texts: [
          'Мы не просто проходим темы одну за другой, а выстраиваем программу с учётом повторения, изучения нового материала и решения заданий экзамена.',
          'ЕГЭ — разноплановый экзамен со своими особенностями и форматом.',
        ]
      },
      {
        title: 'Знаем об ЕГЭ всё',
        texts: [
          'Многие наши учителя и тьюторы входят в состав экзаменационных комиссий ЕГЭ.',
          'Мы знаем все хитрости экзамена, понимаем, что хотят видеть экзаменаторы в каждом задании, как не терять баллы и обходить ловушки ЕГЭ.',
        ]
      }
    ],
    oge: [
      {
        title: 'Выверенная программа подготовки',
        texts: [
          'Мы не просто проходим темы одну за другой, а выстраиваем программу с учётом повторения, изучения нового материала и решения заданий экзамена.',
          'ОГЭ — разноплановый экзамен со своими особенностями и форматом.',
        ]
      },
      {
        title: 'Знаем об ОГЭ всё',
        texts: [
          'Многие наши учителя и тьюторы входят в состав экзаменационных комиссий ОГЭ.',
          'Мы знаем все хитрости экзамена, понимаем, что хотят видеть экзаменаторы в каждом задании, как не терять баллы и обходить ловушки ОГЭ.',
        ]
      }
    ]
  }

mixin ege-why(mod)
  .ege-why
    .cont
      .ege-why__wrap
        h2.ege-why__caption Почему у Вас получится
        .ege-why__area
          each item, index in egeWhyArea[mod]
            .ege-why__box
              img.ege-why__image(src=staticImg(`ege-why/${index+1}.webp`) alt='')
              .ege-why__title= item.title
              each text in item.texts
                .ege-why__text= text
        a.ege-why__button.btn-orange(href='#ege-tile' data-role="scroll-to-anchor") Выбрать предмет
