-
  const famBestList = [
    { title: 'Нагрузка меньше, чем в школе', text: 'Без ранних подъёмов, дороги в школу иобратно. Больше времени на кружки и секции, увлечения, время с семьёй и друзьями.' },
    { title: 'Индивидуальный маршрут', text: 'Больше времени приоритетным предметам и сферам, в которых ребёнку интересно.' },
    { title: 'Гибкость расписания', text: 'Сам решаешь, когда учиться, а когда отдыхать. Сколько времени уделить выполнению проекта и откуда будешь заниматься сегодня.' },
    { title: 'Выбор учителей и окружения', text: 'Не нужно «терпеть» школу по месту жительства, если она Вас не устраивает. Выбирайте, кто будет учить ребёнка, а также тех, с кем он будет общаться.' },
  ]

.fam-best
  .fam-best__cont.cont
    h2.fam-best__caption Лучшее образование в&nbsp;комфортных условиях!
    .fam-best__list
      each item, index in famBestList
        .fam-best__item
          img.fam-best__image(src=staticImg(`fam-best/fam-best-${index+1}.svg`) alt='')
          .fam-best__title= item.title
          .fam-best__text= item.text
