.fam-informer
  .fam-informer__cont.cont
    .fam-informer__area
      .fam-informer__title Оставьте заявку
      .fam-informer__text Мы подробно Вас проконсультируем и найдём решение.
      img.fam-informer__image(src=staticImg('fam-informer/fam-informer.png') alt='')
      a.fam-informer__button.btn-orange(href='#modal-order-new' data-fancybox data-options='{"touch": false}') Оставить заявку
