-
  const famStepsList = [
    'Уведомите орган управления образованием по месту жительства. Подайте заявление.',
    'Заберите документы из текущей школы. Вам не в праве отказать.',
    'Выберите новую школу для аттестации (сдачи экзаменов).',
    'Подайте документы (прикрепитесь) к новой школе.\n',
  ]

.fam-steps
  .fam-steps__cont.cont
    h2.fam-steps__caption 4 шага к поступлению на семейное обучение
    .fam-steps__wrap
      .fam-steps__list
        each item, index in famStepsList
          .fam-steps__item(class=`fam-steps__item_${index+1}`)= item
      .fam-steps__area
        .fam-steps__title Поможем на каждом этапе
        .fam-steps__text Предоставим образцы всех необходимых документов для перехода на семейное обучение.
        .fam-steps__box
          .fam-steps__description Прикрепим ребёнка к школе-партнёру для прохождения аттестации.
          .fam-steps__images
            img.fam-steps__image(src=staticImg('fam-steps/fam-steps-1.png') alt='')
            img.fam-steps__image(src=staticImg('fam-steps/fam-steps-2.png') alt='')
            img.fam-steps__image(src=staticImg('fam-steps/fam-steps-3.png') alt='')
        .fam-steps__note По желанию Вы можете самостоятельно прикрепиться к любой другой школе и проходить аттестацию в ней.
