.fam-cap
  .fam-cap__cont.cont
    .fam-cap__area
      .fam-cap__number 1-11 класс
      h1.fam-cap__title Семейное обучение
      .fam-cap__text Бесплатное прикрепление к школе и онлайн-аттестация
      picture.fam-cap__picture
        source(srcset=staticImg('fam-cap/fam-cap-decor_xxs.svg') media="(max-width: 359px)")
        source(srcset=staticImg('fam-cap/fam-cap-decor_mob.svg') media="(max-width: 743px)")
        source(srcset=staticImg('fam-cap/fam-cap-decor_tablet.svg') media="(max-width: 1439px)")
        img.fam-cap__image(src=staticImg('fam-cap/fam-cap-decor.svg') alt='')
      a.fam-cap__button.btn-orange(href="#" data-role="scroll-to-anchor") Начать обучение
