.fam-capital
  .fam-capital__cont.cont
    .fam-capital__area
      h2.fam-capital__title Оплата материнским капиталом и налоговый вычет
      p.fam-capital__text Мы работаем согласно лицензии на осуществление образовательной деятельности.
      p.fam-capital__text.
        Это даёт Вам право получить налоговый вычет, а также оплачивать обучение материнским капиталом.
        Поможем оформить документы.
      picture.fam-capital__picture
        source(srcset=staticImg(`fam-capital/fam-capital-1_mob.svg`) media="(max-width: 743px)")
        source(srcset=staticImg(`fam-capital/fam-capital-1_tablet.svg`) media="(max-width: 1439px)")
        img.fam-capital__image(src=staticImg('fam-capital/fam-capital-1.svg') alt='')
      a.fam-capital__button.btn-orange(href='#') Перейти к оформлению
