.fam-doc
  .fam-doc__cont.cont
    .fam-doc__wrap
      .fam-doc__caption Аттестация
      .fam-doc__title Как проходит аттестация
      .fam-doc__list
        each item in ['В виде теста','Можно пересдать','Онлайн','Типы заданий известны заранее']
          .fam-doc__item= item
      .fam-doc__area
        .fam-doc__box.
          За Вами будет закреплён куратор, который напомнит об аттестации, сообщит о результатах
          и поможет с&nbsp;пересдачей в случае необходимости.
        .fam-doc__box Ученики 1-8 классов могут  сдать итоговую аттестацию раньше срока, уже в апреле.
        .fam-doc__info
          .fam-doc__info-headline Всего 3 аттестации в год:
          .fam-doc__info-list
            .fam-doc__info-line 2 текущие
            .fam-doc__info-line 1 итоговая
        .fam-doc__box.
          По желанию родителя, если ребёнок успешно прошёл обе текущие аттестации, мы можем засчитать среднюю оценку
          по ним как результат итоговой аттестации.
      button.fam-doc__button.btn-blue Открыть расписание аттестации
      .fam-doc__tables
        .fam-doc__table
          table
            tr
              th
              th 1-8 класс
              th 9-11 класс
            tr
              td
                b Осенняя
              td 17.11 - 23.11
              td 17.11 - 23.11
            tr
              td
                b Зимняя
              td 09.02 - 15.02
              td 09.02 - 15.02
            tr
              td
                b Итоговая
              td 11.05 - 20.05
              td 6.04 - 12.04
        .fam-doc__table
          table
            tr
              th 1-8 класс и 10 класс
              th 9 и 11 класс
            tr
              td Аттестационный лист с оценками по&nbsp;всем&nbsp;предметам
              td!= 'Аттестат <span class="desc">государственного</span> <span class="mob">гос.</span> образца'
