-
  const famForCards = [
    { title: 'Тем, кого не устраивает школа', text: 'Из-за плохого качества обучения, нехватки учителей, большого количества детей в классе, отсутствия индивидуального подхода.' },
    { title: 'Тем, кто столкнулся с травлей в школе', text: 'Если ребёнок сталкивается с издевательством со стороны одноклассников или других школьников, не находит общий язык с учителями.' },
    { title: 'Одарённым детям', text: 'Ребёнок быстро усваивает школьную программу, ему становится скучно. Хочется достигать новых высот, развиваться в новых сферах.' },
    { title: 'Спортсменам и юным артистам', text: 'Занятия спортом, музыкой, танцами, пением требуют времени. Нужно совмещать учёбу с тренировками, сборами <br> и выступлениями.' },
    { title: 'Тем, кто живёт за границей', text: 'Вы живёте за границей и хотите, чтобы ребёнок обучался по российской программе.' },
    { title: 'Тем, кому нужен особый подход', text: 'Если ребёнку трудно адаптироваться в большом классе или он не может посещать школу по состоянию здоровья.' },
  ]

.fam-for
  .fam-for__cont.cont
    h2.fam-for__caption Семейное обучение идеально подходит
    .fam-for__cards
      each item, index in famForCards
        .fam-for__card(class=`fam-for__card_${index+1}`)
          .fam-for__title= item.title
          .fam-for__text!= item.text
