-
  const familyProgramTags = [
    'Русский язык',
    'Литература',
    'Английский язык',
    'Математика',
    'Обществознание',
    'География',
    'Биология',
    'Физика',
    'Химия',
    'Информатика',
    'ИЗО и технология',
    'Физкультура',
    'Музыка',
    'ОБЗР*',
    'История',
  ]

mixin family-program(mod)
  .family-program(class = mod ? mod : false)
    .family-program__cont.cont
      .family-program__wrap
        .family-program__box
          h2.family-program__caption Программа 5 класса
          .family-program__text Составлена на основе государственного образовательного стандарта. Все предметы — как в обычной школе.
          if mod === 'summer'
            button.family-program__toggle.summer.reverse(data-element="family-schedule__toggle-top"
              class=mod==='summer' ? 'btn-orange' : 'btn-blue') Расписание на апрель и май
          else
            button.family-program__toggle.reverse(data-element="family-schedule__toggle-top"
              class=mod === 'summer' ? 'btn-orange' : 'btn-blue') Развернуть расписание
        .family-program__inner
          .family-program__overlay
            .family-program__tags
              each tag, i in familyProgramTags
                .family-program__tag= tag
                  if i === 6
                    .program__hint Основы духовно-нравственной культуры народов России
