.family-point
  .family-point__cont.cont
    .family-point__area
      .family-point__title В чём суть?
      .family-point__text.
        Семейное обучение — альтернатива обычной школе.
        Это форма обучения, при которой родители берут ответственность за образование своих детей.
        Ребёнок не ходит в школу, его учёбу организуют родители. Например, дома онлайн.
