mixin family-cap(mod, title = 'Семейное обучение', id='pre-reg')
  .family-cap(class = mod ? mod : false)
    .family-cap__cont.cont
      .family-cap__area
        .family-cap__number 10 класс
        h1.family-cap__caption= title
        if mod === "summer"
          .family-cap__text Получайте школьное образование дома. С&nbsp;лучшими учителями РФ, внимательными тьюторами и аттестацией.
        else
          .family-cap__text Получайте школьное образование дома. Онлайн. С лучшими учителями РФ, внимательными тьюторами и аттестацией.
        .family-cap__tickets
          .family-cap__ticket.blue Места ограниченны
          .family-cap__ticket.green Высокий спрос
        picture.family-cap__picture
          img.family-cap__image(src=staticImg('family-cap/family-cap.svg') alt='')
        a.family-cap__button.btn-orange(href=`#${id}` data-role="scroll-to-anchor") Начать обучение
