mixin family-manual(mod)
  .family-manual(class = mod ? mod : false)
    .family-manual__cont.cont
      .family-manual__area
        .family-manual__box
          h2.family-manual__caption Скачивайте руководство по переходу на семейное обучение с «Точкой Знаний»
          picture.family-manual__picture
            source(srcset=staticImg('family-manual/family-manual_mob.png') media="(max-width: 743px)")
            source(srcset=staticImg('family-manual/family-manual_tablet.png') media="(max-width: 1359px)")
            img.family-manual__image(src=staticImg('family-manual/family-manual.png') alt='')
        form.family-manual__form(data-element='family-manual__form' data-request-validate)
          .family-manual__inner
            input.input_utm(name='utm' type='hidden' value='')
            input(type="hidden" id="page_name" name="page_name" value="https://cms-dev.tochka-school.ru/blog/voprosy-dlya-podrostkov-chto-polezno-i-interesno-obsudit-do-15-let")
            input.family-manual__input.input-white(placeholder='Имя родителя' type='text' name='name')
            input.family-manual__input.input-white(placeholder='Телефон родителя' type='tel' required data-element='input-phone-intl' name='phone' data-phone-pattern)
            input(name='tel' type='hidden' required data-element='input-phone-hidden')
            input.family-manual__input.input-white(placeholder='E-mail родителя' type='email' name='email')
            button.family-manual__submit.btn-orange.btn-warning Скачать
            label.family-manual__label.checkbox-white-label
              input.family-manual__checkbox.checkbox-white-input(name='policy' type='checkbox')
              .family-manual__checkbox-view.checkbox-white-input-view
              .family-manual__checkbox-text.checkbox-white-text
                | Даю
                |
                a(href="https://cms-dev.tochka-school.ru/storage/app/media/Dokumenti/Soglasie_na_obrabotku_personalnih_dannih_OOO.pdf" target='_blank') Согласие
                |
                | на обработку персональных
                | данных в соответствии с
                |
                a(href='https://cms-dev.tochka-school.ru/storage/app/media/Dokumenti/Politika_obrabotki_personalnih_dannih_OOO.pdf' target='_blank') Политикой
            label.family-manual__label.checkbox-white-label
              input.family-manual__checkbox.checkbox-white-input(name='news' type='checkbox')
              .family-manual__checkbox-view.checkbox-white-input-view
              .family-manual__checkbox-text.checkbox-white-text
                | Согласен на
                |
                a(href='https://cms-dev.tochka-school.ru/storage/app/media/Dokumenti/Soglasie_na_reklamnuyu_rassilku_OOO.pdf' target='_blank') получение рекламы
