.faq-cap
  .cont
    .faq-cap__area
      h1.faq-cap__caption Часто задаваемые вопросы
      .faq-cap__text Здесь вы можете найти ответы на свои попросы
      picture.faq-cap__picture
        source(srcset=staticImg('faq-cap/decor_mob.svg') media="(max-width: 743px)")
        source(srcset=staticImg('faq-cap/decor_tablet.svg') media="(max-width: 1359px)")
        img.faq-cap__image(src=staticImg('faq-cap/decor.svg') alt='')

