-
  const faqList = [
    {
      question: 'Что делать, если мне не подходит расписание?',
      answer: 'У Вас появится доступ в личный кабинет на учебной платформе. На email придет письмо с логином и паролем.'
    },
    {
      question: 'Что делать, если у нас нет компьютера/микрофона/видеокамеры?',
      answer: 'У Вас появится доступ в личный кабинет на учебной платформе. На email придет письмо с логином и паролем.'
    },
    {
      question: 'Что произойдет после оплаты?',
      answer: 'У Вас появится доступ в личный кабинет на учебной платформе. На email придет письмо с логином и паролем.'
    },
    {
      question: 'Что произойдет после оплаты?',
      answer: 'У Вас появится доступ в личный кабинет на учебной платформе. На email придет письмо с логином и паролем.'
    },
    {
      question: 'Что делать, если у нас нет компьютера/микрофона/видеокамеры?',
      answer: 'У Вас появится доступ в личный кабинет на учебной платформе. На email придет письмо с логином и паролем.'
    },
  ]

.faq
  .faq__cont.cont
    h2.faq__caption Отвечаем на частые вопросы
    .faq__wrap
      .faq__area
        ul.faq__list
          each item in faqList
            li.faq__item(data-element='faq-item')
              .faq__top= item.question
              .faq__answer
                .faq__answer-inner
                  p.faq__text= item.answer
      img.faq__image(src=staticImg('faq/faq-decor.svg') alt='')

