.instruction
  .cont
    .instruction__wrap
      h1.instruction__caption Настройка семейного обучения на обучающей платформе
      .instruction__text По возникшим вопросам обращайтесь в отдел сервиса. Ответим, поможем, направим :)
      a.instruction__button.btn-orange(href='#') Написать в отдел сервиса
