.instruction
  .cont
    .instruction__wrap
      h1.instruction__caption Настройка семейного&nbsp;обучения на обучающей платформе
      .instruction__video-box
        img.instruction__poster(src=staticImg('instruction/poster.png') alt='')
        video.instruction__video(src=`${pathStatics}/files/Shevchenko_1_klass.mov` controls='true')
      .instruction__text По возникшим вопросам обращайтесь в отдел сервиса. Ответим, поможем, направим :)
      a.instruction__button.btn-orange(href='#') Написать в отдел сервиса
