mixin instruction(mod='video')
  .instruction
    .cont
      .instruction__wrap
        h1.instruction__caption Настройка семейного&nbsp;обучения на обучающей платформе
        if mod === 'video'
          .instruction__video-box.instruction__video-box_with-btn
            img.instruction__poster(src=staticImg('instruction/poster.png') alt='')
            video.instruction__video(src=`${pathStatics}/files/Shevchenko_1_klass.mov` controls='true')
        else if mod === 'iframe'
          .instruction__video-box
            iframe.instruction__video(src='https://runtime.video.cloud.yandex.net/player/video/vplvoj6pch3bf6lpgsdi?mute=0&autoplay=0')
        .instruction__text По возникшим вопросам обращайтесь в отдел сервиса. Ответим, поможем, направим :)
        a.instruction__button.btn-orange(href='#') Написать в отдел сервиса
