-
  const itAboutList = [
    {
      title: 'Можно стартовать с нуля',
      text: 'Без специальных знаний и подготовки. Всему научим, покажем на примерах, поможем сделать первые шаги.'
    },
    {
      title: 'Не только для будущих программистов',
      text: 'На IT-курсах будет интересно всем: и гуманитариям, и увлечённым точными науками. IT — больше, чем просто программирование.'
    },
    {
      title: 'Главное — желание',
      text: 'Развиваться, творить и пробовать новое. Подберём то направление, которое будет интересно ребёнку.'
    },
    {
      title: 'С 6 лет',
      text: 'Начать обучение можно уже в 1 классе. Освоить базу и со временем перейти на более сложные и серьёзные проекты.'
    }
  ]

.it-about
  .cont
    .it-about__wrap
      .it-about__area
        h2.it-about__caption АйТи — проще, чем кажется
        img.it-about__image(src=staticImg('it-about/it-about-1.webp') alt='' loading="lazy")
        ul.it-about__list
          each item, index in itAboutList
            li.it-about__item(class=`it-about__item_${index+1}`)
              .it-about__title= item.title
              .it-about__text= item.text
