.it-consult
  .cont
    .it-consult__wrap
      h2.it-consult__caption Не знаете какой курс выбрать?
      img.it-consult__image(src=staticImg('it-consult/decor.png') alt='')
      .it-consult__area
        .it-consult__title Оставьте заявку на консультацию
        .it-consult__text Поможем подобрать занятия исходя из возраста и&nbsp;увлечений ребёнка.
        a.it-consult__button.btn-orange(href='#modal-order-new' data-fancybox data-options='{"touch": false}') Оставить заявку
