.it-end
  .cont
    .it-end__area
      .it-end__title Страница подошла к&nbsp;концу&nbsp;:)
      .it-end__text Время принять решение: оставить всё как есть или начать обучение, получить твёрдые знания и отличные оценки.
      img.it-end__image(src=staticImg('it-end/decor.webp') alt='' loading="lazy")
      a.it-end__button.btn-orange(href="#it-tile" data-role="scroll-to-anchor") Начать обучение
