-
  const itSkillsList = [
    {
      title: 'Разбивать задачу на части',
      text: 'Чтобы написать программу, создать дизайн или игру, нужно учесть множество элементов и объединить их друг с другом.'
    },
    {
      title: 'Учебные навыки',
      text: 'Память, внимание, умение планировать время. Благодаря IT-курсам ребёнку будет лучше учиться и на других предметах.'
    },
    {
      title: 'Анализировать информацию и&nbsp;принимать решения',
      text: 'К результату можно прийти разными способами. Нужно собрать информацию и выбрать оптимальный путь решения.'
    },
    {
      title: 'Находить ошибки, исправлять&nbsp;их',
      text: 'Работа с кодом помогает учиться на своих ошибках. Например, можно отменить команду и исправить ошибку, чтобы получить нужный результат.'
    },
    {
      title: 'Сохранять уверенность при трудностях',
      text: 'Задания и неудачи не вызывают дискомфорта. Всегда можно найти решение, подойти к вопросу творчески, получить поддержку тьютора.'
    },
  ]

.it-skills
  .cont
    .it-skills__wrap
      ul.it-skills__list
        each item, index in itSkillsList
          li.it-skills__item
            img.it-skills__decor(src=staticImg(`it-skills/decor-${index+1}.webp`) alt='' loading="lazy")
            .it-skills__inner
              .it-skills__title!= item.title
              .it-skills__text= item.text
          if index === 2
            li.it-skills__item
              .it-skills__caption Занятия помогут ребёнку в развитии
              .it-skills__box
                .it-skills__number 5
                .it-skills__headline важных навыков
