-
  const libraryCapFilterListSubjects = [
    'Математика', 'География', 'Русский язык',
    'Физика', 'Литература', 'Химия', 'ИЗО и технология', 'Информатика',
    'Обществознание', 'Музыка', 'Английский язык', 'Курс компьютерной грамотности', 'Китайский язык',
    'Программирование на Python', 'Французский язык', 'Создание сайтов', 'Олимпиадная математика',
    'Программирование в Minecraft', 'История', 'Разработка игр в Roblox', 'Биология', 'Графический дизайн в Figma',
  ]

.library-cap
  .library-cap__cont.cont
    .library-cap__area
      .library-cap__decor.library-cap__decor_1
      .library-cap__decor.library-cap__decor_2
      .library-cap__decor.library-cap__decor_3
      .library-cap__decor.library-cap__decor_4
      h2.library-cap__title Библиотека 500+ уроков
      .library-cap__text
        span.library-cap__static Уроки по
        .library-cap__animate
          .library-cap__animate-spaces ________
          .library-cap__animate-string(data-text="темам, которые чаще всего вызывают трудности в школе") темам, которые чаще всего вызывают трудности в школе
        .library-cap__animate
          .library-cap__animate-spaces __________
          .library-cap__animate-string(data-text="английскому, французкому и китайскому языку") английскому, французкому и китайскому языку
        .library-cap__animate
          .library-cap__animate-spaces ____________
          .library-cap__animate-string(data-text="программированию, дизайну и копьютерной грамотности") программированию, дизайну и копьютерной грамотности
        .library-cap__animate
          .library-cap__animate-spaces ____________
          .library-cap__animate-string(data-text="подготовке к экзаменам ОГЭ и ЕГЭ") подготовке к экзаменам ОГЭ и ЕГЭ
        .library-cap__animate
          .library-cap__animate-spaces ________
          .library-cap__animate-string(data-text="олимиадной математике и шахматам") олимиадной математике и шахматам
      .library-cap__line
        .library-cap__filter.library-cap__filter_class
          .library-cap__filter-top(data-element='library-cap-filter-opener' data-default-text='Выберите класс' data-ftype='class_select')
            .library-cap__filter-top-text Выберите класс
          .library-cap__filter-wrap
            .library-cap__filter-headline Классы:
            .library-cap__filter-list
              each item, index in [1,2,3,4,5,6,7,8,9,10,11]
                label.library-cap__filter-item
                  input.library-cap__filter-input(type='radio' name='class' value=`subject-id-${index + 1}` data-element='library-cap-filter-input')
                  .library-cap__filter-view= `${item} класс`
        .library-cap__filter.library-cap__filter_subject.disable
          .library-cap__filter-top(data-element='library-cap-filter-opener' data-default-text='Выберите предмет' data-ftype='class_subjects')
            .library-cap__filter-top-text Выберите предмет
          .library-cap__filter-wrap
            .library-cap__filter-icon
              svg(width='51' height='51' viewbox='0 0 51 51' fill='none' xmlns='http://www.w3.org/2000/svg')
                circle(cx='25.5' cy='25.5' r='25.5' fill='#E4E4E4')
                path(d='M14.1845 11.4081C13.5335 13.1254 12.969 15.101 12.552 17.1211C11.7496 21.0074 11.548 24.8048 11.9993 27.3767L10.9108 26.67C10.5244 26.4191 10.0076 26.5291 9.75668 26.9155C9.50579 27.3021 9.61576 27.8187 10.0021 28.0697L12.8015 29.8869C12.8934 29.9466 12.9961 29.9876 13.1039 30.0075C13.2116 30.0275 13.3222 30.026 13.4294 30.0032C13.5366 29.9804 13.6382 29.9367 13.7285 29.8746C13.8188 29.8126 13.896 29.7333 13.9556 29.6414L15.7728 26.8421C15.8607 26.7072 15.9075 26.5496 15.9074 26.3886C15.9076 26.2494 15.8729 26.1123 15.8065 25.9899C15.7401 25.8675 15.6441 25.7637 15.5273 25.6879C15.1408 25.437 14.6241 25.547 14.3731 25.9334L13.6386 27.065C13.2257 24.6981 13.4256 21.1416 14.1862 17.4582C14.5856 15.5232 15.1246 13.6356 15.7448 11.9994C15.7807 11.905 15.7991 11.8048 15.7992 11.7038C15.7992 11.3671 15.5939 11.0499 15.2603 10.9235C14.8295 10.7603 14.3478 10.9772 14.1845 11.4081ZM18.9961 15.4525C17.9464 16.1389 17.3184 17.3006 17.3184 18.5585C17.3181 19.2792 17.5284 19.9843 17.9234 20.5871C18.1775 20.9756 18.5095 21.3205 18.8895 21.5985C18.5651 22.162 18.3947 22.8009 18.3955 23.4511C18.3953 24.1708 18.6054 24.8748 19 25.4767C19.2805 25.9059 19.6291 26.2616 20.0188 26.5375C19.7184 27.0856 19.5612 27.7008 19.5619 28.3259C19.5616 29.0467 19.7719 29.7519 20.1671 30.3547C20.3583 30.6476 20.5897 30.9121 20.8547 31.1405L20.5212 31.3582L17.2909 33.4669L16.1739 34.1961C15.9969 34.3118 15.877 34.39 15.7923 34.4462C14.8142 35.0159 14.2322 36.0681 14.232 37.2729C14.232 38.0322 14.4639 38.8051 14.8852 39.4493C15.4274 40.2787 16.2603 40.8475 17.2305 41.0504C18.2006 41.2535 19.1917 41.0666 20.0213 40.5241L29.4884 34.3343C30.6186 35.2276 32.3341 35.5469 33.8685 34.604C35.7822 33.4283 37.1362 32.3083 38.1293 31.0794C39.4486 29.447 40.1175 27.5973 40.1175 25.5819C40.1175 23.0844 39.1225 20.3486 37.0755 17.2179C34.7613 13.6785 32.0087 11.7415 28.894 11.4607C26.7065 11.2635 24.369 11.9315 22.1344 13.3926L18.9961 15.4525ZM35.679 18.1311C37.6486 21.1436 38.4489 23.5731 38.4489 25.582C38.4489 29.1289 35.9538 31.3646 32.995 33.1824C31.8772 33.8692 30.612 33.3494 30.1077 32.5781L32.1205 31.2621C32.2583 31.1719 32.2959 31.0731 32.2959 30.9933C32.2959 30.9266 32.2697 30.8733 32.2541 30.8495C32.2198 30.797 32.0803 30.646 31.827 30.8117C31.5827 30.9715 19.1082 39.1276 19.1082 39.1276C18.1644 39.7447 16.899 39.48 16.282 38.5361C16.0366 38.1608 15.9009 37.7079 15.9009 37.273C15.9009 36.7046 16.1329 36.1672 16.6545 35.8756C16.6573 35.873 22.9326 31.777 24.4763 30.7691C24.4795 30.767 24.4831 30.766 24.4864 30.7638L24.8088 30.553C24.8454 30.5291 24.8769 30.4983 24.9016 30.4622C24.9262 30.4261 24.9435 30.3855 24.9524 30.3428C24.9614 30.3 24.9618 30.2559 24.9537 30.213C24.9456 30.1701 24.9291 30.1292 24.9051 30.0926C24.8568 30.0188 24.7812 29.9673 24.6949 29.9492C24.6086 29.9311 24.5187 29.9481 24.4449 29.9963L24.3615 30.0509C23.4209 30.6442 22.1749 30.3759 21.5639 29.4414C21.3464 29.1101 21.2306 28.7223 21.2307 28.326C21.2308 27.6599 21.5564 27.0068 22.1555 26.6151L23.3921 25.8045C23.4281 25.781 23.4592 25.7506 23.4834 25.7151C23.5077 25.6796 23.5247 25.6397 23.5336 25.5976C23.5424 25.5555 23.5428 25.5121 23.5348 25.4698C23.5268 25.4276 23.5106 25.3873 23.4871 25.3513C23.4395 25.2787 23.3651 25.2279 23.2801 25.2101C23.1951 25.1923 23.1065 25.209 23.0338 25.2565L22.9634 25.3035C22.1041 25.8651 20.9584 25.4224 20.3969 24.5635C20.1799 24.2331 20.0643 23.8464 20.0645 23.4511C20.0645 22.7854 20.391 22.1328 20.9908 21.7407L22.2411 20.9185C22.2762 20.8956 22.3064 20.866 22.33 20.8315C22.3537 20.7969 22.3702 20.758 22.3788 20.7171C22.3874 20.6761 22.3878 20.6338 22.38 20.5927C22.3722 20.5515 22.3564 20.5123 22.3335 20.4773C22.2872 20.4066 22.2148 20.3572 22.1321 20.3399C22.0493 20.3226 21.9632 20.3389 21.8924 20.3851L21.7977 20.4484C21.0162 20.9594 19.8642 20.5056 19.3205 19.674C19.1031 19.3427 18.9873 18.955 18.9874 18.5587C18.9874 17.8926 19.313 17.2395 19.912 16.8477L23.0482 14.7895C25.9679 12.88 31.1082 11.1404 35.679 18.1311Z' fill='#F37E60')
            .library-cap__filter-headline Доступные предметы:
            .library-cap__filter-scroll
              .library-cap__filter-list
                each item, index in libraryCapFilterListSubjects
                  label.library-cap__filter-item
                    input.library-cap__filter-input(type='radio' name='subject' value=`subject-id-${index + 1}` data-element='library-cap-filter-input')
                    .library-cap__filter-view= `${item}`
      .library-cap__box
        button.library-cap__button.btn-orange Показать уроки
        button.library-cap__reset(data-element='library-cap-filter-reset')
          .library-cap__circle
            svg(width='20' height='18' viewbox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M0.283722 5.07509C0.42618 4.97792 0.6014 4.94133 0.77084 4.97336C0.940279 5.00539 1.09006 5.10341 1.18722 5.24587L2.51334 7.19027C2.85785 5.58518 3.65585 4.1103 4.84326 2.92297C6.47028 1.29595 8.6335 0.399902 10.9346 0.399902C13.2355 0.399902 15.3988 1.29595 17.0258 2.92297C20.3846 6.28175 20.3846 11.7469 17.0258 15.1056C15.3465 16.7849 13.1405 17.6246 10.9346 17.6246C8.7286 17.6246 6.52265 16.7849 4.84326 15.1056C4.7222 14.9834 4.65444 14.8183 4.65481 14.6464C4.65518 14.4745 4.72365 14.3097 4.84522 14.1881C4.9668 14.0665 5.1316 13.998 5.30354 13.9976C5.47549 13.9972 5.64059 14.065 5.76271 14.186C8.61451 17.0377 13.2545 17.0377 16.1062 14.186C18.9579 11.3343 18.9579 6.69414 16.1062 3.84242C14.7248 2.46108 12.8881 1.70027 10.9345 1.70027C8.98078 1.70027 7.14405 2.46108 5.76271 3.84251C4.69649 4.90864 4.00157 6.24828 3.73933 7.70262L6.04732 6.12848C6.11785 6.08006 6.19724 6.04604 6.28094 6.02836C6.36464 6.01068 6.45101 6.0097 6.53509 6.02546C6.61917 6.04122 6.69932 6.07343 6.77094 6.12022C6.84255 6.16701 6.90423 6.22748 6.95243 6.29815C7.00064 6.36883 7.03442 6.44832 7.05185 6.53208C7.06927 6.61583 7.07 6.7022 7.05398 6.78624C7.03796 6.87027 7.00552 6.95032 6.95851 7.02179C6.91151 7.09327 6.85085 7.15476 6.78003 7.20276L3.33717 9.55097L3.33665 9.5514C3.28366 9.58746 3.22561 9.61545 3.16439 9.63445C3.16257 9.63506 3.16084 9.63601 3.15902 9.63653C3.14887 9.63965 3.13856 9.64087 3.12833 9.64347C3.0769 9.65687 3.02403 9.66391 2.9709 9.66445C2.86491 9.66459 2.7605 9.6388 2.66677 9.58933C2.57304 9.53986 2.49283 9.4682 2.43315 9.38062L0.11294 5.97867C0.0648155 5.90813 0.0310574 5.8288 0.0135956 5.74521C-0.0038662 5.66162 -0.00469208 5.57541 0.0111675 5.49151C0.0270271 5.4076 0.0592594 5.32764 0.106024 5.25619C0.15279 5.18474 0.213171 5.1232 0.283722 5.07509Z' fill='white')
          span Сбросить выбор
