.library-reg
  .library-reg__cont.cont
    .library-reg__area
      h2.library-reg__title Открыта регистрация на главное событие года!
      .library-reg__box
        .library-reg__text Записывайтесь в лист ожидания на занятия в&nbsp;следующем учебном году:
        ul.library-reg__list
          li.library-reg__item Cамая большая скидка в году: экономия от 8 000 до 53 000 ₽
          li.library-reg__item Ежемесячный платёж от 1680 ₽ в зависимости от курса
          li.library-reg__item Занять место на обучении раньше остальных
      a.library-reg__button.btn-orange(href='#modal-order-new' data-fancybox data-options='{"touch": false}') Занять место
