.library-discount
  .library-discount__cont.cont
    a.library-discount__area(href="https://tochka-school.ru/filter_courses?promo=PROMOM25")
      .library-discount__title Занимайте место на курсах следующего года со скидкой!
      .library-discount__list
        .library-discount__item - 20% на полную оплату
        .library-discount__item - 15% при оплате в рассрочку
        .library-discount__note Без банков и процентов
      picture.library-discount__picture
        source(srcset=staticImg('library-discount/library-discount-decor_xxs.png') media="(max-width: 359px)")
        source(srcset=staticImg('library-discount/library-discount-decor_mob.png') media="(max-width: 743px)")
        source(srcset=staticImg('library-discount/library-discount-decor_tablet.png') media="(max-width: 1359px)")
        img.library-discount__image(src=staticImg('library-discount/library-discount-decor.png') alt='')
      button.library-discount__button.btn-orange.btn-orange_arrow Выбрать курс
