.library-why.hide
  .library-why__cont.cont
    .library-why__area
      h2.library-why__title «Точка Знаний» — онлайн-школа, где всё получится. Потому что интересно!
      .library-why__box
        .library-why__headline Присоединяйтесь к нам чтобы:
        ul.library-why__list
          li.library-why__item Получать твёрдые знания и закрыть пробелы
          li.library-why__item Улучшить оценки и учиться с интересом
          li.library-why__item Сдать экзамены на «Отлично»
        .library-why__text
          | Уроки ведут лучшие учителя РФ.
          br
          | Каждого ученика «за руку» ведёт личный тьютор: проверяет задания, указывает на ошибки и помогает их исправить.

