.library-informer
  .library-informer__cont.cont
    .library-informer__area
      h2.library-informer__title Записывайтесь в&nbsp;предварительный список на занятия в&nbsp;следующем учебном году
      .library-informer__line
        .library-informer__tag Сэкономьте от 8 000 до 53 000 ₽
        .library-informer__tag Займите место на обучении раньше остальных
        a.library-informer__button.btn-orange(href='#modal-order-new' data-fancybox data-options='{"touch": false}') Записаться
