.library-cap
  .library-cap__cont.cont
    .library-cap__area
      .library-cap__decor.library-cap__decor_1
      .library-cap__decor.library-cap__decor_2
      .library-cap__decor.library-cap__decor_3
      .library-cap__decor.library-cap__decor_4
      h2.library-cap__title Библиотека 500+ уроков
      .library-cap__text Уроки по темам, которые чаще всего вызывают трудности в школе
      .library-cap__line
        .library-cap__select Выберите класс
        .library-cap__select Выберите класс
      .library-cap__box
        button.library-cap__button.btn-orange Показать уроки
        button.library-cap__reset.show
          .library-cap__circle
            svg(width='20' height='18' viewbox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M0.283722 5.07509C0.42618 4.97792 0.6014 4.94133 0.77084 4.97336C0.940279 5.00539 1.09006 5.10341 1.18722 5.24587L2.51334 7.19027C2.85785 5.58518 3.65585 4.1103 4.84326 2.92297C6.47028 1.29595 8.6335 0.399902 10.9346 0.399902C13.2355 0.399902 15.3988 1.29595 17.0258 2.92297C20.3846 6.28175 20.3846 11.7469 17.0258 15.1056C15.3465 16.7849 13.1405 17.6246 10.9346 17.6246C8.7286 17.6246 6.52265 16.7849 4.84326 15.1056C4.7222 14.9834 4.65444 14.8183 4.65481 14.6464C4.65518 14.4745 4.72365 14.3097 4.84522 14.1881C4.9668 14.0665 5.1316 13.998 5.30354 13.9976C5.47549 13.9972 5.64059 14.065 5.76271 14.186C8.61451 17.0377 13.2545 17.0377 16.1062 14.186C18.9579 11.3343 18.9579 6.69414 16.1062 3.84242C14.7248 2.46108 12.8881 1.70027 10.9345 1.70027C8.98078 1.70027 7.14405 2.46108 5.76271 3.84251C4.69649 4.90864 4.00157 6.24828 3.73933 7.70262L6.04732 6.12848C6.11785 6.08006 6.19724 6.04604 6.28094 6.02836C6.36464 6.01068 6.45101 6.0097 6.53509 6.02546C6.61917 6.04122 6.69932 6.07343 6.77094 6.12022C6.84255 6.16701 6.90423 6.22748 6.95243 6.29815C7.00064 6.36883 7.03442 6.44832 7.05185 6.53208C7.06927 6.61583 7.07 6.7022 7.05398 6.78624C7.03796 6.87027 7.00552 6.95032 6.95851 7.02179C6.91151 7.09327 6.85085 7.15476 6.78003 7.20276L3.33717 9.55097L3.33665 9.5514C3.28366 9.58746 3.22561 9.61545 3.16439 9.63445C3.16257 9.63506 3.16084 9.63601 3.15902 9.63653C3.14887 9.63965 3.13856 9.64087 3.12833 9.64347C3.0769 9.65687 3.02403 9.66391 2.9709 9.66445C2.86491 9.66459 2.7605 9.6388 2.66677 9.58933C2.57304 9.53986 2.49283 9.4682 2.43315 9.38062L0.11294 5.97867C0.0648155 5.90813 0.0310574 5.8288 0.0135956 5.74521C-0.0038662 5.66162 -0.00469208 5.57541 0.0111675 5.49151C0.0270271 5.4076 0.0592594 5.32764 0.106024 5.25619C0.15279 5.18474 0.213171 5.1232 0.283722 5.07509Z' fill='white')
          span Сбросить выбор
