.library-reg
  .library-reg__cont.cont
    .library-reg__area
      img.library-reg__decor(src=staticImg('library-reg/library-reg-decor.svg') alt='')
      .library-reg__box
        .library-reg__text Записывайтесь в лист ожидания на занятия в&nbsp;следующем учебном&nbsp;году:
        ul.library-reg__list
          li.library-reg__item Cамая большая скидка в году: экономия от 8&nbsp;000 до 53&nbsp;000&nbsp;₽
          li.library-reg__item Ежемесячный платёж от 1680&nbsp;₽ в&nbsp;зависимости от курса
          li.library-reg__item Занять место на обучении раньше остальных
      a.library-reg__button.btn-orange(href='#') Занять место
