.mattg-one-cap
  .cont
    .mattg-one-cap__wrap
      h1.mattg-one-cap__caption Ваш ребёнок не успевает в школе?😥
      .mattg-one-cap__title Есть пробелы в знаниях, так как вся программа даётся «на бегу»?
      .mattg-one-cap__text Есть эффективное решение: поддержка и&nbsp;помощь в учёбе прямо в Telegram: каждый&nbsp;день и в удобном формате.
      a.mattg-one-cap__button.btn-orange(href='#') Перейти в Telegram
