.mattg-one-join
  .cont
    .mattg-one-join__wrap
      h2.mattg-one-join__caption Присоединяйтесь и&nbsp;вы! Это бесплатно!
      picture.mattg-one-join__picture
        source(srcset=staticImg('mattg-one-join/1_tablet.png') media="(max-width: 1359px)")
        img.mattg-one-join__image(src=staticImg('mattg-one-join/1.png') alt='')
      a.mattg-one-join__button.btn-orange(href='#') Перейти в Telegram
