mixin mattg-two-cap(mod)
  .mattg-two-cap(class = mod ? `mattg-two-cap_${mod}` : false)
    .cont
      .mattg-two-cap__wrap
        h1.mattg-two-cap__caption Школьная математика — это просто
        .mattg-two-cap__title Объясним так, что даже бабушка поймёт
        .mattg-two-cap__tag Для учеников 5-11 классов
        .mattg-two-cap__area
          .mattg-two-cap__headline Поможем, если:
          ul.mattg-two-cap__list
            li.mattg-two-cap__item В школе объясняют непонятно
            li.mattg-two-cap__item Ребенок проболел, пропустил уроки и надо нагонять
            li.mattg-two-cap__item Трудно успеть за школьной программой
          if mod !== "empty"
            .mattg-two-cap__video-box
              video.mattg-two-cap__video(src=`${pathStatics}/files/tg-channel.mp4` loop=true controls=false pip="false" muted playsinline autoplay)
