-
  const mattgOneInfoList = [
    '<span>Объясняем сложные темы</span> простым языком — всё станет ясно&nbsp;с&nbsp;первого&nbsp;раза',
    '<span>Учим через интересные задачи</span> из&nbsp;реальной жизни',
    '<span>Помогаем готовиться</span> к&nbsp;контрольным и экзаменам без&nbsp;стресса',
    '<span>Говорим не как в учебнике, а&nbsp;по-человечески</span> — ребёнку будет интересно учиться!',
  ]

.mattg-one-info
  .cont
    .mattg-one-info__list
      each box in mattgOneInfoList
        .mattg-one-info__item!= box
    h2.mattg-one-info__title!= '<span>Более 830 000 школьников и их родителей</span> уже получают поддержку и&nbsp;результаты.'
