.mattg-one-join
  .cont
    .mattg-one-join__wrap
      h2.mattg-one-join__caption Присоединяйтесь и&nbsp;вы! Это бесплатно!
      .mattg-one-join__picture
        video.mattg-one-join__video(src=`${pathStatics}/files/tg-channel.mp4` loop=true controls=false pip="false" muted playsinline autoplay)
      a.mattg-one-join__button.btn-orange(href='#') Перейти в Telegram
