-
  const numbersList = [
    {
      count: '<span class="animate-counter" data-animate-counter-end="4" data-to-fixed="0">4</span> года',
      note: 'Помогаем улучшить оценки и полюбить учёбу'
    },
    {
      count: '<span class="animate-counter" data-animate-counter-end="194" data-to-fixed="0">194</span>',
      note: 'Тьютора'
    },
    {
      count: '<span class="animate-counter" data-animate-counter-end="40" data-to-fixed="0">40</span>',
      note: 'Преподаватель'
    },
    {
      count: '<span class="animate-counter" data-animate-counter-end="44000" data-to-fixed="0">44000</span>',
      note: 'Учеников прошли&nbsp;наше&nbsp;обучение'
    },
    {
      count: '<span class="animate-counter" data-animate-counter-end="4.9" data-to-fixed="1">4.9</span>',
      note: 'Средняя оценка родителей'
    },
  ]

.numbers
  .numbers__cont.cont
    .numbers__wrap
      h2.numbers__title Мы в цифрах
      .numbers__list
        each item, index in numbersList
          .numbers__item(class=`numbers__item_${index+1}`)
            .numbers__count!= item.count
            .numbers__note!= item.note
