.offer-cap
  .cont
    .offer-cap__wrap
      .offer-cap__circle.offer-cap__circle_1
      .offer-cap__circle.offer-cap__circle_2
      .offer-cap__inner
        h1.offer-cap__caption 7 дней занятий в&nbsp;Точке&nbsp;Знаний от 290 ₽
        .offer-cap__text
          | Персональная проверка заданий, уроки от
          |
          span лучших учителей РФ*
            .offer-cap__text-hover По результатам всероссийских конкурсов
          | и&nbsp;доступ к&nbsp;записям уроков с&nbsp;сентября. Учёба&nbsp;с&nbsp;удовольствием!
        .offer-cap__area
          each line in [1,2,3]
            .offer-cap__line
              each box in [1,2]
                .offer-cap__line-box
                  each icon in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]
                    img.offer-cap__icon(src=staticImg(`offer-cap/${icon}.svg`) alt='')
        a.offer-cap__button.btn-orange(href="#offer-tile" data-role="scroll-to-anchor") Начать обучение
