.offer-option
  .cont
    h2.offer-option__caption Это идеальный вариант, если вы:
    ul.offer-option__list
      each item in ['Только присматриваетесь к семейному формату и хотите «протестировать» его перед полным переходом.', 'Видите, что проблемы с учёбой касаются нескольких предметов сразу, и нужна комплексная помощь.', 'Ищете альтернативу традиционной школе с понятной программой и поддержкой.']
        li.offer-option__item= item
    .offer-option__note Узнайте больше о семейном обучении или попробуйте все предметы за 790 ₽ прямо сейчас!
    .offer-option__buttons
      a.offer-option__button.btn-border-orange(href="#") Узнать больше
      a.offer-option__button.btn-orange(href="#offer-tile" data-role="scroll-to-anchor") Попробовать за 790 ₽
