-
  const familyList = [
    {
      title: 'Все предметы как в&nbsp;обычной&nbsp;школе',
      text: 'Математика, русский, физика, английский, история и все остальные предметы по расписанию вашего класса.'
    },
    {
      title: '3-5 уроков в день',
      text: 'Уроки в первой половине дня. Нагрузка меньше, чем в школе.'
    },
    {
      title: 'Поддержка персонального тьютора',
      text: 'Проверка домашних заданий и обратная связь от тьюторов по выбранным предметам.'
    },
    {
      title: 'Индивидуальный маршрут',
      text: 'Больше времени приоритетным предметам и сферам, в которых ребёнку интересно.'
    },
  ]

article.offer-family#offer-family
  .cont
    .offer-family__wrap
      .offer-family__inner
        h2.offer-family__caption А ещё у нас есть семейное обучение, 1-11 класс
        .offer-family__area
          .offer-family__text-left Хотите оценить не один предмет, а всю школьную программу?
          .offer-family__text-right Попробуйте пробную неделю семейного обучения
        .offer-family__box
          .offer-family__note!= 'Вы получите полный доступ на&nbsp;<span>7&nbsp;дней&nbsp;ко&nbsp;всем&nbsp;предметам</span> школьной&nbsp;программы вашего класса.'
          .offer-family__tab Всего за 790 рублей
      ul.offer-family__list
        each item in familyList
          li.offer-family__item
            img.offer-family__icon(src=staticImg('icons/ic_point_orange.svg') alt='')
            .offer-family__title!= item.title
            .offer-family__text!= item.text
