-
  const preFaqList = [
    [
      {
        question: 'Как записаться в предварительный список',
        answer: 'Укажите в форме Ваши контактные данные и нажмите на кнопку.'
      },
      {
        question: 'Когда начнутся продажи?',
        answer: 'Старт продаж следующего учебного года для предзаписи — 12 мая.'
      },
      {
        question: 'Какие будут скидки в предзаписи?',
        answer: 'Точную информацию о стоимости курсов мы объявим в день старта продаж. Вы сможете присоединиться к занятиям по самой низкой цене.'
      },
      {
        question: 'Если я хочу записаться на несколько предметов, или у меня двое и больше детей, мне нужно регистрироваться в предзапись несколько раз?',
        answer: 'Нет, достаточно зарегистрироваться 1 раз и указать всех детей и все необходимые курсы.'
      },
    ],
    [
      {
        question: 'Если не записаться в предзапись, то записаться на занятия будет нельзя?',
        answer: 'Можно. Но только в том случае, если на курсе останутся места, а также по более высокой цене.'
      },
      {
        question: 'Можно оплачивать обучение в рассрочку?',
        answer: 'Да, можно оплачивать обучение в рассрочку. Это рассрочка без процентов от нашей школы.'
      },
      {
        question: 'Как я буду контролировать обучение ребёнка?',
        answer: 'У Вас как у родителя будет свой раздел на платформе обучения с информацией по успеваемости ребёнка. А также Вы будете на связи с тьюторами по каждому предмету.'
      }
    ]
  ]

.pre-faq
  .pre-faq__cont.cont
    h2.pre-faq__caption.pre-caption Отвечаем на частые вопросы
    .pre-faq__wrap
      each list in preFaqList
        ul.pre-faq__list
          each item in list
            li.pre-faq__item(data-element='pre-faq-item')
              .pre-faq__top= item.question
              .pre-faq__answer
                .pre-faq__answer-inner
                  p.pre-faq__text= item.answer
