-
  const prePlusList = [
    'Онлайн-школа года 2024 по версии «GetCourse»',
    'Аккредитованная IT-компания',
    'Школа №1 в 2024 в рейтинге школ на внешних платформах по версии «SmartRanking»',
    'Школа №1 по математике 2023 согласно рейтингу «GetCourse»',
    'Образовательная лицензия',
    '40 000+ учеников',
    'Резидент «Сколково»',
    'Средняя оценка родителей: 4,9',
  ]

.pre-plus
  .pre-plus__cont.cont
    h2.pre-plus__caption.pre-caption Самое важное о&nbsp;«Точке Знаний»
    .pre-plus__area
      each decor in [1,2,3,4]
        .pre-plus__decor(class=`pre-plus__decor_${decor}`)
      ul.pre-plus__list
        each item in prePlusList
          li.pre-plus__item= item
