.pre-k-note
  .cont
    .pre-k-note__wrap
      h2.pre-k-note__caption Родителям на заметку
      .pre-k-note__text Быть готовым к школе — это не только уметь читать.
      .pre-k-note__area
        .pre-k-note__box.pre-k-note__box_1
          .pre-k-note__tag.pre-k-note__tag_blue Многие родители думают:
          .pre-k-note__box-text Если ребёнок умеет складывать буквы в&nbsp;слова, он готов к школе.
        picture.pre-k-note__picture
          source(srcset=staticImg('pre-k-note/decor_mob.png') media="(max-width: 743px)")
          source(srcset=staticImg('pre-k-note/decor_tablet.png') media="(max-width: 1359px)")
          img.pre-k-note__image(src=staticImg('pre-k-note/decor.png') alt='')
        .pre-k-note__box.pre-k-note__box_2
          .pre-k-note__tag.pre-k-note__tag_orange Но в реальности:
          .pre-k-note__box-text Школа требует большего: внимания, памяти, умения слушать и следовать инструкциям.
      ul.pre-k-note__list
        li.pre-k-note__item.pre-k-note__item_minus.
          Почти половина первоклассников в начале года не&nbsp;справляется с базовыми заданиями.
        li.pre-k-note__item.pre-k-note__item_minus.
          Учителя отмечают: у детей нет необходимых навыков, и из-за этого они теряют уверенность в&nbsp;себе.
        li.pre-k-note__item.pre-k-note__item_plus.
          Наши курсы развивают необходимые навыки будущих первоклассиников, чтобы ребёнок вошёл в класс с готовностью к учёбе.
