.pre-faq
  .pre-faq__cont.cont
    h2.pre-faq__caption.pre-caption Отвечаем на частые вопросы
    .pre-faq__wrap
      each inner in [1,2]
        ul.pre-faq__list
          each item in ['Как записаться в предварительный список?','Какие будут скидки в предзаписи?','Когда начнутся продажи?','Если я хочу записаться на несколько предметов, или у меня двое и больше детей, мне нужно регистрироваться в предзапись несколько раз?']
            li.pre-faq__item(data-element='pre-faq-item')
              .pre-faq__top= item
              .pre-faq__answer
                .pre-faq__answer-inner
                  p.pre-faq__text На обучение записались, чтобы подтянуть геометрию, алгебру, выйти на “пятерки” по геометрии. Своих целей достигли. Улучшились оценки, по геометрии вышли на “5”.
                  p.pre-faq__text Темы на курсе разбираем раньше, чем в школе. Соответственно, ребёнок уже готов к изучению новой темы.
