mixin pre-thanks(mod)
  .pre-thanks
    .pre-thanks__cont.cont
      .pre-thanks__wrap
        each item in [1,2,3,4,5]
          .pre-thanks__decor(class=`pre-thanks__decor_${item}`)
        .pre-thanks__steps
          .pre-thanks__step
            .pre-thanks__step-number 1
            .pre-thanks__step-note Шаг
          .pre-thanks__step
            .pre-thanks__step-number 2
            .pre-thanks__step-note Шаг
        .pre-thanks__caption Поздравляем!
        .pre-thanks__box.pre-thanks__box_1
          .pre-thanks__number 1
          if mod === 'already'
            p.pre-thanks__text.pre-thanks__text_bold Вы уже регистрировались в предзапись ранее.
            p.pre-thanks__text.pre-thanks__text_already Оставлять заявку на несколько курсов или нескольких детей не нужно.
          else
            p.pre-thanks__text.pre-thanks__text_bold Вы попали в предзапись на 2025-2026 учебный год.
          .pre-thanks__code
            | Ваш номер в предзаписи:
            |
            span 567
          p.pre-thanks__text Ожидайте открытия продаж курсов по самой низкой цене.
          p.pre-thanks__text Мы уведомим Вас об этом в закрытом Телеграм-канале.
        .pre-thanks__box.pre-thanks__box_2
          .pre-thanks__number 2
          p.pre-thanks__text.pre-thanks__text_bold
            | Присоединяйтесь к каналу
            br
            | для участников предзаписи, чтобы завершить регистрацию.
          p.pre-thanks__text.pre-thanks__text_info Именно в канале откроется закрытая продажа курсов с самой большой скидкой.
          .pre-thanks__inner
            picture.pre-thanks__picture
              img.pre-thanks__image(src=staticImg('pre-thanks/pre-thanks-icon.png') alt='')
            .pre-thanks__note
              span Телеграм-канал
              |
              | – главный источник информации. Закрепите его и включите уведомления,
              | чтобы использовать возможности предзаписи.
          a.pre-thanks__button.btn-orange(href='#') Завершить регистрацию
