a.predzaps-top(href='#')
  .predzaps-top__cont.cont
    .predzaps-top__area
      .predzaps-top__decor
      .predzaps-top__title Предзапись на следующий учебный год
      .predzaps-top__text!= 'Запишитесь, чтобы сэкономить <span>от 8 000 до 53 000 ₽</span> на занятиях!'
      .predzaps-top__button.btn-orange.btn-orange_arrow Записаться
      button.predzaps-top__close
