.predzaps-end
  .predzaps-end__cont.cont
    .predzaps-end__wrap
      .predzaps-end__decor.predzaps-end__decor_1
      .predzaps-end__decor.predzaps-end__decor_2
      .predzaps-end__decor.predzaps-end__decor_3
      .predzaps-end__decor.predzaps-end__decor_4
      .predzaps-end__area
        h1.predzaps-end__title Предзапись завершена
        p.predzaps-end__text Скоро откроются продажи доп. курсов и семейного обучения на следующий учебный год.
        p.predzaps-end__text Вы можете начать обучение прямо сейчас на летних курсах!
        .predzaps-end__buttons
          a.predzaps-end__button.btn-orange(href='#') Перейти на главную
          a.predzaps-end__button.summer(href='#') Учиться летом
