mixin predzaps-new-cap(mod)
  .predzaps-new-cap(class = mod ? `predzaps-new-cap_${mod}` : false)
    .cont
      .predzaps-new-cap__wrap
        .predzaps-new-cap__area
          .predzaps-new-cap__tag Долгожданное событие для&nbsp;учеников и родителей
          h1.predzaps-new-cap__caption!= 'Предзапись на занятия в&nbsp;следующем учебном&nbsp;году'
          ul.predzaps-new-cap__list
            li.predzaps-new-cap__item Получить самую большую скидку в году
            li.predzaps-new-cap__item Сэкономить от 5 900 до 59 000 рублей
            li.predzaps-new-cap__item Занять место на обучении раньше остальных
          .predzaps-new-cap__counter
            .predzaps-new-cap__counter-value 10 542
            .predzaps-new-cap__counter-note Человек уже записалось
        form.predzaps-new-cap__form(data-request-validate data-element='pre-cap__form')
          .predzaps-new-cap__headline Быстрая регистрация
          .predzaps-new-cap__inner
            input.input_utm(name='utm' type='hidden' value='')
            input(type="hidden" id="page_name" name="page_name" value="https://cms-dev.tochka-school.ru/blog/voprosy-dlya-podrostkov-chto-polezno-i-interesno-obsudit-do-15-let")
            input.predzaps-new-cap__input.input-white(placeholder='Имя родителя' type='text' name='name')
            input.predzaps-new-cap__input.input-white(placeholder='Телефон родителя' type='tel' required data-element='input-phone-intl' name='phone')
            input(name='tel' type='hidden' required data-element='input-phone-hidden')
            input.predzaps-new-cap__input.input-white(placeholder='E-mail родителя' type='email' name='email')
            if mod === 'summer'
              .predzaps-new-cap__summer
                .predzaps-new-cap__summer-note!= 'Хотите в предзапись ещё <br> и на летние курсы?'
                .predzaps-new-cap__summer-line
                  label.predzaps-new-cap__summer-label.checkbox-white-label
                    input.predzaps-new-cap__summer-checkbox.checkbox-white-input(name='summer' type='radio')
                    .predzaps-new-cap__summer-view.checkbox-white-input-view
                    .predzaps-new-cap__summer-text.checkbox-white-text Да, записать
                  label.predzaps-new-cap__summer-label.checkbox-white-label
                    input.predzaps-new-cap__summer-checkbox.checkbox-white-input(name='summer' type='radio')
                    .predzaps-new-cap__summer-view.checkbox-white-input-view
                    .predzaps-new-cap__summer-text.checkbox-white-text Нет, не нужно
            button.predzaps-new-cap__submit.btn-orange.btn-warning Оставить заявку
            label.predzaps-new-cap__label.checkbox-white-label
              input.predzaps-new-cap__checkbox.checkbox-white-input(name='policy' type='checkbox')
              .predzaps-new-cap__checkbox-view.checkbox-white-input-view
              .predzaps-new-cap__checkbox-text.checkbox-white-text
                | Даю
                |
                a(href="https://cms-dev.tochka-school.ru/storage/app/media/Dokumenti/Soglasie_na_obrabotku_personalnih_dannih_OOO.pdf" target='_blank') Согласие
                |
                | на обработку персональных
                | данных в&nbsp;соответствии с
                |
                a(href='https://cms-dev.tochka-school.ru/storage/app/media/Dokumenti/Politika_obrabotki_personalnih_dannih_OOO.pdf' target='_blank') Политикой
            label.predzaps-new-cap__label.checkbox-white-label
              input.predzaps-new-cap__checkbox.checkbox-white-input(name='news' type='checkbox')
              .predzaps-new-cap__checkbox-view.checkbox-white-input-view
              .predzaps-new-cap__checkbox-text.checkbox-white-text
                | Согласие на получение
                |
                a(href='https://cms-dev.tochka-school.ru/storage/app/media/Dokumenti/Soglasie_na_reklamnuyu_rassilku_OOO.pdf' target='_blank') информационной рассылки
                | . Мы&nbsp;напомним Вам о самой низкой цене в году
