.predzaps-top
  .predzaps-top__cont.cont
    .predzaps-top__area
      .predzaps-top__decor
      .predzaps-top__title Предзапись на следующий учебный год
      .predzaps-top__text.
        Запишитесь, чтобы сэкономить от 8 000 до 53 000 ₽ на занятиях!
      a.predzaps-top__button.btn-orange.btn-orange_arrow(href='#') Записаться
      button.predzaps-top__close
