.program-stretch
  .program-stretch__cont.cont
    .program-stretch__area
      .program-stretch__title Расписание семейного обучения с сентября 2025
      button.program-stretch__button.btn-blue.reverse(data-element="family-schedule__toggle-top") Показать расписание
