-
  const quizSoList = [
    'Все предметы — как в обычной школе',
    'Личный тьютор проверяет задания и даёт обратную связь',
    'Аттестация онлайн в виде теста',
    'Вы видите весь прогресс на удобной платформе',
  ]

form.quiz-so(data-docex="thanks-so-quiz" data-element="quiz-new")
  .cont
    .quiz-so__wrap.active(data-element="quiz-so-slide")
      .quiz-so__circle.quiz-so__circle_1
      .quiz-so__circle.quiz-so__circle_2
      .quiz-so__inner
        picture.quiz-so__picture
          source(srcset=staticImg('quiz-so/decor_tablet.svg') media="(max-width: 1339px)")
          img.quiz-so__image(src=staticImg('quiz-so/decor.svg') alt='')
        .quiz-so__caption Школьное образование дома. Онлайн
        .quiz-so__text.
          Комфортная нагрузка 3-5 уроков в день, опытные учителя и индивидуальный подход
        ul.quiz-so__list
          each item in quizSoList
            li.quiz-so__item= item
        .quiz-so__bottom
          button.quiz-so__button.btn-orange(type="button" data-element="quiz-so-slide-next") Подобрать формат
          .quiz-so__note
            .quiz-so__note-inner
              .quiz-so__note-bg
              | Пройдите короткий тест и узнайте, какой формат семейного обучения подойдёт
              | вашему ребёнку и получите подарок + скидку!
    include ./quiz-so-slide
    +quiz-so-slide('1','В каком классе сейчас ваш ребёнок?','radio',
      ['Дошкольник','1–4 класс','5–8 класс','9–11 класс'],[
      'Ответьте на несколько вопросов о вашем ребёнке, и я подберу для него удобный формат обучения.',
      'После квиза подарим <br> <span>чек-лист «4 шага к переходу на СО»</span>'
    ], '9')
    +quiz-so-slide('2','Как ребёнок учится сейчас?','radio',['В обычной школе','Уже на семейном обучении','Только планируем переход'],[
      'Ответьте на несколько вопросов о вашем ребёнке, и я подберу для него удобный формат обучения.',
      'После квиза подарим <br> <span>чек-лист «4 шага к переходу на СО»</span>'
    ], '9')
    +quiz-so-slide('3','Ваш ребёнок сталкивается с проблемами в школе?','checkbox',
      ['Трудно усваивать материал','Много пропусков из-за болезней','Конфликты с одноклассниками','Всё в порядке'], [
        'Ответьте на несколько вопросов о вашем ребёнке, и я подберу для него удобный формат обучения.',
        'После квиза подарим <br> <span>чек-лист «4 шага к переходу на СО»</span>'
      ], '9')
    +quiz-so-slide('4','Ваш ребёнок с радостью идёт в школу, позитивно отзывается о школьной жизни?','radio',
      ['Да, с радостью','Нейтрально','Нет, школа вызывает негатив'],
      [
        'Ответьте на несколько вопросов о вашем ребёнке, и я подберу для него удобный формат обучения.',
        'После квиза подарим <br> <span>чек-лист «4 шага к переходу на СО»</span>'
      ], '9')
    +quiz-so-slide('5','Что для вас главное в семейном обучении?','checkbox',
      ['Гибкий график','Индивидуальный подход','Поддержка тьютора и куратора','Аттестации и документы','Подготовка к экзаменам (ОГЭ/ЕГЭ)'],
      ['Расскажите, что вам важно при выборе семейного обучения'], '9')
    +quiz-so-slide('6','Какой формат занятий вам ближе?','radio',
      ['Онлайн-уроки вживую','Просмотр записей уроков в удобное время','Смешанный (и онлайн, и записи)'],
      ['Расскажите, что вам важно при выборе семейного обучения'], '9')
    +quiz-so-slide('7','Нужна ли помощь с переходом на семейное обучение?','radio',
      ['Да, нужны документы и прикрепление к школе','Нет, справлюсь сам','Пока только хочу узнать подробнее'],
      ['Расскажите, что вам важно при выборе семейного обучения'], '9')
    +quiz-so-slide('8','Хотите ли оплачивать обучение с помощью материнского капитала или получать налоговый вычет?','radio',
      ['Да','Нет','Хочу уточнить детали'],
      ['При покупке в этом месяце сделаем для вас дополнительную <span>скидку 5%</span>'], '9')
    +quiz-so-slide('9','Последний шаг','',
      [],
      ['При покупке в этом месяце сделаем для вас дополнительную <span>скидку 5%</span>'], '9', true)
