.quiz-so-slide
  .cont
    .quiz-so-slide__wrap
      .quiz-so-slide__area
      .quiz-so-slide__sidebar
        .quiz-so-slide__sidebar-top
          img.quiz-so-slide__sidebar-image(src=staticImg('') alt='')
          .quiz-so-slide__sidebar-

