.quote
  .quote__cont.cont
    .quote__wrap
      each item in [1,2,3]
        .quote__decor(class=`quote__decor_${item}`)
      .quote__box
        .quote__box-inner
          .quote__text «Самая сильная черта нашей школы — умение объяснять любую, даже самую сложную тему, простым языком.
          .quote__text.
            Так, чтобы после урока каждый ученик мог самостоятельно выполнить задание и улучшить оценки. Именно поэтому
            нам доверяют так много школьников и их родителей по всей стране.»
      .quote__author
        .quote__author-span
          p Основатель школы "Точка Знаний",
          p преподаватель математики
        .quote__author-name Андрей Александрович Шелудько
      .quote__picture
        each item in [1,2,3]
          .quote__image-decor(class=`quote__image-decor_${item} circle-move-${item}`)
        img.quote__image(src=staticImg('quote/quote-1.png') alt='')
