.reasons-cap
  .cont
    .reasons-cap__area
      h1.reasons-cap__caption Родители назвали 26&nbsp;причин обучения в&nbsp;«Точке Знаний»
      picture.reasons-cap__picture
        source(srcset=staticImg('reasons-cap/decor_mob.svg') media="(max-width: 743px)")
        source(srcset=staticImg('reasons-cap/decor_tablet.svg') media="(max-width: 1359px)")
        img.reasons-cap__image(src=staticImg('reasons-cap/decor.svg') alt='')
