.reasons-callback
  .cont
    .reasons-callback__wrap
      .reasons-callback__area
        .reasons-callback__caption Какая у Вас цель?
        p.reasons-callback__text
          | Подберём занятия исходя из целей обучения и уровня подготовки ребёнка.
          br
          | Отправим пробные уроки, покажем, как проходят занятия и каких результатов Вам ждать.
      .reasons-callback__box
        .reasons-callback__title Свяжитесь с нами
        .reasons-callback__buttons
          a.reasons-callback__button.btn-green.btn-green_wp(href='#')
            span.desk Написать в WhatsApp
            span.mob Наш WhatsApp
          a.reasons-callback__button.btn-light-blue.btn-light-blue_tg(href='#')
            span.desk Связаться в Telegram
            span.mob Наш Telegram
