mixin schedule-holiday(mod)
  .schedule.schedule_holiday(class = mod ? `schedule_holiday-${mod}` : false)
    .schedule__cont.cont
      .schedule__area
        h2.schedule__title Расписание с&nbsp;сентября&nbsp;2025
        .schedule__line
          .schedule__box
            .schedule__tags
              .schedule__tag Параллель 1
              .schedule__time Уроки по 45 мин
            .schedule__bottom
              .schedule__item
                b.schedule__note Понедельник
                .schedule__note в 16:30 Мск
              .schedule__item
                b.schedule__note Среда
                .schedule__note в 15:30 Мск
          if mod !== 'small'
            .schedule__box
              .schedule__tags
                .schedule__tag Уроки по 45 мин
              .schedule__bottom
                .schedule__item
                  b.schedule__note Понедельник
                  .schedule__note в 16:30 Мск
                .schedule__item
                  b.schedule__note Воскресенье
                  .schedule__note в 15:30 Мск
          .schedule__orange
            .schedule__orange-title Занятия в записи
            .schedule__orange-text доступны через 1,5 часа после окончания онлайн-трансляции
      .schedule__holiday
        .schedule__holiday-title!= "На данном курсе <br> предусмотрены каникулы:"
        each box, index in [{ value: 'Осенние', note: 'с 3 по 9 ноября' },{ value: 'Зимние', note: 'с 30 декабря по 11 января' },{ value: 'Весенние', note: 'с 23 по 29 марта' }]
          .schedule__holiday-box(class = index === 1 ? 'schedule__holiday-box_mob-last' : false)
            .schedule__holiday-value= box.value
            .schedule__holiday-note= box.note
