.schedule
  .schedule__cont.cont
    .schedule__area
      h2.schedule__title Расписание с&nbsp;сентября&nbsp;2025
      .schedule__line
        .schedule__box
          .schedule__tag Параллель 1
          .schedule__bottom
            .schedule__item
              b.schedule__note Понедельник
              .schedule__note в 16:30 Мск
            .schedule__item
              b.schedule__note Среда
              .schedule__note в 15:30 Мск
        .schedule__box
          .schedule__tag Параллель 2
          .schedule__bottom
            .schedule__item
              b.schedule__note Понедельник
              .schedule__note в 16:30 Мск
            .schedule__item
              b.schedule__note Воскресенье
              .schedule__note в 15:30 Мск
        .schedule__orange
          .schedule__orange-title Занятия в записи
          .schedule__orange-text доступны через 1,5 часа после окончания онлайн трансляции
