.stock
  .stock__cont.cont
    .stock__area
      h1.stock__caption Акции
      .stock__box
        .stock__title Текущие акции
        .stock__list
          a.stock__link(href='#') 100 000 рублей за ЕГЭ на 100 баллов с 10.10.2024 по 31.08.2025 г.
      .stock__box
        .stock__title Прошедшие акции
        .stock__list
          a.stock__link(href='#') Подарок за участие в ИТ Марафоне с 09.01.2025 по 21.01.2025 г.
          a.stock__link(href='#') Пробная неделя 2025 с 17.02.2025 по 16.03.2025 г.
