.summer-fixed
  .summer-fixed__area
    .summer-fixed__text
      | Данный курс сейчас доступен только в летнем формате.
      br
      | Переходите на страницу летнего курса.
      br
      | Занятия в 4 четверти в подарок!
    a.summer-fixed__button.btn-orange(href="#") Перейти
