-
  const summerOptionsList = [
    'Закрыть <br class="desk"> пробелы <br class="mob"> по <br class="desk"> предмету',
    'Повторить материал текущего&nbsp;учебного года',
    'Изучить нужные предметы на&nbsp;следующий год',
    'Новые горизонты: написание&nbsp;кода, шахматы, языки, математика',
  ]

.summer-options
  .summer-options__cont.cont
    h2.summer-options__caption 4 варианта провести лето с пользой
    .summer-options__list
      each item, index in summerOptionsList
        .summer-options__item(class=`summer-options__item_${index+1}`)!= item
