.summer-informer
  .summer-informer__cont.cont
    .summer-informer__area
      .summer-informer__info
        h2.summer-informer__caption Бонус! Занятия в&nbsp;четвёртой четверти бесплатно!🤩
        ul.summer-informer__list
          each item in ['онлайн-уроки','полный курс в записи','обратная связь от тьютора','проверка ДЗ']
            li.summer-informer__item= item
      .summer-informer__gallery
        .summer-informer__decor_1
        .summer-informer__decor_2
        .summer-informer__decor_3
