mixin summer-schedule(mod)
  .summer-schedule
    .summer-schedule__cont.cont
      .summer-schedule__area
        .summer-schedule__info
          h2.summer-schedule__caption Бонус! Занятия в&nbsp;четвёртой четверти бесплатно!🤩
          .summer-schedule__list
            .summer-schedule__tag Старт — сразу после оплаты
            if mod === 'short'
              each item in ['полный курс в записи','обратная связь от тьютора','проверка ДЗ']
                .summer-schedule__item= item
            else
              each item in ['онлайн-уроки','полный курс в записи','обратная связь от тьютора','проверка ДЗ']
                .summer-schedule__item= item
        .summer-schedule__gallery
          if mod === 'short'
            .summer-schedule__decor_4
          else
            .summer-schedule__decor_1
          .summer-schedule__decor_2
          .summer-schedule__decor_3
      .summer-schedule__line
        .summer-schedule__title Расписание онлайн-уроков до конца мая:
        each box, index in ['Параллель 1','Параллель 2']
          .summer-schedule__box
            .summer-schedule__top
              if index === 0
                .summer-schedule__parallel= box
                .summer-schedule__duration Уроки по 45 мин
              else
                .summer-schedule__parallel Уроки по 45 мин
            .summer-schedule__bottom
              .summer-schedule__data
                .summer-schedule__data-day Понедельник
                .summer-schedule__data-time в 16:30 Мск
              .summer-schedule__data
                .summer-schedule__data-day Среда
                .summer-schedule__data-time в 15:30 Мск
        .summer-schedule__orange
          .summer-schedule__orange-title Занятия в записи
          .summer-schedule__orange-text доступны через 1,5 часа после окончания онлайн-трансляции
