-
  const summerAboutList = [
    'Входное тестирование (по школьным предметам)',
    'Индивидуальный курс на лето с учётом тестирования, пробелов, целей и графика ребёнка.',
    'Доступ ко всем урокам курса, если захочется изучить всё-всё-всё',
    'Проверка всех домашних заданий и помощь тьютора',
    'Вы сами выбираете темп обучения: пройти весь годовой курс за лето или повторить основные темы',
  ]

.summer-about
  .summer-about__cont.cont
    h2.summer-about__caption Что входит в летний курс?
    .summer-about__text С 5 июня по 31 августа
    .summer-about__list
      each item, index in summerAboutList
        .summer-about__item(class=`summer-about__item_${index+1}`)= item
