.summer-cap
  .summer-cap__cont.cont
    .summer-cap__area
      h1.summer-cap__caption Летние-онлайн курсы!
      .summer-cap__text Пока есть время, на каникулах можно сделать очень много
      .summer-cap__list
        each item in ['Закрыть старые пробелы','Повторить программу','Пройти материал наперёд','Освоить новые направления']
          .summer-cap__item= item
      a.summer-cap__button.btn-orange(href="#trial-tile") Выбрать предмет
