.summer-info
  .summer-info__cont.cont
    .summer-info__list
      each item in ['Любой школьный предмет, 1-11 класс', 'Дополнительные занятия, 1-11 класс', 'Индивидуальный маршрут и проверка заданий', 'Записи всех уроков за учебный год', 'Обучение проходит в удобном для вас темпе',]
        .summer-info__item= item
