.teacher-get
  .teacher-get__cont.cont
    h2.teacher-get__title.title По окончании обучения вы получите
    .teacher-get__area
      ul.teacher-get__list
        li.teacher-get__item Сертификат от Точки Знаний
        li.teacher-get__item.
          Удостоверение о повышении квалификации от Московского городского педагогического университета,
          который сможете использовать для подтверждения категории*
      .teacher-get__box
        img.teacher-get__image.teacher-get__image_1(src=staticImg('teacher-get/teacher-get-1.png') alt='')
        img.teacher-get__image.teacher-get__image_2(src=staticImg('teacher-get/teacher-get-2.png') alt='')
      .teacher-get__note *выдаются только при наличии документа о высшем или среднем профессиональном образовании

