-
  const teacherResultTags = [
    'Разберётесь в критериях оценивания задач ЕГЭ',
    'Получите рекомендации по подготовке ребят к ЕГЭ',
    'Увидите, в каких местах ученики обычно допускают ошибки',
    'Будете знать основные методы решения задач, в том числе нестандартные',
    'Получите удостоверение от МГПУ, который сможете использовать для подтверждения категории',
  ]

.teacher-result
  .teacher-result__cont.cont
    h2.teacher-result__title В результате
    .teacher-result__area
      .teacher-result__box
        .teacher-result__headline Вы будете точно знать:
        ul.teacher-result__list
          each item in ['можно ли на ЕГЭ использовать ОДЗ;','корректно ли применять теорему Менелая без доказательства;','разрешен ли метод координат в стереометрии.']
            li.teacher-result__item= item
        .teacher-result__text.
          Словом, Ваши ученики будут “застрахованы” от большинства подводных камней, которые ожидают их на экзамене.
      ul.teacher-result__tags
        each item in teacherResultTags
          li.teacher-result__tag= item
            svg(viewbox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg')
              circle(cx='9' cy='9.5' r='9' fill='white')
              path(d='M13.7313 6.16532C13.4192 5.85283 12.9124 5.85303 12.5999 6.16532L7.50825 11.2572L5.24521 8.99419C4.93272 8.68171 4.42619 8.68171 4.1137 8.99419C3.80121 9.30668 3.80121 9.81322 4.1137 10.1257L6.94237 12.9544C7.09852 13.1105 7.30326 13.1888 7.50803 13.1888C7.71279 13.1888 7.91774 13.1107 8.07388 12.9544L13.7313 7.29681C14.0437 6.98454 14.0437 6.47779 13.7313 6.16532Z' fill='#68CCEA')
