.teacher-cap
  .teacher-cap__cont.cont
    .teacher-cap__area
      h1.teacher-cap__caption Курс по проверке 2-ой части ЕГЭ по профильной математике
      .teacher-cap__title «Проверяй как эксперт»
      .teacher-cap__text
        | Узнайте всё о критериях оценивания и проверке работ экзамена,
        br
        | чтобы ученики сдавали “профиль” на высокий балл.
      img.teacher-cap__image(src=staticImg('teacher-cap/teacher-cap.png') alt='')
      .teacher-cap__box
        .teacher-cap__name Георгий Игоревич Вольфсон
        .teacher-cap__note Председатель экспертной комиссии по проверке ЕГЭ (с 2018 по 2022 год)
      a.teacher-cap__button.btn-orange(href='#teacher-cost' data-role="scroll-to-anchor") Начать обучение
