.thanks-manual
  .cont
    .thanks-manual__wrap
      h1.thanks-manual__caption Спасибо за ваш интерес и доверие!
      picture.thanks-manual__picture
        source(srcset=staticImg('thanks-manual/decor-1_tablet.svg') media="(max-width: 1359px)")
        img.thanks-manual__image(src=staticImg('thanks-manual/decor-1.svg') alt='')
      h2.thanks-manual__text Получите руководство по&nbsp;переходу на&nbsp;семейное обучение с «Точкой Знаний»
      a.thanks-manual__button.btn-orange(href="#" target="_blank") Открыть
