.thanks-email
  .cont
    .thanks-email__wrap
      .thanks-email__decor.thanks-email__decor_1
      .thanks-email__decor.thanks-email__decor_2
      .thanks-email__decor.thanks-email__decor_3
      .thanks-email__decor.thanks-email__decor_4
      .thanks-email__area
        h1.thanks-email__caption!= 'Ура-ура! <br> Когда у нашей рассылки появляются новые читатели, где-то радуется один математик'
        .thanks-email__box
          .thanks-email__text 💌 Сейчас Вам на почту придёт первое письмо от (отправитель: «Точка Знаний»).
          .thanks-email__text.
            Если письмо не попадёт во «Входящие», проверьте другие вкладки, а также папку «Спам». Мы пишем с
            адреса no-reply@tochka-school.ru и только по делу.
          .thanks-email__text.
            ⭐️ И пока Вы на этой странице, предлагаем подобрать пробные уроки по важным школьным темам для класса,
            в котором учится Ваш ребёнок. Это бесплатно.
          .thanks-email__text Чтобы получить уроки, напишите нам в WhatsApp или Телеграм.
        .thanks-email__btns
          a.thanks-email__btn.thanks-email__btn_wp(href='#') Написать в WhatsApp
          a.thanks-email__btn.thanks-email__btn_tg(href='#') Написать в Telegram
