.thanks-family
  .thanks-family__cont.cont
    .thanks-family__wrap
      .thanks-family__decor.thanks-family__decor_1
      .thanks-family__decor.thanks-family__decor_2
      .thanks-family__decor.thanks-family__decor_3
      .thanks-family__decor.thanks-family__decor_4
      .thanks-family__area
        h1.thanks-family__caption Скачивайте руководство по переходу на&nbsp;семейное обучение с «Точкой Знаний»
        .thanks-family__box
          img.thanks-family__image(src=staticImg('thanks-family/thanks-family-decor.png') alt='')
          a.thanks-family__button.btn-orange(href='#' download) Скачать
