.thanks
  .thanks__cont.cont
    .thanks__area
      h1.thanks__caption Позвоним в течение 30 минут в&nbsp;рабочее время с 9:00 до 21:00
      .thanks__text!= 'Задавайте любые вопросы, <br> а мы ответим и поможем подобрать занятия'
      .thanks__box
        .thanks__picture
          img.thanks__image(src=staticImg('thanks/thanks.png') alt='')
        .thanks__inner
          .thanks__note.
            Скачивайте практическое руководство для заботливых родителей
            «Как&nbsp;мотивировать ребёнка учиться»
          a.thanks__button.btn-orange(href='#' download) Скачать
