.tile#tile
  .tile__cont.cont
    .tile__caption Выберите класс
    .tile__nav
      .tile__tabs
        each item, index in [1,2,3,4]
          .tile__tab(class = item === 1 ? 'active' : false data-id=index)= item
      .tile__nav-links
        a.tile__nav-link(href='#') 5-8 класс
        a.tile__nav-link(href='#') 9-11 класс
    .tile__wrap
      each tile, index in [1,2,3,4]
        .tile__tile(class = tile === 1 ? 'active' : false)
          each item in [0,1,2,3,4,5,6]
            if item === 0
              a.tile__family(href='#')
                picture.tile__family-picture
                  img.tile__family-image(src=staticImg('tile/tile-family-new.png') alt='')
                .tile__family-inner
                  .tile__family-number 9 класс
                  .tile__family-name Семейное обучение
                  .tile__family-text Получайте школьное образование дома. Онлайн. С лучшими учителями РФ, внимательными тьюторами и аттестацией.
                  .tile__family-tags
                    .tile__family-tag Онлайн-уроки по ФГОС
                    .tile__family-tag Аттестат гос. образца онлайн
                    .tile__family-tag.desk Бесплатное прикрепление к школе
                  button.tile__family-btn.btn-orange Перейти
            else
              a.tile__item(href='#')
                .tile__picture
                  img.tile__image(src=staticImg('') alt='')
                .tile__inner
                  .tile__class-number!= `${tile} класс`
                  .tile__name Курс по подготовке к ОГЭ по математике «Стандарт»
                  .tile__author Екатерина Щербакова
                  .tile__text Учитель года Кубани 2022. ТОП-15 учителей России в 2022 году. Педагогический стаж ー 6 лет.
                  .tile__bottom
                    .tile__link.btn-orange Перейти
