article.trial-facts
  .trial-facts__cont.cont
    h2.trial-facts__title.trial-title Самое важное о&nbsp;«Точке Знаний»
    ul.trial-facts__list
      li.trial-facts__item.trial-facts__item_1 Онлайн-школа года по&nbsp;версии «GetCourse»
      li.trial-facts__item.trial-facts__item_2 IT-компания и резидент «Сколково»
      li.trial-facts__item.trial-facts__item_3 Более 40 000 учеников
      li.trial-facts__item.trial-facts__item_4 Средняя оценка родителями: 4,9

