a.trial-stretch(href='#' data-role="stretch")
  .cont
    .trial-stretch__area
      .trial-stretch__text!= 'Получите пробный доступ <br> к любому курсу <span>от 290₽</span>'
      .trial-stretch__button Выбрать курс
