article.trial-after
  .trial-after__cont.cont
    .trial-after__area
      .trial-after__inner
        h2.trial-after__title.trial-title Что будет, когда пробная неделя завершится?
        .trial-after__decor-mob
        .trial-after__wrap
          .trial-after__cage
            p.trial-after__text.
              В течение 7 дней Вы оцените качество преподавания наших учителей, увидите,
              нравится ли ребёнку заниматься. Получите всё, что получают наши ученики на постоянной основе.
            p.trial-after__text
              | После пробной недели Вы сможете продолжить обучение в нашей школе со скидкой
              |
              span 50% на первый месяц обучения.
      .trial-after__decor
