.trial-family-cap
  .trial-family-cap__cont.cont
    .trial-family-cap__wrap
      .trial-family-cap__decor.trial-family-cap__decor_1
      .trial-family-cap__decor.trial-family-cap__decor_2
      .trial-family-cap__decor.trial-family-cap__decor_3
      .trial-family-cap__decor.trial-family-cap__decor_4
      .trial-family-cap__area
        .trial-family-cap__number 1-8 класс
        h1.trial-family-cap__caption Попробуйте семейное обучение в течение 7&nbsp;дней за 790₽
        .trial-family-cap__text Все предметы — как в обычной школе
        picture.trial-family-cap__picture
          source(srcset=staticImg("trial-family-cap/trial-family-cap_mob.png") media="(max-width: 743px)")
          source(srcset=staticImg("trial-family-cap/trial-family-cap_tablet.png") media="(max-width: 1359px)")
          img.trial-family-cap__image(src=staticImg("trial-family-cap/trial-family-cap.png") alt="")
        a.trial-family-cap__button.btn-orange(href='#trial-family-start' data-role="scroll-to-anchor") Начать обучение за 790 ₽
    .trial-family-cap__line Приглашаем протестировать формат семейного обучения, прежде чем забирать документы из школы.

