.trial-family-header
  .trial-family-header__cont.cont
    .trial-family-header__area
      .trial-family-header__logo
        img.trial-family-header__logo-image(src=staticImg('logo.svg') alt='')
      a.trial-family-header__button(href='#trial-family-start' data-role="scroll-to-anchor")
        span Консультация
