-
  const tutorTags = [
    { text: 'Проверит домашнее задание', mod: 'blue' },
    { text: 'Поможет исправить ошибки', mod: 'yellow'},
    { text: 'Ответит на вопросы по предмету', mod: 'green'},
    { text: 'Станет помощником в учёбе', mod: 'light-blue'},
  ]

mixin tutor(mod)
  .tutor(class = mod ? `tutor_${mod}` : false)
    .tutor__cont.cont
      h2.tutor__caption Персональный тьютор каждому ученику!
      .tutor__wrap
        .tutor__text.
          Тьютор — опытный педагог по выбранному предмету. Он станет личным помощником в учёбе. Будем на связи
          с Вами и ребёнком 5 дней в неделю.
        .tutor__tags
          each tag in tutorTags
            .tutor__tag(class=`tutor__tag_${tag.mod}`)= tag.text
              svg(viewbox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg')
                circle(cx='9.5' cy='9.5' r='9' fill='white')
                path(d='M14.2308 6.16532C13.9188 5.85283 13.412 5.85303 13.0995 6.16532L8.00782 11.2572L5.74478 8.99419C5.43229 8.68171 4.92576 8.68171 4.61327 8.99419C4.30078 9.30668 4.30078 9.81322 4.61327 10.1257L7.44195 12.9544C7.59809 13.1105 7.80284 13.1888 8.0076 13.1888C8.21237 13.1888 8.41731 13.1107 8.57346 12.9544L14.2308 7.29681C14.5433 6.98454 14.5433 6.47779 14.2308 6.16532Z' fill='#6683C2')
        .tutor__area
          picture.tutor__picture
            source(srcset=staticImg('tutor/tutor-decor_tablet.png') media="(max-width: 1439px)")
            img.tutor__image(src=staticImg('tutor/tutor-decor.png') alt='')
          .tutor__box
            .tutor__note.
              Благодаря тьютору ребёнок никогда не останется с предметом 1 на 1. У Вашего ребёнка будет помощник,
              к которому всегда можно обратиться.
            .tutor__note.
              Тьютор будет знать стартовый уровень Вашего ребёнка, его особенности и сложности в учёбе.
            .tutor__note.
              Объяснит непонятные моменты и добьётся понимания каждой темы. Найдёт слова поддержки перед контрольной,
              окружит заботой и вниманием.
