.marathon-cap
  .container
    .marathon-cap__area
      span.marathon-cap__tag 28 октября - 2 ноября | 1-8 класс
      h1.marathon-cap__caption Осенний марафон для школьников и родителей
      p.marathon-cap__text.
        Закроем пробелы в самых важных темах по математике
        за 1 четверть + расскажем родителям, как мотивировать ребёнка
        учиться и не дать «скатиться»
      .marathon-cap__note Новый формат: родитель + ребёнок!
      a.marathon-cap__button.btn-warning.anchor(href='#marathon-order') Иду на марафон!
      .marathon-cap__price
        .marathon-cap__price-old 3700 ₽
        .marathon-cap__price-new 760 ₽
