.marathon-end
  .container
    .marathon-end__area
      h2.marathon-end__title Страница подошла к&nbsp;концу ;)
      .marathon-end__text.
        Время принять решение: оставить всё как есть или за 7 дней закрыть «пробелы»
        по математике 1 четверти + узнать, как не дать ребёнку скатиться в учёбе.
      a.marathon-end__button.btn-warning.anchor(href='#marathon-order') Запишите меня
