a.new-year-stretch(href='#' data-role="stretch")
  .cont
    .new-year-stretch__area
      img.new-year-stretch__logo(src=staticImg('new-year-stretch/logo.png') alt='')
      .new-year-stretch__text
        | Новогодние скидки до
        |
        span - 70%
        |
        | на всё!
      .new-year-stretch__decor
      .new-year-stretch__note Выбрать курс
