-
  const footerQuizDocsList = [
    'Политика обработки персональных данных',
    'Согласие на обработку персональных данных',
    'Согласие на получение информационной и рекламной рассылки',
    'Пользовательское соглашение',
    'Публичная Оферта',
    'Соглашение на семейное обучение',
    'Правила акции',
    'Сведения об образовательной организации',
  ]

.footer-quiz
  .cont
    .footer-quiz__wrap
      img.footer-quiz__image(src=staticImg('logo_white.svg') alt='')
      .footer-quiz__left
        .footer-quiz__text
          | ООО «Точка Знаний»
          br
          | ИНН 2311347344
          br
          | ОГРН 232300017817
        a.footer-quiz__license(href="#") Лицензия № Л035-01218-23/00650937
        .footer-quiz__docs
          .footer-quiz__docs-span
            | Документация
            svg.plus(width='9' height='9' viewbox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M9.0022 4.5C9.0022 5.01991 8.58073 5.44138 8.06082 5.44138H0.943577C0.423667 5.44138 0.00219727 5.01991 0.00219727 4.5C0.00219727 3.98009 0.423667 3.55862 0.943577 3.55862H8.06082C8.58073 3.55862 9.0022 3.98009 9.0022 4.5ZM5.43538 8.06682C5.43538 8.5822 5.01758 9 4.5022 9C3.98682 9 3.56902 8.5822 3.56902 8.06682V0.93318C3.56902 0.417799 3.98682 0 4.5022 0C5.01758 0 5.43538 0.417799 5.43538 0.93318V8.06682Z' fill='white' fill-opacity='0.65')
            svg.minus(width='9' height='3' viewbox='0 0 9 3' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M9 1.49997C9 2.01988 8.57853 2.44135 8.05862 2.44135H0.94138C0.42147 2.44135 0 2.01988 0 1.49997C0 0.980064 0.42147 0.558594 0.94138 0.558594H8.05862C8.57853 0.558594 9 0.980064 9 1.49997ZM5.43318 1.49998C5.43318 2.01536 5.01538 2.44135 4.5 2.44135C3.98462 2.44135 3.56682 2.01536 3.56682 1.49998C3.56682 0.984604 3.98461 0.558614 4.49999 0.558607C5.01537 0.5586 5.43318 0.984594 5.43318 1.49998Z' fill='white' fill-opacity='0.65')
          .footer-quiz__docs-list
            each item in footerQuizDocsList
              a.footer-quiz__docs-item(href='#')= item
      .footer-quiz__right
        .footer-quiz__top
          a.footer-quiz__email(href='mailto:support@tochka-school.ru') support@tochka-school.ru
          a.footer-quiz__phone(href="tel:+7 (861) 217-64-77") +7 (861) 217-64-77
        .footer-quiz__bottom
          .footer-quiz__address
            | 350051, Краснодарский край,
            br
            | г. Краснодар, ул. Монтажников, д. 5
          a.footer-quiz__resident(href='https://sk.ru/' rel='nofollow' data-redirect)
            img.footer-quiz__resident-image(src=staticImg('sk_logo.svg') alt='')
