.footer-quiz
  .cont
    .footer-quiz__wrap
      img.footer-quiz__image(src=staticImg('logo_white.svg') alt='')
      .footer-quiz__left
        .footer-quiz__text
          | ООО «Точка Знаний»
          br
          | ИНН 2311347344
          br
          | ОГРН 232300017817
        a.footer-quiz__license(href="#") Лицензия № Л035-01218-23/00650937
        .footer-quiz__docs
          .footer-quiz__docs-span Документация
      .footer-quiz__right
        .footer-quiz__top
          a.footer-quiz__email(href='mailto:support@tochka-school.ru') support@tochka-school.ru
          a.footer-quiz__phone(href="tel:+7 (861) 217-64-77") +7 (861) 217-64-77
        .footer-quiz__bottom
          .footer-quiz__address
            | 350016, Краснодарский край,
            br
            | г. Краснодар, ул. Зиповская,
            br
            | д. 45, помещ. 24, ком. 2
          a.footer-quiz__resident(href='https://sk.ru/' rel='nofollow' data-redirect)
            img.footer-quiz__resident-image(src=staticImg('sk_logo.svg') alt='')
