header.header.short.header_quiz
  .header__cont.cont
    .header__layer
    .header__area
      .header__logo
        img.header__logo-image(src=staticImg('logo.svg') alt='')
      a.header__offer-consult.btn-orange.btn-orange_arrow(href='#modal-order-new' data-banner="banner-id-1" data-ftitle="Связаться с нами" data-fancybox data-options='{"touch": false}') Связаться с нами
