header.header-tg
  .cont
    .header-tg__area
      a.header-tg__box(href='#')
        svg.header-tg__icon(width='37' height='37' viewbox='0 0 37 37' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M37.0028 18.4828C37.0028 28.6902 28.7235 36.9653 18.5081 36.9653C8.2953 36.9653 0.015625 28.6905 0.015625 18.4828C0.015625 8.2751 8.29498 0 18.5081 0C28.7235 0 37.0028 8.2751 37.0028 18.4828Z' fill='#039BE5')
          path(d='M16.1887 21.3901L15.8326 26.4754C16.3421 26.4754 16.5627 26.2532 16.8273 25.9864L19.2159 23.6686L24.1651 27.3488C25.0728 27.8624 25.7123 27.5919 25.9572 26.5009L29.2058 11.0445L29.2067 11.0436C29.4947 9.68118 28.7215 9.14842 27.8371 9.48265L8.74153 16.9058C7.43829 17.4194 7.45802 18.1571 8.51998 18.4913L13.402 20.0331L24.7418 12.8286C25.2755 12.4697 25.7607 12.6683 25.3616 13.0271L16.1887 21.3901Z' fill='white')
        .header-tg__note!= 'Телеграм-канал <br> Математик Андрей'
      .header-tg__info Самый большой образовательный канал в&nbsp;Рунете — более 830 000 подписчиков!
      a.header-tg__button.btn-orange.btn-orange_arrow(href='#') Перейти в канал
