mixin header-new(mod)
  .header-new(data-element="header-new" class = mod ? mod : false)
    .header-new__cont.cont
      .header-new__area
        .header-new__logo
          img.header-new__logo-image(src=staticImg('logo.svg') alt='')
        if mod !== 'no-btn'
          a.header-new__button(href='#modal-order-new' data-fancybox data-options='{"touch": false}') Подобрать занятия
