-
  const headerList = [
    { name: 'Летние курсы', note: '' },
    { name: 'Предзапись на учебный год 25/26', note: '' },
    { name: 'Курсы для учителей/26', note: '' },
    { name: 'Наш блог', note: '' },
  ]
  const headerBottom = [
    'Математика','Семейное обучение','Летние курсы','ЕГЭ','ОГЭ','IT-курсы','Иностранные языки','Развивающие курсы',"Летние курсы"
  ]

mixin header(mod)
  header.header.short(data-element="header" class = mod === 'offer' ? `header_${mod}` : mod ? mod : false)
    .header__cont.cont
      .header__layer
      .header__area
        .header__logo
          img.header__logo-image(src=staticImg('logo.svg') alt='')
        .header__nav
          button.header__nav-item.header__nav-item_menu
            span Меню
          if mod === 'offer'
            a.header__nav-item(href="#offer-tile" data-role='scroll-to-anchor') Выбрать курс
            a.header__nav-item(href="#offer-family" data-role='scroll-to-anchor') Семейное обучение
            a.header__nav-item(href="#reviews" data-role='scroll-to-anchor') Отзывы
          else
            .header__nav-item.active Все курсы
            a.header__nav-item(href="#") Блог
            a.header__nav-item.btn-orange.btn-orange_arrow(href='#modal-order-new' data-banner="banner-id-1" data-ftitle="Новый заголовок" data-fancybox data-options='{"touch": false}') Подобрать занятия
        if mod === 'offer'
          a.header__offer-consult.btn-orange.btn-orange_arrow(href='#modal-order-new' data-banner="banner-id-1" data-ftitle="Получить консультацию" data-fancybox data-options='{"touch": false}') Получить консультацию
        else
          a.header__login.btn-blue(href="#" data-redirect)
            span Войти
      if mod === 'stages'
        .header__stages
          .header__stages-note У этого курса 2 уровня сложности
          .header__stages-box
            button.header__stages-button.active(data-stage-id="1") 1 ступень
            button.header__stages-button(data-stage-id="2") 2 ступень
      else if mod === 'offer'

      else
        .header__bottom
          .header__bottom-list
            each item in headerBottom
              a.header__bottom-link(href='#' class = item === "Семейное обучение" ? "header__bottom-link_family" : false)= item

      include nav
