-
  const headerList = [
    // { name: 'Начальная школа', note: '1-4 класс' },
    // { name: 'Средняя школа', note: '5-8 класс' },
    // { name: 'Старшая школа', note: '9-11 класс' },
    // { name: 'Курсы для учителей', note: '' },
    // { name: 'Предзапись на учебный год 25/26', note: '' },
    // { name: 'Наш блог', note: '' }
    { name: 'Летние курсы', note: '' },
    { name: 'Предзапись на учебный год 25/26', note: '' },
    { name: 'Курсы для учителей/26', note: '' },
    { name: 'Наш блог', note: '' },
  ]
  const headerBottom = [
    'ЕГЭ','ОГЭ','1:1 с репетитором','Занятия в группе','Домашняя школа','Английская','Школа программирования','О нас'
  ]

mixin header(mod)
  header.header.short(data-element="header" class = mod ? mod : false)
    .header__cont.cont
      .header__layer
      .header__area
        .header__logo
          img.header__logo-image(src=staticImg('logo.svg') alt='')
        .header__nav
          button.header__nav-item.header__nav-item_menu
            span Меню
          .header__nav-item.active Летние курсы
          a.header__nav-item(href="#") Блог
          a.header__nav-item.btn-orange.btn-orange_arrow(href='#modal-order-new' data-fancybox data-options='{"touch": false}') Подобрать занятия
        a.header__login.btn-blue(href="#")
          span Войти
      if mod === 'stages'
        .header__stages
          .header__stages-note.header__stages-note_desc Выберите ступень обучения
          .header__stages-note.header__stages-note_mob Ступень обучения
          .header__stages-box
            button.header__stages-button.active(data-stage-id="0") Ступень 1
            button.header__stages-button(data-stage-id="1") Ступень 2
      else
        .header__bottom
          .header__bottom-list
            each item in headerBottom
              a.header__bottom-link(href='#')= item
      include nav


