include ../../_variables
include _connect-style
include _title

doctype html
html(lang='ru')
  head
    include _head
    block head
  body(class=VIEW === 'preregistration-thanks' ? 'page-thanks' : false)
    .sticky-header
      include ../predzaps-top
      include header
    main.wrapper
      block body
    include ../modals/modal-order-new
    include footer
    include scripts
